- unless current_partner_active_offers.blank?
  #active_campaigns_box.hidden
    %table{:cellspacing => 0}
      %tbody
        %tr
          %td
          %td Name
          %td
          %td Bid
          %td
          %td
        - current_partner_active_offers.each do |offer|
          %tr
            %td
              = form_tag toggle_app_offer_path(:id => offer.id, :app_id => offer.item.id) do
                = check_box_tag("toggle_offer_#{offer.id}", '1', {}, :class => 'toggle_offer')
            %td
              %a{:href => url_to_offer_item(offer)}
                = render :partial => 'dashboard/offers/offer_title', :locals => {:offer => offer}
            %td.offer-type
              - if offer.app_offer?
                = image_tag(platform_icon_url(offer))
                = offer.self_promote_only? ? '[SELF]' : ''
            %td
              = number_to_currency(offer.bid / 100.0)
            %td
              = permitted_to?(:show, :dashboard_reporting) ? link_to(' R ', reporting_path(offer)) : ''
            %td
              = permitted_to?(:show, :dashboard_statz) ? link_to(' Z ', statz_path(offer)) : ''
