- @page_title = "Aggregate Stats for #{@partner.name}"

%h1= "Aggregate Stats for #{@partner.name}"

.clear

%form#change_date.tjform
  = render :partial => 'shared/date_range_and_platform'

%br
= render :partial => 'reporting/export_form', :locals => { :export_link => export_aggregate_reporting_path }

.clear

.load-circle= image_tag('load-circle.gif')

#charts{ :style => "text-align: center;" }
  #connects.graph
  #installs_spend.graph
  #revenue.graph
  #offerwall.graph
  #tjm_offerwall.graph
  #featured_offers.graph
  #display_ads.graph
  #ads.graph

- include_tapjoy_graph
