- css_class ||= 'default'
.offers_table
  %table.apps_table.tablesorter{:class => css_class}
    %thead
      %tr
        %th.linked-offer-with-icon Offer
        %th Type
        %th Price
        %th Payment
        %th TJ Enabled
        %th Platform
        %th TJ Sponsored
    %tbody
      - offers.each do |offer|
        %tr
          %td.offer
            %a{:href => statz_url(offer)}= render :partial => 'dashboard/offers/offer_title', :locals => {:offer => offer}
          %td= offer.item_type
          %td= number_to_currency(offer.price / 100.0)
          %td= number_to_currency(offer.payment / 100.0)
          %td= offer.tapjoy_enabled
          %td= offer.get_platform
          %td= offer.tapjoy_sponsored ? "Yes" : "No"

- content_for :page_javascript do
  :erb
    $(function($) {
      $.tablesorter.addParser({
        id: 'currency-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $.tablesorter.addParser({
        id: 'linked-offer-with-icon',
        is: function(s) { return false; },
        type: 'text',
        format: function(s) {
          return jQuery(s).find('.name').text().toLowerCase();
        }
      });
      $(".apps_table.<%=css_class%>").tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: 'linked-offer-with-icon'},
          2: { sorter: 'currency-column' },
          3: { sorter: 'currency-column' }
        },
        sortList: [ [1, 0] ]
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    .apps_table .offer {
      min-width: 50%;
      vertical-align: middle;
    }
    .icon {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    td .offer_name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .offer_name h1 {
      font-size: medium;
      margin: 0px;
    }
    .offer_name .descriptors {
      font-size: small;
    }
    th,
    td,
    .icon img {
      border: 0;
    }
    .box {
      width: 45%;
    }

