%tr.admin
  %td{ :colspan => 2 } &nbsp;
%tr.admin
  %td{ :colspan => 2 } Admin-only fields:
- f.fields_for :primary_offer do |primary_offer_form|
  %tr.admin
    %th
      = primary_offer_form.label :tapjoy_enabled
      #help_tapjoy_enabled.help ?
    %td
      = primary_offer_form.check_box :tapjoy_enabled
      = error_message_on @action_offer, :primary_offer_tapjoy_enabled
  %tr.admin
    %th
      = primary_offer_form.label :self_promote_only
      #help_self_promote_only.help ?
    %td
      = primary_offer_form.check_box :self_promote_only
      = error_message_on @action_offer, :primary_offer_self_promote_only
  %tr.admin
    %th
      = primary_offer_form.label :allow_negative_balance
      #help_allow_negative_balance.help ?
    %td
      = primary_offer_form.check_box :allow_negative_balance
      = error_message_on @action_offer, :primary_offer_allow_negative_balance
  %tr.admin
    %th
      = primary_offer_form.label :pay_per_click
      #help_pay_per_click.help ?
    %td
      = primary_offer_form.check_box :pay_per_click
      = error_message_on @action_offer, :primary_offer_pay_per_click
  %tr.admin
    %th
      = primary_offer_form.label :min_conversion_rate, 'Min CVR'
      #help_min_conversion_rate.help ?
    %td
      = primary_offer_form.text_field :min_conversion_rate
      = error_message_on @action_offer, :primary_offer_min_conversion_rate
  %tr.admin
    %th
      = primary_offer_form.label :publisher_app_whitelist
      #help_publisher_app_whitelist.help ?
    %td
      = primary_offer_form.text_field :publisher_app_whitelist
      = error_message_on @action_offer, :primary_offer_publisher_app_whitelist
  %tr.admin
    %th
      = primary_offer_form.label :daily_budget
      #help_daily_budget.help ?
    %td
      = primary_offer_form.text_field :daily_budget
      = error_message_on @action_offer, :primary_offer_daily_budget
  %tr.admin
    %th
      = primary_offer_form.label :overall_budget
      #help_overall_budget.help ?
    %td
      = primary_offer_form.text_field :overall_budget
      = error_message_on @action_offer, :primary_offer_overall_budget
  %tr.admin
    %th
      = primary_offer_form.label :rank_score
      #help_rank_score.help ?
    %td
      = @action_offer.primary_offer.rank_score || "N/A"
  %tr.admin
    %th
      = primary_offer_form.label :min_bid_override
      #help_min_bid_override.help ?
    %td
      = primary_offer_form.currency_field :min_bid_override
      = error_message_on @action_offer, :primary_offer_min_bid_override
      
.hidden
  #help_tapjoy_enabled_content{ :name => 'Tapjoy Enabled' } Whether or not the offer is enabled for installs.
  #help_self_promote_only_content{ :name => 'Self Promote Only' } Only show this offer on offerwalls from the same partner.
  #help_allow_negative_balance_content{ :name => 'Allow Negative Balance' } Allow this partner's balance to go below zero. This effectively locks show rate to 1.0.
  #help_pay_per_click_content{ :name => 'Pay-Per-Click' } Charge the advertiser and award the user immediately on click.
  #help_internal_suffix_content{ :name => 'Internal Suffix' } Internal identifier for offers. i.e. 'featured' or 'us only'
  #help_show_rate_content{ :name => 'Show Rate' } The probability that this offer will be shown on an offerwall impression. This is set automatically by the system and is used for budgeting. Allowed values are 0.0 - 1.0.
  #help_min_conversion_rate_content{ :name => 'Min CVR' } This is used to prevent low conversion rate warnings. A warning will only be issued if the conversion rate falls below this threshold. Allowed values are blank or 0.0 - 1.0
  #help_countries_content{ :name => 'Countries' } Targets this offer to these countries. Must be an array of 2-character country codes or blank for no targeting. i.e. ["US", "GB"]
  #help_cities_content{ :name => 'Cities' } Targets this offer to these cities. Must be an array of city names or blank for no targeting. i.e. ["San Francisco"]
  #help_postal_codes_content{ :name => 'Postal Codes' } Targets this offer to these postal codes. Must be an array of postal codes or blank for no targeting. i.e. ["94105"]
  #help_device_types_content{ :name => 'Device Types' } Targets this offer to these device types. At least one device type must be selected.
  #help_publisher_app_whitelist_content{ :name => 'Publisher App Whitelist' } Restrict this offer to these publisher apps. Must be a ";" separated list of publisher app IDs.
  #help_daily_budget_content{ :name => 'Daily Budget' } The maximum number of conversions to complete in one day.
  #help_overall_budget_content{ :name => 'Overall Budget' } The maximum number of conversions to complete in the lifetime of this offer. This is merely a hard limit so it is likely that the offer will go over-budget.
  #help_rank_score_content{ :name => 'Rank Score' } The last computed rank score for this offer.
  #help_min_bid_override_content{ :name => 'Min Bid Override' } Manually set the minimum allowed bid for this offer.