- @page_title = 'New Action'

= render('shared/dropdown_select', :objects => current_partner_apps, :selected => @app)
= render('apps/actions', :app => @app)
#apps_main
  %h3 New Action
  - form_for [ @app, @action_offer ], :html => { :class => 'tjform' } do |f|
    %table
      %tbody
        %tr
          %th
            = f.label :name, 'Action Name'
            #help_name.help ?
          %td
            = f.text_field :name
            = error_message_on @action_offer, :name
        %tr
          %td{ :colspan => 2 }= f.submit 'Save Action'

  .hidden
    #help_name_content{ :name => 'Action Name' }
      The name of the action.
  