- @page_title = 'New Action'

%h3 New Action

= render 'instructions'

- form_for [ @app, @action_offer ], :html => { :class => 'tjform' } do |f|
  %table
    %tbody
      %tr
        %th
          = f.label :name, 'Action Name'
          #help_name.help ?
        %td
          = f.text_field :name
          = error_message_on @action_offer, :name
          = error_message_on @action_offer, :variable_name
      %tr
        %td{ :colspan => 2 }= f.submit 'Save Action'

.hidden
  #help_name_content{ :name => 'Action Name' }
    This is the copy that will appear on the offerwall for users.

- content_for :page_styles do
  :plain
    textarea, input[type=text] {
      width: 400px;
    }
