!!! Strict
%html
  %head
    %title Tapjoy :: Fueling Great Apps - #{@job_title}
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag 'reset', 'common', 'about_us', 'careers', 'facebox'
    = yield :page_head
  %body
    #header_wrapper
      #header
        %a#logo{:href => "/"}
        #nav
          %a#nav_home.nav_link{:href => "/"}
          %a#nav_developers.nav_link{:href => "/site/app_developers"}
          %a#nav_advertisers.nav_link{:href => "/site/advertisers"}
          %a#nav_about.nav_link{:href => "/site/about_us"}
    #content_wrapper
      #content
        %a#client_login{:href => "#{DASHBOARD_URL}/login"}
        .clear
        #about_us
          #left
            = render :partial => 'homepage/sub_nav'
            = render :partial => 'homepage/jobs'
          #right
            %img.header{:src => "/images/work_at_tapjoy.png"}/
            .clear
            %h1
              %strong= @job_title
            = yield
            %h2
              Interested?
            %p
              Email your resume to #{mail_to('careers@tapjoy.com')}!

        .clear
    = render :partial => '/homepage/footer'
