!!! Mobile

%html
  %head
    %title
      = @page_title
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.min', 'jquery.tablesorter', 'jquery.colorbox.min', 'application', 'chosen.jquery', 'facebox'
    = yield :included_stylesheets
    %style{ :type => 'text/css' }
      :plain
        html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

        body {
          background-color: #f0f0f0;        
          font-size: 100%/16px;
          font-family: "Helvetica", Arial, Helvetica, sans-serif;
          font-weight: normal;
        }

        .container {
          border-bottom: 1px solid #888;
          box-shadow: inset 0 1px 0 #fff; 
          padding: 10px; 
        }

        span.small {
          color: #999;
          display: block;
          font-size: 85%;
          margin-top: 5px;
        }


        .ui-joy-mask {
          background: rgba(79,79,79, .9);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 99;
        }

        .ui-joy-panel {
          background: #f4f4f4;
          border-radius: 4px;
          box-shadow: 0 0 4px rgba(0,0,0, .5);
          font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
          margin: 15px auto;
          position: relative;
          width: 300px;
          z-index: 100;
        }

        .ui-joy-panel .grey-box {
          background: rgb(240,240,240);
          background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(233,233,233,1) 37%, rgba(227,227,227,1) 74%, rgba(222,222,222,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(37%,rgba(233,233,233,1)), color-stop(74%,rgba(227,227,227,1)), color-stop(100%,rgba(222,222,222,1)));
          background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede',GradientType=0 );
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          box-shadow: inset 0 -1px 0 #bbb;
        }

        .ui-joy-panel .earn-block {
          height: 80px;
        }

        .ui-joy-panel .earn-block {
          background: -moz-linear-gradient(top, rgba(255,192,0,1) 0%, rgba(255,183,0,1) 36%, rgba(255,156,0,1) 71%, rgba(255,141,0,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,192,0,1)), color-stop(36%,rgba(255,183,0,1)), color-stop(71%,rgba(255,156,0,1)), color-stop(100%,rgba(255,141,0,1)));
          background: -webkit-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -o-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          border: 1px solid #444;
          box-shadow: inset 0 1px 0 #fff736, 0 1px 0 rgba(0,0,0, .2);
          box-sizing: border-box;
          border-radius: 4px;
          width: 80px;
          -webkit-appearance: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          position: absolute;
          left: -5px;
          top: -9px;
        }

        .ui-joy-panel .earn-block a {
          text-decoration: none;
        }

        .ui-joy-panel .earn-block span {
          color: #fff;
          display: block;
          text-align: center;
          text-shadow: 0 1px 1px rgba(0,0,0, .55);
        }

        .ui-joy-panel .earn-block span.earn,
        .ui-joy-panel .earn-block span.points {
          font-size: 90%;
        }

        .ui-joy-panel .earn-block span.earn {
          margin-top: 3px;
        }

        .ui-joy-panel .earn-block span.points {
          margin-bottom: 5px;
        }

        .ui-joy-panel .earn-block span.big {
          font-size: 160%;
          font-weight: bold;
          line-height: 115%;
          margin-top: 1px;
          text-shadow: 0 0 5px rgba(255,255,255, .4), 0 1px 1px rgba(0,0,0, .6);
        }

        .ui-joy-panel .earn-block .free {
          background: #5c5c5c;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          bottom: 0;
          box-shadow: 0 -1px 0 #727272;
          color: #d8d8d8;
          font-size: 50%;
          font-weight: bold;
          left: 0;
          padding: 1px 0 2px;
          position: absolute;
          text-align: center;
          text-shadow: 0 1px 1px rgba(0,0,0, .5);
          text-transform: uppercase;
          width: 100%;
        }

        .ui-joy-panel .instructions {
          box-shadow: inset 0 1px 0 #fff;
          color: #6e6e6e;
          padding: 15px 15px 0;
          text-shadow: 0 1px 0 #fff;
        }

        .ui-joy-panel .instructions span {
          display: block;
          font-size: 70%;
        }

        ul.steps {
          list-style: none;
          margin-left: 0;
        }

        ul.steps li div.count,
        ul.steps li div.step {
          display: inline-block;
          vertical-align: middle;
        }

        ul.steps li div.count {
          width: 25px;
          font-size: 225%;
          font-weight: bold;
          text-shadow: 0 1px 0 #f9f9f9;
        }

        ul.steps li div.step {
          font-style: italic;
          font-size: 70%;
          line-height: 120%;
          margin: 15px 0;
          width: 86%;
        }

        .reward-button {
          background: -moz-linear-gradient(top, rgba(255,192,0,1) 0%, rgba(255,183,0,1) 36%, rgba(255,156,0,1) 71%, rgba(255,141,0,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,192,0,1)), color-stop(36%,rgba(255,183,0,1)), color-stop(71%,rgba(255,156,0,1)), color-stop(100%,rgba(255,141,0,1)));
          background: -webkit-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -o-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; 
          box-sizing: border-box;
          border: 1px solid #b37201;
          border-radius: 4px;
          box-shadow: inset 0 1px 0 #fff736, 0 1px 0 rgba(0,0,0, .1);
          padding: 7px;
          width: 100%;
        }

        .reward-button a {
          color: #fff;
          display: block;
          font-size: 100%;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 0 #cc7f26;
        }
      
        .grey-box .facebook {
          margin: 10px 0 10px 85px;
        }

        .grey-box .facebook img {
          background-size: 40px 40px;
          border-radius: 4px;
          box-shadow: inset 0 0 4px rgba(0,0,0, .8), 0 1px 0 #fff;
          height: 40px;
          width: 40px;
        }

        .grey-box .facebook,
        .ui-joy-panel .grey-box .heading {
          display: inline-block;
          vertical-align: middle;
        }

        .ui-joy-panel .grey-box .heading {
          color: #414141;
          font-size: 80%;
          font-weight: 700;
          margin-left: 5px;
          text-shadow: 0 1px 0 #f9f9f9;
          width: 50%;
        }

        .padit {
          padding: 5px 6px;
        }

        .padit .error {
          color: red;
          font-size: 70%;
          margin-bottom: 2px;
          text-align: center;
        }

        .m10 {
          margin: 10px;
        }
      = yield :page_styles

    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
  %body
    - if @load_facebook == true
      #fb-root{ 'data-fb-options' => {:appId => Facebooker2.app_id, :locale => 'en_US'}.to_json }

    = yield
    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      :plain
        function initiateFacebook (options, onReady) {
          window.fbAsyncInit = function() {
            FB.init({
              appId  : options.appId,
              status : true,
              cookie : true,
              oauth : true,
              xfbml : true
            });

            onReady();
          };

          (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/' + options.locale + '/all.js';
            document.getElementById('fb-root').appendChild(e);
          }());
        }
        
        function checkPermission (withPerm) {
          FB.api('/me/permissions', function (response) {
            if (response['data'][0]['offline_access'] && response['data'][0]['publish_stream']) {
              withPerm();
            } else {
              $('.error').text('Please grant us Facebook permission').show();
            }
          });
        }

      = yield :page_javascript
