!!! 5

%html{ :class => 'device web no-os no-touch no-hd' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }  
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
    %meta{ 'name' => 'apple-mobile-web-app-capable', 'content' => 'yes' }
    %meta{ 'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
    
    %link{ 'rel' => 'apple-touch-icon', 'href' => '' } 
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 326dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 326dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 163dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-startup-image', 'href' => "" }          

    %title= @page_title.blank? ? 'Tapjoy Games' : "#{@page_title} - Tapjoy Games"
    
    - if Rails.env.production?
      %style{ :type => 'text/css' }
        = yield :page_styles
        :plain
          .css {

          }
    - else
      %style{ :type => "text/css", :media => "screen" }
        @import "/stylesheets/games/tapjoygames.css";
    = yield :page_head
    
  %body
    = yield
    
    - if Rails.env.production?
      = javascript_include_tag 'games/tapjoygames.min-1.0'
    - else
      = javascript_include_tag 'games/src/jquery-1.4.2'
      = javascript_include_tag 'games/src/init'
      = javascript_include_tag 'games/src/jqtouch'
      = javascript_include_tag 'games/src/jqt.scroll'
      = javascript_include_tag 'games/src/cufon-min' 
      = javascript_include_tag 'games/src/Cooper_Std_900.font'
      = javascript_include_tag 'games/src/AmerType_Md_BT_700.font'
      = javascript_include_tag 'games/src/tapjoygames'
    
    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript

