!!! 5

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
    %meta{ 'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }

    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %link{ :rel => 'apple-touch-icon-precomposed', :href => '/images/tjgames-114x114.png' }
    %link{ :rel => 'publisher', :href => 'https://plus.google.com/b/116280135840952950839/' }

    %title= @page_title.blank? ? 'Tapjoy' : "#{@page_title} - Tapjoy"

    = stylesheet_link_tag("games/reset")
    = stylesheet_link_tag("games/base")
    = stylesheet_link_tag("games/button")
    = stylesheet_link_tag("games/marketplace")
    = stylesheet_link_tag("games/marketplace-480", :media => "only screen and (min-width: 480px)")
    = stylesheet_link_tag("games/marketplace-768", :media => "only screen and (min-width: 768px)")
    = stylesheet_link_tag("games/marketplace-1024", :media => "only screen and (min-width: 1024px)")

    = yield :page_head

  %body
    %noscript
      .noscript_msg
        Please go into your browser settings and enable JavaScript to continue using Tapjoy.
    .main
      .header.tj-red-gradient
        .headerwrap
          .wrap
            .logo=image_tag "e.gif"
            .nav-icon=image_tag "e.gif"
        .subhead
          .wrap
            =yield :subhead

      .content
        .contentwrap
          .wrap
            = yield
