!!! 5

%html{ :class => 'web no-os no-touch no-hd' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }  
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
    %meta{ 'name' => 'apple-mobile-web-app-capable', 'content' => 'yes' }
    %meta{ 'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
    
    %link{ 'rel' => 'apple-touch-icon', 'href' => '' } 
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 326dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 326dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-icon-precomposed', 'media' => '(resolution: 163dpi)', 'href' => '' }
    %link{ 'rel' => 'apple-touch-startup-image', 'href' => "" }          

    %title= @page_title.blank? ? 'Tapjoy Games' : "#{@page_title} - Tapjoy Games"
    
    %style{ :type => "text/css", :media => "screen" }
      @import "/stylesheets/games/tapjoygames.css";
      @import "/stylesheets/games/jqtouch.css";
      
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head

  %body
    = yield

    = javascript_include_tag 'games/jquery-1.4.2'
    = javascript_include_tag 'games/jqtouch'
    = javascript_include_tag 'games/jqt.scroll'
    = javascript_include_tag 'games/cufon-min' 
    = javascript_include_tag 'games/Cooper_Std_900.font'
    = javascript_include_tag 'games/AmerType_Md_BT_700.font'
    = javascript_include_tag 'games/tapjoygames'
    
    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript

