!!! 5

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= @page_title.blank? ? 'Tapjoy Games' : "#{@page_title} - Tapjoy Games"
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head

  %body
    - if current_gamer.present?
      = "Logged in as #{current_gamer.email}"
      |
      = link_to('Logout', games_logout_path)

    = yield

    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
