!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @title || 'Tapjoy'
    = stylesheet_link_tag 'base', 'slider', '/fonts.css'
    %style{ :type => 'text/css' }
      = yield :page_styles
    :plain
      <!--[if IE]>
       <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
      <![endif]-->
      <!--[if IE 6]>
       <link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
      <![endif]-->
  %body
    #sub1.wrapper
      .shadow
        .header
          %h1= link_to image_tag('site/logo.gif'), root_path
          .quickLinks
            = link_to 'CLIENT LOGIN', login_path
          .mainmenu
            %ul#nav
              %li= link_to 'APP DEVELOPERS', {:action => 'app_developers'}, :class => "link0#{' selec' if params[:action]=='app_developers'}"
              %li= link_to 'ADVERTISERS', {:action => 'advertisers'}, :class => "link1#{' selec' if params[:action]=='advertisers'}"
              %li= link_to 'GAMING PLATFORMS', {:action => 'gaming_platforms'}, :class => "link2#{' selec' if params[:action]=='gaming_platforms'}"
              %li= link_to 'ABOUT', '/site/aboutus.html', :class => "link3"
          .clear{:style => 'clear:both;'}
        .contentArea
          = yield
      .footer
        = link_to 'PRESS', '/site/press.html'
        |
        = link_to 'CAREERS', '/site/careers.html'
        |
        = link_to 'TEAM', '/site/team.html'
        |
        = link_to 'CONTACT', '/site/contact.html'
        %p
          &copy; #{Time.now.year} Tapjoy, Inc.
          = link_to 'Privacy Policy', '/privacy.html'
    - unless Rails.env == 'development'
      :plain
        <!-- Begin Olark Chat --><script type="text/javascript">(function(){document.write(unescape('%3Cscript src=%27' + (document.location.protocol == 'https:' ? "https:" : "http:") + '//static.olark.com/js/wc.js%27 type=%27text/javascript%27%3E%3C/script%3E'));})();</script><div id="olark-data"><a class="olark-key" id="olark-2379-949-10-5905" title="Powered by Olark" href="http://olark.com/about" rel="nofollow">Powered by Olark</a></div> <script type="text/javascript"> wc_init();</script><!-- /End Olark Chat -->
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.#{'min.' if Rails.env!='development'}js"
    = javascript_include_tag 'jquery.easing.1.2.js', 'jquery.anythingslider.js', 'pluginpage.js', 'jquery.pngFix.pack.js'
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :included_javascripts
      - unless Rails.env == 'development'
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5323442-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
