!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @title || 'Tapjoy'
    = stylesheet_link_tag 'base', 'slider', '/fonts.css'
    :plain
      <!--[if IE]>
       <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
      <![endif]-->
      <!--[if IE 6]>
       <link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
      <![endif]-->
  %body
    #sub1.wrapper
      .shadow
        .header
          %h1= link_to image_tag('site/logo.gif'), root_path
          .quickLinks
            %span CLIENT LOGIN
            = link_to 'MOBILE', login_path
            |
            = link_to 'WEB', 'http://onboard.offerpalmedia.com/'
          .mainmenu
            %ul#nav
              %li= link_to 'APP DEVELOPERS', '/site/appDevelopers.html', :class => 'link0'
              %li= link_to 'ADVERTISERS', '/site/advertisers.html', :class => 'link1'
              %li= link_to 'GAMING PLATFORMS', '/site/gamingPlatforms.html', :class => 'link2'
              %li= link_to 'ABOUT', '/site/aboutus.html', :class => 'link3'
        .contentArea
          = yield
      .footer
        = link_to 'BLOG', 'http://blog.offerpalmedia.com/', :style => 'padding-left:0px;'
        |
        = link_to 'PRESS', '/site/press.html'
        |
        = link_to 'JOBS', '/site/careers.html'
        |
        = link_to 'TEAM', '/site/team.html'
        |
        = link_to 'CONTACT', '/site/contact.html'
        %p
          Copyright 2010 Tapjoy. &nbsp;
          = link_to 'Privacy Policy', '/privacy.html'
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.#{'min.' if Rails.env!='development'}js"
    = javascript_include_tag 'jquery.easing.1.2.js', 'jquery.anythingslider.js', 'pluginpage.js', 'jquery.pngFix.pack.js'
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :included_javascripts
