!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @title || 'Tapjoy'
    = stylesheet_link_tag 'base', 'slider', '/fonts.css'
    %style{ :type => 'text/css' }
      = yield :page_styles
    :plain
      <!--[if IE]>
       <link href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
      <![endif]-->
      <!--[if IE 6]>
       <link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
      <![endif]-->
  %body
    #sub1.wrapper
      .shadow
        .header
          %h1= link_to image_tag('site/logo.gif'), root_path
          .quickLinks
            = link_to 'CLIENT LOGIN', login_path
          .mainmenu
            %ul#nav
              %li= link_to 'APP DEVELOPERS', '/site/app_developers', :class => params[:action]=='app_developers' ? 'selec' : ''
              %li= link_to 'ADVERTISERS', '/site/advertisers', :class => params[:action]=='advertisers' ? 'selec' : ''
              %li= link_to 'GAMING PLATFORMS', '/site/gaming_platforms', :class => params[:action]=='gaming_platforms' ? 'selec' : ''
              %li= link_to 'ABOUT', '/site/about_us', :class => @about_us ? 'selec' : ''
          .clear{:style => 'clear:both;'}
        .contentArea
          = yield
      .footer
        = link_to 'PRESS', '/press'
        |
        = link_to 'CAREERS', '/careers'
        |
        = link_to 'TEAM', '/site/team'
        |
        = link_to 'CONTACT', '/site/contact'
        %p
          &copy; #{Time.now.year} Tapjoy, Inc.
          = link_to 'Privacy Policy', '/privacy.html'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.easing.1.2.js', 'jquery.anythingslider.js', 'pluginpage.js', 'jquery.pngFix.pack.js'
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
      - if Rails.env.production?
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5323442-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
