!!! 5

%html
  %head
    %title
      = @page_title
    = yield :included_stylesheets
    %style{ :type => 'text/css' }
      :plain
        html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

        body {
          background-color: #f0f0f0;
          font-size: 100%/16px;
          font-family: "Helvetica", Arial, Helvetica, sans-serif;
          font-weight: normal;
        }

        .ui-joy-mask {
          position: absolute;
          top: 40px;
          right: 0;
          bottom: 0;
          min-height: 100%;
          left: 0;
          z-index: 10;
          background-color: #333;
        }

        .ui-joy-panel {
          background: #f4f4f4;
          border-radius: 8px;
          box-shadow: 0 0 4px rgba(0,0,0, .5);
          font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
          margin: 20px 10px;
          position: relative;
          min-width: 300px;
          z-index: 100;
        }

        .ui-joy-panel .grey-box {
          background: rgb(240,240,240);
          background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(233,233,233,1) 37%, rgba(227,227,227,1) 74%, rgba(222,222,222,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(37%,rgba(233,233,233,1)), color-stop(74%,rgba(227,227,227,1)), color-stop(100%,rgba(222,222,222,1)));
          background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          background: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(233,233,233,1) 37%,rgba(227,227,227,1) 74%,rgba(222,222,222,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dedede',GradientType=0 );
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          box-shadow: inset 0 -1px 0 #bbb;
        }

        .ui-joy-panel .instructions {
          box-shadow: inset 0 1px 0 #fff;
          color: #6e6e6e;
          padding: 10px 15px;
          text-shadow: 0 1px 0 #fff;
          font-size: 90%;
        }

        .ui-joy-panel .instructions .content {
          margin: 12px 0 24px;
          text-shadow: 0 1px 0 rgba(255,255,255,.4);
        }

        .ui-joy-panel .instructions span {
          display: block;
          font-size: 70%;
        }

        ul.steps {
          list-style: none;
          margin-left: 0;
        }

        ul.steps li div.count,
        ul.steps li div.step {
          display: inline-block;
          margin: 15px 0;
        }

        ul.steps li div.count {
          vertical-align: top;
          font-size: 225%;
          font-weight: bold;
          padding: 0 6px;
          text-shadow: 0 1px 0 #f9f9f9;
        }

        ul.steps li div.step {
          padding: 0 9px;
          font-style: italic;
          line-height: 120%;
          vertical-align: middle;
        }

        .reward-button {
          background: -moz-linear-gradient(top, rgba(255,192,0,1) 0%, rgba(255,183,0,1) 36%, rgba(255,156,0,1) 71%, rgba(255,141,0,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,192,0,1)), color-stop(36%,rgba(255,183,0,1)), color-stop(71%,rgba(255,156,0,1)), color-stop(100%,rgba(255,141,0,1)));
          background: -webkit-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -o-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          background: linear-gradient(top, rgba(255,192,0,1) 0%,rgba(255,183,0,1) 36%,rgba(255,156,0,1) 71%,rgba(255,141,0,1) 100%);
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #b37201;
          border-radius: 4px;
          box-shadow: inset 0 1px 0 #fff736, 0 1px 0 rgba(0,0,0,.1);
          padding: 7px;
          width: 100%;
        }

        .reward-button a, .reward-button span {
          color: #fff;
          cursor: pointer;
          display: block;
          font-size: 100%;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 0 #cc7f26, 0 1px 2px rgba(0,0,0,.6);
        }

        .grey-box .facebook,
        .grey-box .app-logo {
          display: inline-block;
          vertical-align: middle;
          margin: 15px 15px 13px;
        }

        .grey-box .facebook img,
        .grey-box .app-logo img {
          background-size: 40px 40px;
          border-radius: 4px;
          box-shadow: inset 0 0 4px rgba(0,0,0, .8), 0 1px 0 #fff;
          height: 40px;
          width: 40px;
        }

        .grey-box .facebook,
        .ui-joy-panel .grey-box .heading {
          display: inline-block;
          vertical-align: middle;
          padding: 5px 0 5px 0;
        }

        .grey-box.highlight {
          border: 1px solid #c1c1c1;
          border-radius: 4px;
          box-shadow: none;
        }

        .grey-box.highlight .padit {
          text-align:center;
          margin: 0 auto;
          padding: 0 0 12px 36px;
        }

        .ui-joy-panel .grey-box .heading {
          color: #414141;
          font-weight: 700;
          text-shadow: 0 1px 0 #f9f9f9;
          width: 70%;
        }

        .padit {
          padding: 5px 6px;
        }

        .padit .error {
          color: red;
          font-size: 70%;
          margin-bottom: 2px;
          text-align: center;
        }

        .m10 {
          margin: 10px;
        }

        .hidden, .hide {
          display: none;
        }

        .fb_like div.count {
          padding-left: 6px;
        }

        .or {
          padding: 12px 0 6px;
          text-align: center;
          font-size: 80%;
        }

        #presented_by {
          color: #818181;
        }

      = yield :page_styles

    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
  %body
    = render 'shared/top_bar'
    - if @load_facebook == true
      #fb-root{ 'data-fb-options' => {:appId => Facebooker2.app_id, :locale => 'en_US'}.to_json }

    = yield
    = yield :included_javascripts
    = yield :page_javascript

    - if @load_facebook_sdk == true
      = render 'shared/fb_sdk'
