!!! 5

%html
  %head
    %title
      = @page_title
    = yield :included_stylesheets
    = stylesheet_link_tag('offer_instructions/style')
    %style{ :type => 'text/css' }
      = yield :page_styles

    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
  %body
    = render 'shared/top_bar' if @show_topbar
    - if @load_facebook == true
      #fb-root{ 'data-fb-options' => {:appId => Facebooker2.app_id, :locale => 'en_US'}.to_json }

    = yield

    = javascript_include_tag 'jquery-1.7.2.min'

    = yield :included_javascripts

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript

    - if @load_facebook_sdk == true
      = render 'shared/fb_sdk'
