!!! Mobile

%html{ :class => 'no-js no-os no-touch no-hd' }
  %head
    %title
      = @page_title
    = yield :included_stylesheets
    %style{ :type => 'text/css' }
      :plain
        html, body { margin: 0; padding: 0; border: 0; }
        body { font-family: Helvetica, "Tahoma Bold", Arial, sans-serif; line-height:1; font-size:16px; background: #fff; padding:5px; color: #505050; word-wrap: break-word; -webkit-text-size-adjust: none; -webkit-touch-callout: none; background: url("/images/bg.png"); height: 100%; }
        h1, h2, h3, h4, h5, h6 { font-weight: normal; }
        p img { float: left; margin: 0 10px 5px 0; padding: 0; }
        img { border: 0; max-width: 100%; }
        table { width:auto; border-collapse: collapse;border-spacing: 0; }

        .corner, .l, .t, .r, .b { background-size: 19px 19px; }

        .box { background: #fff; margin: 0px auto; width: 100%; }
        .corner { height: 19px; width: 19px; }
        .tl { background: url('/images/box/tl.png'); float: left; }
        .t { background: url('/images/box/t.png') repeat-x; float: left; height: 19px; width: 100%; }
        .tr { background: url('/images/box/tr.png'); float: right; }

        .middle { background: #fff; float: left; height: 100%; width: 100%; }
        .l { background: url('/images/box/l.png') repeat-y left; height: 100%; width: 100%; float: left; }
        .content { float: left; width: 100%; }
        .r { background: url('/images/box/r.png') repeat-y right; height: 100%; width: 100%; float: left; }

        .bl { background: url('/images/box/bl.png'); float: left; }
        .b { background: url('/images/box/b.png') repeat-x; float: left; height: 19px; width: 100%; }
        .br { background: url('/images/box/br.png'); float: right; }

        .hd body { background: url("/images/bg-2x.png"); background-size: 250px 250px; }

        .hd .tl { background: url('/images/box/tl-2x.png'); float: left; }
        .hd .t { background: url('/images/box/t-2x.png'); background-size: 19px 19px; float: left; }
        .hd .tr { background: url('/images/box/tr-2x.png'); float: right; }

        .hd .l { background: url('/images/box/l-2x.png') repeat-y left; background-size: 19px 19px; height: 100%; width: 100%; float: left; }
        .hd .r { background: url('/images/box/r-2x.png') repeat-y right; background-size: 19px 19px; height: 100%; width: 100%; float: left; }

        .hd .bl { background: url('/images/box/bl-2x.png'); float: left; }
        .hd .b { background: url('/images/box/b-2x.png'); background-size: 19px 19px; float: left; }
        .hd .br { background: url('/images/box/br-2x.png'); float: right; }

      = yield :page_styles
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
  %body
    = yield

    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      -# master-class v0.1
      (function(f,h){var c=h.documentElement,i=[""],d={"no-js":"js"},a=/(ip(od|ad|hone)|android|nokia|blackberry|webos)/gi.exec(navigator.userAgent);if(a)d["no-os"]=a[2]?"ios":a[1].toLowerCase();if("orientation"in f){var j=["landscape","portrait"],k=RegExp("("+j.join("|")+")");a="onorientationchange"in f?"orientationchange":"resize";var g=i.push(j[f.orientation%180?0:1]);addEventListener(a,function(){var e=j[f.orientation%180?0:1];if(g!=e){g=e;e=c.className;c.className=e?e.replace(k,g):g}},false)}if("ontouchend"in
      h)d["no-touch"]="touch";var b=h.createElement("div");b.style.display="none";b.id="mc-test";b.innerHTML='<style type="text/css">@media(-webkit-min-device-pixel-ratio:1.5){#mc-test{color:red}}@media(-webkit-min-device-pixel-ratio:2.0){#mc-test{color:blue}}</style>';c.appendChild(b);if(a=/255(\))?/gi.exec(b.ownerDocument.defaultView.getComputedStyle(b,null).getPropertyValue("color"))){i.push("hd"+(a[1]?20:15));d["no-hd"]="hd"}c.removeChild(b);a=c.className;for(replace in d)a=a.replace(replace,d[replace]);
      c.className=a+i.join(" ")})(this,document);
      = yield :page_javascript
