!!! Mobile

%html
  %head
    %title
      = @page_title
    = yield :included_stylesheets
    %style{ :type => 'text/css' }
      :plain
        body {
          -webkit-text-size-adjust: none;
          -webkit-touch-callout: none;
          font-family: Helvetica, "Tahoma Bold", Arial, sans-serif;
          background:url("/images/stripes.png") repeat scroll 0 0 #C7C7C7;
        }
        #main {
          padding: 5px;
          background:#fff;
          border: 1px solid #d5d5d5;
          -moz-border-radius: 7px;
          -webkit-border-radius: 7px;
          margin: 0 3%;
        }

      = yield :page_styles
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
  %body
    = yield

    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
