!!! 5

%html{ :class => "#{HeaderParser.device_type(request.headers['user-agent'])} device mobile no-os no-touch no-hd" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
    %meta{ 'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
    %meta{ :name => 'description', :content => t('text.games.meta_description') }
    %meta{ :name => 'keywords', :content => t('text.games.meta_keywords')}

    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %link{ :rel => 'apple-touch-icon-precomposed', :href => '/images/tjgames-114x114.png' }
    %link{ :rel => 'publisher', :href => 'https://plus.google.com/b/116280135840952950839/' }

    %title= @page_title.blank? ? 'Tapjoy Marketplace' : "#{@page_title} - Tapjoy"

    = stylesheet_link_tag("marketplace/resources/reset")
    = stylesheet_link_tag("marketplace/resources/base")
    = stylesheet_link_tag("marketplace/resources/components/button/button")

    /[if IE 8]
      = stylesheet_link_tag('marketplace/ie8')

    /[if lt IE 9]
      = javascript_include_tag "marketplace/src/helpers/html5.js"
      = javascript_include_tag "marketplace/src/helpers/mediaqueries.js"

    = stylesheet_link_tag("marketplace/theme/tjm/style")
    = stylesheet_link_tag("marketplace/theme/tjm/style-480", :media => "only screen and (min-width: 480px)")
    = stylesheet_link_tag("marketplace/theme/tjm/style-768", :media => "only screen and (min-width: 768px)")
    = yield :page_head

  %body{ :id => 'tapjoy', :class => '' }
    %noscript
      %style{:type => "text/css", :media => "screen"}
        :plain
          #jqt {display:none;}
      .noscript_msg
        = t('text.games.no_javascript')

    = render 'games/shared/header'

    = yield

    = render 'games/shared/footer'

    :javascript
      window.ENVIRONMENT = "#{Rails.env}";
    %script{ :type => 'text/javascript', :charset => 'utf-8', :src => games_translations_path(:language_code => I18n.locale) }
    - if Rails.env.production? || Rails.env.staging?
      = javascript_include_tag "marketplace/#{MARKETPLACE_CONFIG['js_compile_out_file']}-#{MARKETPLACE_CONFIG['js_version']}"
    - else
      - files = MARKETPLACE_CONFIG['js_files']
      - files.each do |f|
        = javascript_include_tag f
      = javascript_include_tag "marketplace/src/dev-tools"

    = yield :included_javascripts

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript

    :javascript
      TJG.path =  "#{games_root_path}";
      TJG.logout_path = "#{games_logout_path}"
      TJG.blank_img = "#{CLOUDFRONT_URL}/images/blank.png";

    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25098478-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
