!!! Strict
%html
  %head
    %title Tapjoy :: Fueling Great Apps - #{@page_title}
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag 'reset', 'common'
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head
  %body
    #header_wrapper
      #header
        %a#logo{:href => "/"}
        #nav
          %a#nav_home.nav_link{:href => "/"}
          %a#nav_developers.nav_link{:href => "/site/app_developers"}
          %a#nav_advertisers.nav_link{:href => "/site/advertisers"}
          %a#nav_about.nav_link{:href => "/site/about_us"}
    #content_wrapper
      #content
        %a#client_login{:href => "/login"}
        .clear
        = yield
    #footer_wrapper
      #footer
        #footer_content
          #about_tapjoy
            %img.header{:src => "/images/about_tapjoy.png"}/
            .clear
            %ul
              %li
                %a{:href => "/site/team"} Meet the team
              %li
                %a{:href => "/press"} Tapjoy in the press
              %li.last
                %a{:href => "http://blog.tapjoy.com"} Read our blog
            %ul
              %li
                %a{:href => "/careers"} Work at Tapjoy
              %li
                %a{:href => "/site/contact"} Contact us
              %li.last
                %a{:href => "http://knowledge.tapjoy.com"} Tapjoy Knowledge Center
          #legal_stuff
            %img.header{:src => "/images/legal_stuff.png"}/
            %p
              All content &copy; 2011 Tapjoy. Website created with love in downtown San Francisco, CA
        .clear
      .clear
    = javascript_include_tag 'jquery-1.4.2.min', 'tapjoy'
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
      - unless Rails.env == 'development'
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5323442-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
