!!! Strict
%html
  %head
    %title Tapjoy :: Fueling Great Apps - #{@page_title}
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    = stylesheet_link_tag 'reset', 'common'
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head
  %body
    #header_wrapper
      #header
        %a#logo{:href => "/"}
        #nav
          %a#nav_home.nav_link{:href => "/"}
          %a#nav_developers.nav_link{:href => "/site/app_developers"}
          %a#nav_advertisers.nav_link{:href => "/site/advertisers"}
          %a#nav_about.nav_link{:href => "/site/about_us"}
    #content_wrapper
      #content
        %a#client_login{:href => "#{DASHBOARD_URL}/login"}
        .clear
        - flash.each do |name, msg|
          .flash{ :id => "flash_#{name}" }= msg
        = yield
    = render :partial => '/homepage/footer'
