!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @page_title.blank? ? 'Tapjoy' : "#{@page_title} - Tapjoy"
    = stylesheet_link_tag 'website', 'jquery-ui-1.8.5', 'colorbox', 'themes/blue/style', 'chosen'
    = stylesheet_link_tag 'print', :media => 'print'
    %style{ :type => 'text/css' }
      = yield :page_styles
      :plain
        #acting_as {
          font-size: 0.5em;
          background-color: yellow;
        }
    = yield :page_head
  
  %body
    #main
      #top_nav
        .left
          - premier_suffix = current_partner.is_premier? ? '_premier' : ''
          = link_to image_tag("#{RUN_MODE_PREFIX}tapjoylogo#{premier_suffix}.png"), dashboard_root_path
        .right
          = current_user.username
          - if current_user.can_manage_account?
            %span#acting_as
              acting as
              = link_to current_partner.name_or_contact_name, partner_path(current_partner)
          |
          - link_text = "<span id='number_of_active_offers'>#{current_partner_active_app_offers.length}</span> active campaigns"
          - link_class = "soft-link #{current_partner_active_app_offers.blank? ? 'inactive' : ''}"
          = link_to_function link_text, '$.noop()', :class => link_class, :id => 'active_campaigns'
          - unless current_partner_active_app_offers.blank?
            #active_campaigns_box.hidden
              %table{:cellspacing => 0}
                %tbody
                  - current_partner_active_app_offers.each do |offer|
                    %tr
                      %td
                        - form_tag toggle_app_offer_path(:id => offer.id, :app_id => offer.item.id) do
                          = check_box_tag("toggle_offer_#{offer.id}", '1', {}, :class => 'toggle_offer')
                      %td
                        = link_to offer.name, url_to_offer_item(offer)
                      %td.offer-type
                        = image_tag(platform_icon_url(offer))
                        = offer.self_promote_only? ? '[SELF]' : ''
                      %td
                        = number_to_currency(offer.bid / 100.0)

          |
          - if premier_enabled?
            = mail_to "premiersupport@tapjoy.com", "Support", :subject => "Premier Support"
            |
          = link_to('Dev forum', DEV_FORUM_URL)
          |
          = link_to('Logout', logout_path)
        .clear
    
      #tabs
        - tabs = []
        - tabs << { :apps      => apps_path }            if permitted_to?(:index, :apps)
        - tabs << { :reporting => reporting_index_path } if permitted_to?(:index, :reporting)
        - tabs << { :billing   => billing_index_path }   if permitted_to?(:index, :billing)
        - tabs << { :account   => users_path }           if permitted_to?(:index, :users)
        - tabs << { :partners  => partners_path }        if permitted_to?(:index, :partners)
        - tabs << { :premier   => premier_path }         if permitted_to?(:edit,  :premier)
        - tabs << { :tools     => tools_path }           if permitted_to?(:index, :tools)
        - tabs << { :statz     => statz_index_path }     if permitted_to?(:index, :statz)
        = navigation(tabs)

      #content
        .flash
          %strong
          The Tapjoy dashboard is now located at
          = succeed '.' do
            = link_to 'dashboard.tapjoy.com', 'https://dashboard.tapjoy.com'
          Please update your bookmarks.
        - flash.each do |name, msg|
          .flash{ :id => "flash_#{name}", :title => "Click to dismiss this message" }
            %strong #{name.to_s.humanize}:
            = msg
        - [:error, :warning, :notice].each do |name|
          - if flash[name].blank?
            .flash.hidden{ :id => "flash_#{name}", :title => "Click to dismiss this message" }
              %strong #{name.to_s.humanize}:
              %span.message &nbsp;
        = content_for_exists?(:apps_layout) ? yield(:apps_layout) : yield
        .clear

      #footer
        &copy; #{Time.now.year} Tapjoy, Inc.
        = link_to 'Privacy Policy', 'https://www.tapjoy.com/privacy.html', :target => '_blank'

    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.min', 'jquery.tablesorter', 'jquery.colorbox.min', 'application', 'chosen.jquery'
    = yield :included_javascripts

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
      - unless Rails.env == 'development'
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5323442-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
