!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title
      = @page_title.blank? ? 'Tapjoy' : "#{@page_title} - Tapjoy"
    = stylesheet_link_tag 'website'
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head
  
  %body
    #top_nav
      .right
        = current_user.username
        |
        = link_to('Announcements')
        |
        = link_to('Contact Us')
        |
        = link_to('Logout', logout_path)
      .clear
    
    #tabs
      - tabs = []
      - tabs << { :home      => home_index_path }      if permitted_to?(:index, :home)
      - tabs << { :apps      => apps_path }            if permitted_to?(:index, :apps)
      - tabs << { :reporting => reporting_index_path } if permitted_to?(:index, :reporting)
      - tabs << { :billing   => billing_index_path }   if permitted_to?(:index, :billing)
      - tabs << { :account   => account_index_path }   if permitted_to?(:index, :account)
      - tabs << { :support   => support_index_path }   if permitted_to?(:index, :support)
      - tabs << { :tools     => tools_path }           if permitted_to?(:index, :tools)
      - tabs << { :statz     => statz_index_path }     if permitted_to?(:index, :statz)
      = navigation(tabs)
    
    - flash.each do |name, msg|
      .flash{ :id => "flash_#{name}" }= msg
    
    #content
      = yield
    
    = javascript_include_tag 'jquery-1.4.1.min'
    = yield :included_javascripts
    
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
