!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @page_title.blank? ? 'Tapjoy' : "#{@page_title} - Tapjoy"
    = stylesheet_link_tag 'website', 'jquery-ui-1.8.4.custom', 'themes/blue/style'
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head

  %body
    #main
      #top_nav
        .left
          = link_to image_tag("#{RUN_MODE_PREFIX}tapjoylogo.png"), root_path
        .right
          - if current_user
            = current_user.username
            |
            - if permitted_to?(:index, :apps)
              = link_to('Partner Home', apps_path)
              |
            = link_to('Logout', logout_path)
          - else
            = link_to('Register', register_path)
            |
            = link_to('Login', login_path)
        .clear

      #content
        - flash.each do |name, msg|
          .flash{ :id => "flash_#{name}", :title => "Click to dismiss this message" }
            %strong #{name.to_s.humanize}:
            = msg
        - [:error, :warning, :notice].each do |name|
          - if flash[name].blank?
            .flash.hidden{ :id => "flash_#{name}", :title => "Click to dismiss this message" }
              %strong #{name.to_s.humanize}:
              %span.message &nbsp;
        = yield
        .clear

      #footer
        &copy; #{Time.now.year} Tapjoy, Inc.
        = link_to 'Privacy Policy', '/privacy.html', :target => '_blank'

    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.4.custom.min', 'jquery.tablesorter', 'application'
    = yield :included_javascripts
    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
      - unless Rails.env == 'development'
        :plain
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5323442-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    - unless Rails.env == 'development'
      :plain
        <!-- Begin Olark Chat --><script type="text/javascript">(function(){document.write(unescape('%3Cscript src=%27' + (document.location.protocol == 'https:' ? "https:" : "http:") + '//static.olark.com/js/wc.js%27 type=%27text/javascript%27%3E%3C/script%3E'));})();</script><div id="olark-data"><a class="olark-key" id="olark-2379-949-10-5905" title="Powered by Olark" href="http://olark.com/about" rel="nofollow">Powered by Olark</a></div> <script type="text/javascript"> wc_init();</script><!-- /End Olark Chat -->
