- button_text ||= t('text.games.log_in_with_facebook')
= form_tag "#{games_gamer_sessions_path(:path => params[:path], :facebook => true, :data => params[:data], :referrer => params[:referrer], :src => params[:src])}", :method => :post, :class => 'ajax-submit', :id => 'log-in-with-facebook-form', :authenticity_token => "#{form_authenticity_token}" do
  .fields
    .ui-joy-button.orange-action.log-in-with-facebook.js-set-state{ :href => '#facebook-connect', 'data-submit-form-id' => 'log-in-with-facebook-form' }
      %a.facebook-square
        = button_text
    .fb-facepile{'data-href' => 'http://developers.facebook.com', 'data-max-rows' => '1', 'data-width' => '288'}
  = hidden_field :platform, :detected, :class => 'platform-detected'
