#jqt
  #login.tan.current
    .container
      .page
        .logo
        .content.narrow
          #earn_paper
            #earn_paper_content
              #how_works.how_works.right.earn_paper_title
                %a.swap{ :href => '#' }
                  %span.title_2
                    How does it work?
              #sign_up.sign_up.left.earn_paper_title
                %a{ :href => '#' }
                  %span.underline
                    %span.title_2
                      Sign up now!
                    %span.underline_blue
          #login_form
            .login_header_wrapper
              .right.forgot_pass
                = link_to('Forgot password?', new_games_password_reset_path)
              .login_header.title_2
                Existing Users Login
            .content_box_top_arrow_wrapper
              .content_box_top_arrow
            .content_box.clearfix
              - form_for([ :games, @gamer_session ]) do |f|
                - if params[:data].present?
                  = hidden_field_tag :data, params[:data]
                .field.login_email.clearfix
                  = f.label :email
                  = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off"
                .field.login_pass.clearfix
                  = f.label :password
                  = f.password_field :password, :size => '15'
                  = f.submit 'Login!', :class => 'right button lt_blue title'
              .login_error.center
                = error_message_on @gamer_session, :email, :prepend_text => "Email "
                = error_message_on @gamer_session, :password, :prepend_text => "Password "
          #sign_up_form
            .sign_first_timer_line.right
            .sign_first_timer_line.left
            .sign_first_timer
              First timer?
            .sign_up_button.title.button.lt_blue
              Sign up now!


#sign_up_dialog.dialog_wrapper.hide
  .close_dialog
    .close_button
  .dialog
    #sign_up_dialog_content
#sign_up_dialog_content_placeholder.hide
  .dialog_header_wrapper
    .dialog_header_right
    .dialog_header_left
    .dialog_title.title_2
      Sign Up!
  .dialog_header
    Creating an account is too easy!
  .dialog_content
    - form_for([ :games, @gamer ], :url => games_gamer_path ) do |f|
      .field
        = label_tag :birthdate
        = select_date nil, { :order => [:month, :day, :year], :start_year => Time.now.year, :end_year => (Time.now.year - 100), :include_blank => false, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} }
      .field
        = f.label :email
        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off"
      .field
        = f.label :password
        = f.password_field :password
      .field_row.clearfix
        .field.field_tos
          = f.check_box :terms_of_service
          = f.label :terms_of_service, "By checking this box I assert that I agree to the #{ link_to('terms of services', games_tos_path, :target => '_blank') } & #{ link_to('privacy policy', games_privacy_path, :target => '_blank') }"
        .field
          = f.hidden_field :referrer, :value => params[:referrer]
          = f.submit 'Do it!', :class => 'right button m_width lt_blue'
      .email_error.center
        = error_message_on @gamer, :email
        = error_message_on @gamer, :password
        = error_message_on @gamer, :terms_of_service

- content_for :page_javascript do
  :plain
    $(window).load(function() {
      $('form#new_gamer_session').submit(function(e){
        $(".formError").hide();
        var inputs, email, pass, values = {};
        var emailReg = /^([\w-\.+]+@([\w-]+\.)+[\w-]{2,4})?$/;
        inputs = $('form#new_gamer_session :input*');
        inputs.each(function() {
          if (this.type == 'checkbox' || this.type == 'radio') {
            values[this.name] = $(this).attr("checked");
          }
          else {
            values[this.name] = $(this).val();
          }
          email = values['gamer_session[email]'];
          pass = values['gamer_session[password]'];
          if ( email == '' ) {
            $(".login_error").html('Please enter your email address');
            $(".formError").show();
            e.preventDefault();
          }
          else if ( pass == '' ) {
            $(".login_error").html('Please enter your password');
            $(".formError").show();
            e.preventDefault();
          }
        });
      });
    });

