- @page_design = 'new'
#jqt
  #login.current
    .page
      .nav
        .nav_container.clearfix
          - timestamp = Time.zone.now
          - start_time = Time.zone.parse('2012-01-18 13:00')
          - end_time = Time.zone.parse('2012-01-19 01:00')
          - if start_time < timestamp && timestamp < end_time
            - link_to('https://www.google.com/landing/takeaction/sopa-pipa/', :class => "slideright", :title => "Stop SOPA.") do
              #stop_sopa.logo
          - else
            - link_to(games_root_path, :class => "slideright") do
              .logo
          .aside_login
            .login
              .form_fields
                - form_for([ :games, @gamer_session ], :url => games_login_path) do |f|
                  - if params[:data].present?
                    = hidden_field_tag :data, params[:data]
                  - if params[:path].present?
                    = hidden_field_tag :path, params[:path]
                  %ul.row.inputs
                    %ul.group.inputs
                      %li.field.sign_in
                        = t("text.shared.sign_in")
                      %li.field.email
                        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t("text.shared.email"), :required => ""
                      %li.field.password
                        %label{ :for => "password", :class => "hidden" }
                          Password
                        = f.password_field :password, :placeholder => t("text.shared.password"), :required => ""
                    %ul.group
                      %li.field.login_btn
                        = f.submit t("text.shared.login_verb"), :class => 'right button'
                  %ul.row
                    %li.field.forgot_pass
                      = link_to(t("text.games.forgot_pass"), new_games_password_reset_path)
                    %li.field.login_error
                      = error_message_on @gamer_session, :email, :prepend_text => "Email "
                      = error_message_on @gamer_session, :password, :prepend_text => "Password "

      .content.main_scene
        .content_box
          .main_scene_content
            .main_phone
            .sign_up_message
            .sign_up
              .sign_up_content.clearfix
                %h1
                  Sign Up
                .register_form
                  - form_for([ :games, @gamer ], :url => games_gamer_path ) do |f|
                    - if params[:data].present?
                      = hidden_field_tag :data, params[:data]
                    - if params[:src].present?
                      = hidden_field_tag :src, params[:src]
                    .field
                      = label_tag :birthdate
                      = select_date nil, { :order => [:month, :day, :year], :start_year => Time.now.year, :end_year => (Time.now.year - 100), :include_blank => false, :prompt => {:day => t("text.shared.day"), :month => t("text.shared.month"), :year => t("text.shared.year")} }
                    .field
                      = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t('text.shared.email')
                    .field
                      %label{ :for => "password", :class => "hidden" }
                        Password
                      = f.password_field :password, :placeholder => t('text.shared.password')
                    - if device_type.nil?
                      .row.platform
                        .field#platform_android
                          = label_tag :default_platform_android, t("text.shared.android")
                          = check_box_tag :default_platform_android, 'android'
                        .field#platform_ios
                          = label_tag :default_platform_ios, t("text.shared.ios")
                          = check_box_tag :default_platform_ios, 'ios'
                    .row
                      .field.field_tos
                        .field_checkbox
                          = f.check_box :terms_of_service
                        .field_tos_text
                          = f.label :terms_of_service, t("text.games.tos_acknowledge_html",
                            :terms_of_use => link_to(t("text.games.terms_of_use_href"), games_tos_path, :target => '_blank'),
                            :privacy_policy => link_to(t("text.games.privacy_policy_href"), games_privacy_path, :target => '_blank'))
                        = f.hidden_field :referrer, :value => params[:referrer]
                      .field.right
                        = f.submit 'Sign Up', :class => 'button'
                    .email_error
                      = error_message_on @gamer, :email
                      = error_message_on @gamer, :password
                      = error_message_on @gamer, :terms_of_service
                .register_progess
      .content.overview
        .content_box
          .devices
          .about
            .knows_apps
            .about_tapjoy
              = t("text.games.about_body")

      .content.sign_up_button
        %div= t("text.games.call_to_action_body")
      .content.b2b
        .content_box
          %a{ :href => "#{WEBSITE_URL}/site/advertisers"}
            .block
              .icon.advertisers
              %h1
                = t("text.games.advertisers_title")
              .block_text
                = t("text.games.advertisers_body")
          %a{ :href => "#{WEBSITE_URL}/site/app_developers"}
            .block
              .icon.developers
              %h1
                = t("text.games.developers_title")
              .block_text
                = t("text.games.developers_body")
      .content.footer
        .content_box
          %a{ :href => "#{WEBSITE_URL}/site/about_us" }
            = t("text.shared.about_link")
          |
          %a{ :href => games_privacy_path }
            = t("text.shared.privacy_policy")
          |
          %a{ :href =>  "http://blog.tapjoy.com" }
            = t("text.shared.blog")
        .content_box
          %br
          = t("text.shared.copyright", :year => Date.today.year)
        .content_box
          = render :partial => '/games/homepage/footer'

- content_for :page_javascript do
  :plain
