#jqt
  #login.current
    .page
      .nav
        .nav_container.clearfix
          %a{ :href => games_root_path, :class => "slideright" }
            .logo
          .aside_login
            .login
              .form_fields.clearfix
                - form_for([ :games, @gamer_session ]) do |f|
                  - if params[:data].present?
                    = hidden_field_tag :data, params[:data]
                  .field.sign_in
                    Sign In
                  .field
                    = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => "Email", :required => ""
                  .field
                    = f.password_field :password, :placeholder => "Password", :required => ""
                  .field.login_btn
                    = f.submit 'Login', :class => 'right button'
              .login_error
                = error_message_on @gamer_session, :email, :prepend_text => "Email "
                = error_message_on @gamer_session, :password, :prepend_text => "Password "
              .forgot_pass
                = link_to('Forgot password?', new_games_password_reset_path)

      .content.main_scene
        .content_box
          .main_phone
          .sign_up
            .sign_up_content
              .register_header
              .register_form
                .sign_up_icon
                - form_for([ :games, @gamer ], :url => games_gamer_path ) do |f|
                  .field
                    = label_tag :birthdate
                    = select_date nil, { :order => [:month, :day, :year], :start_year => Time.now.year, :end_year => (Time.now.year - 100), :include_blank => false, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'} }
                  .field
                    = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => "Email"
                  .field
                    = f.password_field :password, :placeholder => "Password"
                  .field.field_tos
                    = f.check_box :terms_of_service
                    = f.label :terms_of_service, "By checking this box I assert that I agree to the #{ link_to('terms of services', games_tos_path, :target => '_blank') } &amp; #{ link_to('privacy policy', games_privacy_path, :target => '_blank') }"
                  .field
                    = f.hidden_field :referrer, :value => params[:referrer]
                    = f.submit 'Sign Up', :class => 'button'
                  .email_error.center
                    = error_message_on @gamer, :email
                    = error_message_on @gamer, :password
                    = error_message_on @gamer, :terms_of_service
              .register_progess

- content_for :page_javascript do
  :plain
    $(window).load(function() {
      $('form#new_gamer_session').submit(function(e){
        $(".formError").hide();
        var inputs, email, pass, values = {};
        var emailReg = /^([\w-\.+]+@([\w-]+\.)+[\w-]{2,4})?$/;
        inputs = $('form#new_gamer_session :input*');
        inputs.each(function() {
          if (this.type == 'checkbox' || this.type == 'radio') {
            values[this.name] = $(this).attr("checked");
          }
          else {
            values[this.name] = $(this).val();
          }
          email = values['gamer_session[email]'];
          pass = values['gamer_session[password]'];
          if ( email == '' ) {
            $(".login_error").html('Please enter your email address');
            $(".formError").show();
            e.preventDefault();
          }
          else if ( pass == '' ) {
            $(".login_error").html('Please enter your password');
            $(".formError").show();
            e.preventDefault();
          }
        });
      });
    });

