- if error_message_on(@gamer_session, :password).present? || error_message_on(@gamer_session, :email).present?
  - @login_form_class_name = "show"
  - content_for :page_javascript do
    :plain
      $(".form-error").css({opacity: '1', visibility: 'visible !important'});


#login-form{ :class => @login_form_class_name }
  .bd.clearfix
    - form_for([ :games, @gamer_session ], :url => games_login_path) do |f|
      - if params[:data].present?
        = hidden_field_tag :data, params[:data]
      - if params[:path].present?
        = hidden_field_tag :path, params[:path]
      .title
        = t("text.games.log_in_tapjoy")
      .form-error
        &nbsp;
        = error_message_on @gamer_session, :email
        = error_message_on @gamer_session, :password
      .field.email
        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t("text.shared.email"), :required => ""
      .field.password
        %label{ :for => "password", :class => "hidden" }
          Password
        = f.password_field :password, :placeholder => t("text.shared.password"), :required => ""
      .field.clearfix
        .ui-joy-button.soft-grey-action.cancel-btn
          = t("text.shared.cancel")
        = f.submit t("text.shared.login_verb"), :class => "ui-joy-button ui-button-orange login-btn"
      .forgot-pass
        = link_to(t("text.games.forgot_pass"), new_games_password_reset_path)
  .container.mt20.center
    = render '/shared/truste'

#content
  #wrapper
    .wrapper
      #body-title
        %h4.museo.center
          = t('text.games.unlock_mobile_joy')
        %span.center.gill
          = t('text.games.about_body')
      #body.main
        #tickets.tickets
          %img{ :src => BLANK_IMAGE }
        #mobilejoy.mobile-joy
          %img{ :src => BLANK_IMAGE }
        #share.share
          %img{ :src => BLANK_IMAGE }
      #labels
        %span= t('text.games.earn_rewards')
        %span= t('text.games.find_new_apps')
        %span= t('text.games.join_the_community')
      .gradient-backdrop

#favorites
  .slide
    .title-text
      %h4.museo= t('text.games.unlock_mobile_joy')
    .mobilejoy
      %img{ :src => BLANK_IMAGE }
  .slide
    .title-text.mt20.mb10
      %h4.museo= t('text.games.earn_rewards')
    .earnrewards
      %img{ :src => BLANK_IMAGE }
    .description-text
      = t('text.games.earning_rewards')
  .slide
    .title-text.mt20.mb20
      %h4.museo= t('text.games.find_new_apps')
    .findapps
      %img{ :src => BLANK_IMAGE }
    .description-text.mt20
      = t('text.games.recommend_apps')
  .slide
    .title-text.mt20.mb10
      %h4.museo= t('text.games.join_the_community')
    .sharefriends
      %img{ :src => BLANK_IMAGE }
    .description-text
      = t('text.games.join_the_community_blurb')

#pagingContainer
  #paging

#getting-started
  .wrapper
    .content-box
      .left
        .container.mt15
          .left
            %span.text.started
              = t('text.games.start_discovering')
        .container
          .left
            %span.text.small
              = t('text.games.or_learn_more')
            %span#arrow.darrow.l10
              %img{ :src => BLANK_IMAGE }
      .left
        - link_to(new_games_gamer_path(:data => params[:data], :referrer => params[:referrer])) do
          %span{ :class => 'signup', :id => 'signup' }
            = t('text.shared.sign_up')

#benefits
  .wrapper
    .left.box
      .collect.center
        %img{ :src => BLANK_IMAGE }
      %h6.mt20
        = t('text.games.earn_rewards')
      %p
        = t('text.games.earning_rewards')
    .left.box
      .findapps.center
        %img{ :src => BLANK_IMAGE }
      %h6.mt20
        = t('text.games.find_new_apps')
      %p
        = t('text.games.recommend_apps')
    .left.box
      .sharefriends.center
        %img{ :src => BLANK_IMAGE }
      %h6.mt20
        = t('text.games.join_the_community')
      %p
        = t('text.games.join_the_community_blurb')

- content_for :page_head do
  %meta{ :name => 'description', :content => t('text.games.meta_description') }
  %meta{ :name => 'keywords', :content => t('text.games.meta_keywords')}

  - css_cache 'marketplace/theme/tjm/logged_out', true

- content_for :preload_images do
  :javascript

    load(function(){
      preload([
        '/images/marketplace/themes/tjm/logged_out/tickets.png',
        '/images/marketplace/themes/tjm/logged_out/mobile_joy_retina.png',
        '/images/marketplace/themes/tjm/logged_out/share_friends.png',
        '/images/marketplace/themes/tjm/logged_out/down_arrow.png',
        '/images/marketplace/themes/tjm/edge_shadow.png',
        '/images/marketplace/themes/tjm/logged_out/rewards.png',
        '/images/marketplace/themes/tjm/logged_out/apps.png',
        '/images/marketplace/themes/tjm/logged_out/shared.png',
        '/images/marketplace/themes/tjm/partners.png',
        '/images/marketplace/themes/tjm/logged_out/reward-tix.png',
        '/images/marketplace/themes/tjm/logged_out/apps-retina.png',
        '/images/marketplace/themes/tjm/logged_out/share-friends-retina.png'
      ]);
    });
