- @page_title = 'Partners'

%h1 Partners
- if permitted_to? :new, :dashboard_partners
  = link_to 'Create a New Partner Account', new_partner_path

  - agent = current_user.role_symbols.include?(:agency)
  .tjform
    = form_tag(partners_path, :method => :get) do
      = label_tag(:criterion, "Search by: ")
      - crit_opts = [['Name or Email Address','q']]
      - unless agent
        - crit_opts << ['Managed by', 'managed_by']
      - crit_opts << ['Country','country']
      = select_tag('criterion', options_for_select(crit_opts, params[:criterion] || 'q'))
      = text_field_tag(:q, params[:q], :size => '40')
      - unless agent
        = select_tag('managed_by', options_for_select(@account_managers, params[:managed_by]))
      = select_tag('country', options_for_select(list_of_countries, params[:country]), {:include_blank => true})
      = submit_tag('Search')

= render :partial => "shared/partner_table", :locals => { :partners => @partners }
= will_paginate(@partners)

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    table.tablesorter th.up_arrow {
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-image: url(/stylesheets/themes/blue/asc.gif);
      background-color: #8DBDD8;
    }
    .offer {
      display: inline-block;
      padding-right: 10px;
      padding-top: 5px;
    }
    .nowrap {
      white-space: nowrap;
    }
    .tjform input[type=submit] {
      margin: 0;
      float: none;
    }
    .act_as_button {
      font-size: 10px!important;
      padding:2px!important;
    }
    .agency {
      color: red;
    }
- content_for :page_javascript do
  :plain
    $(function($){
      $('#criterion').change(function() {
        $.each(['q','managed_by','country'], function() {
          elem = $('#' + this);
          if (elem) { elem.toggle($('#criterion').val() == this) };
        });
      });
      $('#criterion').trigger('change')

      $('td.account_manager select,td.sales_rep select').change(function(){
        var form = $(this).parent('form');
        var url = form.attr('action');
        var key = $(this).attr('name');
        var data = {};
        data[key] = [$(this).val()];
        form.siblings('img').show();
        $.ajax({
          data: data,
          error: function() {
            form.siblings('.message').show().text('fail!!!');
            form.siblings('img').hide();
          },
          success: function() {
            form.siblings('.message').show().text('success!');
            form.siblings('img').hide();
          },
          type: 'put',
          url: url
        });
      });

      $('#q').autocomplete({
        source: '#{search_partners_path}',
        delay: 250,
        minLength: 2,
        select: function(event, ui) {
          location.href = '#{partners_path}/' + ui.item.partner_id;
        },
      });
    });
