= render 'instructions_fb_visit'

- @load_facebook = true
- @load_facebook_sdk = true

- content_for :page_javascript do
  :plain
    $(function($){
      var ctURL = #{@click_tracking_urls.first.to_json.html_safe},
          ctURL2 = #{@click_tracking_urls.second.to_json.html_safe},
          src = '<iframe src="'+ ctURL +'" width="1" height="1" frameborder="0" style="display:none"></iframe>',
          src2 = '<iframe src="'+ ctURL2 +'" width="1" height="1" frameborder="0" style="display:none"></iframe>';
      if (ctURL) {
        $("body").append(src);
      }
      if (ctURL2) {
        $("body").append(src2);
      }
      window.cURL = #{@conversion_tracking_urls.first.to_json.html_safe};
      window.cURL2 = #{@conversion_tracking_urls.second.to_json.html_safe};
      window.rURL = #{@complete_instruction_url.to_json.html_safe};
      $('#click-action-2').click(function(){
        var src = '<iframe src="'+ window.cURL2 +'" width="1" height="1" frameborder="0" style="display:none"></iframe>';
        if (window.cURL2) {
          $("body").append(src);
        }
        setTimeout(function() {
          window.location = window.rURL;
        }, 250);
      });
      var fbOpts = $.parseJSON($("#fb-root").attr("data-fb-options"));
      fbOpts["subscribeEdgeCreate"] = true;
      if (fbOpts) {
        initiateFacebook(fbOpts);
      }
    });
