- @page_title = 'Premier Partners'

%h1 Premier Partners

%div= "Number of partners: #{@partners.length}"
%br

.right
  Managed by:
  - form_tag(tools_premier_partners_path, :method => :get, :class => 'tjform') do
    = select_tag('account_manager_id', options_for_select(@account_managers, params[:account_manager_id]))

- form_tag(tools_premier_partners_path, :method => :get, :class => 'tjform') do
  = label_tag(:q, "Name or Email Address:")
  = text_field_tag(:q, params[:q], :size => '30')
  = submit_tag('Search')

%table#partners.tablesorter
  %thead
    %tr
      %th Name
      %th Premier Discount
      %th Discount Expires On
      %th Discount Sources
  %tbody
    - @partners.each do |partner|
      %tr
        %td= permitted_to?(:index, :partners_offer_discounts) ? link_to(partner.name_or_contact_name, partner) : partner.name_or_contact_name
        %td
          .discount= partner.premier_discount
          .sources= "(#{link_to('view sources', partner_offer_discounts_path(partner)) })" if permitted_to? :index, :partners_offer_discounts
        %td= partner.discount_expires_on.to_s :pub_ampm_sec
        %td
          - partner.offer_discounts.select{ |discount| discount.active? }.each do |discount|
            %div
              = "#{discount.source}: #{discount.amount}% until #{discount.expires_on.to_s :pub_ampm_sec}"

- content_for :page_javascript do
  :plain
    $('#account_manager_id').change(function(){
      $(this).parent().submit();
    });

    $.tablesorter.addParser({
      id: "nested-float",
      is: function(s) {
        return false;
      },
      format: function(s) {
        return $(s).first().text();
      },
      type: "numeric"
    });

    $('#partners').tablesorter({
      widgets: ['zebra'],
      headers: {
        1: { sorter: 'nested-float' },
        3: { sorter: false }
      },
      sortList: [ [ 0, 0 ] ]
    });

- content_for :page_styles do
  :plain
    #partners .discount, #partners .sources {
      float: left;
    }
    #partners .discount {
      width: 20px;
    }
    .tjform input[type=submit] {
      margin: 0;
      float: none;
    }
