- @page_title = 'Tapjoy Premier'

%h1 Tapjoy Premier

.metadata
  Membership status: Premier
- unless @partner.exclusivity_level_type.nil?
  .metadata
    Expires On:
    = @partner.exclusivity_expires_on ? @partner.exclusivity_expires_on.to_s(:pub) : "N/A"

%h3 Renew:
- form_for @partner, :url => { :action => :update }, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %td{ :colspan => 2}
        = text_area_tag 'agreement', @agreement, :size => '80x15', :disabled => true, :class => 'hidden'
    %tr
      %td
        = link_to 'Terms and Conditions', 'javascript:showTerms();'
        Agreement
      %td
        = check_box_tag 'agree', 1, true
    %tr
      %th
        = f.label :exclusivity_level_type, 'Exclusivity Level'
      %td
        - levels = ExclusivityLevel::TYPES
        - unless @partner.exclusivity_level.nil?
          - levels.reject!{|t| t.constantize.new.months < @partner.exclusivity_level.months}
        - levels.map!{|t|[t.underscore.humanize.pluralize, t]}
        = f.select :exclusivity_level_type, options_for_select(levels)
        = error_message_on @partner, :exclusivity_level_type
    %tr
      %td{ :colspan => 2 }= f.submit 'Submit'

- content_for :page_javascript do
  :plain
    var showTerms = function() {
      $('#agreement').show();
    };
