- @page_title = 'Tapjoy Premier'

%h1 Tapjoy Premier

.metadata
  Current Exclusivity Level:
  = @partner.exclusivity_level_type || "None"
  
.metadata
  Exclusivity Expires On:
  = @partner.exclusivity_expires_on ? @partner.exclusivity_expires_on.to_s(:pub) : "N/A"

- form_for @partner, :url => { :action => :update }, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :exclusivity_level, 'Exclusivity Level'
      %td
        = f.select :exclusivity_level_type, ExclusivityLevel::TYPES
        = error_message_on @partner, :exclusivity_level_type
    %tr
      %td{ :colspan => 2 }= f.submit 'Submit'
