- @page_title = 'Tapjoy Premier'
%h1 Tapjoy Premier
- form_for @partner, :url => { :action => :update }, :html => { :class => 'tjform' } do |f|
  = text_area_tag 'agreement', @agreement, :size => '80x15', :disabled => true
  .agreement
    I Agree to the terms and conditions above.
    = check_box_tag 'agree', 1, true
  .agreement
    = f.submit 'Submit'
  %table{:width => '500px'}
    %tr
      %th= f.label :exclusivity_level, 'Exclusivity Level'
      %td{:colspan => 2}
        = f.select :exclusivity_level_type, options_for_select(ExclusivityLevel::TYPES.map{|t|[t.underscore.humanize.pluralize, t]}, ExclusivityLevel::TYPES.last)
        = error_message_on @partner, :exclusivity_level_type
    %tr
      %th Expires
      %td#expires{:colspan => 2}
        = (Date.today+9.months).to_s(:pub)
    %tr
      %th Discount
      %td{:colspan => 2}
        Level
        %span#discount_level

- content_for :page_javascript do
  :plain
    $(function(){
      var onSelectChange = function(){
        var level = $('select#partner_exclusivity_level_type').val(), discount = '', date = '';
        if (level == '#{ExclusivityLevel::TYPES[0]}') {
          discount = 1;
          date = '#{(Date.today+ExclusivityLevel::TYPES[0].constantize.new.months.months).to_s(:pub)}';
        } else if (level == '#{ExclusivityLevel::TYPES[1]}') {
          discount = 2;
          date = '#{(Date.today+ExclusivityLevel::TYPES[1].constantize.new.months.months).to_s(:pub)}';
        } else if (level == '#{ExclusivityLevel::TYPES[2]}') {
          discount = 3;
          date = '#{(Date.today+ExclusivityLevel::TYPES[2].constantize.new.months.months).to_s(:pub)}';
        }
        $('span#discount_level').text(discount);
        $('td#expires').text(date);
      };
      $('select#partner_exclusivity_level_type').change(onSelectChange);
      onSelectChange();
    });
