- @page_title = 'Brand Offers'

%h2 Associate Brands with Offers

= link_to('Manage Brands', tools_brands_path)

.tjform
  = label_tag 'brand_box', 'Brand Name:'
  = text_field_tag 'brand_box', '', :size => '40'
#selected-brand.tjform.hidden
  %table
    %tbody
      %tr
        %th
          Selected Brand
        %td
          #brand None
      %tr
        %th
          Add Offer
        %td
          = text_field_tag 'search_box', '', :size => '40'
      %tr
        %th
          Associated Offers
        %td
          =select_tag(:offers, [],  :multiple => true, :style => 'width: 200px')

- form_tag create_brand_tools_brand_offers_path, :method => :post, :class => 'create_brand' do
  %input#brand_name{ :type => 'hidden', :value => ''}
- content_for :page_javascript do
  :plain
      $('#search_box').autocomplete({ source: function(request,response){
          var url = '#{search_offers_path}';
          var offers = $('#offers').val() || [];
          if(offers.length > 0){
            url += '?term='+request.term+'&selected_offers[]=' + offers.join('&selected_offers[]=');
          }
          $.ajax({
            url: url,
            dataType: "json",
            type: 'GET',
            data: {},
            success: function(data) {
              response(data);
            }
          });
        }, delay: 150, minLength: 2, select: function(event, ui) {
          var offer = ui.item;
          var data = $('.create_brand').serialize()+"&brand="+$('#brand').attr('value')+"&offer="+offer.id;
          $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '#{add_offer_tools_brand_offers_path}',
            data: data,
            success: function(data) {
              $('#offers').append(
                "<option selected value='"+offer.id+"'>"+offer.label+"</option>");
              $('input#search_box').val('');
               $('#offers').trigger("liszt:updated");
            }
          });
          return false;

        }
    });
    $('#brand_box').autocomplete({ source: '#{search_brands_path}', delay: 250, minLength: 1, select: function(event, ui) {
        if(ui.item.id == '0') {
          $('input#brand_name').val($('input#brand_box').val().replace(/^Add:/,''));
          $('input#brand_box').val($('input#brand_box').val().replace(/^Add:/,''));
          $('.create_brand').submit();
          return false;
        } else {
          $('#brand').text(ui.item.name);
          $('#brand').attr('value', ui.item.id);
          $('#selected-brand').show();
          var data = $('.create_brand').serialize()+'&id='+$('#brand').attr('value');
          $.ajax({
              dataType: 'json',
              type: 'POST',
              url: '#{offers_tools_brand_offers_path}',
              data: data,
              success: function(data) {
                var str = ""
                $('select#offers').empty();
                for(i = 0; i < data.length; i++) {
                  str += "<option selected value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $('#offers').html(str);
                $('select#offers').chosen();
                $('#offers').trigger('liszt:updated');
              }
            });
        }
      }});
    $('.create_brand').submit(function(){
        var form = $(this);
        var url = form.attr('action');
        var data = $(this).serialize()+"&name="+$('input#brand_name').val();
        $.ajax({
          dataType: 'json',
          type: 'POST',
          url: url,
          data: data,
          success: function(data){
           $('#brand').text(data.brand.name);
           $('#brand').attr('value',data.brand.id);
           $('#selected-brand').show();
           $('select#offers').empty();
           $('select#offers').chosen();
           $('select#offers').trigger('liszt:updated');
          }
        });
        return false;
      });
    $('#offers').change(function(){
        var removedItem = $('#offers option').not(':selected');
        var data = $('.create_brand').serialize()+"&brand="+$('#brand').attr('value')+"&offer="+removedItem.val();
        $.ajax({
          dataType: 'json',
          type: 'POST',
          url: '#{remove_offer_tools_brand_offers_path}',
          data: data,
          success: function(data) {
            $('#offers option[value='+removedItem.val()+']').remove();
             $('#offers').trigger("liszt:updated");
          }
        });
        return false;
    });
