%h1 User management
= render :partial => 'search'
%h3= @user.email
= link_to 'Activities Log', activities_path(:object_id => @user.id)
%table.tablesorter
  %tbody
    %tr
      %th Email
      %td= @user.email
    %tr
      %th{:class => @username_class} Username
      %td{:class => @username_class}= @user.username
    %tr
      %th Created
      %td= @user.created_at.to_s(:db)
    %tr
      %th Last login
      %td= @user.last_login_at? ? @user.last_login_at.to_s(:db) : 'never'
    %tr
      %th Current partner
      %td= link_to(@partner_name, @user.current_partner)
    %tr
      %th All partners
      %td
        %ul
          - @user.partners.sort_by{|partner|partner.name||''}.each do |partner|
            %li= link_to(partner.name||'(no name)', partner)

.half
  %h4 Add new role:
  %table.tablesorter
    %thead
      %tr
        %th.action &nbsp;
        %th Type
    %tbody
      - @new_assignments.sort_by{|ra| ra.user_role.name}.each do |assignment|
        - options = {}
        - button_label = 'add'
        - classes = 'text'
        - if assignment.user_role.name == 'admin'
          - options[:disabled] = 'disabled'
          - classes += ' disabled'
        %tr
          %td
            - if assignment.user_role.name == 'admin'
              &nbsp;
            - else
              = button_to 'add', tools_users_role_assignments_path(:user_id => @user.id, :user_role_id => assignment.user_role.id), options
          %td{:class => classes}= assignment.user_role.name
.half
  %h4 Remove current roles:
  %table.tablesorter
    %thead
      %tr
        %th.action &nbsp;
        %th Type
    %tbody
      - @current_assignments.each do |assignment|
        - options = { :method => 'delete', :confirm => 'Are you sure?' }
        - button_label = 'remove'
        - classes = 'text'
        - if assignment.user_role.name == 'admin'
          - options[:disabled] = 'disabled'
          - button_label = 'disabled'
          - classes += ' disabled'
        %tr
          %td
            - if assignment.user_role.name == 'admin'
              &nbsp;
            - else
              = button_to button_label, tools_users_role_assignment_path(assignment.id), options
          %td{:class => classes}
            = assignment.user_role.name
            - if assignment.user_role.name == 'admin'
              (not modifiable)
.clear

- content_for :page_styles do
  :plain
    th.action {
      width: 100px;
    }
    td.text {
      font-size: 16px;
    }
    .error {
      color: red !important;
    }
    .disabled {
      color: #aaa !important;
    }
    .half {
      float: left;
      width: 400px;
      padding-right: 15px;
    }
