- @page_title = "Contact us"
- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('contact')
- if @error_msg
  #error
    %span
      <b>Error!</b>
      = @error_msg
- elsif @success
  #flash_notice
    %span
      <b>Thanks!</b> Someone from our team will be in touch shortly
#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/contact_tapjoy.png"}/
    %img#map{:src => "/images/map.jpg"}/
    #contact_info
      .info_box
        %h2
          Mailing Address
        %p
          111 Sutter St<br />13th Floor<br />San Francisco, CA 94104
      .info_box
        %h2
          Call/Fax Us
        %p
          Telephone: 415 766 6900<br />Fax: 415 296 9007
      .info_box
        %h2
          Email Us
        %p
          = mail_to('info@tapjoy.com')
          %br
          = mail_to('mobilehelp@tapjoy.com')
    %h2
      Support / Info Form
      - form_for('info', :url => {:action => 'contact'}, :html => {:id => 'contact_form'}) do |f|
        %div
          = f.label :name, 'Your name'
          = f.text_field :name, :value => params[:info] && params[:info][:name]
          = f.label :email, 'Your email address'
          = f.text_field :email, :value => params[:info] && params[:info][:email]
          = f.label :reason, 'Reason for inquiry'
          = f.select :reason, options_for_select(['Comment', 'Complaint'], params[:info] && params[:info][:reason]), :include_blank => 'Select one'
        #details
          = f.label :details
          = f.text_area :details, :rows => 5, :value => params[:info] && params[:info][:details]
        = submit_tag('', :id => 'send_it')
.clear
