- @page_title = 'Add Employee'

%h1= "Add Employee"

- form_for(@employee, nil, :html => { :class => 'tjform', :multipart => true }) do |f|
  = f.error_messages 
  .field
    = f.label(:email)
    = f.text_field(:email)
  .field
    = f.label(:first_name)
    = f.text_field(:first_name)
  .field
    = f.label(:middle_name)
    = f.text_field(:middle_name)
  .field
    = f.label(:last_name)
    = f.text_field(:last_name)
  .field
    = f.label(:title)
    = f.text_field(:title)
  .field
    = f.label(:department)
    = f.text_field(:department)
  .field
    = f.label(:comments)
    = f.text_area(:comments)
  .field
    = f.label(:uploaded_photo)
    = f.file_field(:uploaded_photo)
  = submit_tag "Create"

- content_for :page_styles do
  :plain

    label {
      vertical-align: top;
      font-weight: bold;
      text-align: right;
      display: inline-block;
      width: 200px;
      margin-left: -200px;
    }

    textarea {
      width: 500px;
      height: 75px;
    }

    input[type=submit] {
      float: right;
    }

    .field {
      margin-bottom: 5px;
      margin-left: 200px;
    }

    .disabled_partner_names {
      width: 400px;
      margin-left: 20px;
    }