%ul
  - cached_app_list.each do |cached_app|
    %li.offer_item.clearfix
      .offer_image
        .offer_image_loader_wrapper
          %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => cached_app.icon_url }
      .offer_text
        .offer_title.title
          = cached_app.name
        .offer_info
          .offer_meta.clearfix
            .offer_category
              = cached_app.primary_category.try(:titleize)
            .offer_rating_wrapper
              .offer_rating.hide{ :rating => cached_app.user_rating }
          .offer_description
            = truncate cached_app.description, :length => 300
          .offer_button.more_games
            %a{:href => cached_app.url }
              .button.grey
                - if cached_app.price == 0
                  %span.amount.free
                    Free!
                - else
                  %span.amount
                    = number_to_currency(cached_app.price / 100.0)
                %span.get_it
                  Get it!
