#jqt
  #recommended.current
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
        .right
          = link_to 'My Account', "#my_account", :class => "flip"  
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            .slide_nav
              .slider.slider_right.right
                %span.title.small
                  More Games
              .slider_btn.left
                .slider.slider_active.slider_left
                  %span.title
                    My Apps
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
          .content.message
            %ul
              - @editors_picks.each do |pick|
                %li.offer_item.clearfix
                  .offer_image
                    = image_tag pick.offer.get_icon_url, :size => '57x57'
                  .offer_text
                    .offer_title.title
                      = pick.offer.name
                    .offer_info
                      - if %w(App ActionOffer).include?(pick.offer.item_type)
                        .offer_meta
                          %span.offer_category
                            = pick.offer.item.categories.first.to_s.titleize
                          %span.offer_rating
                            = pick.offer.item.user_rating
                        .offer_description
                          = pick.description
                        .offer_button
                          %a{:href => pick.offer.url }
                            .button.grey
                              %span.amount
                                = number_to_currency(pick.offer.price/100)
                              %span.offer_url
                                = link_to 'Get it!', pick.offer.url


  #my_account.tan
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            .slide_nav.left
              .left
                .slide_arrow_wrapper.left_arrow
                  .slide_arrow
              .slider.slider_active.slider_left.left
                .title
                  = link_to 'Back', "#", :class => "back" 
          .content.hide 


#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image

- content_for :page_javascript do
  - if Rails.env.production?
    :plain
      $(window).load(function() {
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
  - else
    :plain
      $(window).load(function() {
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });