#jqt
  #top.current
    .top_nav_bar.toolbar
      .nav_content
        .right
          = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
        .right
          = link_to 'My Account', "#my_account", :class => "flip"  
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
          .content
            %ul
              - @external_publishers.each do |external_publisher|
                %li.offer_item.clearfix
                  .offer_image
                    = image_tag(external_publisher.get_icon_url(:source => :cloudfront))
                  .offer_text
                    .offer_title.title
                      = external_publisher.app_name
                    .offer_info
                      - external_publisher.currencies.each_with_index do |currency, i|
                        - link_to("#", :id => currency[:id], :class => "get_offerwall_jsonp", :jsonp_url => external_publisher.get_offerwall_url(@device, currency), :currency => currency[:name], :app_name => external_publisher.app_name) do
                          .offer_button
                            .button.blue 
                              %span.amount
                                Earn
                                = currency[:name]     

  #my_account.tan
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
            .slide_nav.left
              .left
                .slide_arrow_wrapper.left_arrow
                  .slide_arrow
              .slider.slider_active.slider_left.left
                .title
                  = link_to 'Back', "#", :class => "back" 
          .content
            = link_to "Logout", games_logout_path


#loader.dialog_wrapper.hide
  .dialog
    .dialog_title
      Loading
    .dialog_image

- content_for :page_javascript do
  - if Rails.env.production?
    :plain
      $(window).load(function() {
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
      });
  - else
    :plain
      $(window).load(function() {
        var jQT = new $.jQTouch({
          slideSelector: '#jqt .slide_nav',
        });
        var linked_games = TJG.utils.getParam("no_games");
        if (linked_games.indexOf("true") != -1) {
          $("#register_device").fadeIn(350); 
        }          
      });