.write_review.clearfix
  - form_for([:games, @gamer_review]) do |f|
    = f.hidden_field :app_id, :value => params[:app_id]
    = f.hidden_field :author_type, :value => 'Gamer'
    = f.hidden_field :author_id, :value => current_gamer.id
    .offer_image
      = image_tag(current_gamer.get_avatar_url)
    .offer_text.clearfix
      .app_meta.clearfix
        .app_rating_wrapper
          .gamer_rating{ :rating => @gamer_review.user_rating }
          = f.hidden_field :user_rating, :value => @gamer_review.user_rating
        .comment_label= 'Comment'
      .gamer_review
        = f.text_area :text, :rows => 10
        = error_message_on @gamer_review, :text
      .review_submit
        - if @gamer_review.new_record?
          = f.submit t('text.shared.submit_review')
        - else
          = f.submit t('text.shared.update_review')

- content_for :page_javascript do
  :plain
    $(function($) {
      TJG.ui.loadActiveGamerRating();
    });
