%h1 Tapjoy Privacy Policy
%p
  We at Tapjoy, Inc. ("Tapjoy," "we," "us," "our") know that our users ("you," "your") care about how your personal information is used and shared, and we take your privacy seriously. Please read the following Tapjoy Privacy Policy (the "Privacy Policy"). By visiting or using the
  = link_to "www.tapjoy.com", "#{WEBSITE_URL}/"
  website or application, and any other linked pages, features, content, or any other services we offer from time to time by in connection therewith (collectively, "Tapjoy"), you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways. This Privacy Policy only applies to products and services related to Tapjoy; other products and services provided by Tapjoy may be governed by separate privacy policies.
%p
  Tapjoy, Inc. has been awarded TRUSTe's Privacy Seal signifying that this privacy policy and practices have been reviewed by TRUSTe for compliance with
  = link_to "TRUSTe's program requirements", "http://www.truste.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html"
  including transparency, accountability and choice regarding the collection and use of your personal information. TRUSTe's mission, as an independent third party, is to accelerate online trust among consumers and organizations globally through its leading privacy trustmark and innovative trust solutions. If you have questions or complaints regarding our privacy policy or practices, please contact us at
  = succeed "." do
    = mail_to("privacy@tapjoy.com")
  If you are not satisfied with our response you can contact
  = succeed "." do
    = link_to "TRUSTe here", "http://watchdog.truste.com/pvr.php?page=complaint"
  The TRUSTe program covers data collected at
  = link_to "www.tapjoy.com", "#{WEBSITE_URL}/"
  through a website or mobile device.

%h2 I. What Does This Privacy Policy Cover?
%p
  This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you are accessing or using Tapjoy. This policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage. Tapjoy does not knowingly collect or solicit Personal Information from anyone under the age of 13 or knowingly allow such persons to register. If you are under 13, please do not attempt to register for Tapjoy or send any information about yourself to us, including your name, address, telephone number, or email address. No one under age 13 may provide any Personal Information to Tapjoy or through Tapjoy. In the event that we learn that we have collected Personal Information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at
  = succeed "." do
    = mail_to("privacy@tapjoy.com")

%h2 II. What Information Does Tapjoy Collect?
%p
  We gather various types of Personal Information from our users, as explained more fully below. We may use this Personal Information to personalize and improve the Tapjoy experience, to allow our users to set up a user account and profile, to contact users, to fulfill your requests for certain products and services, to analyze how users utilize Tapjoy, and as otherwise set forth in this Privacy Policy. We may share certain types of Personal Information with third parties (as set forth in this Section and in Section III below). We collect the following types of information:
%h3 A. Personal Information You Provide to Us
%p
  During the registration process, we will ask your permission to install a temporary provisioning profile on your mobile device. We will use this provisioning profile only to obtain your device type and ID ("Device ID"). Tapjoy uses this information with other information you willingly provide to us to provide you with certain features, such as tracking virtual currency, organizing Tapjoy-related applications, and providing you with additional application recommendations. Tapjoy may also receive from and provide such information to our partners to fulfill your requests for certain products and services, for instance, to game publishers as necessary for tracking and crediting your virtual currency to a game. TAPJOY WILL NOT USE YOUR DEVICE ID WITHOUT YOUR CONSENT OR FOR ANY OTHER REASON THAN AS SET FORTH ABOVE, AND WILL NEVER SHARE YOUR DEVICE ID WITH ANY THIRD PARTIES OTHER THAN AS INDICATED.
%p
  We do not ask you for, access or track any location based information from your mobile device at any time while downloading or using our mobile application(s) or our services.
%p
  We receive and store any information you knowingly provide to us. For example, during the registration process, we collect Personal Information such as your user name, email address, gender, and age. We may collect other Personal Information you provide us through your use of Tapjoy, for example, if you respond to a survey or otherwise interact with Tapjoy. You can choose not to provide us with certain information, but then you may not be able to take advantage of many of our special features.
%p
  %span{ :style => 'text-decoration: underline; display: block;' }
    Information Collected From Publishers and Advertisers
  When you register for a Publisher or Advertiser account we will collect your email address. We also provide you with the option of providing us with additional information such as name and address as well as financial information such as Tax ID and credit card information. If you choose to provide us with sensitive information (such as a credit card number) we encrypt the transmission of that information using secure socket layer technology (SSL), and utilize a credit card processing company to process your payment information.
%p
  We also provide you with the option of adding users to your Publisher or Advertiser account. When you do so we will collect the email address of the individual you wish to add. We will then send that individual a one-time email informing them they have been added. If you have been added to an account and wish to no longer have your email address used you may contact us at
  = succeed "." do
    = mail_to("privacy@tapjoy.com")
%p
  If you choose to use our referral service to invite a friend to Tapjoy, we will ask you for your friend’s email address.  We will automatically send your friend a one-time email inviting him or her to visit Tapjoy.  We store this information for the sole purpose of sending this one-time email and tracking the success of our referral program.

%h3 Information Collected Automatically:
%ul
  %li Whenever you interact with Tapjoy, we automatically receive and record information on our server logs, including your IP address, "cookie" information, and certain actions you've taken. Some of this automatically collected information may or may not be Personal Information, depending on whether it is personally identifiable in nature or not.
  %li "Cookies" are identifiers we transfer to your computer through your browser that allow us to recognize your browser and tell us how and when pages in our site are visited and by how many people. You may be able to change the preferences on your browser to prevent or limit your computer's acceptance of cookies, but this may prevent you from taking advantage of some features. Our advertising partners may also transmit cookies to your computer, when you click on ads that appear on our site. This Privacy Policy does not cover the use of cookies by any advertisers.
  %li We employ and/or our third party advertising partner employs a software technology called clear gifs (a.k.a. Web Beacons/Web Bugs), that help us better manage content on our site by informing us what content is effective.  Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web users.  In contrast to cookies, which are stored on a user’s computer hard drive, clear gifs are embedded invisibly on web pages and are about the size of the period at the end of this sentence. We tie the information gathered by clear gifs to your Personal Information.

%h3 C. E-mail and Other Communications:
%p
  We may receive a confirmation when you open an email from us. This confirmation helps us make emails more interesting and improve our service. If you do not want to receive email from us, please indicate your preference by following the "Unsubscribe" link on the bottom of any email from us.

%h2 III. Will Tapjoy Share Any of the Information It Receives?
%p
  We neither rent nor sell your Personal Information to anyone. We share your Personal Information (in personally identifiable form) with third parties only as described below.
%h3 A. Agents:
%p
  You understand that we cannot control what other users do with any content (including without limitation images, ratings, captions, and comments) you voluntarily disclose for such users to view on Tapjoy ("User Submissions"). We cannot control if other users you have allowed access to your User Submissions make such User Submissions publicly available and to be collected and used by others, or to be redistributed through the internet and other media channels. To request removal of your Personal Information from our open forums, please contact us by way of the contact channels listed below. In some cases, we may not be able to remove your Personal Information, in which case, we will let you know if we are unable to do so and why.
%p
  We employ other companies and people to perform tasks on our behalf such as email service providers, payment processors and hosting agents and need to share your information with them to provide products or services to you. Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.
%h3 C. Business Transfers:
%p
  We may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that is transferred. Also, if we (or substantially all of our assets) are acquired, or if we go out of business or enter bankruptcy, Personal Information would be one of the assets transferred to or acquired by a third party.
%h3 D. Protection of Tapjoy and Others:
%p
  We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Tapjoy, our employees, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
%h3 E. With Your Consent
%p
  Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.
%h3 F.  Facebook Connect
%p
  Tapjoy may allow users to access Facebook Connect to interact with friends. If available, by proceeding, you are allowing Tapjoy to access your information and you are agreeing to the Facebook Terms of Use. Conversely, if you are not currently registered with Tapjoy and you click on "Sign in Using Facebook", you will first be asked to enter your Facebook credentials and then be given the option to register and join Tapjoy. Once you register on Tapjoy and Connect with Facebook, you will be able to automatically post recent activity back to Facebook (i.e., Facebook WALL). You have the option to disable Facebook Connect at any time by logging into "My Profile" and clicking on "My Facebook Profile". Further, you can edit privacy settings for the reviews that appear on Facebook or disconnect this service by visiting the Facebook Application Settings page.
%h2 IV. Is Personal Information About me Secure?
%p
  Your account is protected by a password for your privacy and security. You need to prevent unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer and browser by signing off after you have finished accessing your account.
%p
  We endeavor to protect the privacy of your account and other Personal Information we hold in our records, but we cannot guarantee complete security. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information at any time. Tapjoy may contain links to other sites. We are not responsible for the privacy policies and/or practices on other sites. When following a link to another site you should read that site's privacy policy.

%h2 V. What Personal Information Can I Access?
%p
  Through your account settings, you may access and, in some cases, change or delete the following information you've provided to us:
%ul
  %li Username and password
  %li Email Address
  %li User profile information
%p
  The information you can view and update through your account may change as Tapjoy changes. If you have any questions about viewing or updating information we have on file about you, please contact us at
  = succeed "." do
    = mail_to("privacy@tapjoy.com")
%h2 VI. What Choices Do I Have?
%ul
  %li
    You can always opt not to disclose information to us, but keep in mind some information may be needed to take advantage of some of our special features.
  %li
    You may be able to add or update certain information as explained in Section V above. When you update information, however, we may maintain a copy of the unrevised information in our records.
  %li
    You may request deletion of your account by sending an e-mail to
    = succeed "." do
      = mail_to("privacy@tapjoy.com")
    Please note that some information may remain in our private records after deletion of your account. We may use any aggregated data derived from or incorporating your personal information after you delete your account, but not in a manner that would identify you personally.
  %li
    You may request deletion of your certain of your Personal Information by sending an e-mail to
    = succeed "," do
      = mail_to("privacy@tapjoy.com")
    We will respond to your request within 30 business days. Please note that we may retain your UDID in our records to indicate that you requested that we delete your information and so that we do not send you advertisements or other products to you in the future.
  %li
    If you do not wish to receive communications from us, contact us at privacy@tapjoy.com or follow the unsubscribe instructions contained within the communications you receive from us. Please note that if you do not want to receive legal notices from us, such as this Privacy Policy, those legal notices will still govern your use of Tapjoy, and you are responsible for reviewing such legal notices for changes.
%h2 VI. Changes to this Privacy Policy
%p
  We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes in the way we use Personal Information, we will post the changes to Tapjoy website and/or send you an email prior to the change becoming effective.
%h2 VII. Questions or concerns
%p
  If you have any questions or concerns regarding our privacy policies, please send us a message to
  = succeed "," do
    = mail_to("privacy@tapjoy.com")
  mail us at Tapjoy, Inc., 111 Sutter Street, 13th Floor, San Francisco, CA 94104, Attn: Privacy, or call us at 415-766-6905. We will make every effort to resolve your concerns.
%h2 IX. Opt-out
%p
  To opt your mobile device out of Tapjoy services, please submit your device id below.
%p
  %i iOS Devices:
  Connect your device to iTunes and click on the Serial Number to reveal your device id. (Identifier - UDID)
%p
  %i Android Devices:
  From your device, go to Settings -> About Phone -> Status. Your device id will be listed either as IMEI or MEID depending on your carrier.
- form_tag '/opt_outs' do
  %label{:for => "udid"} Device ID:
  %input{:name => "udid", :size => "60", :type => "text"}/
  %input{:type => "submit", :value => "Submit"}/
#effective
  %span{ :style => 'display: block;' }
    Effective Date: August 1, 2011
  %span{ :style => 'display: block;' }
    Last Updated: February 8, 2012

