- @page_title = 'Edit Offer'

= render :partial => 'dashboard/offers/offer_title', :locals => {:offer => @offer, :use_main => true}

= render('dashboard/apps/offers_shared/descriptions')

%p.description
  Enter your bid per
  = @offer.rewarded? ? 'rewarded' : 'non-rewarded'
  = @offer.featured? ? 'featured' : ''
  install below. The minimum bid is
  = "#{number_to_currency(@offer.min_bid / 100.0)}."

  Higher bids will result in more installs.
- if @offer.rewarded?
  %p.description
    Please note, due to our scale, we can deliver hundreds of conversions in a short period of time. Tapjoy recommends a budget of $500 - $1,000 per day to prevent your campaign from going over budget.

= render('dashboard/apps/offers_shared/scheduling') if @offer.tapjoy_enabled?
= render('dashboard/apps/offers_shared/associated_offers')
= render('dashboard/apps/offers_shared/form')
