#main
  - if @offer.rewarded? && @currency.conversion_rate > 0
    %h1
      Earn
      %span.amount= @currency.get_visual_reward_amount(@offer, params[:display_multiplier])
      #{@currency.name}!
  %p.offertext
    - if @offer.item_type == 'App'
      = @offer.rewarded? ? "Just download and run" : "Try out"
  - link_to(get_click_url(@offer), :class => 'image-link') do
    %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => @offer.get_icon_url(:source => :cloudfront, :size => '256'), :class => 'icon', :id => 'icon' }
    .offername
      #{@offer.truncated_name}
  .clear
  = link_to('Skip', 'dismiss', :class => 'skip')
  = link_to("#{@offer.item_type == 'App' ? 'Download' : 'Earn now'}", get_click_url(@offer), :class => 'download')
  .showOffers
    = link_to(@currency.hide_rewarded_app_installs? ? '' : 'Show more apps', 'showOffers')
  .adsby
    Ads by
    %img{ :src => "#{CLOUDFRONT_URL}/images/tapjoylogo-small.png", :alt => "Tapjoy"}

- content_for :page_javascript do
  :plain
    document.ontouchmove = function(e){ e.preventDefault(); }
    window.onload = init;
    window.onorientationchange = init;

    function init() {
      icon = document.getElementById('icon');
      main = document.getElementById('main');

      if (icon.getAttribute('s') && icon.src != icon.getAttribute('s')) {
        icon.src = icon.getAttribute('s');
      }

      if(#{params[:height].present?}) {
        clientHeight = #{params[:height]};
      } else {
        clientHeight = document.documentElement.clientHeight;
      }

      document.body.setAttribute('style', 'height: ' + (clientHeight  - 30) + 'px;');

      if (clientHeight < 480) {
        icon.setAttribute('style', 'width: 96px; height: 96px;');
        main.setAttribute('style', 'height: 294px; margin-top: -147px; top: 50%');
      } else if (clientHeight > 800) {
        icon.setAttribute('style', 'width: 512px; height: 512px;');
        main.setAttribute('style', 'height: 710px; margin-top: -355px; top: 50%');
      } else {
        icon.setAttribute('style', 'width: 256px; height: 256px;');
        main.setAttribute('style', 'height: 454px; margin-top: -227px; top: 50%');
      }
    }

- content_for :page_styles do
  :plain

    h1 {
      color: #004E09;
      font-size: 22px;
      margin: 8px 0;
    }

    p {
      margin: 4px 0;
    }

    body {
      margin: 0;
      height: #{params[:height]}px;
    }

    #main {
      font-size: 20px;
      text-align: center;
      position: relative;
      margin: 8px;
    }

    .amount {
      color: #008810;
    }

    .offertext {
      color: #004E09;
    }

    .image-link {
      text-decoration: none;
      display: inline-block;
    }

    .offername {
      font-weight: bold;
      color: #008810;
      margin-bottom: 16px;
      margin-top: 4px;
    }

    img.icon {
      border: 1px solid #aaa;
      display: block;
      margin: 0 auto;
      padding: 3px;
      width: 96px;
      height: 96px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      background-image: url('/images/spinner.gif');
      background-repeat: no-repeat;
      background-position: center;
    }

    .skip,
    .download {
      border: 1px solid #aaa;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      text-decoration: none;
    }

    .skip {
      padding: 5px;
      margin-right: 20px;
      color: #555;
      background-color: #ccc;
    }

    .download {
      background: url("/images/arrow-right.png") no-repeat scroll 98% 50% #eee;
      color: #004E09;
      display; block;
      padding: 5px 50px 5px 40px;
      font-weight: bold;
    }

    .showOffers {
      position: absolute;
      bottom: 5px;
      left: 5px;
      font-size: 12px;
      text-decoration: none;
    }

    .adsby {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 12px;
    }

    .adsby img {
      vertical-align: bottom;
    }
