- options = {:delimiter => format == :csv ? '' : ','}
- amount = number_to_currency(payout.amount / 100.0, options)

- if format == :csv
  = "#{payout.created_at.to_date.to_s(:db)},#{amount},#{payout.payment_method_string},#{payout.status_string}"
- else
  %tr.statement
    %th= payout.created_at.to_date.to_s(:db)
    %td.currency= amount
    %td= payout.payment_method_string
    %td= payout.status_string
