- options = {:delimiter => format == :csv ? '' : ','}
- payouts = number_to_currency(statement.payouts / 100.0, options)
- orders = number_to_currency(statement.orders / 100.0, options)
- month_with_year = Date::MONTHNAMES[statement.month.to_i] + " " + statement.year.to_s

- if format == :csv
  = "#{month_with_year},#{orders},#{payouts}"
- else
  %tr.statement{:onclick => "showDetails('#{statement.to_date}', this)"}
    %th= month_with_year
    %td.currency= orders
    %td.currency= payouts
