- @page_title = 'Billing'

.box-full
  .right= link_to 'Add funds', add_funds_billing_path
  %h2 Billing Summary
  .clear
  .box-summary.first
    Current Balance
    #help_current_balance.help ?
    .money= number_to_currency(@current_balance/100.0)
  .box-summary
    Pending Earnings
    #help_pending_earnings.help ?
    .money= number_to_currency(@pending_earnings/100.0)
  .box-summary
    Last Order
    #help_last_order.help ?
    .money= number_to_currency(@last_payment/100.0)
  .box-summary.last
    Last Payout
    #help_last_payout.help ?
    .money= number_to_currency(@last_payout/100.0)
  .clear
  %hr/

.box-full
  - unless @statements.blank?
    #billing-summary
      %table
        %thead
          %tr
            %th &nbsp;
            %th Orders
            %th Payouts
            %th Transfers
        %tbody
          = render :partial => 'statement', :collection => @statements, :locals => {:format => :table}
    #details
      #details_explanation.details
        Click one of the months on the left to see more details
      = render :partial => 'statement_details', :collection => @statements, :as => :statement
  - else
    .none No statements available

#buttons
  = button_to 'Export Monthly Statments', {:method => 'GET', :action => 'export_statements' }
  = button_to 'Export Payments Statements', {:method => 'GET', :action => 'export_orders' }
  = button_to 'Export Payouts Statements', {:method => 'GET', :action => 'export_payouts' }

.hidden
  #help_current_balance_content{:name => 'Current Balance'}
    Current balance is the amount of advertising budget available to you.
  #help_pending_earnings_content{:name => 'Pending Earnings'}
    Pending earnings is the amount you have earned as a publisher.
  #help_last_order_content{:name => 'Last Order'}
    Last order is the last advertising order you have placed.
  #help_last_payout_content{:name => 'Last Payout'}
    Last payout is the last payout you have received.

- content_for :page_javascript do
  :plain
    $(function($){
      $('tr.month-row').click(function() {
        var date = $(this).attr('id');
        $('.active').removeClass('active');
        $('.details').hide();
        $('#details_' + date).show();
        $(this).addClass('active');
      });
    });

- content_for :page_styles do
  :plain
    #balance-info {
      text-align: right;
    }
    #billing-summary {
      float: left;
      padding: 10px 30px 10px 10px;
    }
    table {
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    table th {
      text-align: right;
    }
    table .statement {
      border-bottom: 1px solid #ccc;
    }
    table td {
      text-align: right;
      min-width: 100px;
    }
    #billing-summary tr.statement:hover {
      cursor: pointer;
      background-color: #aed6ff;
    }
    #billing-summary tr.active {
      background-color: #00647b !important;
      color: white;
    }
    #details {
      float: left;
      padding-top: 1px;
    }
    #details_explanation {
      color: #999;
      font-size: 20px;
      padding-top: 50px;
      text-align: center;
    }
    #buttons {
      clear: both;
    }
    #change_date {
      display: inline;
    }
    .button-to {
      padding-top: 10px;
      display: inline-block;
    }
    .none {
      font-style: italic;
      padding: 15px 0;
    }
    .box-summary {
      width: 25%;
      float: left;
      text-align: center;
    }
    .box-summary .money {
      font-weight: bold;
    }
