- @page_title = 'Billing'
= render :partial => 'actions'

.left-indented
  .box-full
    %h2 Billing Summary
    .box-summary
      Current Balance
      #help_current_balance.help ?
      .money
        %span#current_balance= number_to_currency(@current_balance/100.0)
    .box-summary
      Pending Earnings
      #help_pending_earnings.help ?
      .money
        %span#pending_earnings= number_to_currency(@pending_earnings/100.0)
    .box-summary
      Last Payment
      #help_last_payment.help ?
      .money
        %span= number_to_currency(@last_payment/100.0)
    .box-summary
      Last Payout
      #help_last_payout.help ?
      .money
        %span= number_to_currency(@last_payout/100.0)
    %hr/

  .box-full
    - unless @statements.blank?
      #billing-summary
        %table.financial
          %thead
            %tr
              %th &nbsp;
              %th Payments
              %th Payouts
              %th Transfers
              %th Adjustments
          %tbody
            = render :partial => 'statement', :collection => @statements, :locals => {:format => :table}
      #billing-summary-right
        #details_explanation
          Click one of the months on the left to see more details
        #buttons
          = button_to 'Export Monthly Statements', { :action => 'export_statements' }, :method => 'get'
          %br
          = button_to 'Export Payments', { :action => 'export_orders' }, :method => 'get'
          %br
          = button_to 'Export Payouts', { :action => 'export_payouts' }, :method => 'get'
          %br
          = button_to 'Export Adjustments', { :action => 'export_adjustments' }, :method => 'get'
    - else
      .none No statements available

  #details.clear
    = render :partial => 'statement_details', :collection => @statements, :as => :statement

.hidden
  #help_current_balance_content{:name => 'Current Balance'}
    Current balance is the amount of advertising budget available to you.
  #help_pending_earnings_content{:name => 'Pending Earnings'}
    Pending earnings is the amount you have earned as a publisher.
  #help_last_payment_content{:name => 'Last Payment'}
    Last payment is the last advertising payment you have made.
  #help_last_payout_content{:name => 'Last Payout'}
    Last payout is the last payout you have received.

- content_for :page_javascript do
  :plain
    $(function($){
      $('tr.month-row').click(function() {
        var date = $(this).attr('id');
        $('.active').removeClass('active');
        $('.details').hide();
        $('#details_' + date).show();
        $(this).addClass('active');
      });

      var url = '/billing';
      var timeout = 10000; // 10sec
      var callback = function(data) {
        timeout *= 2;
        var currentBalance = data.current_balance / 100;
        var pendingEarnings = data.pending_earnings / 100;
        if (isFinite(currentBalance) && isFinite(pendingEarnings)) {
          currentBalance = numberToCurrency(currentBalance);
          pendingEarnings = numberToCurrency(pendingEarnings);
          if ($('#current_balance').text() != currentBalance) {
            timeout = 10000;
            $('#current_balance').text(currentBalance).
              effect('highlight', {color:'#ffffdd'}, 1000);
          }
          if ($('#pending_earnings').text() != pendingEarnings) {
            timeout = 10000;
            $('#pending_earnings').text(pendingEarnings).
              effect('highlight', {color:'#ffffdd'}, 1000);
          }
        }
        setTimeout(function() {
          $.get(url, {format:'json'}, callback);
        }, timeout);
      };
      setTimeout(function() {
        //$.get(url, {format:'json'}, callback);
      }, timeout);
    });

- content_for :page_styles do
  :plain
    #balance-info, .box-full .right {
      text-align: right;
    }
    #billing-summary {
      float: left;
      padding: 10px 10px 10px 0;
      width: 580px;
    }
    #billing-summary-right {
      float: left;
      width: 210px;
    }
    table.financial {
      font-size: 14px;
      width: 100%;
    }
    #billing-summary table {
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    #billing-summary table th {
      text-align: right;
    }
    #billing-summary table .statement {
      border-bottom: 1px solid #ccc;
    }
    #billing-summary table td {
      text-align: right;
      min-width: 100px;
    }
    #billing-summary tr.statement:hover {
      cursor: pointer;
      background-color: #aed6ff;
    }
    #billing-summary tr.active {
      background-color: #00647b !important;
      color: white;
    }
    #details {
      float: left;
      padding-top: 1px;
    }
    #details_explanation {
      color: #999;
      font-size: 14px;
      padding-top: 50px;
      text-align: center;
    }
    #change_date {
      display: inline;
    }
    .button-to {
      padding-top: 10px;
      display: inline-block;
    }
    .none {
      font-style: italic;
      padding: 15px 0;
    }
    .box-summary {
      width: 25%;
      float: left;
      text-align: center;
    }
    .box-summary .money {
      font-weight: bold;
    }
