- @page_title = 'Billing'
- @page_subtitle = 'Summary'

.box-full
  .right= button_to 'Add funds', add_funds_billing_path
  %h2 Billing Summary
  .clear
  .left
    Current Balance:
    = number_to_currency(@current_balance/100.0)
  .right
    Last Payment:
    = number_to_currency(@last_payment/100.0)
  .centered
    Last Payout:
    = number_to_currency(@last_payout/100.0)
  .clear
  %hr/
.box-full
  #billing-date-range
    - form_tag({:action => 'index'}) do
      = text_field 'from_date', @from_date, :class => 'date'
      to
      = text_field 'to_date', @to_date, :class => 'date'
      = submit_tag 'Go'
  #billing-summary
    - unless @statements.blank?
      %table
        %thead
        %tbody
          %tr
            %th &nbsp;
            %th{:colspan => 2} Earnings
            %th{:colspan => 2} Advertising Cost
            %th Balance
          %tr.subheader
            %th &nbsp;
            %th Earnings
            %th Payouts
            %th Orders
            %th Spending
            %th &nbsp;
          = render :partial => 'statement', :collection => @statements, :locals => {:format => :table}
    - else
      No Statements available for this date range
    = button_to 'Export', {:method => 'GET', :action => 'export', :from_date => @date_from, :to_date => @date_to}
