- @page_title = 'Billing'

.box-full
  .right= link_to 'Add funds', add_funds_billing_path
  %h2 Billing Summary
  .clear
  .left
    Current Balance:
    = number_to_currency(@current_balance/100.0)
  .right
    Last Payment:
    = number_to_currency(@last_payment/100.0)
  .centered
    Last Payout:
    = number_to_currency(@last_payout/100.0)
  .clear
  %hr/

.box-full
  - unless @statements.blank?
    #billing-summary
      %table
        %thead
          %tr
            %th &nbsp;
            %th Payments
            %th Payouts
          %tbody
            = render :partial => 'statement', :collection => @statements, :locals => {:format => :table}
    #details
      #details_explanation
        Click one of the months on the left to see more details
      = render :partial => 'statement_details', :collection => @statements, :as => :statement
   
  - else
    .none No statements available

#buttons
  = button_to 'Export Statments', {:method => 'GET', :action => 'export_statements' }
  = button_to 'Export Payments', {:method => 'GET', :action => 'export_orders' }
  = button_to 'Export Payouts', {:method => 'GET', :action => 'export_payouts' }

- content_for :page_javascript do
  :plain
    var activeDetails = $('#details_explanation');
    var activeRow = null;
    
    function showDetails(date, row) {
      if (activeRow) {
        activeRow.removeClass('active');
      }
      activeDetails.hide();
      activeDetails = $('#details_' + date);
      activeDetails.show();
      activeRow = $(row);
      activeRow.addClass('active');
    }
    
- content_for :page_styles do
  :plain
    #billing-summary {
      float: left;
      padding: 10px 30px 10px 10px;
    }
  
    table {
      border-collapse: collapse;
      margin-bottom: 20px;
    }
  
    table th {
      text-align: right;
    }
    table .statement {
      border-bottom: 1px solid #ccc;
    }
    table td {
      text-align: right;
      min-width: 100px;
    }
    #billing-summary tr.statement:hover {
      cursor: pointer;
      background-color: #aed6ff;
    }
    
    #billing-summary tr.active {
      background-color: #00647b !important;
    }
  
    #details {
      margin-left: 350px;
      padding-top: 1px;
    }
  
    #details_explanation {
      color: #999;
      font-size: 20px;
      padding-top: 50px;
      text-align: center;
    }
    
    #buttons {
      clear: both;
    }
  
    #change_date {
      display: inline;
    }
    
    .button-to {
      padding-top: 10px;
      display: inline-block;
    }
    
    .hidden {
      display: none;
    }
    
    .none {
      font-style: italic;
      padding: 15px 0;
    }