- @page_title = 'Order Confirmation'
= render :partial => 'actions'

.left-indented
  %h1 Thank you for your order

  %h3 Order Details

  %table
    %tr
      %th.right Date
      %td= @order.created_at.to_s(:pub_ampm)
    %tr
      %th.right Amount
      %td= number_to_currency(@order.amount / 100.0)
    %tr
      %th.right Card Number
      %td= @receipt_card_number
    - if @credit_card.valid?
      %tr
        %th.right Name
        %td= @credit_card.name
      %tr
        %th.right Card Type
        %td= @credit_card.type.humanize
      %tr
        %th.right Card Expiration
        %td= @credit_card.expiry_date.expiration.to_date.to_s(:my)

- content_for :page_styles do
  :plain
    table {
      border-collapse: collapse;
    }

    th, td {
      padding: 3px 5px;
    }

    td.right {
      text-align: right;
    }
