- @page_title = "Edit offer: #{@offer.name_with_suffix}"

.icon= image_tag(@offer.get_icon_url, :size => '57x57')

%h1= @offer.name_with_suffix

.clear

- form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put, :class => 'tjform' }) do |f|
  %table
    %tr
      %th
        = f.label(:tapjoy_enabled)
        #help_tapjoy_enabled.help ?
      %td
        = f.check_box(:tapjoy_enabled)
        = error_message_on @offer, :tapjoy_enabled
    %tr
      %th
        = f.label(:user_enabled)
        #help_user_enabled.help ?
      %td
        = f.check_box(:user_enabled)
        = error_message_on @offer, :user_enabled
    %tr
      %th
        = f.label(:self_promote_only)
        #help_self_promote_only.help ?
      %td
        = f.check_box(:self_promote_only)
        = error_message_on @offer, :self_promote_only
    - if @offer.item_type == 'App'
      %tr
        %th
          = f.label(:min_os_version, "Minimum OS Version")
          #help_min_os_version.help ?
        %td
          = f.select(:min_os_version, @offer.item.os_versions, :include_blank => 'No Minimum')
          = error_message_on(@offer, :min_os_version)
    %tr
      %th
        = f.label(:allow_negative_balance)
        #help_allow_negative_balance.help ?
      %td
        = f.check_box(:allow_negative_balance)
        = error_message_on @offer, :allow_negative_balance
    %tr
      %th
        = f.label(:pay_per_click)
        #help_pay_per_click.help ?
      %td
        = f.check_box(:pay_per_click)
        = error_message_on @offer, :pay_per_click
    %tr
      %th
        = f.label(:featured)
        #help_featured.help ?
      %td
        = f.check_box(:featured)
        = error_message_on @offer, :featured
    %tr
      %th
        = f.label(:cookie_tracking)
        #help_cookie_tracking.help ?
      %td
        = f.check_box(:cookie_tracking)
        = error_message_on @offer, :cookie_tracking
    - if @offer.item_type == 'App' && @offer.price == 0
      %tr
        %th
          = f.label(:rewarded)
          #help_rewarded.help ?
        %td
          = f.check_box(:rewarded)
          = error_message_on @offer, :rewarded
    - if @offer.item_type != 'App'
      %tr
        %th
          = f.label(:multi_complete, 'Multi-complete')
          #help_multi_complete.help ?
        %td
          = f.check_box(:multi_complete)
          = error_message_on @offer, :multi_complete
      %tr
        %th
          = f.label(:interval)
          #help_interval.help ?
        %td
          = f.select(:interval, options_for_select(Offer::FREQUENCIES_CAPPING_INTERVAL, @offer.interval), { :include_blank => false })
          = error_message_on @offer, :interval
    - if @offer.item_type == 'GenericOffer'
      %tr
        %th
          = f.label(:direct_pay, 'Direct-pay')
          #help_direct_pay.help ?
        %td
          = f.select(:direct_pay, options_for_select(Offer::DIRECT_PAY_PROVIDERS, @offer.direct_pay), { :include_blank => true })
          = error_message_on @offer, :direct_pay
    %tr
      %th
        = f.label(:name, 'Name')
        #help_name.help ?
      %td
        = f.text_field(:name)
        = error_message_on @offer, :name
    %tr
      %th
        = f.label(:name_suffix, 'Internal Suffix')
        #help_internal_suffix.help ?
      %td
        = f.text_field(:name_suffix)
        = error_message_on @offer, :name_suffix
    %tr
      %th
        = f.label(:show_rate)
        #help_show_rate.help ?
      %td
        = f.text_field(:show_rate)
        = error_message_on @offer, :show_rate
    %tr
      %th
        = f.label(:min_conversion_rate, 'Min CVR')
        #help_min_conversion_rate.help ?
      %td
        = f.text_field(:min_conversion_rate)
        = error_message_on @offer, :min_conversion_rate
    = render('apps/offers_shared/countries', :f => f)
    %tr
      %th
        = f.label(:regions)
        #help_regions.help ?
      %td
        = f.text_field(:regions)
        = error_message_on @offer, :regions
        .details= link_to('State Code List', 'http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations', :target => '_blank')
        .details= link_to('Province Code List', 'http://en.wikipedia.org/wiki/Canadian_subnational_postal_abbreviations', :target => '_blank')
    %tr
      %th
        = f.label(:dma_codes)
        #help_dma_codes.help ?
      %td
        = f.text_field(:dma_codes)
        = error_message_on @offer, :dma_codes
        .details= link_to('DMA Code List', 'http://code.google.com/apis/adwords/docs/appendix/metrocodes.html', :target => '_blank')
    %tr
      %th
        = f.label(:device_types)
        #help_device_types.help ?
      %td
        = f.chosen_select(:device_types, options_for_select(Offer::ALL_DEVICES, @offer.get_device_types), {}, :multiple => true)
        = error_message_on @offer, :device_types
    %tr
      %th
        = f.label(:publisher_app_whitelist)
        #help_publisher_app_whitelist.help ?
      %td
        = f.text_field(:publisher_app_whitelist)
        = error_message_on @offer, :publisher_app_whitelist
    - if [ 'App', 'EmailOffer', 'GenericOffer', 'ActionOffer', 'VideoOffer' ].include?(@offer.item_type)
      %tr
        %th
          = f.label(:bid)
          #help_bid.help ?
        %td
          = f.currency_field(:bid)
          = error_message_on @offer, :bid
      %tr
        %th
          = f.label(:min_bid_override)
          #help_min_bid_override.help ?
        %td
          = f.currency_field(:min_bid_override, {}, :class => 'allow_nil')
          = error_message_on @offer, :min_bid_override
      %tr
        %th
          = f.label(:daily_budget, 'Daily Conversions')
          #help_daily_budget.help ?
        %td
          = f.text_field(:daily_budget)
          = error_message_on @offer, :daily_budget
      %tr
        %th
          = f.label(:overall_budget, 'Overall Conversions')
          #help_overall_budget.help ?
        %td
          = f.text_field(:overall_budget)
          = error_message_on @offer, :overall_budget
    - if @offer.item_type == 'VideoOffer'
      %tr
        %th
          = f.label(:age_rating)
          #help_age_rating.help ?
        %td
          = f.text_field(:age_rating)
          = error_message_on @offer, :age_rating
      %tr
        %th= f.label(:third_party_data)
        %td= f.text_area(:third_party_data)
    - if @offer.item_type == 'App' || @offer.item_type == 'GenericOffer'
      %tr
        %th
          = f.label(:url_overridden, 'Override Default Destination URL')
          #help_url_overridden.help ?
        %td= f.check_box(:url_overridden)
      %tr
        %th
          = f.label(:url, 'Destination URL')
          #help_url.help ?
        %td
          %span{:id => 'url_container', :class => (@offer.url_overridden? ? '' : 'hidden')}
            = f.text_field(:url)
            = error_message_on @offer, :url
          %span{:id => 'default_url', :class => (@offer.url_overridden? ? 'hidden' : '')}
            - if @offer.item_type == 'App'
              = h(@offer.item.store_url)
            - elsif @offer.item_type == 'GenericOffer'
              = h(@offer.item.url)

    - if @offer.item_type == 'App' && @offer.item.screen_layout_sizes.any?
      %tr
        %th
          = f.label(:screen_layout_sizes)
          #help_screen_layout_sizes.help ?
        %td
          = f.chosen_select(:screen_layout_sizes, options_for_select(@offer.item.screen_layout_sizes, @offer.get_screen_layout_sizes), {}, :multiple => true)
          = error_message_on @offer, :screen_layout_sizes
    %tr
      %td{ :colspan => 2 }= f.submit('Save Changes')

.hidden
  #help_tapjoy_enabled_content{ :name => 'Tapjoy Enabled' } Whether or not the offer is enabled for installs by Tapjoy.
  #help_user_enabled_content{ :name => 'User Enabled' } Whether or not the offer is enabled for installs by the user.
  #help_self_promote_only_content{ :name => 'Self Promote Only' } Only show this offer on offerwalls from the same partner.
  #help_allow_negative_balance_content{ :name => 'Allow Negative Balance' } Allow this partner's balance to go below zero. This effectively locks show rate to 1.0.
  #help_pay_per_click_content{ :name => 'Pay-Per-Click' } Charge the advertiser and award the user immediately on click.
  #help_multi_complete_content{ :name => 'Multi-complete' } Allow this offer to be completed multiple times per device.
  #help_direct_pay_content{ :name => 'Direct-pay' } Select a direct-pay provider from the list to designate this offer as a direct-pay offer. Revenue generated will be split up using the publisher's direct-pay share.
  #help_featured_content{ :name => 'Featured' } Enables this offer in our featured offers feed.
  #help_cookie_tracking_content{ :name => 'Cookie Tracking' } Designates that this offer requires cookies to track a conversion.
  #help_rewarded_content{ :name => 'Rewarded' } Whether or not the offer rewards the user with currency.
  #help_name_content{ :name => 'Name' } The name of this offer. This is shown to end-users when displaying the ad.
  #help_internal_suffix_content{ :name => 'Internal Suffix' } Internal identifier for offers. i.e. 'featured' or 'us only'
  #help_show_rate_content{ :name => 'Show Rate' } The probability that this offer will be shown on an offerwall impression. This is set automatically by the system and is used for budgeting. Allowed values are 0.0 - 1.0.
  #help_min_conversion_rate_content{ :name => 'Min CVR' } This is used to prevent low conversion rate warnings. A warning will only be issued if the conversion rate falls below this threshold. Allowed values are blank or 0.0 - 1.0
  #help_dma_codes_content{ :name => 'DMA Codes' } Targets this offer to these designated market areas (DMAs). Must be an array of DMA codes or blank for no targeting. i.e. [807]
  #help_regions_content{ :name => 'Regions' } Targets this offer to these designated regions or blank for all regions. Must be an array of state and province codes. i.e. ["CA"]
  #help_device_types_content{ :name => 'Device Types' } Targets this offer to these device types. At least one device type must be selected.
  #help_publisher_app_whitelist_content{ :name => 'Publisher App Whitelist' } Restrict this offer to these publisher apps. Must be a ";" separated list of publisher app IDs.
  #help_daily_budget_content{ :name => 'Daily Conversions' } The maximum number of conversions to complete in one day.
  #help_overall_budget_content{ :name => 'Overall Conversions' } The maximum number of conversions to complete in the lifetime of this offer. This is merely a hard limit so it is likely that the offer will go over-budget.
  #help_interval_content{ :name => 'Interval' } The interval for frequency capping.
  #help_url_overridden_content{ :name => 'Override Destination URL' } Allows for manual override of Completion URL field
  #help_url_content{ :name => 'Destination URL' } The URL that the user will be redirected to upon clicking an ad (typically links to Market Place / App store search results page)
  #help_bid_content{ :name => 'Bid' } The bid affects your payment and your offerwall rank.
  #help_min_bid_override_content{ :name => 'Min Bid Override' } Manually set the minimum allowed bid for this offer.
  #help_min_os_version_content{:name => 'Minimum OS Version'} Your offer will only be shown to devices with an OS at this version or higher.
  #help_screen_layout_sizes_content{ :name => 'Screen Layout Sizes' } Targets this offer to these screen sizes. If no specific screen sizes are selected, all screen sizes will be targeted.
  #help_age_rating_content{ :name => 'Age Rating' } Set the minimum viewing age, the recommended ages are 4/9/12/17. If it is viewable to all, just leave the field empty.

- if @offer.item_type == 'App' || @offer.item_type == 'GenericOffer'
  - content_for :page_javascript do
    :plain
      $(function($){
        $('#offer_url_overridden').click(function(){
          if(this.checked) {
            $('#default_url')[0].className = 'hidden';
            $('#url_container')[0].className = '';
          } else {
            $('#url_container')[0].className = 'hidden';
            $('#default_url')[0].className = '';
          }
          return true;
        });
      })

- content_for :page_styles do
  :plain
    .icon {
      float: left;
      padding: 20px 0;
    }
    .details {
      font-size: 12px;
    }
