- @page_title = "Edit offer: #{@offer.name}"

.icon= image_tag(@offer.get_icon_url, :size => '56x56')
%h1= @offer.name

- form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put }) do |f|
  .field
    = f.error_messages :header_message => nil
  .field
    = f.check_box(:tapjoy_enabled)
    = f.label(:tapjoy_enabled)
  .field
    = f.check_box(:self_promote_only)
    = f.label(:self_promote_only)
  .field
    = f.check_box(:allow_negative_balance)
    = f.label(:allow_negative_balance)
  .field
    = f.check_box(:pay_per_click)
    = f.label(:pay_per_click)
  .field
    = f.check_box(:featured)
    = f.label(:featured)
  .field
    = f.label(:featured_payment, 'Featured payment (cents)')
    = f.text_field(:featured_payment)
  .field
    = f.label(:ordinal)
    = f.text_field(:ordinal)
  .field
    = f.label(:show_rate)
    = f.text_field(:show_rate)
  .field
    = f.label(:countries, 'Countries (i.e. ["US"])')
    = f.text_field(:countries)
  .field
    = f.label(:cities, 'Cities (i.e. ["San Francisco"])')
    = f.text_field(:cities)
  .field
    = f.label(:postal_codes, 'Postal codes (i.e. ["94105"])')
    = f.text_field(:postal_codes)
  .field
    = f.label(:device_types)
    = f.select(:device_types, options_for_select(Offer::ALL_DEVICES, @offer.get_device_types), {}, :multiple => true)
  - if [ 'App', 'EmailOffer' ].include?(@offer.item_type)
    .field
      = f.label(:payment, 'Payment (cents)')
      = f.text_field(:payment)
    .field
      = f.label(:daily_budget, 'Daily install budget')
      = f.text_field(:daily_budget)
  - if @offer.item_type == 'App'
    .field
      = label_tag(:app_store_id, 'Store ID')
      = text_field_tag(:app_store_id, @offer.item.store_id)
  .field
    = f.submit('Save Changes')
    

- content_for :page_styles do
  :plain
    .icon {
      float: left;
      padding-bottom: 20px;
    }
    
    form {
      clear: both;
    }
    
    .errorExplanation {
      background-color: red;
      padding: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-bottom: 10px;
    }
