- @page_title = 'Stats for last 24 hours'

- content_for :included_stylesheets do
  = stylesheet_link_tag 'themes/blue/style'

- content_for :included_javascripts do
  = javascript_include_tag 'jquery.tablesorter'

%h1 Tapjoy stats for last 24 hours

%h3#install_count_24hours= "Total installs: #{@install_count_24hours}"
  
#last_updated= "Last Updated: #{@last_updated}"
  
%table#apps_table.tablesorter
  %thead
    %tr
      %th
      %th App
      %th Paid installs
      %th Connects
      %th New users
      %th DAUs
      %th Price
      %th Payment for install
      %th Balance
      %th Daily Budget
      %th Show rate
      %th VG Purchases
      %th Published installs
      %th Installs revenue
      %th Ad impressions
  %tbody#apps_tbody
    - @cached_stats.each do |app_key, stats|
      %tr
        %td= link_to(image_tag(stats['icon_url'], :size => '56x56'), statz_path(app_key))
        %td= link_to(stats['app_name'], statz_path(app_key))
        %td= stats['paid_installs']
        %td= stats['connects']
        %td= stats['new_users']
        %td= stats['daily_active_users']
        %td= stats['price']
        %td= stats['payment_for_install']
        %td= stats['balance']
        %td= stats['daily_budget']
        %td= stats['show_rate']
        %td= stats['vg_purchases']
        %td= stats['published_installs']
        %td= stats['installs_revenue']
        %td= stats['ad_impressions']
      
-content_for :page_javascript do
  :plain
    $(function() {
      $("#apps_table").tablesorter({widgets: ['zebra'],
        headers: {
          0: {sorter: false}
        }
      });
    });

-content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    
    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
    
    th, td {
      border: 0;
    }
    
    .appkey {
      font-size:50%;
    }
    
    .appname {
      width: 100px;
      overflow: hidden;
    }
    
    #last_updated {
      font-weight: bold;
      font-size: 14px;
    }
    
    #do_refresh {
      cursor: pointer;
      text-decoration: underline;
      color: #A7A3FF;
    }
    
    .hidden {
      display: none;
    }
