- timeframe = @timeframe == '7_days' ? '7 days' : @timeframe == '1_month' ? '30 days' : '24 hours'
- @page_title = "Stats for last #{timeframe}"

%h1 Tapjoy stats for last #{timeframe}

%ul.timeframes
  %li= @timeframe == '24_hours' ? '24 hours' : link_to('24 hours', statz_index_path)
  %li= @timeframe == '7_days' ? '7 days' : link_to('7 days', statz_index_path(:timeframe => '7_days'))
  %li= @timeframe == '1_month' ? '30 days' : link_to('30 days', statz_index_path(:timeframe => '1_month'))

= label_tag('search_box', 'Offer Name:')
= text_field_tag('search_box', '', :size => '40')

%h3 Total conversions: #{@cvr_count} &nbsp; Total revenue: #{@ad_spend} &nbsp; Total payouts: #{@publisher_earnings}

#last_updated Last Updated: #{@last_updated.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm_sec)}

%table#apps_table.tablesorter
  %thead
    %tr
      %th= link_to('Icon', 'javascript:toggleIcons()')
      %th Offer
      %th{ :class => 'headerSortUp header' } Conversions
      %th Connects
      %th Store rank
      %th Price
      %th Payment
      %th Balance
      %th Platform
      %th CVR
      %th Published installs
      %th Installs revenue
      %th Ordinal
      %th Featured
  %tbody#apps_tbody
    - @cached_stats.each do |offer_id, stats|
      %tr
        %td.icon{ :id => offer_id }
        %td= link_to(stats['offer_name'], statz_path(offer_id))
        %td= stats['conversions']
        %td= stats['connects']
        %td= stats['overall_store_rank']
        %td= stats['price']
        %td= stats['payment']
        %td= stats['balance']
        %td= stats['platform']
        %td= stats['conversion_rate']
        %td= stats['published_installs']
        %td= stats['installs_revenue']
        %td= stats['ordinal']
        %td= stats['featured']
      
- content_for :page_javascript do
  var iconsCreated = false;
  var iconsVisible = false;
  
  :plain
    $(function() {
      $('#search_box').autocomplete({ source: '#{search_statz_path}', delay: 250, minLength: 2, select: function(event, ui) { window.location.assign(ui.item.url); } });
      
      $.tablesorter.addParser({
        id: 'currency-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $.tablesorter.addParser({
        id: 'rank-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/-/g, '999999');
        }
      });
      $("#apps_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          0:  { sorter: false },
          4:  { sorter: 'rank-column' },
          5:  { sorter: 'currency-column' },
          6:  { sorter: 'currency-column' },
          7:  { sorter: 'currency-column' },
          11: { sorter: 'currency-column' }
        }
      });
    });
    
    function toggleIcons() {
      if (iconsVisible) {
        $('.icon>img').hide();
      } else {
        createIcons();
        $('.icon>img').show();
      }
      iconsVisible = !iconsVisible;
    }
    
    function createIcons() {
      if (iconsCreated) {
        return;
      }
      
      $(".icon").each(function(index) {
        var url = 'http://s3.amazonaws.com/app_data/icons/' + this.id + '.png';
        $(this).html('<img src="' + url + '" height="57" width="57" />');
      });
      iconsCreated = true;
    }
  
- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    
    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
    
    th, 
    td,
    .icon img {
      border: 0;
    }
    
    #last_updated {
      font-weight: bold;
      font-size: 14px;
    }
    
    ul.timeframes {
      margin: -10px 0 10px;
      padding: 0px;
    }
    ul.timeframes li {
      display: inline;
    }
    ul.timeframes li:after {
      content: " |";
    }
    ul.timeframes li:last-child:after {
      content: "";
    }
