- @page_title = "Last run times for offer: #{@offer.name}"

.icon= image_tag(@offer.get_icon_url, :size => '57x57')
%h1= @offer.name

%p As of: #{Time.zone.now.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm_sec)}

%table
  %tr
    %th Device
    %th UDID
    %th Last run time
  - @udid_map.each do |udid, device|
    %tr
      %td= device
      %td= udid
      %td= @last_run_times[udid]

- content_for :page_styles do
  :plain
    .icon {
      float: left;
    }
    
    table {
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid gray;
      padding: 5px;
    }
