- @page_title = "Last run times for offer: #{@offer.name_with_suffix}"

.icon= link_to image_tag(@offer.get_icon_url, :size => '57x57'), statz_path(@offer)

%h1= link_to @offer.name_with_suffix, statz_path(@offer)

.clear

%p As of: #{Time.zone.now.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm_sec)}

- form_tag(last_run_times_statz_path, :method => :get, :class => 'tjform') do
  = label_tag(:other_udid, 'Other UDID:')
  = text_field_tag(:other_udid, '', :size => 50)
  = submit_tag('Search')

%h4= link_to '[View All Admin Devices]', tools_admin_devices_path

%table#admin_devices_table.tablesorter
  %thead
    %tr
      %th Device
      %th UDID
      %th Last run time
  %tbody
    - @last_run_times.each do |admin_device, last_run_time|
      - class_names = cycle('', 'odd')
      - class_names += " mine" if admin_device.user_id == current_user.id
      %tr{ :class => class_names }
        %td= admin_device.description
        %td.udid= admin_device.udid
        %td= last_run_time

- content_for :page_styles do
  :plain
    .icon {
      float: left;
      padding: 20px 0;
    }

    table {
      border-collapse: separate;
    }

    form {
      padding-bottom: 20px;
    }

    .tjform input[type=submit] {
      margin: 0;
      float: none;
    }
