- timeframe = @timeframe == '7_days' ? '7 days' : @timeframe == '1_month' ? '30 days' : '24 hours'
- @page_title = "Publisher Stats for last #{timeframe}"

%h1 Publisher Stats for last #{timeframe}

%h4
  - if permitted_to? :advertiser, :statz
    = link_to("Advertiser Stats", advertiser_statz_path)

%form
  = render :partial => 'shared/timeframe_and_platform'

%br

.last_updated For: #{@last_updated_start.to_s(:pub_ampm_sec)} - #{@last_updated_end.to_s(:pub_ampm_sec)}

%table#publishers_table.tablesorter
  %thead
    %tr
      %th Partner
      %th Acct Mgr
      %th Sales Rep
      %th{ :class => 'headerSortUp header' } Pub Rev
      %th Rev Share
      %th Views
      %th Conversions
      %th Rev
      %th CVR
      %th eCPM
      %th Views
      %th Conversions
      %th Rev
      %th CVR
      %th eCPM
      %th Views
      %th Conversions
      %th Rev
      %th CVR
      %th eCPM
    %tr
      %th{ :colspan => 5 }
      %th{ :colspan => 5, :align => :center } Offerwall
      %th{ :colspan => 5, :align => :center } Featured
      %th{ :colspan => 5, :align => :center } Display
  %tbody#publishers_tbody
    - @cached_stats.each do |partner_id, stats|
      %tr
        %td= link_to stats['partner'], partner_path(partner_id)
        %td= stats['account_mgr']
        %td= stats['sales_rep']
        %td= stats['total_revenue']
        %td= stats['rev_share']
        %td= stats['offerwall_views']
        %td= stats['offerwall_conversions']
        %td= stats['offerwall_revenue']
        %td= stats['offerwall_cvr']
        %td= stats['offerwall_ecpm']
        %td= stats['featured_views']
        %td= stats['featured_conversions']
        %td= stats['featured_revenue']
        %td= stats['featured_cvr']
        %td= stats['featured_ecpm']
        %td= stats['display_views']
        %td= stats['display_conversions']
        %td= stats['display_revenue']
        %td= stats['display_cvr']
        %td= stats['display_ecpm']

- content_for :page_javascript do
  :plain
    $(function() {
      $.tablesorter.addParser({
        id: 'formatted-number-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $("#publishers_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          3:  { sorter: 'formatted-number-column' },
          5:  { sorter: 'formatted-number-column' },
          6:  { sorter: 'formatted-number-column' },
          7:  { sorter: 'formatted-number-column' },
          9:  { sorter: 'formatted-number-column' },
          10:  { sorter: 'formatted-number-column' },
          11:  { sorter: 'formatted-number-column' },
          12:  { sorter: 'formatted-number-column' },
          14:  { sorter: 'formatted-number-column' },
          15:  { sorter: 'formatted-number-column' },
          16:  { sorter: 'formatted-number-column' },
          17:  { sorter: 'formatted-number-column' },
          20:  { sorter: false },
          21:  { sorter: false },
          22:  { sorter: false },
          23:  { sorter: false },
        }
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    table.tablesorter thead tr .header {
      background-position: right bottom;
    }

    th,
    td {
      border: 0;
    }

    .last_updated {
      font-weight: bold;
      font-size: 14px;
    }

    ul.timeframes {
      margin: -10px 0 10px;
      padding: 0px;
    }
    ul.timeframes li {
      display: inline;
    }
    ul.timeframes li:after {
      content: " |";
    }
    ul.timeframes li:last-child:after {
      content: "";
    }
