- @page_title = "Stats for app: #{@app.name}"

.icon= image_tag(@app.get_icon_url, :size => '56x56')
%h1= @app.name

.asof For: #{@start_time.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm)} - #{@end_time.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm)}

.left
  .metadata App id: #{@app.key}
  .metadata Partner id: #{@app.partner_id}
  .metadata Store id: #{link_to(@app.get_store_id(false), @app.store_url)}
  .metadata Price: #{number_to_currency(@app.price / 100.0)}
  .metadata Balance: #{number_to_currency(@app.balance / 100.0)}
  .metadata Daily budget: #{@app.daily_budget}
  .metadata Show rate: #{"%.2f" % (@app.show_rate || 0)}
  .metadata Ordinal: #{@app.rewarded_installs_ordinal}
  .metadata Payment for install: #{number_to_currency(@app.payment_for_install / 100.0)}
  .metadata Tapjoy enabled: #{@app.install_tracking}

.right
  .metadata Countries: #{@app.countries}
  .metadata Cities: 'asdasdasdq3r af dasfas dfwetr dsaf'sa fads'f  asf asf 3 
  .metadata Postal codes: #{@app.postal_codes}
  .metadata Pay-per-click: #{@app.pay_per_click}
  .metadata Use_raw_url: #{@app.use_raw_url}
  .metadata iPhone only: #{@app.iphone_only}
  .metadata iPad only: #{@app.ipad_only}
  .metadata Allow negative balance: #{@app.allow_negative_balance}
  .metadata Self promote only: #{@app.self_promote_only}


%table
  %thead
    %tr
      %th Stat
      %th Total
      %th Hourly breakdown
  %tbody
    %tr
      %td Paid Installs
      %td= @stats['paid_installs'].sum
      %td.breakdown= @stats['paid_installs'].join(', ')
    %tr
      %td Paid Clicks
      %td= @stats['paid_clicks'].sum
      %td.breakdown= @stats['paid_clicks'].join(', ')
    %tr
      %td Installs Spend
      %td= number_to_currency(@stats['installs_spend'].sum / 100.0)
      %td.breakdown= @stats['installs_spend'].map{|i| number_to_currency(i / 100.0)}.join(', ')
    %tr
      %td CVR
      %td= "%.2f" % (@stats['paid_installs'].sum.to_f / @stats['paid_clicks'].sum)
      %td.breakdown= @stats['cvr'].join(', ')
    %tr
      %td Connects
      %td= @stats['logins'].sum
      %td.breakdown= @stats['logins'].join(', ')
    %tr
      %td New Users
      %td= @stats['new_users'].sum
      %td.breakdown= @stats['new_users'].join(', ')
    %tr
      %td DAUs
      %td= @stats['daily_active_users'].sum
      %td.breakdown= @stats['daily_active_users'].join(', ')
    %tr
      %td MAUs
      %td= @stats['monthly_active_users'].sum
      %td.breakdown= @stats['monthly_active_users'].join(', ')
    %tr
      %td VG Purchases
      %td= @stats['vg_purchases'].sum
      %td.breakdown= @stats['vg_purchases'].join(', ')
    %tr
      %td Published Installs
      %td= @stats['published_installs'].sum
      %td.breakdown= @stats['published_installs'].join(', ')
    %tr
      %td Published Clicks
      %td= @stats['installs_opened'].sum
      %td.breakdown= @stats['installs_opened'].join(', ')
    %tr
      %td Installs Revenue
      %td= number_to_currency(@stats['installs_revenue'].sum / 100.0)
      %td.breakdown= @stats['installs_revenue'].map{|i| number_to_currency(i / 100.0)}.join(', ')
    %tr
      %td Offers Completed
      %td= @stats['offers'].sum
      %td.breakdown= @stats['offers'].join(', ')
    %tr
      %td Offers Clicked
      %td= @stats['offers_opened'].sum
      %td.breakdown= @stats['offers_opened'].join(', ')
    %tr
      %td Offers Revenue
      %td= number_to_currency(@stats['offers_revenue'].sum / 100.0)
      %td.breakdown= @stats['offers_revenue'].map{|i| number_to_currency(i / 100.0)}.join(', ')
    %tr
      %td Ratings
      %td= @stats['ratings'].sum
      %td.breakdown= @stats['ratings'].join(', ')
    %tr
      %td Total Revenue
      %td= number_to_currency(@stats['rewards_revenue'].sum / 100.0)
      %td.breakdown= @stats['rewards_revenue'].map{|i| number_to_currency(i / 100.0)}.join(', ')
    %tr
      %td Ad Impressions
      %td= @stats['hourly_impressions'].sum
      %td.breakdown= @stats['hourly_impressions'].join(', ')

-content_for :page_styles do
  :plain
    .icon {
      float: left;
    }
    
    td.breakdown {
      font-size: small;
    }
    
    .asof {
      padding-bottom: 10px;
    }
    
    table {
      clear: both;
    }
    
    .left {
      float: left;
    }
    .right {
      float: right;
    }
