- @page_title = "Stats for offer: #{@offer.name_with_suffix}"

.tjform{:style => 'margin-top: 5px;'}
  = label_tag('search_box', 'Offer Name:')
  = text_field_tag('search_box', '', :size => '40')

.icon= image_tag(@offer.get_icon_url(request.protocol), :size => '57x57')

%h1= @offer.name_with_suffix

.clear

%form#change_date{ :method => :get, :class => 'tjform' }
  = text_field_tag(:date, @start_time.to_date.to_s(:mdy))
  \-
  = text_field_tag(:end_date, @end_time.to_date.to_s(:mdy))
  = select_tag(:granularity, options_for_select({ 'Daily' => :daily, 'Hourly' => :hourly }, @granularity))
  = submit_tag('Change')

%h4 Offer
- if permitted_to? :edit, :statz
  = link_to('[Edit Offer]', edit_statz_path(@offer.id))
- if permitted_to? :last_run_times, :statz
  = link_to('[View Last Run Times]', last_run_times_statz_path(@offer.id))
- if permitted_to? :udids, :statz
  = link_to('[View Monthly UDID Reports]', udids_statz_path(@offer.id))
= link_to('[Activity Log]', activities_path(:object_id => @offer.id))
%table.properties
  - property_row('Enabled', @offer.is_enabled?, nil, @offer.is_enabled?.to_s)
  - property_row('Tapjoy Enabled', @offer.tapjoy_enabled?, nil, @offer.tapjoy_enabled?.to_s)
  - property_row('User Enabled', @offer.user_enabled?, nil, @offer.user_enabled?.to_s)
  - property_row('Bid', number_to_currency(@offer.bid / 100.0))
  - property_row('Payment', number_to_currency(@offer.payment / 100.0))
  - if @offer.item_type == 'App'
    - if @offer.item.use_raw_url?
      - property_row('Raw url', link_to('[url]', @offer.item.store_url), nil, @offer.item.store_url.blank? ? 'incomplete' : nil)
    - else
      - property_row('Store id', link_to(@offer.item.store_id, @offer.item.final_store_url), nil, @offer.item.store_id.blank? ? 'incomplete' : nil)
  - property_row('Price', number_to_currency(@offer.price / 100.0))
  - property_row('Daily budget', @offer.daily_budget, 0)
  - property_row('Overall budget', @offer.overall_budget, 0)
  - property_row('Show rate', "%.1f%" % ((@offer.show_rate || 0) * 100.0), "100.0%")
  - property_row('Min CVR', @offer.min_conversion_rate, nil)
  - property_row('Countries', @offer.countries, '')
  - property_row('Cities', @offer.cities, '')
  - property_row('Postal codes', @offer.postal_codes, '')
  - property_row('Pay-per-click', @offer.pay_per_click?, false)
  - property_row('Device types', @offer.device_types, Offer::APPLE_DEVICES.to_json)
  - property_row('Allow negative balance', @offer.allow_negative_balance?, false)
  - property_row('Self promote only', @offer.self_promote_only?, false)
  - property_row('Featured', @offer.featured?, false)
  - unless @offer.publisher_app_whitelist.blank?
    - property_row('Publisher app whitelist', @offer.get_publisher_app_whitelist.map { |id| link_to(App.find(id).name, statz_path(id)) }.join(', '))
  - property_row('id', @offer.id + ' - ' + clippy(@offer.id))

%a#show_boosts{:href => '#'} [#{@active_boosts.size} active rank boosts]
= link_to('[Create rank boost]', new_rank_boost_path(:offer_id => @offer.id))
= link_to('[View all boosts]', rank_boosts_path(:offer_id => @offer.id))
#boosts_list
  %h5 Total Active Boost: #{@total_boost}x
  %ul
    - @active_boosts.each do |boost|
      %li
        #{boost.amount}x: #{boost.start_time.to_s(:mdy_ampm)} - #{boost.end_time.to_s(:mdy_ampm)} --
        = link_to('[Edit]', edit_rank_boost_path(boost))
        = link_to('[Deactivate]', deactivate_rank_boost_path(boost), :method => :post, :confirm => 'Are you sure?')

.clear

%a#show_associated{:href => '#'} [#{@associated_offers.size} associated offers]
= link_to('[Create secondary offer]', new_statz_path(:id => @offer.id))
#associated_list
  %h5 Associated offers:
  %ul
    - @associated_offers.each do |offer|
      %li= link_to(offer.name_with_suffix, statz_path(offer.id))

%h4 Partner
= link_to('[Activity Log]', activities_path(:partner_id => @offer.partner_id))
%table.properties
  - property_row('Name', @offer.partner.name)
  - if @offer.partner.users.first
    - property_row('Contact(s)', @offer.partner.users.map(&:email).join(', '))
  - property_row('Balance', number_to_currency(@offer.partner.balance / 100.0))
  - property_row('Pending Earnings', number_to_currency(@offer.partner.pending_earnings / 100.0))
  - property_row('Account managers', @offer.partner.account_managers.map{|u| u.username}.join(', '))
  - property_row('Internal notes', @offer.partner.account_manager_notes, '')
  - property_row('id', link_to(@offer.partner_id, partner_path(@offer.partner_id)) + ' - ' + clippy(@offer.partner.id))
= render 'partners/make_current_button', :partner => @offer.partner

- if @offer.is_publisher_offer?
  - c = @offer.item.primary_currency
  %h4 Currency - #{c.name}
  #currency
    %a.more{ :href => '#' } [Show more details]
    = link_to('[View Offer Wall]', "http://ws.tapjoyads.com/get_offers/webpage?app_id=#{@offer.id}&udid=#{Offer::EXEMPT_UDIDS.first}&publisher_user_id=testuser&device_type=#{@offer.item.platform}")
    .details
      %table.properties
        - property_row('Conversion rate', c.conversion_rate)
        - property_row('Callback url', c.callback_url)
        - property_row('Secret key', c.secret_key)
        - property_row('Initial balance', c.initial_balance)
        - property_row('Only free offers', c.only_free_offers?)
        - property_row('Has virtual goods', c.has_virtual_goods?)
        - property_row('Installs money share', c.installs_money_share)
        - property_row('Max age rating', c.max_age_rating)
        - property_row('Disabled offers', c.disabled_offers)
        - property_row('Disabled partners', c.disabled_partners)
        - property_row('Test devices', c.test_devices)
        - property_row('id', c.id + ' - ' + clippy(c.id))

#charts{ :style => "text-align: center;" }
  #connects.graph
  #installs_spend.graph
  #installs_rank.graph
  #published_offers.graph
  #offerwall_views.graph
  #display_ads.graph
  #virtual_goods.graph
  #ads.graph

- include_tapjoy_graph

- content_for :page_javascript do
  :plain
    $('#search_box').autocomplete({ source: '#{search_offers_path}', delay: 250, minLength: 2, select: function(event, ui) { window.location.assign(ui.item.url); } });

    $(function() {
      $('#date').datepicker();
      $('#end_date').datepicker();

      $('#currency .more').click(function() {
        $('#currency .details').toggle();
        return false;
      });

      $('#show_associated').click(function() {
        $('#associated_list').toggle();
        return false;
      });
      
      $('#show_boosts').click(function() {
        $('#boosts_list').toggle();
        return false;
      });

      Tapjoy.Graph.initGraphs($('#charts .graph'));
      Tapjoy.Graph.drawLargeGraph(#{@connect_data.to_json}, 'connects');
      Tapjoy.Graph.drawLargeGraph(#{@rewarded_installs_plus_spend_data.to_json}, 'installs_spend');
      Tapjoy.Graph.drawLargeGraph(#{@rewarded_installs_plus_rank_data.to_json}, 'installs_rank');
      Tapjoy.Graph.drawLargeGraph(#{@published_offers_data.to_json}, 'published_offers');
      Tapjoy.Graph.drawLargeGraph(#{@offerwall_views_data.to_json}, 'offerwall_views');
      Tapjoy.Graph.drawLargeGraph(#{@display_ads_data.to_json}, 'display_ads');
      Tapjoy.Graph.drawLargeGraph(#{@virtual_goods_data.to_json}, 'virtual_goods');
      Tapjoy.Graph.drawLargeGraph(#{@ads_data.to_json}, 'ads');
    });

- content_for :page_styles do
  :plain
    .icon {
      padding: 20px 0;
      float: left;
    }
    #associated_list,
    #boosts_list {
      display: none;
    }
    #associated_list h5,
    #boosts_list h5 {
      margin: 5px;
    }
    #currency {
      margin-bottom: 16px;
    }
    #currency .details {
      display: none;
      margin-left: 10px;
    }
    h4 {
      margin-bottom: 6px;
    }
    .properties td {
      border: 1px solid #ccc;
      padding: 0 5px;
      max-width: 500px;
    }
    .properties tr td:first-child {
      text-align: right;
    }
    .true {
      background: -webkit-gradient(linear, left top, right bottom, from(#494), to(#fff));
      background: -moz-linear-gradient(left,  #494,  #fff);
    }
    .false {
      background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#fff));
      background: -moz-linear-gradient(left,  #ccc,  #fff);
    }
    .incomplete {
      background: -webkit-gradient(linear, left top, right bottom, from(#ccc), to(#fff));
      background: -moz-linear-gradient(left,  #f40,  #fff);
    }
    .tjform input[type=submit] {
      margin: 0;
      float: none;
    }
