- @page_title = "Monthly UDIDs for offer: #{@offer.name}"

.icon= image_tag(@offer.get_icon_url, :size => '57x57')
%h1= @offer.name

%p UDIDs for:
- @keys.each do |key|
  .month= link_to key, {:action => "udid", :id => @offer.id, :params => {:date => key}}
.month= link_to "All time", {:action => "udid", :id => @offer.id}

- content_for :page_styles do
  :plain
    .icon {
      float: left;
    }
