- @page_title = 'Experiments'

%table.tablesorter
  %thead
    %tr
      %th Name
      %th Type
      %th Test Group %
      %th Started
      %th Ended
      %th Due
  %tbody
    - @experiments.each do |experiment|
      %tr
        %td= link_to experiment.name, [:tools, experiment]
        %td= experiment.bucket_type
        %td= experiment.ratio
        %td= experiment.started_at || 'n/a'
        %td= experiment.ended_at || 'n/a'
        %td= experiment.due_at


.launch_button= link_to 'New Experiment', new_tools_experiment_path

%h4 Experiments System Info
- bucket_count = ExperimentBucket.count_from_cache
- bucketed_devices_count = Device.count(:where => 'experiment_bucket_id is not null')
- free_buckets = ExperimentBucket.where(:experiment_id => nil)


.experiments_stats
  .total_buckets= "Total experiment buckets: #{bucket_count}"
  .free_buckets= "Total available buckets: #{free_buckets.count}"
  .free_ui_buckets= "Available UI buckets: #{free_buckets.where(:bucket_type => 'interface').count}"
  .free_opt_buckets= "Available optimization buckets: #{free_buckets.where(:bucket_type => 'optimization').count}"
  .avg_bucket_size= "Approximate average bucket size: #{ExperimentBucket.average_size} devices"
  .eligible_devices= "Approximate total devices: #{Device.cached_count}"
  .free_devices= "Approximate available devices: #{free_buckets.count * ExperimentBucket.average_size}"
