- @page_title = 'All App Reviews'

%h1
  All App Reviews
  - if @app.present?
    for #{@app.name}
  - if @author.present?
    by #{@author.full_name}

- if @app.present?
  = link_to "[Add new review for #{@app.name}]", new_tools_app_review_path(:app_id => @app.id)
- if @app.present? || @author.present?
  = link_to "[All app reviews]", tools_app_reviews_path

%br

%table#app_reviews_table.tablesorter
  %thead
    %tr
      %th App Name
      %th Reviewer
      %th Platform
      %th Review Text
      %th
      %th
  %tbody
    - @app_reviews.each do |app_review|
      %tr
        %td= link_to(app_review.app_name, tools_app_reviews_path(:app_id => app_review.app_id))
        %td= link_to(app_review.author_full_name, tools_app_reviews_path(:author_id => app_review.author_id))
        %td= app_review.platform
        %td= app_review.text
        %td= link_to('Edit', edit_tools_app_review_path(app_review))
        %td= link_to('Delete', tools_app_review_path(app_review), :method => :delete, :confirm => "Delete review?")

- content_for :page_javascript do
  :plain
    $(function() {
      $("#app_reviews_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          4: { sorter: false },
          5: { sorter: false }
        }
      });
    });
