- @page_title = "App Reviews for #{@app.name}"

%h1
  App Reviews for
  %b= @app.name

= link_to '[Add new app review]', new_tools_app_review_path(:app_id => @app.id)
= link_to '[All app reviews]', tools_app_reviews_path
%br

= render 'table'
