%h1= @page_title

- if permitted_to?(:new, :dashboard_tools_clients)
  %h4= link_to '[Add New Client]', new_tools_client_path

= form_tag(request.path, :method => :get) do
  = label_tag(:q, 'Name')
  = text_field_tag(:q, params[:q], :size => '40')
  = submit_tag('Search')

%table#clients_table.tablesorter
  %thead
    %tr
      %th{ :class => 'headerSortDown header' } Name
      %th Payment type
      %th Partners
      - if permitted_to?(:edit, :dashboard_tools_clients)
        %th{ :colspan => 2 } Actions
  %tbody
    - @clients.each do |client|
      - class_names = cycle('', 'odd')
      %tr{ :class => class_names }
        %td= client.name
        %td= client.payment_type || '(none)'
        %td
          - client.partners.each do |partner|
            = link_to(partner.name||'(no name)', partner)
        - if permitted_to?(:edit, :dashboard_tools_clients)
          %td= link_to '[Edit]', edit_tools_client_path(client)
          %td= link_to '[Manage partners]', tools_client_path(client.id)
= will_paginate(@clients)

- content_for :page_javascript do
  :plain
    $(function() {
      $('#clients_table').tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: false },
          2: { sorter: false },
          3: { sorter: false }
        }
      });
    });
