= javascript_include_tag "jquery-1.7.2.min.js"
= stylesheet_link_tag "countdown"
= stylesheet_link_tag "get_offers_lightbox"
= javascript_include_tag "jquery.colorbox.min"
= javascript_include_tag "jquery.countdown.min"
= javascript_include_tag "jquery.cookie"
%script{:type => 'text/javascript'}
  :plain
    $(document).ready(function() {
        var fourHours = 1000*60*60*4;
        var date = new Date((new Date()).valueOf() + fourHours);
        var currencyMessageEnabled = #{@currency.message_enabled?};
        var currencySaleMessageEnabled = #{@currency_sale.present? ? @currency_sale.message_enabled? : false};
        if (currencyMessageEnabled && !currencySaleMessageEnabled && $.cookie("#{@currency.id}") == null) {
            $.cookie("#{@currency.id}", "present", { expires: date });
            $.colorbox({inline:true, width:"96%", href:'#currency_message'});
        } else if (currencySaleMessageEnabled && $.cookie("#{@currency_sale.id}") == null) {
            $.cookie("#{@currency_sale.id}", "present", { expires: date });
            var customMessageEnabled = #{@currency_sale.message.present?};
            if (customMessageEnabled) {
                $.colorbox({inline:true, width:"96%", href:'#currency_message'});
            } else {
                var endDate = new Date(#{@currency_sale.end_time.to_json.html_safe});
                $('.countdown').countdown({until: endDate});
                $.colorbox({inline:true, width:"96%", href:"#currency_message", height: "160px"});
            }
        }
        if (currencySaleMessageEnabled || currencyMessageEnabled) {
            $('#cboxClose').addClass('button orange gradientfix');
            //When phone is tilted for portrait/landscape resize
            //the lightbox
            window.addEventListener("orientationchange", function() {
                if($('#cboxOverlay').is(':visible')){
                    $.colorbox.load(true);
                }
            }, false);
        }
    });
