- click_url = @for_preview ? '#' : get_click_url(@offer)

%html{ :class => "#{HeaderParser.device_type(request.headers['user-agent'])} device mobile no-os no-touch no-hd" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => 'viewport', 'content' => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }
    %meta{ :name => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
    %meta{ :name => 'description', :content => t('text.games.meta_description') }
    %meta{ :name => 'keywords', :content => t('text.games.meta_keywords') }
    %meta{ :property => 'og:image', :content => "https://www.tapjoy.com/images/ic_launcher_96x96.png" }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %link{ :rel => 'apple-touch-icon-precomposed', :href => '/images/tjgames-114x114.png' }
    %link{ :rel => 'publisher', :href => 'https://plus.google.com/b/116280135840952950839/' }

    = stylesheet_link_tag('featured_ad/style-master')

    %title
      = @currency.conversion_rate > 0 ? t('text.featured.title', :currency => @currency.name) : ''

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      :plain
        document.ontouchmove = function(e){ e.preventDefault(); };
        window.onload = init;

        var client = new Object();    // Info about target device

        var creativeList = [];

        var devicePortraitHeightThreshold = 566;
        var deviceLandscapeWidthThreshold = 640;

        function init() {
          // Determine target screen size and orientation
          inspectScreen();

      - unless @for_preview
        :plain
          xmlHttpRequst = new XMLHttpRequest();
          xmlHttpRequst.open('POST', '#{encrypt_url(skip_fullscreen_ad_path({ :udid => params[:udid], :offer_id => @offer.id }))}', false)
          xmlHttpRequst.send();

      - # Provide available custom creative sizes to javascript
      - @offer.banner_creatives.each do |size|
        :plain
            var creative = new Object();
            creative.name = "#{@offer.banner_creative_url(:size => size, :format => 'jpeg', :bust_cache => @for_preview)}";
            var creativeSize = "#{size}".split('x');
            creative.width = parseInt(creativeSize[0]);
            creative.height = parseInt(creativeSize[1]);
            creative.orientation = (creative.height > creative.width) ? 'portrait' : 'landscape';

            creativeList.push(creative);

      :plain
          setCreative();
        }

        function inspectScreen() {
          if(#{params[:height].present? && params[:width].present?}) {
            client.width = parseInt('#{params[:width]}');
            client.height = parseInt('#{params[:height]}');
          } else {
            client.width = window.innerWidth;
            client.height = window.innerHeight;
          }
          client.orientation = (client.height > client.width) ? 'portrait' : 'landscape';

          if (client.orientation == 'portrait') {
            if (client.height >= devicePortraitHeightThreshold) {
              client.device = 'tablet';
            } else {
              client.device = 'mobile';
            }
          }

          if (client.orientation == 'landscape') {
            if (client.width >= deviceLandscapeWidthThreshold) {
              client.device = 'tablet';
            } else {
              client.device = 'mobile';
            }
          }
        }

        function rearrange() {
          inspectScreen();
          setCreative();
        }

        function setCreative() {
          // default to phone landscape/portrait
          var creativeWidth = 300;
          var creativeHeight = 250;

          if (client.device == 'tablet' && client.orientation == 'portrait') {
            creativeWidth = 748;
            creativeHeight = 720;
          } else if (client.device == 'tablet' && client.orientation == 'landscape') {
            creativeWidth = 1000;
            creativeHeight = 490;
          }

          for(var i = 0; i < creativeList.length; i++ ) {
            var creative = creativeList[i];
            if (creative.width == creativeWidth && creative.height == creativeHeight) {
              document.getElementById('creative_img').src = creative.name;
              break;
            }
          }
        }


  %body
    #StoreID
      = CGI::escape(@offer.store_id_for_feed)

    - unless @for_preview
      %iframe{ :src => "#{API_URL}#{impression_path}?data=#{@encrypted_params}", 'style' => 'display:none;', 'width'=> 1, 'height' => 1, "frameborder" => 0}

    #featured.panel.stretch
      .heading
        - if @offer.rewarded? && @currency.rewarded?
          %span
            earn
          %span.big
            = @currency.get_visual_reward_amount(@offer, params[:display_multiplier])
          %span.pb5
            = @currency.name
        - else
          %span.big.pt15
            = @offer.name

      %div{:class => "content #{@offer.featured_ad_color_in_css}"}
        - if @offer.video_offer?
          %div#creative
            .app.video
              .play#play
                %a{:href => "#{click_url}"}
                  &nbsp;&#9654;
            %img#thumb{:src => "#{@offer.video_icon_url}"}

        - elsif @offer.banner_creatives.present?
          %a{:href => "#{click_url}"}
            %div#creative
              %img{:id => "creative_img", :src => ""}

        - else
          %a{:href => "#{click_url}"}
            %div#creative
              .app#app
                .icon
                  %img#thumb{:src => "#{@offer.item_type == 'App' ? @offer.get_icon_url(:source => :cloudfront, :size => '256') : @offer.get_icon_url}"}
                  .cover
                  .shadow
                .title.mt5
                  = @offer.name

      .footer
        .wrap
          %p#title
            = featured_offer_desc(@offer)
          .action
            - unless @offer.video_offer?
              %a.btn.block.action.large.bold.mb10{:href => "#{click_url}"}
                = featured_offer_action_text(@offer)
            %span.presentedby
              Presented by

  %style{ :type => 'text/css' }
    :plain
      #StoreID {
        display: none;
      }

= javascript_include_tag('featured_ad')
