- @page_title = @currency.conversion_rate > 0 ? t('text.offerwall.title', :currency => @currency.name) : ''

- unless @message.blank?
  - render(:layout => 'box') do
    .explanation= @message

- if params[:currency_selector] == '1' && @currencies.present? && @currencies.size > 1
  = render :partial => 'currency_selector'

- if @currency.conversion_rate > 0
  - render(:layout => 'box') do
    %p.explanation
      = t('text.offerwall.redesign_instructions', :currency => @currency.name)

- if @start_index > 0
  = render :partial => 'pagination_links'

- if @test_offers.present?
  - unless @currency.tapjoy_enabled?
    - render(:layout => 'box') do
      .explanation
        You must email #{mail_to("publishersupport@tapjoy.com")} before users will be able to view offers.
  - @test_offers.each do |test_offer|
    - render(:layout => 'box') do
      .explanation
        = test_offer.name
        %br
        = link_to("Click to receive #{@currency.get_visual_reward_amount(test_offer, params[:display_multiplier])} #{@currency.name}", get_click_url(test_offer))

#offers.box
  = render :partial => 'top_corners'

  - @offer_list.each_with_index do |offer, index|
    - link_class = index == 0 ? 'offer first' : index == @offer_list.size - 1 ? 'offer last' : 'offer'
    - link_to(get_click_url(offer), :class => link_class, :onclick => "this.className += ' clicked';") do
      .middle
        .divider
          .l
            .r
              .content
                .icon
                  %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => offer.get_icon_url(:source => :cloudfront, :size => '57') }
                .offer-text
                  - if @currency.conversion_rate > 0
                    %span
                      - amount = capture_haml do
                        %label= @currency.get_visual_reward_amount(offer, params[:display_multiplier])
                      = offer.direct_pay? ? t('text.offerwall.redesign_buy_currency', :amount => amount, :currency => @currency.name) : t('text.offerwall.redesign_earn_currency', :amount => amount, :currency => @currency.name)
                  %p
                    %b= offer.name
                .ribbon
                  %span= visual_cost(offer)
                .load

  = render :partial => 'bottom_corners'

- if @start_index > 0 || @more_data_available > 0
  = render :partial => 'pagination_links'

#footerMargin
  #footer
    = link_to(t('text.shared.privacy'), "#{WEBSITE_URL}/site/privacy_mobile?language_code=#{I18n.locale}")
    %span &nbsp;|&nbsp;
    - if @currency.conversion_rate > 0
      = link_to_missing_currency
      %span &nbsp;|&nbsp;
    %span
      = t('text.shared.ads_by')
    %img{ :src => '/images/logo.jpg' }

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_javascript do
  :plain
    window.onload = init;
    window.onscroll = scroll;
    document.body.ontouchmove = scroll;

    function init() {
      window.setTimeout(scroll, 0);
    }

    function scroll() {
      images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        if (window.scrollY + window.innerHeight + 480 > image.offsetTop) {
          loadImage(image);
        }
      }
    }

    function loadImage(image) {
      if (image.getAttribute('s') && image.src != image.getAttribute('s')) {
        image.src = image.getAttribute('s');
      }
    }

- content_for :page_styles do
  :plain
    .hidden { display: none; }

    .offer { display: block; float: left; text-decoration: none; width: 100%; }
    .content { margin-top: 10px; }
    .explanation { color: #0c429b; font-weight: bold; font-size: 13px; margin: 0px 10px 0 10px; text-align: center; min-height: 14px; }
    .icon { float: left; margin: 0 10px 0 19px; }
    .icon img { width: 57px; height: 57px; }
    .offer-text { color: #686868; display: table-cell; font-size: 14px; height: 47px; margin: 0; padding: 10px 7px 0 0; vertical-align: middle; }
    .offer-text span { color: #505050; font-size: 14px; font-weight: bold; }
    .offer-text span label { color: #0c429b; }
    .offer-text p { font-size: 12px; line-height: 14px; margin: 2px 0 0 0; }
    .ribbon { background: url('/images/ribbon.png') no-repeat; color: #fff; float: right; font-size: 14px; font-weight: bold; height: 50px; line-height: 10px; margin: -60px 4px 0 0; width: 63px; }
    .hd .ribbon { background: url('/images/ribbon-2x.png') no-repeat; background-size: 63px 22px; }
    .ribbon span { float: right; text-align: center; width: 50px; height: 20px; left: 20px; top: 5px; line-height: 20px; }
    .divider-outer { float: left; margin-top: 7px; width: 100%; }
    .divider { background: url('/images/divider.png') repeat-x 100% 100%; float: left; height: 80px; width: 100%; }
    .hd .divider { background: url('/images/divider-2x.png') repeat-x 100% 100%; background-size: 1px 1px; }

    .load { float: right; height: 16px; width: 16px; margin: -30px 22px 0 0; }
    .offer.clicked .load { background: transparent url(/images/load-circle.gif) no-repeat 98%; }
    .hd .offer.clicked .load { background: transparent url(/images/load-circle-2x.gif) no-repeat 98%; }

    .box-content, .first .content { margin-top: 0px; }
    .first .divider { height: 70px; }
    .last .divider { background: none; height: 70px; margin: 0px; }

    .pagination a { color: #505050; font-weight: bold; font-size: 14px; text-decoration: none; }
    .prev { float:left; height: 19px; text-align: right; line-height: 19px; margin-left: 19px; width: 105px; }
    .prev .arrow { background: url('/images/arrows.png') no-repeat; float: left;  width: 19px; height: 19px; }
    .next { float:right; height: 19px; text-align: left; line-height: 19px; margin-right: 19px; width: 75px; }
    .next .arrow { background: url('/images/arrows.png') no-repeat -19px; float: right;  width: 19px; height: 19px; }
    .hd .prev .arrow { background: url('/images/arrows-2x.png') no-repeat; background-size: 38px 19px; }
    .hd .next .arrow { background: url('/images/arrows-2x.png') no-repeat -19px; background-size: 38px 19px; }

    .pagination .clicked .arrow { background: transparent url(/images/load-circle.gif) no-repeat; width: 16px; height: 16px; background-size: 16px 16px; }
    .hd .pagination .clicked .arrow { background: transparent url(/images/load-circle.gif) no-repeat; width: 16px; height: 16px; background-size: 16px 16px; }

    #footerMargin { float: left; width: 100%; padding: 10px 0 23px 0; }
    #footer { margin: 0px auto; padding-top: 10px; text-align: center;  }
    #footer a, #footer span { color: #fff; font-size: 13px; text-decoration: none; }
    #footer img { width: 37px; height: 13px; vertical-align: middle; }
    .hd #logo { background: url('/images/logo-2x.jpg'); background-size: 37px 13px; }
