- @page_title = @currency.conversion_rate > 0 ? t('text.offerwall.title', :currency => @currency.name) : ''

- unless @message.blank?
  .message= @message

- if params[:currency_selector] == '1' && @currencies.present? && @currencies.size > 1
  = render :partial => 'currency_selector'

- if @currency.conversion_rate > 0
  #instructions
    = t 'text.offerwall.instructions', :currency => @currency.name

- if @start_index > 0
  .pagination
    .prev= get_previous_link
    .next= get_next_link
    .clear

- if @test_offers.present?
  - unless @currency.tapjoy_enabled?
    .message
      You must email #{mail_to("publishersupport@tapjoy.com")} before users will be able to view offers.
  - @test_offers.each do |test_offer|
    .message
      = test_offer.name
      %br
      = link_to("Click to receive #{@currency.get_visual_reward_amount(test_offer, params[:display_multiplier])} #{@currency.name}", get_click_url(test_offer))

#offers
  - @offer_list.each do |offer|
    .offer
      - link_to(get_click_url(offer), :onclick => "this.className = 'clicked';") do
        %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => offer.get_icon_url(:source => :cloudfront, :size => '57') }
        .offertext
          .cell
            %span.offername #{offer.name} (#{visual_cost(offer)})
            - if @currency.conversion_rate > 0
              %br
              - amount_and_currency = capture_haml do
                %span.amount= t('text.offerwall.amount_and_currency', :currency => @currency.name, :amount => @currency.get_visual_reward_amount(offer, params[:display_multiplier]))
              = offer.direct_pay? ? t('text.offerwall.buy_currency', :amount_and_currency => amount_and_currency) : t('text.offerwall.earn_currency', :amount_and_currency => amount_and_currency)

- if @start_index > 0 || @more_data_available > 0
  .pagination
    .prev= get_previous_link
    .next= get_next_link
    .clear

#privacy
  = link_to(t('text.shared.privacy'), "#{WEBSITE_URL}/site/privacy_mobile?language_code=#{I18n.locale}")
  - if @currency.conversion_rate > 0
    ·
    = link_to_missing_currency

#adsby 
  = t('text.shared.ads_by')
  %img{ :src => "#{CLOUDFRONT_URL}/images/tapjoylogo-small.png", :alt => "Tapjoy"}

.clear

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_javascript do
  - if params[:device_type].to_s.match(/windows/i)
    :plain
      window.onfocus = reload;
      function reload(){}

      var images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        loadImage(image);
      }
  :plain
    window.onload = init;
    window.onscroll = scroll;
    document.body.ontouchmove = scroll;

    function init() {
      window.setTimeout(scroll, 0);
    }

    function scroll() {
      var images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        var scrollY = window.scrollY;
        if (!window.scrollY)
          scrollY = document.body.parentNode.scrollTop;

        if (scrollY + window.innerHeight + 480 > image.offsetTop) {
          loadImage(image);
        }
      }
    }

    function loadImage(image) {
      if (image.getAttribute('s') && image.src != image.getAttribute('s')) {
        image.src = image.getAttribute('s');
      }
    }
- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }
    
    body {
      margin-bottom: 10px;
    }
    
    img {
      border: 0;
    }
    
    .message,
    .pagination,
    #instructions { 
      padding: 10px;
      margin: 10px 3%;
      color: #004E09;
      font-size: 75%;
      font-weight: bold;
      text-align: center;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
    
    #instructions {
      font-size: 110%;
    }
    
    #offers {
      margin: 10px 3%;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
    }

    #offers .offer {
      padding: 5px 10px;
      height: 65px;
      font-size: 90%;
      font-weight: bold;
      border-bottom: 1px solid #d5d5d5;
    }

    #offers .offer:last-child {
      border-bottom: none;
    }

    #offers .offer a {
      display: block;
      padding-right: 16px;
      color: #004E09;
      background: transparent url(/images/arrow-right.png) no-repeat 100%;
    }

    #offers .offer a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 100%;
    }

    #offers .offer img {
      padding-top: 4px;
      width: 57px;
      height: 57px;
      float: left;
    }

    #offers .offer .offertext {
      float: left;
    }

    body:nth-of-type(1) #offers .offer .offertext {
       float: none;
    }

    #offers .offer .offertext .cell {
      height: 65px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
      line-height: 16px;
    }

    #offers .offer .offername {
      display: inline-block;
      max-height: 32px;
      overflow: hidden;
      padding-bottom: 2px;
    }

    #offers .offer .amount {
      color: rgb(0, 136, 16);
    }
    
    #adsby, 
    #privacy a {
      font-size: 75%;
      color: #004E09;
    }
    
    #adsby {
      margin-top: 2px;
      float: right;
      margin-right: 5%;
    }
    
    #adsby img {
      vertical-align: bottom;
    }
    
    #privacy {
      float: left;
      margin-left: 5%;
    }
    
    #privacy a {
      text-decoration: underline;
    }
    
    .pagination a {
      font-size: 120%;
      font-weight: bold;
      color: #004E09;
      display: block;
    }
    
    .pagination .prev a {
      padding: 5px 0 5px 20px;
      background: transparent url(/images/arrow-left-small.png) no-repeat 0%;
    }
    
    .pagination .next a {
      padding: 5px 20px 5px 0;
      background: transparent url(/images/arrow-right-small.png) no-repeat 100%;
    }
    
    .pagination .prev a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 0%;
    }
    
    .pagination .next a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 100%;
    }
    
    .pagination .prev {
      float: left;
    }
    
    .pagination .next {
      float: right;
    }
    
    .clear {
      clear: both;
    }
    
    .hidden {
      display: none;
    }
