- @page_title = "Earn #{@publisher_app.name} #{@currency.name}"

#instructions
  Important instructions: Install and OPEN one of the applications below to receive #{@currency.name}.
  You will receive your #{@currency.name} within a few minutes after 
  %i opening
  the downloaded application.

- if @start_index > 0
  .pagination
    .prev= get_previous_link
    .next= get_next_link
    .clear

#offers
  - @offer_list.each do |offer|
    %a.offer{ :href => offer.get_redirect_url(@publisher_app, params[:publisher_user_id], params[:udid], @source, params[:app_version]), :onclick => "this.className = 'clicked';" }
      %img{ :src => offer.get_icon_url }
      .offertext
        .cell
          %span.offername #{offer.name} (#{offer.cost})
          %br
          Earn
          %span.amount #{@currency.get_reward_amount(offer, @source)} #{@currency.name}

.pagination
  .prev= get_previous_link
  .next= get_next_link
  .clear

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
    }
    
    .pagination,
    #instructions { 
      padding: 10px;
      margin: 10px 3%;
      color: #004E09;
      font-weight: bold;
      font-size: 75%;
      text-align: center;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
    
    #offers {
      margin: 0 3% 10px 3%;
      list-style: none;
    }
    
    #offers a {
      display: block;
      padding: 5px 25px 5px 5px;
      text-decoration: none;
      font-size: 90%;
      color: #004E09;
      font-weight: bold;
      height: 65px;
      border: 1px solid #d5d5d5;
      border-top: none;
      background: white url(/images/arrow-right.png) no-repeat 98%;
    }
    
    #offers a.clicked {
      background: white url(/images/load-circle.gif) no-repeat 99%;
    }
    
    #offers .offer img,
    #offers .clicked img {
      padding-top: 5px;
      width: 57px;
      height: 57px;
      float: left;
    }
    
    #offers .offertext {
      float: left;
    }
    
    body:nth-of-type(1) #offers .offertext {
       float: none;
    }
    
    #offers .offertext .cell {
      height: 65px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }
    
    #offers .amount {
      color: rgb(0, 136, 16);
    }
    
    #offers a:first-child {
      -moz-border-radius-topleft:10px;
      -webkit-border-top-left-radius:10px;
      -moz-border-radius-topright:10px;
      -webkit-border-top-right-radius:10px;
    }
    
    #offers a:last-child {
      -moz-border-radius-bottomleft:10px;
      -webkit-border-bottom-left-radius:10px;
      -moz-border-radius-bottomright:10px;
      -webkit-border-bottom-right-radius:10px;
    }
    
    .pagination a {
      font-size: 120%;
      color: #004E09;
      font-weight: bold;
      text-decoration: none;
      display: block;
    }
    
    .prev a {
      padding: 5px 0 5px 20px;
      background: white url(/images/arrow-left-small.png) no-repeat 0%;
    }
    
    .next a {
      padding: 5px 20px 5px 0;
      background: white url(/images/arrow-right-small.png) no-repeat 100%;
    }
    
    .prev a.clicked {
      background: white url(/images/load-circle.gif) no-repeat 0%;
    }
    
    .next a.clicked {
      background: white url(/images/load-circle.gif) no-repeat 100%;
    }
    
    .prev {
      float: left;
    }
    
    .next {
      float: right;
    }
    
    .clear {
      clear: both;
    }
    
    .hidden {
      display: none;
    }
