- @page_title = @currency.conversion_rate > 0 ? t('text.offerwall.title', :currency => @currency.name) : ''

- unless @message.blank?
  #top_box
    .explanation= @message

- if !@for_preview
  #top_box
    .explanation
      - if @currency.conversion_rate > 0
        = t('text.offerwall.instructions', :currency => @currency.name)
      - else
        %span.red= t('text.offerwall.popular_apps')
        %br
        = t('text.offerwall.instructions_non_rewarded')
  - if params[:currency_selector] == '1' && @currencies.present? && @currencies.size > 1
    = render :partial => 'currency_selector'

- if @test_offers.present?
  - unless @currency.tapjoy_enabled?
    #top_box
      .explanation
        You must email #{mail_to("publishersupport@tapjoy.com")} before users will be able to view offers.
  - @test_offers.each do |test_offer|
    #top_box
      .explanation
        = test_offer.name
        %br
        = link_to("Click to receive #{@currency.get_visual_reward_amount(test_offer, params[:display_multiplier])} #{@currency.name}", get_click_url(test_offer))

#offers.box
  - @offer_list.each_with_index do |offer, index|
    - link_class = index == 0 ? 'offer first' : index == @offer_list.size - 1 ? 'offer last' : 'offer'
    - link_class << ' video' if offer.item_type == 'VideoOffer'
    - link_to(get_click_url(offer), :class => link_class, :onclick => @show_wifi_only && offer.wifi_only? ? "return wifiPopUp(this);" : "this.className += ' clicked';") do
      .content
        .banner
          .cost
            = visual_cost(offer)
        .icon
          - if offer.item_type == 'VideoOffer'
            .video_icon{:style => "background-image: url(" << offer.get_video_icon_url << ")"}
              .play
          - else
            .offer_icon
              - icon_url = offer.get_icon_url(:source => :cloudfront, :size => '57')
              - if @for_preview
                = image_tag(icon_url)
              - else
                %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => icon_url }
        .offer-text
          - if @currency.conversion_rate > 0
            %span
              - amount = capture_haml do
                %label= @currency.get_visual_reward_amount(offer, params[:display_multiplier])
              = offer.direct_pay? ? t('text.offerwall.buy_currency', :amount => amount, :currency => @currency.name) : t('text.offerwall.earn_currency', :amount => amount, :currency => @currency.name)
          %p
            %b= offer.name
            - if !@for_preview && @device.is_papayan? && @show_papaya && @papaya_offers.include?(offer.id)
              .papaya-box
                %span.papaya-logo
                %span.orange-box
                  #{number_with_delimiter(@papaya_offers[offer.id])} currently playing
            - if @show_wifi_only && offer.wifi_only?
              .wifi_only
                Wifi Required
                .wifi_icon
        .load
    - unless index == (@offer_list.size-1)
      .divider

- if @more_data_available > 0
  #bottom_box{ :onclick => "javascript:getAds();" }
    #plus
    %a{ :href => "javascript:void(0);", :id => "load_more" }
      = t('text.offerwall.load_more')

- unless @for_preview
  #footerWrapper
    #footer
      - if @currency.conversion_rate > 0
        = link_to_missing_currency
        %span &nbsp;|&nbsp;
      = link_to(t('text.shared.privacy'), "#{WEBSITE_URL}/site/privacy_mobile?language_code=#{I18n.locale}")
      %br
      %span
        = t('text.shared.ads_by')
      #logo

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_javascript do
  :plain
    window.onload = init;
    window.onscroll = scroll;
    document.body.ontouchmove = scroll;
    var jqSrc = "/javascripts/jquery-1.4.2.min.js";
    var jqLoaded = false, firstLoad = true, jqInt, reqOffers = false; loadedOffers = 0, limit = 25, start = 25;
    var blank_img = "#{CLOUDFRONT_URL}/images/blank.png";
    var url = "#{get_next_link_json}";
    var currency = "#{@currency.name}";
    var avail = "#{@more_data_available}";
    avail = parseInt(avail);

    function wifiPopUp(e){
      var y = confirm("#{t('text.offerwall.wifi_warning')}");
      if(y) {
        e.className += ' clicked';
        return true;
      }
      return false;
    }

    function scroll() {
      images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        var scrollY = window.scrollY;
        if (!window.scrollY) {
          scrollY = document.body.parentNode.scrollTop;
        }
        if (scrollY + window.innerHeight + 480 > image.offsetTop) {
          loadImage(image);
        }
      }
    }

    function loadImage(image) {
      if (image.getAttribute('s') && image.src != image.getAttribute('s')) {
        image.src = image.getAttribute('s');
      }
    }

    function loadJQ(ref){
      if (jqSrc) {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = jqSrc;
        document.getElementsByTagName("head")[0].appendChild(s);
        jqInt = setInterval(function() {
          if (jqLoaded) {
            return;
          }
          else if (typeof $ != 'undefined') {
            firstLoad = false;
            jqLoaded = true;
            if (ref == 'getAds') {
              getAds();
            }
            clearInterval(jqInt);
          }
        }, 100);
      }
    }

    function checkJQ(ref) {
      if (jqLoaded) {
        return;
      }
      else if (typeof $ != 'undefined') {
        firstLoad = false;
        jqLoaded = true;
        clearInterval(jqInt);
        if (ref == 'getAds') {
          getAds();
        }
      }
    }

    function getAds() {
      if (firstLoad) {
        loadJQ('getAds');
      }
      else {
        fetchOffers();
      }
    }

    function fetchOffers() {
      if (avail <= 0) {return;}
      if (url) {
        $("#load_more").html("#{t('text.offerwall.loading')}");
        $.ajax({
          url: url + '&limit=25&start=' + start,
          dataType: 'json',
          timeout: 15000,
          success: function(data) {
            if (data.OfferArray) {
              var offers = data.OfferArray;
              offset = offers.length;
              if (data.MoreDataAvailable) {
                $("#load_more").html("#{t('text.offerwall.load_more')}");
                avail = data.MoreDataAvailable;
              }
              else {
               $("#bottom_box").hide();
                avail = 0;
              }
              var t = [];
              $.each(offers, function(i,v){
                var offerCls = "";
                var imgCls = "offer_icon";
                if (v.Type == 'VideoOffer') {
                  offerCls = 'video';
                  imgCls = 'video_icon';
                }
                if (i == 0) {
                  t.push('<div class="divider"></div>');
                }
                t.push('<a class="offer '+ offerCls +'" href="'+ v.RedirectURL + '" onclick="' + (v.WifiOnly ? 'return wifiPopUp(this);' : 'this.className += \' clicked\';') + '">');
                  t.push('<div class="content">');
                    t.push('<div class="banner">');
                      t.push('<div class="cost">');
                        t.push(v.Cost);
                      t.push('</div>');
                    t.push('</div>');
                    t.push('<div class="icon">');
                      if (v.Type == 'VideoOffer') {
                        t.push('<div class="' + imgCls + '" style="background-image: url(' + v.IconURL+ ')">');
                          t.push('<div class="play"></div>');
                        t.push('</div>');
                      }
                      else {
                        t.push('<div class="' + imgCls + '">');
                          t.push('<img src="' + blank_img + '" s="' + v.IconURL + '">');
                        t.push('</div>');
                      }
                    t.push('</div>');
                    t.push('<div class="offer-text">');
                      if(v.Amount > 0) {
                        t.push('<span>');
                         t.push('Earn ');
                           t.push('<label>');
                             t.push(v.Amount)
                           t.push('</label>');
                           t.push(' ' + currency);
                        t.push('</span>');
                      }
                      t.push('<p>');
                        t.push('<b>');
                          t.push(v.Name);
                          if (v.PapayaUserCount) {
                            t.push('<div class="papaya-box">');
                              t.push('<span class="papaya-logo">');
                              t.push('</span>');
                              t.push('<span class="orange-box">');
                                t.push(v.PapayaUserCount + ' currently playing');
                              t.push('</span>');
                            t.push('</div>');
                          }
                          if (v.WifiOnly) {
                            t.push('<div class = "wifi_only">');
                              t.push('Wifi Only <div class="wifi_icon"></div>');
                            t.push('</div>');
                          }
                        t.push('</b>');
                      t.push('</p>');
                    t.push('</div>');
                    t.push('<div class="load"></div>');
                  t.push('</div>');
                t.push('</a>');
                if (i != (offers.length - 1)) {
                  t.push('<div class="divider"></div>');
                }
              });
              $("#offers").append(t.join(''));
              scroll();
              start = start + 25;
            }
          },
          error: function() {
            $("#load_more").html("#{t('text.offerwall.load_error')}");
          }
        });
      }
    }

    function init() {
      window.setTimeout(scroll, 0);
    }

