- @page_title = "Earn #{@currency.name}"

- unless @message.blank?
  .message= @message

#instructions
  Install and OPEN one of the apps below to receive #{@currency.name}
  
- if @start_index > 0
  .pagination
    .prev= get_previous_link
    .next= get_next_link
    .clear

#offers
  - @offer_list.each do |offer|
    .offer
      %a{ :href => offer.get_click_url(@publisher_app, params[:publisher_user_id], params[:udid], @source, params[:app_version], @now), :onclick => "this.className = 'clicked';" }
        %img{ :src => 'http://s3.amazonaws.com/app_data/icons/blank.png', :s => offer.get_icon_url }
        .offertext
          .cell
            %span.offername #{offer.name} (#{offer.visual_cost})
            %br
            Earn
            %span.amount #{@currency.get_visual_reward_amount(offer)} #{@currency.name}

- if @start_index > 0 || @more_data_available > 0
  .pagination
    .prev= get_previous_link
    .next= get_next_link
    .clear

- if @now > Time.zone.parse('2010-10-19 23:00') && @now < Time.zone.parse('2010-10-20')
  .message{:style => 'font-size: 85%;'}
    Find more great apps
    %form{ :method => :get, :action => 'http://chomp.com/syn/tapjoy', :style => 'margin-top: 5px;' }
      = text_field_tag(:q)
      = submit_tag('Search')

- # Don't show 'Ads by Tapjoy' for Gamevil.
- # TODO: Don't hard-code id. Add a bit to the record or find some other solution.
- if @currency.partner_id != 'cea789f9-7741-4197-9cc0-c6ac40a0801a'
  #adsby Ads by Tapjoy

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_javascript do
  :plain
    window.onload = init;
    window.onscroll = scroll;
    document.body.ontouchmove = scroll;

    function init() {
      window.setTimeout(scroll, 0);
    }

    function scroll() {
      images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        if (window.scrollY + window.innerHeight > image.offsetTop) {
          loadImage(image);
        }
      }
    }

    function loadImage(image) {
      if (image.getAttribute('s') && image.src != image.getAttribute('s')) {
        image.src = image.getAttribute('s');
      }
    }

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }
    
    img {
      border: 0;
    }
    
    .message,
    .pagination,
    #instructions { 
      padding: 10px;
      margin: 10px 3%;
      color: #004E09;
      font-size: 75%;
      font-weight: bold;
      text-align: center;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
    }
    
    #offers {
      margin: 10px 3%;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
    }
    
    #offers .offer {
      padding: 5px 10px;
      height: 65px;
      font-size: 90%;
      font-weight: bold;
      border-bottom: 1px solid #d5d5d5;
    }
    
    #offers .offer:last-child {
      border-bottom: none;
    }
    
    #offers .offer a {
      display: block;
      padding-right: 16px;
      color: #004E09;
      background: transparent url(/images/arrow-right.png) no-repeat 100%;
    }
    
    #offers .offer a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 100%;
    }
    
    #offers .offer img {
      padding-top: 4px;
      width: 57px;
      height: 57px;
      float: left;
    }
    
    #offers .offer .offertext {
      float: left;
    }
    
    body:nth-of-type(1) #offers .offer .offertext {
       float: none;
    }
    
    #offers .offer .offertext .cell {
      height: 65px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }
    
    #offers .offer .amount {
      color: rgb(0, 136, 16);
    }
    
    #adsby {
      font-size: 75%;
      font-weight: bold;
      margin-bottom: 5px;
      color: #004E09;
      text-align: center;
    }
    
    .pagination a {
      font-size: 120%;
      font-weight: bold;
      color: #004E09;
      display: block;
    }
    
    .pagination .prev a {
      padding: 5px 0 5px 20px;
      background: transparent url(/images/arrow-left-small.png) no-repeat 0%;
    }
    
    .pagination .next a {
      padding: 5px 20px 5px 0;
      background: transparent url(/images/arrow-right-small.png) no-repeat 100%;
    }
    
    .pagination .prev a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 0%;
    }
    
    .pagination .next a.clicked {
      background: transparent url(/images/load-circle.gif) no-repeat 100%;
    }
    
    .pagination .prev {
      float: left;
    }
    
    .pagination .next {
      float: right;
    }
    
    .clear {
      clear: both;
    }
    
    .hidden {
      display: none;
    }
