
- @page_title = @currency.conversion_rate > 0 ? t('text.offerwall.title', :currency => @currency.name) : ''

- unless @message.blank?
  #top_box
    .explanation= @message

- if params[:currency_selector] == '1' && @currencies.present? && @currencies.size > 1
  = render :partial => 'currency_selector'

- if @currency.conversion_rate > 0
  #top_box
    .explanation
      = t('text.offerwall.redesign_instructions', :currency => @currency.name)

- if @start_index > 0
  = render :partial => 'pagination_links'

- if @test_offer.present?
  - unless @currency.tapjoy_enabled?
    #top_box
      .explanation
        You must email #{mail_to("publishersupport@tapjoy.com")} before users will be able to view offers.
  #top_box
    .explanation
      = @test_offer.name
      %br
      = link_to("Click to receive #{@currency.get_visual_reward_amount(@test_offer, params[:display_multiplier])} #{@currency.name}", get_click_url(@test_offer))

#offers.box
  - @offer_list.each_with_index do |offer, index|
    - link_class = index == 0 ? 'offer first' : index == @offer_list.size - 1 ? 'offer last' : 'offer'
    - link_class << ' video' if offer.item_type == 'VideoOffer'
    .divider
    - link_to(get_click_url(offer), :class => link_class, :onclick => "this.className += ' clicked';") do
      .content
        .banner
          .cost
            = visual_cost(offer)
        .icon
          - if offer.item_type == 'VideoOffer'
            .video_icon{:style => "background: url(" << offer.get_icon_url(:source => :cloudfront, :size => '200') << ")"}
              .play
          - else  
            .offer_icon
              %img{ :src => "#{CLOUDFRONT_URL}/images/blank.png", :s => offer.get_icon_url(:source => :cloudfront, :size => '57') }
        .offer-text    
          - if @currency.conversion_rate > 0
            %span
              - amount = capture_haml do
                %label= @currency.get_visual_reward_amount(offer, params[:display_multiplier])
              = offer.direct_pay? ? t('text.offerwall.redesign_buy_currency', :amount => amount, :currency => @currency.name) : t('text.offerwall.redesign_earn_currency', :amount => amount, :currency => @currency.name)
          %p
            %b= offer.name
        .load
    .divider
    
- if @more_data_available > 0
  #bottom_box{ :onclick => "javascript:getAds();" }
    #plus
    %a{ :href => "javascript:void(0);", :id => "load_more" }
      Load some more offers!
#footerWrapper
  #footer
    = link_to(t('text.shared.privacy'), 'https://www.tapjoy.com/site/privacy_mobile')
    %span &nbsp;|&nbsp;
    - if @currency.conversion_rate > 0
      = link_to_missing_currency
      %span &nbsp;|&nbsp;
    %span
      = t('text.shared.ads_by')
    #logo

%img.hidden{ :src => '/images/load-circle.gif' }

- content_for :page_javascript do
  :plain
    window.onload = init;
    window.onscroll = scroll;
    document.body.ontouchmove = scroll;
    var jqSrc = "/javascripts/jquery-1.4.2.min.js";
    var jqLoaded = false, firstLoad = true, jqInt, reqOffers = false; loadedOffers = 0, limit = 25, start = 25;
    var blank_img = "#{CLOUDFRONT_URL}/images/blank.png";
    var url = "#{get_next_link_json}";
    var currency = "#{@currency.name}";
    var avail = "#{@more_data_available}";
    avail = parseInt(avail);
    
    function scroll() {
      images = document.getElementsByTagName('img');
      for (var i = 0, image; image = images[i]; i++) {
        if (window.scrollY + window.innerHeight + 480 > image.offsetTop) {
          loadImage(image);
        }
      }
    }
    
    function loadImage(image) {
      if (image.getAttribute('s') && image.src != image.getAttribute('s')) {
        image.src = image.getAttribute('s');
      }
    }
    
    function loadJQ(ref){
      if (jqSrc) {
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.src = jqSrc;
        document.getElementsByTagName("head")[0].appendChild(s);
        jqInt = setInterval(function() {
          if (jqLoaded) {
            return;
          }
          else if (typeof $ != 'undefined') {
            firstLoad = false;
            jqLoaded = true;
            if (ref == 'getAds') {
              getAds();
            }
            clearInterval(jqInt);
          }
        }, 100);
      }
    }
    
    function checkJQ(ref) {
      if (jqLoaded) {
        return;
      }
      else if (typeof $ != 'undefined') {
        firstLoad = false;
        jqLoaded = true;
        clearInterval(jqInt);
        if (ref == 'getAds') {
          getAds();
        }
      }
    }
    
    function getAds() {
      if (firstLoad) {
        loadJQ('getAds');
      }
      else {
        fetchOffers();
      }
    }
    
    function fetchOffers() {
      if (avail <= 0) {return;}
      if (url) {
        $("#load_more").html("Loading...");
        $.ajax({
          url: url + '&limit=25&start=' + start,
          dataType: 'json',
          timeout: 15000,
          success: function(data) {
            if (data.OfferArray) {
              var offers = data.OfferArray;
              offset = offers.length;
              if (data.MoreDataAvailable) {
                $("#load_more").html("Load some more offers");
                avail = data.MoreDataAvailable;
              }
              else {
               $("#bottom_box").hide();
                avail = 0;
              }
              var t = [];
              $.each(offers, function(i,v){
                var offerCls = "";
                var imgCls = "offer_icon";
                if (v.Type == 'VideoOffer') {
                  offerCls = 'video';
                  imgCls = 'video_icon';
                }
                t.push('<a class="offer '+ offerCls +'" href="'+ v.RedirectURL + '">');
                  t.push('<div class="content">');
                    t.push('<div class="banner">');
                      t.push('<div class="cost">');
                        t.push(v.Cost);
                      t.push('</div>');
                    t.push('</div>');
                    t.push('<div class="icon">');
                      t.push('<div class="' + imgCls + '">');
                        t.push('<img src="' + blank_img + '" s="' + v.IconURL + '">');
                      t.push('</div>');
                    t.push('</div>');
                    t.push('<div class="offer-text">');
                      t.push('<span>');
                       t.push('Earn ');
                         t.push('<label>');
                           t.push(v.Amount)
                         t.push('</label>');
                         t.push(' ' + currency);
                      t.push('</span>');
                      t.push('<p>');
                        t.push('<b>');
                          t.push(v.Name);
                        t.push('</b>'); 
                      t.push('</p>');
                    t.push('</div>');
                  t.push('</div>');
                t.push('</a>');
                t.push('<div class="divider"></div>');
              });
              $("#offers").append(t.join(''));
              scroll();
              start = start + 25;
            } 
          },
          error: function() {
            $("#load_more").html("There was an issue. Please try again.");
          }
        });
      }   
    }
    
    function init() {
      window.setTimeout(scroll, 0);
    }
     
