- @page_title = @currency.conversion_rate > 0 ? t('text.offerwall.title', :currency => @currency.name) : ''
- @webpage_link = @currency.external_publisher? ? "#{WEBSITE_URL}/earn/#{ObjectEncryptor.encrypt(@currency.id)}" : WEBSITE_URL
- @class_fixed = library_version >= '9' ? "fixed" : ""
- content_for :page_styles do
  = render 'redesign.css'

%body
  #branding.brand-gradient.clearfix{ :class => @class_fixed }
  #wrapper{ :class => @class_fixed }
    - if params[:currency_selector] == '1' && @currencies.present? && @currencies.size > 1
      = render 'currency_selector'

    -#TODO(nixoncd): uncomment when currency sale view gets cleaned up
    -#= render 'currency_message'

    - if @test_offers.present?
      #test_offers
        - unless @currency.tapjoy_enabled?
          .explanation
            You must email #{mail_to("support+enable@tapjoy.com")} before users will be able to view offers.
        %ul
          - @test_offers.each do |test_offer|
            %li
              = test_offer.name
              %br
              = link_to("Click to receive #{@currency.get_visual_reward_amount(test_offer, params[:display_multiplier])} #{@currency.name}", get_click_url(test_offer))

    %ul#offers

    #loading
      #loader
        #loader_left.loader
        #loader_center.loader
        #loader_right.loader

    .container.nbb
      #more.button.orange.gradientfix
        = t('text.offerwall.load_more')

    #footer
      .center.links
        - if @currency.rewarded?
          %a{:id => "credits", :href => "#{new_support_request_path(missing_currency_support_params('html'))}"}
            = t('text.offerwall.missing_currency', { :currency => @currency.name })
          &nbsp; | &nbsp;
        %a{:id => "privacy", :href => "#{WEBSITE_URL}/site/privacy_mobile?language_code=#{I18n.locale}"}
          = t('text.offerwall.privacy')

      #poweredby.center.poweredby
        = t('text.offerwall.powered')

:javascript
  #{render 'shared/translations.js',  :filter => 'offerwall'}
  var page = #{@webpage_link.to_json},
      fetchURL = #{get_next_link_json_redesign.to_json},
      data = #{@final.to_json};

-# faking initial scroll in sdk9+ to make sure top bar position registers as fixed in ios
- if @class_fixed == 'fixed'
  :javascript
    window.scrollTo(0, 1);

= javascript_include_tag 'shared/i18n'
= javascript_include_tag "offerwall/offerwall"
