= form_for [ :tools, @video_offer ], :html => { :class => 'tjform', :multipart => true } do |f|
  %table
    %tr
      %th= label_tag 'Partner'
      %td
        = @video_offer.partner.name
        = f.hidden_field :partner_id
    %tr
      %th= f.label :name
      %td
        = f.text_field :name, :size => 50
        = error_message_on @video_offer, :name
    %tr
      %th= f.label :app_targeting
      %td
        = f.check_box :app_targeting
        = error_message_on @video_offer, :app_targeting
    %tr
      %th
        = f.label :name, 'Prerequisite'
      %td
        - offer_options = options_for_prerequisites(@video_offer)
        - prerequisites_options = offer_options
        - prerequisites_options = [ [ "None", "" ] ] + offer_options if ((permitted_to?(:edit, :dashboard_statz) || prerequisite_offer_id.blank?))
        = f.select :prerequisite_offer_id, prerequisites_options
        = error_message_on @video_offer, :prerequisite_offer_id
    %tr
      %th
        = f.label :name, 'Exclusion Prerequisites'
      %td
        = f.hidden_field(:hidden_exclusion_prerequisite_offer_ids, :value => '', :name => 'video_offer[exclusion_prerequisite_offer_ids][]')
        = f.chosen_select(:exclusion_prerequisite_offer_ids, options_for_select(offer_options, @video_offer.get_exclusion_prerequisite_offer_ids.to_a), {}, :multiple => true)
        = error_message_on @video_offer, :exclusion_prerequisite_offer_ids
    = f.fields_for :primary_offer do |primary_offer_form|
      = render :partial => 'dashboard/apps/offers_shared/featured_settings', :locals => {:f => primary_offer_form, :show_featured_checkbox => true, :offer => @video_offer.primary_offer}
    %tr
      %th= f.label :name, 'Age Gating'
      %td
        = f.select :age_gating, options_for_age_rating, :include_blank => 'None'
    %tr
      %th
        = f.label(:x_partner_prerequisites, 'Cross Partner Prerequisites')
      %td
        = f.text_area(:x_partner_prerequisites, :rows => 5)
        = error_message_on @video_offer, :x_partner_prerequisites
    %tr
      %th
        = f.label(:x_partner_exclusion_prerequisites, 'Cross Partner Exclusion Prerequisites')
      %td
        = f.text_area(:x_partner_exclusion_prerequisites, :rows => 5)
        = error_message_on @video_offer, :x_partner_exclusion_prerequisites
    %tr
      %th= label_tag :video_file, @video_offer.new_record? ? 'Upload Video' : 'Upload New Video'
      %td= f.file_field :video_file
    - if !@video_offer.new_record?
      %tr
        %th= label_tag "Current Icon", "Current Icon"
        %td= image_tag @video_offer.primary_offer.video_icon_url, :size => '200x125'
    %tr
      %th= label_tag :icon, @video_offer.new_record? ? 'Upload Icon' : 'Upload New Icon'
      %td= file_field_tag :icon
    - if !@video_offer.new_record?
      %tr
        %td{ :colspan => 2 }= link_to("View/Edit Video Button", tools_video_offer_video_buttons_path(@video_offer.id))
    %tr
      %td{ :colspan => 2 }= f.submit @video_offer.new_record? ? 'Create Video Offer' : 'Update Video Offer'
    %tr
      %td{ :colspan => 2 }= render('dashboard/offer_creatives/iframes', :offer => @video_offer.primary_offer, :app => @app, :show_featured_sizes_only => true)

- content_for :page_styles do
  :plain
    .creative_upload {
      width: 100%;
      border: none;
      height: 35px;
    }
