%h1 Tapjoy SDKs
%dt
  %dd
    %h3 iPhone Library (#{@iphone_version})
    %ul
      %li= link_to 'iPhone Advertiser Library', sdk_path('iphone-connect')
      %li= link_to 'iPhone Publisher Library', sdk_path('iphone-offers')
      %li= link_to 'iPhone Publisher Library (+ Virtual Goods)', sdk_path('iphone-vg')
    %h3 Android Library (#{@android_version})
    %ul
      %li= link_to 'Android Advertiser Library', sdk_path('android-connect')
      %li= link_to 'Android Publisher Library', sdk_path('android-offers')
      %li= link_to 'Android Publisher Library (+ Virtual Goods)', sdk_path('android-vg')
