%h1 Tapjoy SDKs
%dt
  %dd
    %h3 iPhone Library (#{@iphone_version})
    %ul
      %li
        = link_to 'iPhone Advertiser Library', sdk_path('iphone-connect')
        = clippy(sdk_path('iphone-connect', :only_path => false))
      %li
        = link_to 'iPhone Publisher Library', sdk_path('iphone-offers')
        = clippy(sdk_path('iphone-offers', :only_path => false))
      %li
        = link_to 'iPhone Publisher Library (+ Virtual Goods)', sdk_path('iphone-vg')
        = clippy(sdk_path('iphone-vg', :only_path => false))
    %h3 Android Library (#{@android_version})
    %ul
      %li
        = link_to 'Android Advertiser Library', sdk_path('android-connect')
        = clippy(sdk_path('android-connect', :only_path => false))
      %li
        = link_to 'Android Publisher Library', sdk_path('android-offers')
        = clippy(sdk_path('android-offers', :only_path => false))
      %li
        = link_to 'Android Publisher Library (+ Virtual Goods)', sdk_path('android-vg')
        = clippy(sdk_path('android-vg', :only_path => false))
