%h1 Tapjoy SDKs
%dt
  %dd
    %h3 iPhone Library (#{@iphone_version})
    %ul
      %li
        = link_to 'iOS Advertiser Library', sdk_path('iphone-adv')
        = clippy(sdk_path('iphone-adv', :only_path => false))
      %li
        = link_to 'iOS Publisher Library', sdk_path('iphone-pub')
        = clippy(sdk_path('iphone-pub', :only_path => false))
      %li
        = link_to 'iOS Publisher Library (+ Virtual Goods)', sdk_path('iphone-vg')
        = clippy(sdk_path('iphone-vg', :only_path => false))

    %h3 Android Library (#{@android_version})
    %ul
      %li
        = link_to 'Android Advertiser Library', sdk_path('android-adv')
        = clippy(sdk_path('android-adv', :only_path => false))
      %li
        = link_to 'Android Publisher Library', sdk_path('android-pub')
        = clippy(sdk_path('android-pub', :only_path => false))
      %li
        = link_to 'Android Publisher Library (+ Virtual Goods)', sdk_path('android-vg')
        = clippy(sdk_path('android-vg', :only_path => false))

    %h3 Third-party Plugins
    %ul
      %li
        = link_to 'Unity Plugin for iOS', sdk_path('iphone-unity')
        = clippy(sdk_path('iphone-unity', :only_path => false))
