- editable_offer ||= false

- form_for(offer_event, :html => { :class => 'tjform' }) do |f|
  %table
    %tbody
      - if editable_offer
        %tr
          %th
            = label_tag('search_box', 'Offer Name')
            #help_offer.help ?
          %td
            = text_field_tag('search_box', @offer_event.offer.present? ? @offer_event.offer.search_result_name : '', :size => '40')
            = error_message_on @offer_event, :offer
            = f.hidden_field :offer_id
            #current
              - if @offer_event.offer
                = render('shared/offer_events/offer_info')
      - else
        %tr
          %th
            = f.label :offer_name
            #help_offer.help ?
          %td
            = @offer_event.offer.name
            #current
              = render('shared/offer_events/offer_info')
      %tr
        %th
          = f.label :scheduled_for, 'Scheduled time'
          #help_scheduled_for.help ?
        %td
          = f.text_field :scheduled_for, :value => @offer_event.scheduled_for? ? @offer_event.scheduled_for.to_s(:mdy_ampm) : '', :size => 24
          = error_message_on @offer_event, :scheduled_for
          = current_user.time_zone
      %tr
        %th
          = f.label :user_enabled, 'Enable installs'
          #help_user_enabled.help ?
        %td
          = f.select :user_enabled, [ [ 'Unchanged', nil ], [ 'Enabled', true ], [ 'Disabled', false ] ]
          = error_message_on @offer_event, :user_enabled
      %tr
        %th
          = f.label :daily_budget
          #help_daily_budget.help ?
        %td
          - selected_option = @offer_event.change_daily_budget? ? (@offer_event.daily_budget == 0 ? 'Unlimited' : 'Limited') : 'Unchanged'
          = select_tag 'daily_budget_selector', options_for_select([ [ 'Unchanged', 'Unchanged' ], [ 'Unlimited', 'Unlimited' ], [ 'Limited', 'Limited' ] ], selected_option)
      %tr.daily_budget{ :class => selected_option == 'Limited' ? 'daily_budget' : 'hidden daily_budget' }
        %th
        %td
          = f.label(:daily_budget, 'Installs:')
          = f.text_field :daily_budget
      %tr.estimated_budget{ :class => selected_option == 'Limited' ? 'daily_budget' : 'hidden daily_budget' }
        %th
        %td
          = label_tag('estimated_budget', 'Daily Budget:' )
          = text_field_tag('estimated_budget')
          = error_message_on @offer_event, :daily_budget

  = f.submit 'Save Event' if @offer_event.editable?

.hidden
  #help_offer_content{:name => 'Offer Name'}
    The name of the offer.
  #help_scheduled_for_content{:name => 'Scheduled For'}
    When these changes should be applied to the offer.
  #help_daily_budget_content{:name => 'Daily Budget'}
    The maximum number of installs per day.
  #help_user_enabled_content{:name => 'Enable Installs'}
    Whether this offer should be enabled or not.

- content_for :included_javascripts, javascript_include_tag('jquery-ui-timepicker-addon.min')

- content_for :page_javascript do
  = set_tapjoy_timezone_skew
  :plain
    $(function() {
      var currentPayment = #{@offer_event.offer.present? ? @offer_event.offer.payment : 0};

      var checkValidBudget = function() {
        var installLimit = stringToNumber($('#offer_event_daily_budget').val(), true);
        if (installLimit < 1 ) {
          installLimit = 1;
          $('#offer_event_daily_budget').val('1');
          alert('Daily install limit must be at least 1. To disable the campaign, please select "Disabled" from the "User Enabled" dropdown.');
          return false;
        }
        return true;
      }

      var setEstimatedBudget = function() {
        if ($('#offer_event_daily_budget').is(':visible')) {
          checkValidBudget();
          var installLimit = stringToNumber($('#offer_event_daily_budget').val(), true);
          var budget = numberToCurrency(currentPayment * installLimit / 100);
          $('#estimated_budget').val(budget);
        }
      };

      $('#search_box').autocomplete({
        source: '#{search_offers_path}',
        delay: 250,
        minLength: 2,
        select: function(event, ui) {
          var currentUserEnabled = ui.item.user_enabled ? 'Enabled' : 'Disabled';
          var currentDailyBudget = ui.item.daily_budget == 0 ? 'Unlimited' : ui.item.daily_budget;
          var currentBid = numberToCurrency(ui.item.bid * 0.01);
          currentPayment = ui.item.payment;
          $('#offer_event_offer_id').val(ui.item.id);
          setEstimatedBudget();
          $('#current').html('Current Enable Installs: <span>' + currentUserEnabled + '</span><br/>Current Bid: <span>' + currentBid + '</span><br/>Current Payment: <span>' + numberToCurrency(currentPayment * 0.01) + '</span><br/>Current Daily Budget: <span>' + currentDailyBudget + '</span>');
        }
      });

      $('#offer_event_scheduled_for').datetimepicker({
      	ampm: true,
      	timeFormat: 'h:mm TT'
      });

      $('#daily_budget_selector').change(function() {
        if ($(this).val() == 'Limited') {
          if ($('#offer_event_daily_budget').val() == '0') {
            $('#offer_event_daily_budget').val('')
          }
          $('.daily_budget').show();
        }
        else {
          $('.daily_budget').hide();
        }
      });

      $('#offer_event_daily_budget').change(function() {
        setEstimatedBudget();
      });
      $('#estimated_budget').change(function() {
          var budget = stringToNumber($(this).val(), true);
          var installLimit = Math.floor(budget / (currentPayment/100));
          $(this).val(numberToCurrency(budget));
          $('#offer_event_daily_budget').val(addCommaSeparators(installLimit));
          if (!checkValidBudget()) {
            $('#offer_event_daily_budget').change();
          }
      });

      setEstimatedBudget();
    });

- content_for :page_styles do
  :plain
    #current {
      font-size: 12px;
    }
    #current span {
      font-weight: bold;
    }
    label.estimated_budget {
      width: 60px;
      display: inline-block;
    }
