- @page_title = 'Offer Changes'

%h3 Offer Change Scheduler

= render('shared/offer_events/instructions')

= link_to('Schedule an Offer Change', :action => :new)

.filters
  - form_tag('', :class => 'tjform', :method => :get, :id => 'filter-form') do
    %table
      %tr
        %th= label_tag 'filter', 'View:'
        %td= select_tag 'filter', options_for_select([ ['Upcoming', 'upcoming'], ['All', 'all'], ['Completed', 'completed'], ['Disabled', 'disabled'] ], params[:filter])

%table#offer_events.tablesorter
  %thead
    %tr
      %th Offer
      %th Scheduled For
      %th Ran At
      - if [ 'all', 'disabled' ].include?(@event_scope)
        %th Disabled At
      %th Changes
  %tbody
    - @offer_events.each do |event|
      %tr
        %td= link_to(event.offer.name, :action => :edit, :id => event)
        %td= event.scheduled_for.to_s(:mdy_ampm)
        %td= event.ran_at? ? event.ran_at.to_s(:mdy_ampm) : ""
        - if [ 'all', 'disabled' ].include?(@event_scope)
          %td= event.disabled_at? ? event.disabled_at.to_s(:mdy_ampm) : ""
        %td= offer_event_changes(event)
        - unless [ 'disabled', 'completed' ].include?(@event_scope)
          %td
            - if event.editable?
              = link_to('Edit', :action => :edit, :id => event)
              = link_to('Disable', { :action => :destroy, :id => event }, :method => :delete, :confirm => 'Are you sure?')
       
- content_for :page_javascript do
  :plain
    $(function() {
      $('#filter').change(function() {
        $('#filter-form').submit();
      });
      
      $('#offer_events').tablesorter({
        widgets: ['zebra'],
        headers: {
          3: { sorter: #{ [ 'all', 'disabled' ].include?(@event_scope) ? "'time'" : false} },
          4: { sorter: false }
        },
        sortList: [ [1, 0] ]
      });
    });
