- @page_title = 'Virtual Goods'

%h3 Virtual Goods
%table
  %thead
    %tr
      %th &nbsp;
      %th &nbsp;
      %th Name
      %th Type
      %th.price= link_to 'Price', 'javascript:$.noop();', :title => 'Toggle between virtual currency and dollars'
      %th Status
      - if permitted_to?(:edit, :dashboard_statz)
        %th.admin
          Ordinal
          %br/
          (Admin-only field)
  %tbody#virtual_goods
    - @virtual_goods.sort.each do |vg|
      - tr_class = vg.disabled? ? "disabled" : vg.beta? ? "beta" : ""
      %tr.virtual-good{:class => tr_class, :id => vg.key}
        %th.handler
          %span.ui-icon.ui-icon-arrowthick-2-n-s
        %th
          - if vg.has_icon
            %span.icon= image_tag(vg.icon_url('https://'), :height => 50)
          - else
            (no icon)
        %td= link_to vg.name, app_virtual_good_path({:app_id => @app.id, :id => vg.id}), :title => "Edit #{vg.name}"
        %td= vg.title
        %td.currency
          .price_in_vc
            = vg.price
            = @app.primary_currency.name
          .price_in_dollars.hidden
            = number_to_currency(vg.price_in_dollars)
        %td= vg.disabled? ? "Disabled" : vg.beta? ? "Beta" : "&nbsp;"
        - if permitted_to?(:edit, :dashboard_statz)
          %td.admin= vg.ordinal
- form_tag(reorder_app_virtual_goods_path(:app_id => @app.id), :id => "reorder-virtual-goods") do
  = hidden_field_tag('virtual_goods')
  = submit_tag('Save new order', :id => 'virtual-goods-order-submit', :style => "display:none;")

%br/
= button_to("Create new Virtual Good", new_app_virtual_good_path, :method => 'get')

- content_for :page_styles do
  :plain
    tr.virtual-good.disabled {
      color: #bbb;
    }
    tr.virtual-good.beta {
      color: #00f;
    }
    th.handler {
      cursor: move;
    }
    td, th {
      padding: 0px 5px
    }
    td.currency {
      text-align: right;
    }
  - if permitted_to?(:edit, :dashboard_statz)
    :plain
      th.admin, td.admin {
        color: blue;
      }
- content_for :page_javascript do
  :plain
    $(function($){
      $('a#toggle-disabled').click(function(){ $('.disabled').toggle(); });
      $('#virtual_goods').sortable({
        opacity: 0.5,
        handle: 'th.handler',
        cursor: 'move',
        axis: 'y',
        change: function() {
          $('#virtual-goods-order-submit').fadeIn();
        }
      });
      $('form#reorder-virtual-goods').submit(function(){
        var data = $('#virtual_goods').sortable("toArray");
        $('input#virtual_goods').val(JSON.stringify(data));
        return true;
      });
      $('th.price a').click(function(){
        if ($('.price_in_vc').is(':hidden')) {
          $('.price_in_vc').show();
          $('.price_in_dollars').hide();
        } else {
          $('.price_in_vc').hide();
          $('.price_in_dollars').show();
        }
      });
    });
