%h3= "Most Requests by #{type.to_s.titleize}"
%table.tablesorter
  %thead
    %tr
      %th #{type.to_s.titleize}
      %th Requests
  %tbody
    - requests.sort { |a,b| b[1] <=> a[1] }[0...25].each do |k,v|
      %tr
        %td= (k.is_a?(App) || k.is_a?(Offer)) ? link_to(k.name, statz_path(k)) : k
        %td= v
%br
