- if @featured_content.present?
  - if @featured_content.featured_type == 'StaffPick'
    .feat_review.min
      .feat_toggle.collapse
      .feat_content
        .staff_info
          .staff_img
            %img{ :src => @featured_content.get_icon_url("#{@featured_content.id}_main"), :class => 'main_icon' }
          .staff_meta
            .staff_title
            .staff_name
              by
              %span.author
                = @featured_content.subtitle
        .app_review.hide
          %a{ :href => "#", :class => "feat_app_url" }
            .app_item.clearfix
              .feat_arrow.right
              .app_image
                %img{ :src => @featured_content.get_icon_url("#{@featured_content.id}_secondary"), :class => 'secondary_icon' }
              .app_text
                .app_title.title
                  = @featured_content.title
                .app_info
                  = truncate(@featured_content.description, :length => 65)

  - elsif @featured_content.featured_type == 'Promo'
    .featured_content_wrapper
      .featured_content
        .clearfix
          .app_review
            %a{ :href => "#", :class => "feat_app_url" }
              .app_item.clearfix
                .feat_arrow.right
                .app_image
                  %img{ :src => @featured_content.get_icon_url("#{@featured_content.id}_main"), :class => 'secondary_icon' }
                .app_text
                  .app_title.title
                    = @featured_content.subtitle
                  .app_info
                    = @featured_content.title
  - elsif @featured_content.featured_type == 'Contest'
    .featured_content_wrapper
      %a{ :href => "#", :class => "feat_app_url" }
        .featured_content.clearfix
          %img{ :src => @featured_content.get_icon_url("#{@featured_content.id}_secondary"), :class => 'main_icon' }
          .title= @featured_content.title
          %div
            = @featured_content.subtitle
  - else
    .featured_content_wrapper
      %a{ :href => "#", :class => "feat_app_url" }
        .featured_content.clearfix
          %img{ :src => @featured_content.get_icon_url("#{@featured_content.id}_main"), :class => 'main_icon' }
          .title= @featured_content.title
          %div
            = @featured_content.subtitle
