.app_review.full
  .app_item.clearfix
    .app_image
      %img{:src => @featured_review.get_icon_url("#{@featured_review.id}_secondary") }
    .app_text
      .app_title.title
        = @featured_review.title
      - app = App.find_by_id(@featured_review.offer_id) if @featured_review.offer_id.present?
      - if app.present?
        .app_meta.clearfix
          .app_category
            = app.primary_category
          .app_rating_wrapper
            .app_rating.hide{ :rating => app.user_rating }
      %div
      - link_to(@featured_review.button_url) do
        .button.grey
          = @featured_review.button_text

  .review.clearfix
    .staff_info.full
      .staff_img
        %img{:src => @featured_review.get_icon_url("#{@featured_review.id}_main") }
      .staff_meta
        .staff_name
          %span.author
            #{@featured_review.subtitle} says:

    .review_text
      -# TODO: Escape this text once we start supporting user reviews.
      = "&#8220;#{@featured_review.description.gsub("\n", "<br>")}&#8221"
