- active ||= ""
- show_device ||= false

- if show_device
  .device_wrapper
    .device.clearfix
      .mobile_icon
      .device_info
        .device_name
          = @device_name
        .device_switch
          wrong device?
      .plus

.nav
  .nav_container.clearfix
    .aside_nav
      %span
        = link_to(t('text.shared.help'), games_help_path )
      %span
        |
      - link_to(games_logout_path) do
        %span= t('text.shared.logout')
    - link_to(games_root_path, :class => "slideright") do
      .logo
    .nav_buttons
      .nav_list.clearfix
        %ul
          %ul.pair
            - if active == 'back'
              - link_to(back_button_destination, :class => "slideright") do
                %li.my_apps Back
            - else
              - if active == 'my_apps'
                %li.my_apps.active_button= t('text.games.my_apps')
              - else
                - link_to(games_root_path, :class => "slideright") do
                  %li.my_apps= t('text.games.my_apps')
              - if active == 'more_apps'
                %li.more_apps.more_apps_path.active_button= t('text.games.more_apps')
              - elsif active == 'my_apps'
                %li.more_apps.more_apps_path= t('text.games.more_apps')
              - if active == 'my_account'
                %li.my_account.active_button= t('text.shared.my_account')
              - else
                - link_to(edit_games_gamer_path) do
                  %li.my_account= t('text.shared.my_account')
              - if false # hide social share button until ready
                - if active == 'share'
                  %li.share.active_button Share
                - elsif active != 'my_account'
                  %li.share= t('text.shared.share')
