.container
  - if current_gamer.nil? && !@hide_login
    .right
      #login.header-button
        %span= t('text.shared.login_verb')
      #login-web
        #login-web-wrapper
          %span= t('text.shared.login_verb')

  .nav
    - if current_gamer.present?
      .menu
        .menu-grid.clearfix
          .box
          .box
          .box
          .box
          .box
          .box
    .logo
      - link_to(games_root_path) do
        %img{ :src => BLANK_IMAGE }
    - if current_gamer.present?
      .menu-dropdown
        .menu-dropdown-wrapper
          .device
            .device-profile
              .device-toggle.up.hide
              - if current_gamer.get_avatar_url.present?
                .user-icon
                  = image_tag current_gamer.get_avatar_url
              .device-info
                - if current_device.nil?
                  = t('text.games.no_device')
                - else
                  = t('text.games.on_my', :device_name => current_device.name)
                %a.device-change
                  (#{t('text.games.change')})
          #device-select.device-select.closed
            #device-select-list.device-select-wrapper
          .device-form.hide
          .menu-nav
            .menu-nav-wrapper
              - link_to(games_root_path) do
                .my_apps
                  %span= t('text.games.my_apps')
              - link_to(games_more_games_editor_picks_path) do
                .more_apps
                  %span= t('text.games.more_apps')
              - link_to(games_gamer_path) do
                .profile
                  %span= t('text.games.profile')
          .menu-subnav.clearfix
            .menu-subnav-wrapper
              - link_to(games_help_path) do
                .help
                  %span= t('text.shared.help')
              - link_to(games_logout_path) do
                .logout
                  %span= t('text.shared.logout')

- if current_gamer.nil? && !@hide_login
  .header-h-split
    &nbsp;
  .container.mt2
    .left.phraseThatPays
      = t('text.games.about_body')
    .right
      - link_to(new_games_gamer_path) do
        #signup.header-button
          = t('text.shared.sign_up')
