.container
  - if @show_nav_bar_login_button
    .right
      #login.header-button
        %span= t('text.shared.login_verb')
      #login-web
        #login-web-wrapper
          %span= t('text.shared.login_verb')

  .nav
    - if @show_nav_bar_quad_menu
      .menu
        .menu-grid.clearfix
          .box
          .box
          .box
          .box
          .box
          .box
    .logo
      = link_to(games_path) do
        %img{ :src => BLANK_IMAGE }
    - if @show_nav_bar_quad_menu
      .menu-dropdown
        .menu-dropdown-wrapper
          - unless current_gamer.nil?
            .device
              .device-profile
                .device-toggle.up.hide
                - if current_gamer && current_gamer.get_avatar_url.present?
                  .user-icon
                    = image_tag current_gamer.get_avatar_url
                .device-info
                  - if current_device.nil?
                    = t('text.games.no_device')
                  - else
                    = t('text.games.on_my', :device_name => current_device.name)
                  %a.device-change
                    (#{t('text.games.change')})
          - list = current_gamer ? current_gamer.all_device_data.to_json : [].to_json
          - path = games_switch_device_path
          - possible_links = { :ios => new_games_device_path, :android => GAMES_ANDROID_MARKET_URL }.to_json
          #device-select.device-select.closed{ :data => { :list => list, 'select-path' => path, :links => possible_links } }
            #device-select-list.device-select-wrapper
          .device-form.hide
          .menu-nav
            .menu-nav-wrapper
              = link_to(games_path, :class => 'req-login') do
                .my_apps
                  %span= t('text.games.my_apps')
              = link_to(games_more_games_editor_picks_path) do
                .more_apps
                  %span= t('text.games.more_apps')
              = link_to(games_gamer_path, :class => 'req-login') do
                .profile
                  %span= t('text.games.profile')
          - unless current_gamer.nil?
            .menu-subnav.clearfix
              .menu-subnav-wrapper
                - link_to(games_help_path) do
                  .help
                    %span= t('text.shared.help')
                = link_to(games_logout_path) do
                  .logout
                    %span= t('text.shared.logout')

- if @show_nav_bar_login_button
  .header-h-split
    &nbsp;
  .container.mt2
    .left.phraseThatPays
      = t('text.games.about_body')
    .right
      = link_to(new_games_gamer_path(:data => params[:data], :referrer => params[:referrer])) do
        #signup.header-button
          = t('text.shared.sign_up')

= render "games/homepage/login_modal"
