- active ||= ""
- show_device ||= false

.container
  - if @current_gamer.nil?
    #login-web.right
      #login-web-wrapper
        %span= t('text.shared.login_verb')

  .nav
    - if @current_gamer.present?
      .menu
        .menu-grid.clearfix
          .box
          .box
          .box
          .box
          .box
          .box
    .logo
      - link_to(games_root_path) do
        %img{ :src => BLANK_IMAGE }
    - if @current_gamer.present?
      .menu-dropdown
        .menu-dropdown-wrapper
          .device
            .device-profile
              .device-toggle.up.hide
              - if @current_gamer.get_avatar_url.present?
                .user-icon
                  %img{ :src => @current_gamer.get_avatar_url }
              .device-info
                = t('text.games.on_my', :device_name => current_device_info.name)
                %a.device-change
                  (#{t('text.games.change')})
            .device-select.hide
              Select Device
            .device-form.hide
          .menu-nav
            .menu-nav-wrapper
              - link_to(games_root_path) do
                .my_apps
                  %span= t('text.games.my_apps')
              - link_to(games_root_path) do
                .more_apps
                  %span= t('text.games.more_apps')
              - link_to(games_gamer_path) do
                .profile
                  %span= t('text.games.profile')
          .menu-subnav
            .menu-subnav-wrapper
              - link_to(games_help_path) do
                .help
                  %span= t('text.shared.help')
              - link_to(games_logout_path) do
                .logout
                  %span= t('text.shared.logout')

- if @current_gamer.nil?
  .header-h-split
    &nbsp;
  .container.pad
    .left.phraseThatPays
      A better way to love the apps you have and find the apps you'll love.
    .right
      #signup.button
        Sign up
