- amount_and_currency = capture_haml do
  %span.amount= t('text.instructions.amount_and_currency', :amount => @currency.get_visual_reward_amount(@offer, params[:display_multiplier]), :currency => @currency.name)

.container
  .offer-complete-popup
    .header
      .left.ml10.pt3
        .squircle
          = image_tag(@app.get_icon_url(:size => 114, :source => :cloudfront))
      .left.ml10
        .big-title.slate.elip
          = @app.name
    .content
      .title= t('text.shared.success')
      .currency_earned= amount_and_currency
      .currency_earned_detail= t('text.games.offer_complete_detail', :amount_and_currency => amount_and_currency, :app_name => @app.name, :offer_name => @offer.name, :currency_name => @currency.name)
      .earn-more.button= t('text.games.offer_complete_earn_more', :currency_name => @currency.name)

- content_for :page_javascript do
  :plain
    $(function($){
      $('.earn-more').click(function () {
        $('.offer-complete-popup').hide();
      })
    });
