#earn.current
  .panel
    .page-header
      .container.mt20
        .left.ml10.pt3
          .squircle
            = image_tag(@external_publisher.get_icon_url(:size => 114, :source => :cloudfront))
        .left.ml10
          .big-title.slate.elip
            = @external_publisher.app_name
          .container
            .left.ui-icon-medium.score.icon24.p5
              #{@app_metadata.positive_thumbs_percentage.floor}%
            .left.ui-icon-medium.social.icon24.p5.ml5
              = @app_metadata.app_reviews.by_gamers.size
          .container
            .left.mt1.ml3.pb1
              = hidden_field_tag(:eapp_metadata_id, ObjectEncryptor.encrypt(@app_metadata.id))
              = hidden_field_tag(:mark_as_fav_path, games_gamer_favorite_app_path)
              #favorite_app_button.ui-joy-button.primary.smaller{ :onclick => "update_favorite_app();"}
                - if @mark_as_favorite
                  = t('text.games.mark_as_favorite')
                - else
                  = t('text.games.unmark_as_favorite')
              
    .section.dark
      .heading
        = t('text.games.browse_offers')
    .review-area
      = render "offers"
    .section.dark
      .heading
        = t('text.games.other_options')
    %ul.list-button-container.flush.nbb.big
      %li.list-button.ntb
        -link_to new_games_app_review_path(:eid => params[:eid]) do
          .left.charcoal
            = t("text.games.review_app_name", {:app_name => @external_publisher.app_name})
          .right.rightarrow.icon16
            &nbsp;

- content_for :page_javascript do
  :plain
    var is_create = #{@mark_as_favorite.to_s};

    var raise_favoriting_error = function() {
      Tapjoy.Utils.notification({
        message: is_create ? "#{t('text.games.error_mark_as_favorite')}" : "#{t('text.games.error_unmark_as_favorite')}"
      });
    };

    var update_favorite_app = function() {
      $.ajax({
        type: is_create ? 'POST' : 'DELETE',
        url: $('#mark_as_fav_path').val(),
        cache: false,
        timeout: 15000,
        dataType: 'json',
        data: {
          'eapp_metadata_id': $('#eapp_metadata_id').val()
        },
        success: function(d) {
          if (d.success) {
            is_create = !is_create;
            $('#favorite_app_button').html(is_create ? "#{t('text.games.mark_as_favorite')}" : "#{t('text.games.unmark_as_favorite')}");
          } else {
            raise_favoriting_error();
          }
        },
        error: function(d) {
          raise_favoriting_error();
        }
      });
    };

