#offer-detail.current
  .panel
    .page-header
      .container.mt20
        .left.ml10.pt3
          .squircle
            = image_tag(@app.get_icon_url(:size => 114, :source => :cloudfront))
        .left.ml10
          .big-title.elip.slate.mt10
            = @app.name
          .sub-title
            = @offer.partner_name
    .mod.get-app
      - link_to(@click_url) do
        .ui-joy-button.orange-action
          .text-center.get-app
            = t('text.games.get_app')
    .mod.social-info
      %span.ui-icon-medium.social-med
        = t("text.games.active_gamers_text", :count => @app.formatted_active_gamer_count)
    .mod.menu-head
      = t("text.shared.reviews")
    - if @app_metadata
      .mod.score-summary
        %img{:src => BLANK_IMAGE}
        .text
          %span.percentage= "#{@app_metadata.positive_thumbs_percentage.floor}%"
          %span.description= t("text.games.app_review_num_voters", :count => @app_metadata.app_reviews.size)
    = render "games/app_reviews/list"
- content_for :page_javascript do
  :plain
    var flag_review = function( value ){
      var error = function(xhr, textStatus, errorThrown){
        var data = JSON.parse(xhr.responseText);
      };
      var success = function( $el ){
        return function(data,textStatus){
            var $par = $el.closest('.moderation-panel');
            $par.html($('<span class="'+data.class+'"></span>').html(data.msg));
            $par.delay(3000).slideUp('fast');
          };
      };
      return function(e){
          var $el = $(this);
          var $root = $el.parents('div.line-item.review');
          var url = $el.attr('href');
          $.ajax({
             type: 'POST',
             url: url,
             data: {value: value},
             success: success($el),
             error: error,
             dataType: 'json'
          });
          e.preventDefault();
        };
    };
    var reveal_review = function(){
      var $el = $(this);
      var $root = $el.parents('div.line-item.review');
      $root.removeClass('fixed-height');
      $root.addClass('var-height');
    };

    $('#offer-detail').delegate('.more-btn','click', reveal_review);
    $('#offer-detail').delegate('.yn a.y','click', flag_review(1));
    $('#offer-detail').delegate('.yn a.n','click', flag_review(-1));
    $('#offer-detail').delegate('a.concern','click',flag_review(null));
