-content_for :styles do
  = stylesheet_link_tag("games/get-app")
#offer-detail.current
  .panel
    .mod.line-item.page-header
      .hd
        .app-icon
          =image_tag("games/test-game-image.png")
      .bd
        .title.elip
          = @app.name
        .sub-title
          = @offer.partner_name
    .mod.get-app
      .ui-joy-button.orange-action
        %a.text-center Get App
    .mod.social-info
      %span.ui-icon-med.social-med
        [Kate and 13 friends played this.]
    .mod.menu-head
      = t("text.shared.reviews")
    .mod.score-summary
      %img{:src => BLANK_IMAGE}
      %span.percentage= "#{@app_metadata.positive_thumbs_percentage.floor}%"
      %span.description= "from #{@app_metadata.app_reviews.by_gamers.size} voters"
    = render "games/app_reviews/list"
