#content.current
  .panel.clearfix
    #tjmTopbar
      - if @featured_content.present?
        - link_to(get_click_url(@featured_content.tracking_offer)) do
          .banner
            .more
              .text.left.mr10
                = @featured_content.button_text
            .banner-img-wrapper
              = image_tag(FeaturedContent.get_icon_url(:icon_id => "#{@featured_content.id}_secondary"), :class => 'banner-img')
      .section.dark.ntb
        .select-container.left.ml5
          #viewSelect.dropdown.left
            %img.downarrow-white.icon24{ :src => BLANK_IMAGE }
          .heading.pl5.pr15
            = t('text.games.my_apps')
          .fix
      #viewSelectMenu.hide
        %ul
          - if @favorite_publishers.present?
            %li.showFavorites
              = t("text.games.favorites")
          - if @external_publishers.present?
            %li.showGames.active
              = t("text.games.my_apps")
          - if current_recommendations.present?
            %li.showRecommendations
              = t("text.games.my_apps")
          %li.showAll
            = t('text.shared.view_all')

  - if current_recommendations.present?
    #recommendationsRow.row.borders.pn.ntb.rec
      %h1.museo.smart
        = t("text.games.recommendations")
      #recommedations.games
        - current_recommendations.each do |reco|
          .app
            - encrypt_app_id = ObjectEncryptor.encrypt(reco.id)
            - link_to(games_get_app_path(:eid => encrypt_app_id)) do
              .app-icon
                %img{ :src => BLANK_IMAGE, :source => reco.icon_url }
            .details
              %span.title.elip
                = reco.name

  - if @favorite_publishers.present?
    #favoritesRow.row.borders
      %h1.museo= t('text.games.favorite_apps')
      .games
        - @favorite_publishers.each do |external_publisher|
          .app
            - @first_encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
            - link_to(games_earn_path(:eid => @first_encrypt_currency_id)) do
              .app-icon
                %img{ :src => BLANK_IMAGE, :source => external_publisher.get_icon_url(:size => 114, :source => :cloudfront)}
            .details
              %span.title.elip
                = external_publisher.app_name
              %small.publisher.elip
                = external_publisher.partner_name

  - if @external_publishers.present?
    #gamesRow.row.borders.nbb
      %h1.museo= t('text.games.my_apps')
      .games
        - @external_publishers.each do |external_publisher|
          .app
            - @first_encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
            - link_to(games_earn_path(:eid => @first_encrypt_currency_id)) do
              .app-icon
                %img{ :src => BLANK_IMAGE, :source => external_publisher.get_icon_url(:size => 114, :source => :cloudfront)}
            .details
              %span.title.elip
                = external_publisher.app_name
              %small.publisher.elip
                = external_publisher.partner_name
              %span.ui-icon-small.score.icon16
                -# "#{@app_metadata.positive_thumbs_percentage.floor}%"
              %span.ui-icon-small.social.icon16
                -# "#{@app_metadata.app_reviews.by_gamers.size}"
            - @encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
            .btn
              - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                = t('text.shared.earn_verb')
            .ui-list-action
              - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                .rightarrow.icon16
                  .ui-list-action-label.pt3
                    = t('text.shared.earn_verb')
