#content.current
  .panel.clearfix
    - if @recommendations.present?    
      .row.borders.pn.ntb
        %h1.museo.smart Smart Recommendations
        #recommendationsHeader
          .banner
            .more
              .text.left.mr10
                Find out more
              .circle.btn.right
                %img.rightarrow-white.icon24{ :src => BLANK_IMAGE }
            %img.banner-img{ :src => '/images/marketplace/themes/tjm/sample_banner.png' }
          .section.dark.ntb
            .select-container.left.ml5
              #recommendSelect.dropdown.left
                %img.downarrow-white.icon24{ :src => BLANK_IMAGE }
              .heading.pl5.pr15
                Recommendations
              .fix
          #recommendSelectMenu.hide
            %ul
              %li Favorites
              %li.active Recommendations
              %li My Apps
        #recommedations.games
          - @recommendations.each do |reco|
            .app
              - @encrypt_app_id = ObjectEncryptor.encrypt(reco.id)
              - link_to(games_get_app_path(:eid => @encrypt_app_id)) do
                .app-icon
                  %img{ :src => BLANK_IMAGE, :source => reco.icon_url }
              .details
                %span.title.elip
                  = reco.name


  - if @external_publishers.present?
    .row.borders.nbb
      %h1.museo My Games
      .games
        - @external_publishers.each do |external_publisher|
          .app
            - @first_encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
            - link_to(games_earn_path(:eid => @first_encrypt_currency_id)) do
              .app-icon
                %img{ :src => BLANK_IMAGE, :source => external_publisher.get_icon_url(:size => 114, :source => :cloudfront)}
            .details
              %span.title.elip
                = external_publisher.app_name
              %small.publisher
                = external_publisher.partner_name
              %span.ui-icon-small.score.icon16
                -# "#{@app_metadata.positive_thumbs_percentage.floor}%"
              %span.ui-icon-small.social.icon16
                -# "#{@app_metadata.app_reviews.by_gamers.size}"
            - @encrypt_currency_id = ObjectEncryptor.encrypt(external_publisher.currencies.first[:id])
            .btn
              - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                = t('text.shared.earn_verb')
            .ui-list-action
              - link_to(games_earn_path(:eid => @encrypt_currency_id)) do
                .rightarrow.icon16
                  .ui-list-action-label.pt3
                    = t('text.shared.earn_verb')
