- @page_design = 'new'

#content.current
  .panel.clearfix
    - if @external_publishers.blank?
      = render 'no_games'
    - else
      .row.borders.nbb
        .games
          - @external_publishers.each do |external_publisher|
            = puts external_publisher.to_json
            .apps
              - link_to(games_earn_path(external_publisher.currencies.first[:id])) do
                .icon
                  %img{ :src => BLANK_IMAGE, :source => external_publisher.get_icon_url(:size => 114, :source => :cloudfront)}
              .label
                %span
                  = external_publisher.app_name
                %small
                  [PUBLISHER]
                %span.icon-likes
                  80%
                %span.icon-users
                  15
                - external_publisher.currencies.each do |currency|
                  .collect
                    - link_to(games_earn_path(currency[:id])) do
                      = t('text.games.earn', :currency => currency[:name])

= render("games/shared/footer")

- content_for :page_head do

  =# stylesheet_link_tag("marketplace/theme/tjm/style-768", :media => "only screen and (min-width: 768px)")
  =# stylesheet_link_tag("marketplace/theme/tjm/style-480", :media => "only screen and (min-width: 480px)")
  =# stylesheet_link_tag("marketplace/theme/tjm/images-hd", :media => "-webkit-min-device-pixel-ratio: 2")

- content_for :page_javascript do
  :plain
