%html
  %head
    -# stylesheet_link_tag("games/components/button/button.css")
    = stylesheet_link_tag("games/proto")
    = javascript_include_tag("games/src/tjg.jquery-1.6.2.min")
    = javascript_include_tag("games/src/tapui/core/foundation")
    = javascript_include_tag("games/src/tapui/core/components")
    = javascript_include_tag("games/src/tapui/core/objects")
    = javascript_include_tag("games/src/tapui/core/strings")
    = javascript_include_tag("games/src/tapui/core/arrays")
    = javascript_include_tag("games/src/tapui/core/functions")
    = javascript_include_tag("games/src/tapui/core/helpers")
    = javascript_include_tag("games/src/tapui/core/utilities")
    = javascript_include_tag("games/src/tapui/components/button/button")
    = javascript_include_tag("games/src/proto")
  %body
    .page
      .header.dark-red-gradient
        .container
          .nav-menu
            .left
              .item
                %a My Apps
              .item
                %a More Apps
            .logo
              = image_tag "games/logo-navbar.png"
            .right
              .device-icon
        .clear
      .sub-head
        .container
          .ad
            &nbsp;
      .main
        .container
          .game-list.recommendations
            .hd
              %h2 Smart Recommendations
            .bd
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
            .clear
          .game-list.favorites
            .hd
              %h2 Favorites
            .bd
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
            .clear
          .game-list.mine
            .hd
              %h2 My Games
            .bd
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
              .app
                .game-image= image_tag "games/angry.jpg"
                .info
                  .title
                    Scrabble
                  .description
                    Based on Words with Friends game
                  .summary
                    .rank
                      %span.icon
                      %span.value
                        80%
                    .friends
                      %span.icon
                      %span.value
                        10
                    .clear
                    .current
                      552 Birds
                .collect
                  Collect
            .clear
