#jqt
  #home.current
    = render 'nav_bar'
    %div.container.scroll.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            .slide_nav
              %a{ :href => "#", :class => "more_games_url" }
                .slider.slider_right.right
                  %span.title.small
                    More Games      
              .slider_btn.left
                .slider.slider_active.slider_left
                  %span.title
                    My Apps
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
          .content
            .flash_message
              - [:notice, :error, :success].each do |key|
                - unless flash[key].blank?
                  %div{ :class => "#{key}" }= flash[key]
            .offer_list
              %ul
                -@external_publishers.each do |external_publisher|
                  %li.offer_item.clearfix
                    .offer_image
                      = image_tag(external_publisher.get_icon_url(:source => :cloudfront))
                    .offer_text
                      .offer_title.title
                        = external_publisher.app_name
                      .offer_info
                        - external_publisher.currencies.each_with_index do |currency, i|
                          - link_to("#", :id => currency[:id], :class => "get_offerwall_jsonp", :jsonp_url => external_publisher.get_offerwall_url(@device, currency), :currency => currency[:name], :app_name => external_publisher.app_name) do
                            .offer_button
                              .button.grey 
                                %span.earn
                                  Earn
                                %span.currency
                                  = currency[:name]  

  #earn
    = render 'nav_bar'
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo.logo_title
            .slide_nav
              %a{ :href => "#", :class => "more_games_url"}
                .slider.slider_right.right.hide
                  %span.title.small
                    More Games 
              %a{ :href => "#home", :class => "slideright" }
                .left
                  .slide_arrow_wrapper.left_arrow
                    .slide_arrow
                .slider.slider_active.slider_left.left
                  %span.title
                    Back
          #app_title.hide
          #earn_content.content.hide
          
  #more_games
    = render 'nav_bar'
    .container.vertical-scroll
      .scroller.with-scrollbar
        %div.page
          .logo
            .slide_nav
              .slider_wrapper.right.hide 
                .slider.slider_active.slider_right
                  %span.title.small
                    More Games
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
              %a{ :href => "#home", :class => "slideright"}
                .slider_btn.left
                  .left
                    .slide_arrow_wrapper.left_arrow
                      .slide_arrow
                  .slider.slider_active.slider_left.left
                    %span.title
                      Back
          .content
            .tab_wrapper.clearfix
              #top_grossing_games_tab.tab_right.hide
                #top_grossing_games_button.tab_button.grey
                  .tab_content
                    Popular Games
                #top_grossing_games_button_arrow.tab_button_bottom_arrrow_wrapper
                  .tab_button_bottom_arrrow
              #recommended_games_tab.tab_left
                #recommended_games_button.tab_button.dark_grey
                  .tab_content
                    Tapjoy Recommends
                #recommended_games_button_arrow.tab_button_bottom_arrrow_wrapper
                  .tab_button_bottom_arrrow
            #more_games_content

  = render 'my_account'

#bad_news.dialog_wrapper.hide
  .close_dialog
    .close_button
  .dialog
    .dialog_header_wrapper
      .dialog_header_right
      .dialog_header_left
      .dialog_title.title_2 Bad News
    .dialog_content
      - [:error].each do |key|
        - unless flash[key].blank?
          .account_error
            = flash[key]

- content_for :page_javascript do
  - if Rails.env.production?
    = render 'index_js_min'
  - else
    = render 'index_js'