#jqt
  #home.current
    %div.top_nav_bar.toolbar
      .nav_content 
        - if current_gamer.present?
          .right
            = link_to 'Support', "#support", :class => "flip"
          .right
            = link_to 'My Account', "#my_account", :class => "flip"
        - else
          .right
            = link_to 'Login', games_login_path
    %div.container.scroll.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            %div.slide_nav
              %div.slider_right.right
                %span.title.small
                  = link_to( 'More Games', "#", :class => "more_games_url" )
              %div.slider_active.slider_left.left
                %span.title
                  My Apps
          .content
            %ul
              -@external_publishers.each do |external_publisher|
                %li.offer_item.clearfix
                  .offer_image
                    = image_tag(external_publisher.get_icon_url(:source => :cloudfront))
                  .offer_text
                    %div.offer_title.title
                      = external_publisher.app_name
                    .offer_info
                      - external_publisher.currencies.each_with_index do |currency, i|
                        - link_to("#", :id => currency[:id], :class => "get_offerwall_jsonp", :jsonp_url => external_publisher.get_offerwall_url(@device, currency), :currency => currency[:name]) do
                          .offer_button
                            .button.blue         
                              %span.amount
                                Earn
                                = currency[:name]
                        = " " if i != external_publisher.currencies.size - 1

  #earn
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          = link_to 'Support', "#support", :class => "flip"
        .right
          = link_to 'My Account', "#my_account", :class => "flip"    
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            %div.slide_nav
              %div.slider_right.right
                %span.title.small
                  = link_to( 'More Games', "#", :class => "more_games_url" )
              %div.slider_left.left
                %span.title
                  = link_to 'My Apps', "#home", :class => "slideright"
          #earn_content.content.hide
          
  #more_games
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          = link_to 'Support', "#support", :class => "flip"
        .right
          = link_to 'My Account', "#my_account", :class => "flip"    
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            %div.slide_nav
              %div.slider_active.slider_right.right
                %span.title.small
                  More Games
              %div.slider_left.left
                %span.title
                  = link_to 'My Apps', "#home", :class => "slideright" 
          #more_games_content.content.hide

  #my_account.tan
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          = link_to 'Support', "#support", :class => "flip"
        .right
          = link_to 'My Account', "#my_account", :class => "flip"
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
          .content 
                 
  #support
    %div.top_nav_bar.toolbar
      .nav_content
        .right
          = link_to 'Support', "#support", :class => "flip"
        .right
          = link_to 'My Account', "#my_account", :class => "flip"
    %div.container.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
          .content  


#sign_up_dialog.dialog_wrapper.hide
  %div.dialog
    .close_dialog
      .close_button
    .dialog_title
    #sign_up_content


#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image


- content_for :page_javascript do
  :plain
    $(window).load(function() {
      var jQT = new $.jQTouch({
        slideSelector: '#jqt .slide_nav',
      });
      function getOfferWalls() {
        $(".get_offerwall_jsonp").each(function() {
          $(this).click(function(){
            TJG.ui.showLoader();
            $("#earn_content").fadeOut(350,function() {
              $("#earn_content").empty();
              jQT.goTo('#earn', 'slideleft');  
            });
            var url = $(this).attr("jsonp_url");
            var id = $(this).attr("id");
            var currency_name = $(this).attr("currency");
            if (url) {
              if (!TJG.appOfferWall[id]) {
                jQT.goTo('#earn', 'slideleft');   
                $.getJSON(url+"&callback=?", function(data) {
                  TJG.ui.hideLoader();
                  if (data.OfferArray) {
                    var offers = data.OfferArray;
                    TJG.appOfferWall[id] = offers; 
                    var c = TJG.ui.getOffferRow(offers,currency_name);
                    $("#earn_content").html(c);
                    TJG.onload.loadCufon();
                    $("#earn_content").fadeIn(400); 
                  }
                });
              } 
              else if (TJG.appOfferWall[id]) {
                TJG.ui.hideLoader();
                var c = TJG.ui.getOffferRow(TJG.appOfferWall[id],currency_name);
                $("#earn_content").html(c);
                TJG.onload.loadCufon();
                $("#earn_content").fadeIn(400);
              }
            }
          });
        }); 
      }
      getOfferWalls();
      function reloadOfferWalls () {
        $(".get_offerwall_jsonp").unbind("click");
        getOfferWalls();
      }
      function getMoreOfferWalls() {
        $(".more_games_url").click(function() {
          TJG.ui.showLoader();
            $("#more_games_content").fadeOut(350,function() {
              $("#earn_content").empty();
              jQT.goTo('#more_games', 'slideleft');  
          });
          if (TJG.moreAppOfferWall) {
            TJG.ui.hideLoader();
            $("#more_games_content").html(c);
            TJG.onload.loadCufon();
            $("#more_games_content").fadeIn(400);
          }
          else {
            $.ajax({
              url: location.pathname.replace(/\/$/, '') + "/more_games?ajax=1",
              success: function(c) {
                TJG.moreAppOfferWall = c;
                TJG.ui.hideLoader();
                $("#more_games_content").html(c);
                reloadOfferWalls();
                TJG.onload.loadCufon();
                $("#more_games_content").fadeIn(400); 
              },
              error: function() {
              }
            });
          }
        }); 
      }
      getMoreOfferWalls();
    });