#jqt
  #home.current
    .top_nav_bar.toolbar
      .nav_content 
        - if current_gamer.present?
          .right
            = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
          .right
            = link_to 'My Account', "#my_account", :class => "flip"
        - else
          .right
            = link_to 'Login', games_login_path
    %div.container.scroll.vertical-scroll
      %div.scroller.with-scrollbar
        %div.page
          .logo
            .slide_nav
              .slider.slider_right.right
                %span.title.small
                  = link_to( 'More Games', "#", :class => "more_games_url" )
              .slider_btn.left
                .slider.slider_active.slider_left
                  %span.title
                    My Apps
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
          .content
            %ul
              -@external_publishers.each do |external_publisher|
                %li.offer_item.clearfix
                  .offer_image
                    = image_tag(external_publisher.get_icon_url(:source => :cloudfront))
                  .offer_text
                    .offer_title.title
                      = external_publisher.app_name
                    .offer_info
                      - external_publisher.currencies.each_with_index do |currency, i|
                        - link_to("#", :id => currency[:id], :class => "get_offerwall_jsonp", :jsonp_url => external_publisher.get_offerwall_url(@device, currency), :currency => currency[:name], :app_name => external_publisher.app_name) do
                          .offer_button
                            .button.blue 
                              %span.amount
                                Earn
                                = currency[:name]

  #earn
    .top_nav_bar.toolbar
      .nav_content
        .right
          = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
        .right
          = link_to 'My Account', "#my_account", :class => "flip"
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo.logo_title
            .slide_nav
              .slider.slider_right.right.hide
                %span.title.small
                  = link_to( 'More Games', "#", :class => "more_games_url" )
              .left
                .slide_arrow_wrapper.left_arrow
                  .slide_arrow
              .slider.slider_active.slider_left.left
                %span.title
                  = link_to 'Back', "#home", :class => "slideright"
          #app_title.hide
          #earn_content.content.hide
          
  #more_games
    .top_nav_bar.toolbar
      .nav_content
        .right
          = mail_to 'support@tapjoy.com', 'Support', :id => 'support'
        .right
          = link_to 'My Account', "#my_account", :class => "flip"    
    .container.vertical-scroll
      .scroller.with-scrollbar
        %div.page
          .logo
            %div.slide_nav
              .slider_wrapper.right.hide 
                .slider.slider_active.slider_right
                  %span.title.small
                    More Games
                .slide_arrow_wrapper.bottom_arrow
                  .slide_arrow
              .slider_btn.left
                .left
                  .slide_arrow_wrapper.left_arrow
                    .slide_arrow
                .slider.slider_active.slider_left.left
                  %span.title
                    = link_to "Back", "#home", :class => "slideright"
          .content
            .tab_wrapper.clearfix
              #top_grossing_games_tab.tab_right.hide
                #top_grossing_games_button.tab_button.grey
                  .tab_content
                    Popular Games
                #top_grossing_games_button_arrow.tab_button_bottom_arrrow_wrapper
                  .tab_button_bottom_arrrow
              #recommended_games_tab.tab_left
                #recommended_games_button.tab_button.dark_grey
                  .tab_content
                    Tapjoy Recommends
                #recommended_games_button_arrow.tab_button_bottom_arrrow_wrapper
                  .tab_button_bottom_arrrow
            #more_games_content


  #my_account.tan
    .container.vertical-scroll
      .scroller.with-scrollbar
        .page
          .logo
            .slide_nav.left
              .left
                .slide_arrow_wrapper.left_arrow
                  .slide_arrow
              .slider.slider_active.slider_left.left
                .title
                  = link_to "Back", "#", :class => "back"
          .content.narrow
            .my_account_header_wrapper
              .my_account_header.title_2
                My Account Info 
            .content_box_top_arrow_wrapper
              .content_box_top_arrow
            .content_box.clearfix
              - if current_gamer.present?
                .account_info
                  = "Logged in as #{current_gamer.email}"
                .button.lt_blue.logout
                  = link_to "Logout", games_logout_path

#sign_up_dialog.dialog_wrapper.hide
  .dialog
    .close_dialog
      .close_button
    .dialog_title
    #sign_up_content


#register_device.dialog_wrapper.hide
  .close_dialog
    .close_button
  .dialog
    .dialog_header_wrapper
      .dialog_header_wrapper
      .dialog_header_right
      .dialog_header_left
      .dialog_title.title_2 Hooray!
    .dialog_header Your device has been linked to your Tapjoy Games account
    .dialog_content Now close this box and start earning currency in your favorite games!


#loader.dialog_wrapper.hide
  #progress.dialog
    .dialog_title
      Loading
    .dialog_image


- content_for :page_javascript do
  :plain
    $(window).load(function() {
      var jQT = new $.jQTouch({
        slideSelector: '#jqt .slide_nav',
      });
      var install = TJG.utils.getParam("register_device");
      if (install.indexOf("true") != -1) {
        TJG.utils.centerDialog("#register_device");
        $("#register_device").fadeIn(350); 
      }

      function getOfferWalls() {
        $(".get_offerwall_jsonp").each(function() {
          var i = 0;
          $(this).click(function(){
            TJG.ui.showLoader();
            $("#earn_content").fadeOut(450,function() {
              $("#earn_content").empty();
              jQT.goTo('#earn', 'slideleft');  
            });
            var url = $(this).attr("jsonp_url");
            var appId = $(this).attr("id");
            var appName = $(this).attr("app_name");
            var currencyName = $(this).attr("currency");
            if (!TJG.appOfferWall[appId]) {
              TJG.appOfferWall[appId] = {};
            }
            TJG.appOfferWall[appId]['jsonp_url'] = url;
            var title = 'Viewing offers for <span class="bold">' + appName + '</span>';
            $("#app_title").html(title);
            $("#app_title").show();
            if (url) {
              if (!TJG.appOfferWall[appId]['offers']) {
                jQT.goTo('#earn', 'slideleft');   
                $.ajax({
                  url: url+"&callback=?",
                  dataType: 'json',
                  timeout: 15000,
                  success: function(data) {
                    TJG.ui.hideLoader();
                    if (data.OfferArray) {
                      var offers = data.OfferArray;
                      offerOffset = offers.length;
                      TJG.appOfferWall[appId]['offers_left'] = data.MoreDataAvailable;
                      TJG.appOfferWall[appId]['offset'] = offerOffset;
                      TJG.appOfferWall[appId]['offers'] = offers; 
                      var offerRows = TJG.ui.getOffferRow(offers, currencyName);
                      var t = [
                        '<ul id="offerwall_id-', appId ,'">',
                          offerRows,
                        '</ul>',
                      ];
                      if (TJG.appOfferWall[appId]['offers_left'] > 0) {
                        t.push('<div class="load_more_loader hide"><div class="dialog_image"></div></div>');
                        t.push('<div class="get_more_apps" app_id="' + appId + '"><div class="get_more_apps_content">Load More</div>');
                      }
                      t = t.join('');
                      $("#earn_content").html(t);
                      TJG.onload.loadCufon($("#earn_content").fadeIn(500),300);
                      $(".get_more_apps").click(function(){
                        var appId = $(this).attr("app_id");
                        $(".load_more_loader").show();
                        if (TJG.appOfferWall[appId]['offers_left'] > 0) {
                          var url = TJG.appOfferWall[appId]['jsonp_url'];
                          url = url + "&start=" + TJG.appOfferWall[appId]['offset'] + "&max=25&callback=?";
                          $.ajax({
                            url: url,
                            dataType: 'json',
                            timeout: 15000,
                            success: function(data) {
                              if (data.OfferArray) {
                                var offers = data.OfferArray;
                                TJG.appOfferWall[appId]['offers_left'] = data.MoreDataAvailable;
                                TJG.appOfferWall[appId]['offset'] = TJG.appOfferWall[appId]['offset'] + 25;
                                var moreOfferRows = TJG.ui.getOffferRow(offers, currencyName, i, true);
                                $("#offerwall_id-" + appId).append(moreOfferRows);
                                var el = ".offer_item_" + i;
                                $.each($(el), function(n,o) {
                                  $(o).fadeIn(600);
                                });
                                TJG.onload.loadCufon();
                                $(".load_more_loader").hide();
                                if (data.MoreDataAvailable == 0) {
                                  $("#get_more_apps").hide();
                                }
                                $.each(offers, function(i,o) {
                                  TJG.appOfferWall[appId]['offers'].push(o);
                                });
                              }
                            },
                            error: function () {
                              var m = [
                                '<div>There was an issue fetching more offers. Please try again</div>'
                              ].join('');                               
                              $("#offerwall_id-" + appId).append(m).fadeIn(350);
                              $(".load_more_loader").hide();
                            }
                          });
                          i++;
                        }
                      });
                    }
                  },
                  error: function() {
                    var m = [
                     '<div>There was an issue. Please try again</div>'
                    ].join('');
                    $("#earn_content").html(m); 
                    $("#earn_content").fadeIn(450);    
                  }
                });
              } 
              else if (TJG.appOfferWall[appId]['offers']) {
                TJG.ui.hideLoader();
                var c = TJG.ui.getOffferRow(TJG.appOfferWall[appId]['offers'],currencyName);
                $("#earn_content").html(c);
                TJG.onload.loadCufon();
                $("#earn_content").fadeIn(450);
              }
              else {
                 var m = [
                   '<div>There was an issue. Please try again</div>'
                 ].join('');
                 $("#earn_content").html(m); 
                 $("#earn_content").fadeIn(450);
              }
            }
            else {
              var m = [
                '<div>There was an issue. Please try again</div>'
              ].join('');
              $("#earn_content").html(m); 
              $("#earn_content").fadeIn(450);
           }
          });
        }); 
      }
      
      function reloadOfferWalls () {
        $(".get_offerwall_jsonp").unbind("click");
        getOfferWalls();
      }
      
      function getMoreGames() {
        $(".more_games_url").click(function() {
          $("#recommended_games_button").addClass("dark_grey").removeClass("grey");
          $("#top_grossing_games_button").addClass("grey").removeClass("dark_grey");
          $("#top_grossing_games_button_arrow").hide();
          $("#recommended_games_button_arrow").show();
          $("#more_games_content").fadeOut(350,function() {
              jQT.goTo('#more_games', 'slideleft');  
          });
          if (TJG.moreAppOfferWall) {
            $("#more_games_content").html(TJG.moreAppOfferWall);
            TJG.onload.loadCufon();
            $("#more_games_content").fadeIn(450);
          }
          else {
            TJG.ui.showLoader();
            $.ajax({ 
              url: TJG.more_games + "?ajax=1",
              timeout: 15000,
              success: function(c) {
                TJG.moreAppOfferWall = c;
                TJG.ui.hideLoader();
                $("#more_games_content").html(c);
                TJG.onload.loadCufon();
                $("#more_games_content").fadeIn(450); 
              },
              error: function() {
                var m = [
                  '<div>There was an issue. Please try again</div>'
                ].join('');
                $("#more_games_content").html(m); 
                $("#more_games_content").fadeIn(450);
              }
            });
          }
        }); 
      }
      
      function getTopGames() {
        $("#top_grossing_games_tab").click(function() {
          $("#top_grossing_games_button").addClass("dark_grey").removeClass("grey");
          $("#recommended_games_button").addClass("grey").removeClass("dark_grey");
          $("#recommended_games_button_arrow").hide();
          $("#top_grossing_games_button_arrow").show();
          
          $("#recommended_games_tab").click(function() {
            $("#recommended_games_button").addClass("dark_grey").removeClass("grey");
            $("#top_grossing_games_button").addClass("grey").removeClass("dark_grey");
            $("#top_grossing_games_button_arrow").hide();
            $("#recommended_games_button_arrow").show();
            if (TJG.moreAppOfferWall) {
              TJG.ui.hideLoader();
              $("#more_games_content").html(TJG.moreAppOfferWall);
              TJG.onload.loadCufon();
              $("#more_games_content").fadeIn(450);
            }
          });
          
          if (TJG.topAppOfferWall) {
            $("#more_games_content").html(TJG.topAppOfferWall);
            TJG.onload.loadCufon();
            $("#more_games_content").fadeIn(450);
          }
          else {
            TJG.ui.showLoader();
            $("#more_games_content").fadeOut(450,function() {
              $("#more_games_content").empty();
            });
            $.ajax({ 
              url: TJG.top_apps_path + "?ajax=1",
              timeout: 15000,
              success: function(c) {
                TJG.topAppOfferWall = c;
                TJG.ui.hideLoader();
                $("#more_games_content").html(c);
                TJG.onload.loadCufon();
                $("#more_games_content").fadeIn(450); 
              },
              error: function () {
                var m = [
                  '<div>There was an issue. Please try again</div>'
                ].join('');
                $("#more_games_content").html(m); 
                $("#more_games_content").fadeIn(450);
              }
            });
          }          
        });
      }
      TJG.path =  "#{games_root_path}";
      TJG.more_games =  "#{games_more_games_path}";
      TJG.top_apps_path =  "#{games_more_games_path}" + "/top";
      getOfferWalls();
      getMoreGames();
      getTopGames();
    });