(function(w) {
w.i18n = w.i18n || {};
w.i18n.locale = "#{I18n.locale}";
w.i18n.default_locale = "#{I18n.default_locale}";
w.i18n["#{I18n.default_locale}"] = buildLocale(
#{I18n.t("text.games", :locale => I18n.default_locale).to_json},
#{I18n.t("text.shared", :locale => I18n.default_locale).to_json}
);
- if(I18n.default_locale != I18n.locale)
  w.i18n["#{I18n.locale}"] = buildLocale(
  #{I18n.t("text.games").to_json},
  #{I18n.t("text.shared").to_json}
  );
function buildLocale(games,shared){return{games:games,shared:shared};}
}(this));
