

- form_for [ @app, @reengagement_offer ] do |f|
  %table
    %tbody
      %tr
        %th
          %h3
            - if @reengagement_offer && @reengagement_offer.day_number    # if action is 'update'
              = "Day #{@reengagement_offer.day_number}"
            - else
              - day_num = ReengagementOffer.campaign_length(@app.id)
              = f.hidden_field :day_number, :value => day_num
              = "Day #{day_num}"  # otherwise action is 'create'
      %tr
        %th
          = f.label :currency_id, 'Currency'
        %td
          = f.select :currency_id, options_from_collection_for_select(@app.currencies, :id, :name)
          = #collection_select(:currency_id, :currency, @app.currencies, :id, :name)
      %tr
        %th
          = f.label :reward_value, 'Reward Amount'
        %td
          = f.text_field :reward_value, :required => ""
      %tr
        %th
          = f.label :instructions, 'Reward Message'
        %td
          = f.text_area :instructions, :required => ""
      %tr
        %td{:colspan => "2"}
          = f.submit