- if current_index == last_index
  %li.tj_friend{:id => friend[:id]}
    = image_tag friend[:image_url], :title => "#{friend[:name]}"
    = friend[:name]
- else
  %li.tj_friend.bottom_line{:id => friend[:id]}
    = image_tag friend[:image_url], :title => "#{friend[:name]}"
    = friend[:name]
