.logo
  .slide_nav
    %a{ :href => back_button, :class => "slideleft" }
      .left
        .slide_arrow_wrapper.left_arrow
          .slide_arrow
      .slider.back.slider_active.slider_left.left
        %span.title
          Back
    %a{ :href => games_logout_path }
      .slider.logout.slider_right.right
        %span.title
          Log Out
#profile_info_display
  .info_expand
    .center_container
      %table
        %tr
          %td
            %a{ :href => @gamer.get_gravatar_profile_url, :target => '_blank' }
              .large_avatar
                %img{ :src => @gamer.get_avatar_url }
          %td
            %div.gamer_name
              = @gamer.get_gamer_nickname
            %div.gamer_email
              = @gamer.email
            %div.gamer_signup_date
              = "Member since #{@gamer.created_at.strftime("%B %d, %Y")}"
            - if @gamer.facebook_id?
              %div.gamer_signup_date
                = fb_connect_async_js
                %span= "You are logged in Facebook as #{fb_name(current_facebook_user, :use_you => false)}. (not #{fb_name(current_facebook_user, :use_you => false, :linked => false)}? ["
                %span= link_to "click here to remove", nil, :id => 'dissociate_facebook'
                %span= '])'
  .info_expand_bottom_arrow_wrapper
    .info_expand_bottom_arrow

- content_for :page_javascript do
  :plain
    $('#dissociate_facebook').click(function(event){
      event.preventDefault();
      FB.logout();
      <!--
      window.location = "#{dissociate_account_games_gamer_gamer_profile_path(:account_type => Invitation::FACEBOOK)}"
      //-->
    });