#profile_info_display
  .info_expand
    .center_container
      %table
        %tr
          %td
            %a{ :href => @gamer.get_gravatar_profile_url, :target => '_blank' }
              .large_avatar
                %img{ :src => @gamer.get_avatar_url }
          %td
            .gamer_name
              = @gamer.get_gamer_nickname
            .gamer_email
              = @gamer.email
            .gamer_signup_date
              = "Member since #{@gamer.created_at.strftime("%B %d, %Y")}"
  .info_expand_bottom_arrow_wrapper
    .info_expand_bottom_arrow

- content_for :page_javascript do
  :plain
    $('#dissociate_facebook').click(function(event){
      event.preventDefault();
      FB.logout();
      <!--
      window.location = "#{dissociate_account_games_gamer_gamer_profile_path(:account_type => Invitation::FACEBOOK)}"
      //-->
    });
