.invite_wrapper
  .title_2
    Invite Your Friends!
  #invite_friends.clearfix
    .social_btn_wrapper
      = fb_connect_async_js
      - if @gamer.facebook_id.blank?
        .social_btn.fb{ :onclick => "doLogin('offline_access,publish_stream');" }
      - else
        .social_btn.fb{ :onclick => "location.href='#{games_social_invite_facebook_friends_path}';" }
    .social_btn_wrapper
      - if @gamer.twitter_id.blank?
        .social_btn.tw{ :onclick => "location.href='#{games_social_twitter_start_oauth_path}';" }
      - else
        .social_btn.tw{ :onclick => "location.href='#{games_social_invite_twitter_friends_path}';" }
    .social_btn_wrapper
      - link_to games_social_invite_email_friends_path do
        .social_btn.email

- content_for :page_javascript do
  :plain
    var doLogin = function(scope){
      FB.login(function(response, scope) {
        if (response.authResponse) {
          FB.api('/me', function(response) {
            <!--
            window.location = "#{games_social_invite_facebook_friends_path(:valid_login => true)}"
            //-->
          });
        } else {
        }
      }, {scope: scope});
    };
