#signup-form.hide
  .register_form
    - form_for([ :games, @gamer ], :url => games_gamer_path ) do |f|
      - if params[:data].present?
        = hidden_field_tag :data, params[:data]
      - if params[:src].present?
        = hidden_field_tag :src, params[:src]
      .field
        = label_tag :birthdate
        = select_date nil, { :order => [:month, :day, :year], :start_year => Time.now.year, :end_year => (Time.now.year - 100), :include_blank => false, :prompt => {:day => t("text.shared.day"), :month => t("text.shared.month"), :year => t("text.shared.year")} }
      .field
        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t('text.shared.email')
      .field
        %label{ :for => "password", :class => "hidden" }
          Password
        = f.password_field :password, :placeholder => t('text.shared.password')
      - if device_type.nil?
        .row.platform
          .field#platform_android
            = label_tag :default_platform_android, t("text.shared.android")
            = check_box_tag :default_platform_android, 'android'
          .field#platform_ios
            = label_tag :default_platform_ios, t("text.shared.ios")
            = check_box_tag :default_platform_ios, 'ios'
      .row
        .field.field_tos
          .field_checkbox
            = f.check_box :terms_of_service
          .field_tos_text
            = f.label :terms_of_service, t("text.games.tos_acknowledge_html",
              :terms_of_use => link_to(t("text.games.terms_of_use_href"), games_tos_path, :target => '_blank'),
              :privacy_policy => link_to(t("text.games.privacy_policy_href"), games_privacy_path, :target => '_blank'))
          = f.hidden_field :referrer, :value => params[:referrer]
        .field.left
          = f.submit t('text.shared.sign_up')
      .email_error
        = error_message_on @gamer, :email
        = error_message_on @gamer, :password
        = error_message_on @gamer, :terms_of_service
  .register_progess
