#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'my_account' }

    .content_wrapper
      = render(:partial => 'header')
      .content
        .title_2
          Invite Your Friends!
        #invite_friends.clearfix
          .social_btn_wrapper
            = fb_connect_async_js
            - if @gamer.facebook_id.blank?
              .social_btn.fb{ :onclick => "doLogin('offline_access,publish_stream');" }
            - else
              .social_btn.fb{ :onclick => "location.href='#{games_social_invite_facebook_friends_path}';" }
          .social_btn_wrapper
            - if @gamer.twitter_id.blank?
              .social_btn.tw{ :onclick => "location.href='#{games_social_twitter_start_oauth_path}';" }
            - else
              .social_btn.tw{ :onclick => "location.href='#{games_social_invite_twitter_friends_path}';" }
          .social_btn_wrapper
            %a{ :href => games_social_invite_email_friends_path }
              .social_btn.email
        = render(:partial => 'profile')
        .title_2
          Options
        #account_options.content_box.clearfix
          %a{ :href => @gamer.get_gravatar_profile_url, :target => '_blank' }
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Icon:
                #user_gravatar.image
                  %img{ :src => @gamer.get_avatar_url(30) }
          %a{ :href => password_games_gamer_path }
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Reset Password
          %a{ :href => prefs_games_gamer_path }
            .slider.clearfix
              .profile_arrow.right
              .field
                .label
                  Preferences

- content_for :page_javascript do
  :plain
    var error = '#{params[:error]}';

    $(document).ready(function() {
      if(error){
        $('.error_msg').removeClass('hidden');
        $('.error_msg').text(error);
      }
    });

    var doLogin = function(scope){
      FB.login(function(response, scope) {
        if (response.authResponse) {
          FB.api('/me', function(response) {
            <!--
            window.location = "#{games_social_invite_facebook_friends_path(:valid_login => true)}"
            //-->
          });
        } else {
        }
      }, {scope: scope});
    };
