#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'my_account' }

    .content_wrapper
      = render(:partial => 'header')
      .content
        = render(:partial => 'invite_friends')
        = render(:partial => 'profile')
        .title_2
          Options
        #account_options.content_box.clearfix
          - link_to @gamer.get_gravatar_profile_url, :target => '_blank' do
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Icon:
                #user_gravatar.image
                  = image_tag(@gamer.get_avatar_url(30))
          - link_to password_games_gamer_path do
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Reset Password
          - link_to prefs_games_gamer_path do
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Preferences
          - link_to friends_games_gamer_path do
            .slider.clearfix
              .profile_arrow.right
              .field
                .label
                  Friends

- content_for :page_javascript do
  :plain
    var error = '#{params[:error]}';

    $(document).ready(function() {
      if(error){
        $('.error_msg').removeClass('hidden');
        $('.error_msg').text(error);
      }
    });
