#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'my_account' }

    .content_wrapper
      = render(:partial => 'header')
      .content
        = render(:partial => 'invite_friends')
        = render(:partial => 'profile')
        .title_2
          Options
        #account_options.content_box.clearfix
          %a{ :href => @gamer.get_gravatar_profile_url, :target => '_blank' }
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Icon:
                #user_gravatar.image
                  %img{ :src => @gamer.get_avatar_url(30) }
          %a{ :href => password_games_gamer_path }
            .slider.bottom_line.clearfix
              .profile_arrow.right
              .field
                .label
                  Reset Password
          %a{ :href => prefs_games_gamer_path }
            .slider.clearfix
              .profile_arrow.right
              .field
                .label
                  Preferences

- content_for :page_javascript do
  :plain
    var error = '#{params[:error]}';

    $(document).ready(function() {
      if(error){
        $('.error_msg').removeClass('hidden');
        $('.error_msg').text(error);
      }
    });
