#edit-gamer.current
  .panel
    .page-header
      .container
        .left.ml10.pt3
          .head.mt10
            .heading
              = t('text.shared.my_account')
    - form_for([ :games, :gamer, @gamer_profile ], :url => games_gamer_gamer_profile_path, :html => { :method => "put" }) do |f|
      .container
        .ui-joy-group.p10.ptn
          .ui-joy-group-title.mb10= t('text.shared.profile')
          %ul.list-button-container
            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10.mt5
                  .ui-joy-label= t('text.shared.name')
              .container
                %div.m10.mtn= f.text_field :name, :class => "ui-joy-input"

            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10.mt5
                  .ui-joy-label= t('text.shared.nickname')
              .container
                %div.m10.mtn= f.text_field :nickname, :class => "ui-joy-input"

            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10.mt5
                  .ui-joy-label= t('text.shared.gender')
              .container
                %div.m10.mtn
                  .button-bar
                    .hidden
                      = f.radio_button :gender, "male"
                      = f.radio_button :gender, "female"
                    .button-group
                      .ui-joy-button.secondary.no-rounded-right{:value => 'male'}
                        %a.text-center= t('text.shared.male')
                      .ui-joy-button.secondary.no-rounded-left{:value => 'female'}
                        %a.text-center= t('text.shared.female')
            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10.mt5
                  .ui-joy-label= t('text.shared.location')
              .container
                %div.m10.mtn
                  = f.text_field :city, :placeholder => t("text.shared.city"), :class => "ui-joy-input no-rounded-bottoms"
                  = f.text_field :country, :placeholder => t("text.shared.country"), :class => "ui-joy-input no-rounded-tops ntb nbs"
        .ui-joy-group.p10.ptn
          .ui-joy-group-title.mb10= t('text.shared.favorites')
          %ul.list-button-container
            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10.mt5
                  .ui-joy-label= t('text.games.favorite_app')
              .container
                %div.m10.mtn= f.text_field :favorite_game, :class => "ui-joy-input"
            %li.list-button.soft-gray-gradient.pt5.pb5.inline-section.ui-no-action
              .container
                .m10
                  .ui-joy-label= t('text.games.favorite_category')
              .container
                %div.m10.mtn= f.text_field :favorite_category, :class => "ui-joy-input"
        .m10.mb20
          = f.submit t('text.shared.save'), :class => "ui-joy-button primary pt10 pb10 enable-when-valid"
