#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'back', :back_button_destination => edit_games_gamer_path }

    .content_wrapper
      = render(:partial => 'header')
      #display_friendships.profile
        .content
          .content_box
            .friend_tabs
              .following_tab
                .following_count= @friends_lists[:following].size
                .following_text Following
              .followers_tab
                .followers_count= @friends_lists[:followers].size
                .followers_text Followers
            #friends_display
              - @friends_lists.each do |key, friends|
                %div{:class => "#{key}_display"}
                  %ul
                    - friends.each do |friend|
                      %li.tj_friend{:id => friend[:id]}
                        = image_tag friend[:image_url], :title => "#{friend[:name]}"
                        = friend[:name]

- content_for :page_javascript do
  :plain
    $(function($) {
      $('.following_tab').addClass('active');
      $('.followers_display').addClass('hide');
    });

    $('.following_tab').click(function(){
      $('.following_tab').addClass('active');
      $('.followers_tab').removeClass('active');
      $('.following_display').removeClass('hide');
      $('.followers_display').addClass('hide');
    });

    $('.followers_tab').click(function(){
      $('.following_tab').removeClass('active');
      $('.followers_tab').addClass('active');
      $('.following_display').addClass('hide');
      $('.followers_display').removeClass('hide');
    });
