#signup-form.show
  #header-signup.header-signup
    .headerwrap
      .wrap
        .container
          .nav
            .logo
              = link_to(games_path) do
                %img{ :src => BLANK_IMAGE }
  - possible_links = { :ios => new_games_device_path, :android => GAMES_ANDROID_MARKET_URL }.to_json
  = form_for([ :games, @gamer ], :url => games_gamer_path, :method => :post, :html => { 'data-root-url' => WEBSITE_URL, 'data-link-urls' => possible_links } ) do |f|
    #signup-nav.signup-nav
      .signup-nav-menu
        %span.title= t('text.shared.sign_up')
        = f.submit t('text.games.next'), :class => "ui-joy-button soft-grey-action next-btn disabled"

    #register-form.register-form.clearfix

      - unless @hide_fb_signup
        .ui-joy-button.orange-action.log-in-with-facebook{ 'data-submit-form-id' => 'log-in-with-facebook-form' }
          %a.facebook-square
            = t('text.games.sign_up_with_facebook')
        .form-separator or

      .form-error
        &nbsp;
        = error_message_on @gamer, :nickname
        = error_message_on @gamer, :email
        = error_message_on @gamer, :password
        = error_message_on @gamer, :terms_of_service
      - if params[:data].present?
        = hidden_field_tag :data, params[:data]
      - if params[:src].present?
        = hidden_field_tag :src, params[:src]
      .field
        = f.text_field :nickname, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t('text.shared.name')
      .field
        = label_tag :birthdate, t("text.games.birthdate")
        = select_date nil, { :order => [:month, :day, :year], :start_year => Time.now.year, :end_year => (Time.now.year - 100), :include_blank => false, :prompt => {:day => t("text.shared.day"), :month => t("text.shared.month"), :year => t("text.shared.year")} }
      .field
        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t('text.shared.email')
      .field
        %label{ :for => "password", :class => "hidden" }
          = t('text.shared.password')
        = f.password_field :password, :placeholder => t('text.shared.new_password')
      - if device_type.nil?
        #platform-row.clearfix
          #platform_ios.ui-joy-button.grey-action
            = label_tag :default_platform_ios, t("text.shared.ios")
            = check_box_tag :default_platform_ios, 'ios'
          #platform_android.ui-joy-button.grey-action
            = label_tag :default_platform_android, t("text.shared.android")
            = check_box_tag :default_platform_android, 'android'
      #tos-row.clearfix
        .field.field_tos
          .field_checkbox.left
            = f.check_box :terms_of_service
          .field_tos_text.left
            = f.label :terms_of_service, t("text.games.tos_acknowledge_html",
              :terms_of_use => link_to(t("text.games.terms_of_use_href"), games_tos_path, :target => '_blank'),
              :privacy_policy => link_to(t("text.games.privacy_policy_href"), games_privacy_path, :target => '_blank'))
          = f.hidden_field :referrer, :value => params[:referrer]
          = f.hidden_field :account_type, :value => Gamer::ACCOUNT_TYPE[:email_signup]

    .register-progress.clearfix
      .register-message.hidden
        &nbsp;
      .register-loader.hidden
        .register-text.left
          = t('text.games.registering')
        .left
          #tapjoy_loader
            #loader_t.loader_letter
            #loader_a.loader_letter
            #loader_p.loader_letter

  .container.mt20.center
    = render '/shared/truste'

= form_tag "#{games_gamer_sessions_path(:path => params[:path], :data => params[:data], :referrer => params[:referrer], :src => params[:src])}", :method => :post, :id => 'log-in-with-facebook-form', :authenticity_token => "#{form_authenticity_token}"

- content_for :page_head do
  %meta{ :name => 'description', :content => t('text.games.meta_description') }
  %meta{ :name => 'keywords', :content => t('text.games.meta_keywords')}

  - css_cache 'marketplace/theme/tjm/logged_out', true

- @load_facebook = true

- content_for :page_tracking_js do
  :javascript
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="http://fls.doubleclick.net/activityi;src=3509778;type=conve639;cat=signu929;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

- content_for :page_tracking do
  %iframe{ :src => "http://fls.doubleclick.net/activityi;src=3509778;type=conve639;cat=signu929;ord=1?", :width => "1", :height => "1", :frameborder => "0", :style => "display:none" }
