#signup-form.show-now
  #header-signup.header-signup
    .headerwrap
      .wrap
        .container
          .nav
            .logo
              = link_to(games_path) do
                %img{ :src => BLANK_IMAGE }
  = render 'flow_navigation', :add_class => 'slides-down'
  .outer-auth
    .auth.container.flocus{'data-flocuser-selector' => 'input, .right-form .ui-joy-button'}
      .left-form.flocal
        = render 'games/gamer_sessions/facebook_login', :button_text => t('text.games.sign_up_with_facebook')
      .right-form.flocal#register-form.register-form.clearfix
        = render 'form'

      = render 'games/shared/device_setup'

.container.mt20.center
  = render '/shared/truste'

- content_for :page_head do
  %meta{ :name => 'description', :content => t('text.games.meta_description') }
  %meta{ :name => 'keywords', :content => t('text.games.meta_keywords')}

- css_cache 'marketplace/theme/tjm/logged_out', true

- @load_facebook = true

- content_for :page_tracking_js do
  :javascript
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="http://fls.doubleclick.net/activityi;src=3509778;type=conve639;cat=signu929;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

- content_for :page_tracking do
  %iframe{ :src => "http://fls.doubleclick.net/activityi;src=3509778;type=conve639;cat=signu929;ord=1?", :width => "1", :height => "1", :frameborder => "0", :style => "display:none" }
- js_cache 'marketplace/auth-pages/signup'
