#password-update.current
  .content
    .content-box
      - form_for([ :games, @gamer ], :url => { :action => :update_password }) do |f|
        .field
          = label_tag 'gamer_password', "#{t('text.shared.new_password')}: "
          = f.password_field :password, :placeholder => t("text.shared.password"), :required => "", :class => "ui-joy-input"
          = error_message_on @gamer, :password
        .field
          = label_tag 'gamer_password_confirmation', "#{t('text.shared.confirm_password')}: "
          = f.password_field :password_confirmation, :placeholder => t("text.shared.confirm_password"), :required => "", :class => "ui-joy-input"
          = error_message_on @gamer, :password_confirmation
        .field
          = f.submit t('text.shared.save'), :class => 'primary ui-joy-button enable-when-valid'
        .form-error.center.hide
          .account-error
