#jqt
  #manage_account.tan.account.current
    .container
      .page.no_top_nav_bar
        = render(:partial => 'header', :locals => { :back_button => edit_games_gamer_path })
        .content.narrow
          .header_wrapper
            - form_for([ :games, @gamer ], :url => { :action => :update_password }) do |f|
              .content_box_wrapper
                .content_box.clearfix
                  #edit_profile
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = label_tag 'Login: '
                        .value
                          = @gamer.email
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :password, 'New Password: '
                        = f.password_field :password
                        = error_message_on @gamer, :password
                    .slider.clearfix
                      .field.clearfix
                        = f.label :password_confirmation, 'Confirm Password: '
                        = f.password_field :password_confirmation
                        = error_message_on @gamer, :password_confirmation
              .button_bar
                = submit_tag('Save', :class => 'button lt_blue')
