#password-update.current
  .content
    %h1.museo
      = t('text.shared.change_password')
    .content-box
      = form_for([ :games, @gamer ], :url => { :action => :update_password }) do |f|
        .field.pbn.ptn
          .ui-joy-label.p3
            = label_tag 'gamer_password', "#{t('text.shared.new_password')}"
          = f.password_field :password, :placeholder => t("text.shared.password"), :required => "", :class => "ui-joy-input"
          = error_message_on @gamer, :password
        .field.pbn.pt5
          .ui-joy-label.p3
            = label_tag 'gamer_password_confirmation', "#{t('text.shared.confirm_password')}"
          = f.password_field :password_confirmation, :placeholder => t("text.shared.confirm_password"), :required => "", :class => "ui-joy-input"
          = error_message_on @gamer, :password_confirmation
        .field
          .p10
            = f.submit t('text.shared.submit'), :class => 'ui-joy-button primary pb10 pt10 disabled enable-when-valid'
          .p10
            = button_to_function t('text.shared.cancel'), 'history.go(-1)', :class => 'ui-joy-button pb10 pt10 secondary'
        .form-error.center
