#password-update.current
  .content
    .content-box
      - form_for([ :games, @gamer ], :url => { :action => :update_password }) do |f|
        .field
          =# label_tag 'gamer_password', "#{t('text.shared.new_password')}: "
          = f.password_field :password, :placeholder => t("text.shared.password"), :required => ""
          = error_message_on @gamer, :password
        .field
          =# label_tag 'gamer_password_confirmation', "#{t('text.shared.confirm_password')}: "
          = f.password_field :password_confirmation, :placeholder => t("text.shared.confirm_password"), :required => ""
          = error_message_on @gamer, :password_confirmation
        .field
          = f.submit t('text.shared.save'), :class => 'button'
        .form-error.center.hide
          .account-error

- content_for :page_javascript do
  :plain
    $(window).load(function() {
      $('form').submit(function(e){
        $(".form-error").hide();
        var inputs, pass, values = {};
        inputs = $('form :input[type=password]');
        inputs.each(function() {
          if (this.type == 'checkbox' || this.type == 'radio') {
            values[this.name] = $(this).attr("checked");
          }
          else {
            values[this.name] = $(this).val();
          }
          pass = values['gamer[password]'];
        });
        if( pass == '' ) {
          $(".account-error").html('#{t('text.games.enter_password')}');
          $(".form-error").show();
          e.preventDefault();
        }
      });
    });
