#show.current
  .mod.line-item.page-header
    .container.pt10
      .left
        .squircle
          - if @gamer.get_avatar_url.present?
            %img{ :src => @gamer.get_avatar_url }
      .left.ml10
        .title.mt20
          = @gamer.nickname.present?  ? @gamer.nickname : 'Chuck Norris'
          %span.aside
            = "(#{t("text.games.thats_you")})"
        .subtitle
          = t('text.games.last_played', :game => @last_app.app_name) if @last_app.present?
  .container
    .mod.titled-group
      .hd
        .group-title.pb10= t('text.shared.friends')
      %ul.list-button-container.mb10
        %li.list-button.soft-gray-gradient.pt5.pl10.pb5
          .hd
            = t("text.shared.following")
          .bold
            = @friends_lists[:following].size
        %li.list-button.soft-gray-gradient.pt5.pl10.pb5
          .hd
            =t ("text.shared.followers")
          .bold
            = @friends_lists[:followers].size
    %ul.list-button-container.flush.nbb
      - link_to edit_games_gamer_path(:id => @gamer.id) do
        %li.list-button.charcoal.soft-gray-gradient
          = t('text.shared.my_profile')
      %li.list-button.charcoal.soft-gray-gradient
        = t('text.games.social_settings')
