#show.current
  .head
    .container.mt10.pt10
      .left.ml10
        .squircle
          - if current_gamer.get_avatar_url.present?
            = image_tag(current_gamer.get_avatar_url)
      .left.ml10
        .title.mt10
          - if current_gamer.get_gamer_nickname.present?
            = current_gamer.get_gamer_nickname
            %span.aside
              (#{t("text.games.thats_you")})
          - else
            = current_gamer.email
            %span.aside
              (#{t("text.games.thats_you")})
              = link_to "(#{t("text.games.change")})", edit_games_public_gamer_profile_path(current_gamer)
        .subtitle
          = t('text.games.last_played', :game => @last_app.app_name) if @last_app.present?

  = render "games/shared/friends_follow"

  .container
    %ul.list-button-container.flush.nbb.big
      %li.list-button.charcoal.soft-gray-gradient
        = link_to games_public_gamer_profile_path(current_gamer) do
          = t('text.shared.my_profile')
      %li.list-button.charcoal.soft-gray-gradient
        = link_to games_social_root_path do
          = t('text.games.social_settings')
