#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'back', :back_button_destination => edit_games_gamer_path }

    .content_wrapper
      = render(:partial => 'header')
      #edit_social.profile
        .content
          .title_2
            Social Networks
          .content_box
            = fb_connect_async_js
            .interior
              #facebook_profile.field
                %table
                  %tr
                    %td= label_tag "Facebook Profile:"
                    %td
                      - if @gamer_profile.facebook_id.present?
                        = fb_profile_pic(current_facebook_user, :size => 'small')
                        %br
                        = fb_name(current_facebook_user, :use_you => false)
                      - else
                        None Selected
              .field
                - if @gamer_profile.facebook_id.present?
                  %a.change_fb_acct_btn.button{ :onclick => "changeFb()" }
                    Change
                - else
                  %a.add_fb_acct_btn.button{ :onclick => "doLogin('offline_access,publish_stream')" }
                    Link My Facebook
          .title_2
            Profile Image
          .content_box
            .interior
              - form_for([ :games, :gamer, @gamer_profile ], :url => update_social_games_gamer_gamer_profile_path, :html => { :method => "put" }) do |f|
                .field
                  = f.label :image_source, 'Image Source:'
                  = f.select :image_source, @image_source_options
                  = error_message_on @gamer_profile, :image_source
                .field
                  = submit_tag('Save', :class => 'button')

- content_for :page_javascript do
  :plain
    var changeFb = function(){
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          FB.logout(function(response) {
            <!--
            window.location = "#{dissociate_account_games_gamer_gamer_profile_path(:account_type => Invitation::FACEBOOK)}"
            //-->
          });
        } else {
          <!--
          window.location = "#{dissociate_account_games_gamer_gamer_profile_path(:account_type => Invitation::FACEBOOK)}"
          //-->
        }
      });
    };

    var doLogin = function(scope){
      FB.login(function(response, scope) {
        if (response.authResponse) {
          FB.api('/me', function(response) {
            <!--
            window.location = "#{connect_facebook_account_games_gamer_path}"
            //-->
          });
        }
      }, {scope: scope});
    };
