#jqt
  #home.current
    = render :partial => 'games/homepage/nav_bar', :locals => { :active => 'back', :back_button_destination => edit_games_gamer_path }

    .content_wrapper
      = render(:partial => 'header')
      #edit_social.profile
        .content
          .title_2
            Social Networks
          #facebook_profile.content_box
            = fb_connect_async_js
            .interior
              .field
                %table
                  %tr
                    %td= label_tag "Facebook Profile:"
                    %td
                      - if @gamer_profile.facebook_id.present?
                        = fb_profile_pic(current_facebook_user, :size => 'small')
                        %br
                        = fb_name(current_facebook_user, :use_you => false)
                      - else
                        None Selected
              - form_for([ :games, @gamer ], :url => dissociate_account_games_gamer_gamer_profile_path(:account_type => Invitation::FACEBOOK), :html => { :method => "put" }) do |f|
                .field
                  = submit_tag(@gamer_profile.facebook_id.present? ? 'Change' : 'Link My Facebook', :class => "button")
          .title_2
            Profile Image
          .content_box
            .interior
              - form_for([ :games, @gamer ], :url => update_social_games_gamer_path, :html => { :method => "put" }) do |f|
                .field
                  = f.label :image_source, 'Image Source:'
                  = f.select :image_source, @image_source_options
                  = error_message_on @gamer, :image_source
                .field
                  = submit_tag('Save', :class => 'button')

- content_for :page_javascript do
  - if @gamer_profile.facebook_id.blank?
    :plain
      $(window).load(function() {
        $("#facebook_profile form").submit(function(e){
          TJG.social.doFbLogin("#{connect_facebook_account_games_gamer_path}");
          return false;
        });
      });
  - if params['fb_logout'] == 'true'
    :plain
      $(window).load(function() {
        TJG.social.doFbLogout();
      });

