%table.tablesorter
  %thead
    %tr
      %th Currency Name
      %th App
      %th Age
      %th Owner
      %th
  %tbody
    - @approvals.each do |approval|
      %tr
        %td= link_to(approval.item.name, app_currency_path({:app_id => approval.item.app.id, :id => approval.item.id}) )
        %td= approval.item.app.name
        %td #{time_ago_in_words(approval.item.created_at)} ago
        %td
          - form_for(approval, :url => assign_tools_approval_path(approval.id), :html => {:class => 'assignment'}) do |f|
            = f.select('owner_id', options_for_select(Approval.available_owners_for_select.unshift(['(none)', nil]), approval.owner_id))
            = image_tag('spinner.gif', :class => 'spinner hidden')
        %td.actions
          = link_to('Approve', approve_tools_currency_approval_path(approval.id), :class => 'approve')
          = link_to('Reject', reject_tools_currency_approval_path(approval.id), :class => 'reject')
