%table.tablesorter
  %thead
    %tr
      %th Type
      %th Record
      %th Owner
      %th State
      %th
  %tbody
    - @approvals.each do |approval|
      %tr
        %td= approval.item_type.classify
        %td= approval.item.try(:to_s) || approval.item.id
        %td= render :partial => 'owner_select', :locals => {:approval => approval}
        %td= approval.state
        %td.actions
          = link_to('Approve', approve_tools_approval_path(approval))
          = link_to('Reject', reject_tools_approval_path(approval))

