%table.tablesorter
  %thead
    %tr
      %th Email
      %th Country
      %th Type
      %th Age
      %th Owner
      %th State
      %th
  %tbody
    - @approvals.each do |approval|
      %tr
        %td= approval.item.email
        %td= approval.item.country
        %td= approval.item.account_type.join(', ')
        %td= time_ago_in_words(approval.created_at)
        %td= render :partial => 'owner_select', :locals => {:approval => approval}
        %td= approval.state.gsub(/^approved$/, 'accepted')
        %td.actions
          = link_to('Accept', approve_tools_approval_path(approval), :class => 'approve')
          = link_to('Reject', reject_tools_approval_path(approval), :class => 'reject')

