- @page_title = 'Login'

%h1 Login

- form_for(@user_session, :html => { :class => 'tjform' }) do |f|
  = hidden_field_tag 'goto', @goto unless @goto.nil?

  %table
    %tr
      %th= f.label :username, "Email Address"
      %td
        - if is_mobile?
          = f.email_field :username, :autocapitalize => 'off', :autocorrect => 'off'
        - else
          = f.text_field :username
        = error_message_on @user_session, :username
    %tr
      %th= f.label :password
      %td
        = f.password_field :password
        = error_message_on @user_session, :password
      %td= link_to('Forgot Password?', new_password_reset_path, :tabindex => 100)
    %tr
      %th= f.label :remember_me
      %td= f.check_box :remember_me
    %tr
      %td{ :colspan => 2 }= f.submit 'Login'
      %td

- content_for :page_javascript do
  :plain
    $(function($) {
      $('#user_session_username').focus();
    });
