- @page_title = 'Login'

#left-panel
  %h2
    Tapjoy for
    %span.highlight Mobile
    developers
  %span.small
    iPhone and Android
    = image_tag 'icon_apple.png'
    = image_tag 'icon_android.png'
  #login_mobile
    - form_for(@user_session, :html => { :id => '', :class => 'tjform' }) do |f|
      = hidden_field_tag 'goto', @goto unless @goto.nil?

      %table
        %tr
          %th= f.label :username, "Email Address"
          %td
            - if is_mobile?
              = f.email_field :username, :autocapitalize => 'off', :autocorrect => 'off', :class => 'login'
            - else
              = f.text_field :username, :class => 'login'
            = error_message_on @user_session, :username
        %tr
          %th= f.label :password
          %td
            = f.password_field :password, :class => 'login'
            %br/
            = link_to_function('Forgot password?', 'toggleForgotPassword()', :tabindex => 100, :class => 'forgot_password')
            = error_message_on @user_session, :password
        %tr
          %th= f.label :remember_me, 'Remember Me'
          %td
            = f.check_box :remember_me, :checked => true
            = f.submit 'Login'
  #forgot_password_mobile.hidden
    - form_tag(password_resets_path, :id => '', :class => 'tjform') do
      %table
        %tr
          %th= label_tag(:email, 'Email Address')
          %td= text_field_tag(:email, '', :class => 'login')
        %tr
          %th &nbsp;
          %td= link_to_function('back to Login', 'toggleForgotPassword()', :tabindex => 100, :class => 'forgot_password')
        %tr
          %td{ :colspan => 2 }= submit_tag('Reset password')
  .registration
    Don't have an account?
    = link_to('Register now.', register_path)

.clear

- content_for :page_javascript do
  :plain
    var forgotPassword = $.noop;
    var toggleForgotPassword = function () {
      if ($('#forgot_password_mobile').is(':hidden')) {
        $('#login_mobile').hide();
        $('#forgot_password_mobile').show();
      } else {
        $('#login_mobile').show();
        $('#forgot_password_mobile').hide();
      }
    };
    $('#user_session_username').focus();

- content_for :page_styles do
  :plain
    .tjform input[type="submit"] {
      margin-top: 0;
    }
    .registration {
      padding: 15px 0px;
    }
    .login {
      width: 200px;
    }
    .forgot_password {
      font-size: 12px;
      font-weight: regular;
    }
    #left-panel,
    #right-panel {
      float: left;
      margin-top: 10px;
    }
    #left-panel {
      width: 430px;
      padding-left: 20px;
    }
    #right-panel{
      width: 480px;
      border-left: 1px solid #888;
      padding-left: 20px;
    }
    h2 {
      margin-bottom: 1px;
    }
    #right-panel span.highlight {
      color: #0d5368;
    }
    #left-panel span.highlight {
      color: #00749c;
    }
    span.small {
      font-size: 0.8em;
    }
    #login_mobile,
    #login_web,
    #forgot_password_mobile,
    #forgot_password_web {
      margin-top: 20px;
    }
