- @page_title = 'Virtual currency'

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_apps, :selected => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#content-with-links
  %h3 Create a Virtual Currency
  
  %p
    Create a new virtual currency to be used in #{@app.name}
  
  - form_for [@app, @currency], :html => {:class => 'tjform'} do |f|
    %table
      %tr
        %th
          = f.label :name, 'Currency name'
        %td
          = f.text_field :name
          = error_message_on(@currency, :name)
    = f.submit "Create"
