- @page_title = 'Virtual currency'

= render :partial => 'apps/carousel', :locals => {:objects => current_partner_apps, :object => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

- form_for [@app, @currency] do |f|
  %table.editable
    %tr
      %th
        #help_name.help ?
        Name
      %td
        = f.text_field :name
        = error_message_on(@currency, :name) if @currency.errors.on :name
    %tr
      %th
        #help_conversion_rate.help ?
        Conversion rate
      %td
        = f.text_field :conversion_rate
        = error_message_on(@currency, :conversion_rate) if @currency.errors.on :conversion_rate
    %tr
      %th
        #help_managed_by_tapjoy.help ?
        Managed by Tapjoy
      %td= check_box_tag(:managed_by_tapjoy, nil, @currency.callback_url == Currency::TAPJOY_MANAGED_CALLBACK_URL)
    %tr.managed
      %th
        #help_initial_balance.help ?
        Initial balance
      %td
        = f.text_field :initial_balance
        = error_message_on(@currency, :initial_balance) if @currency.errors.on :initial_balance
    %tr.unmanaged
      %th
        #help_callback_url.help ?
        Callback URL
      %td
        = f.text_field :callback_url
        = error_message_on(@currency, :callback_url) if @currency.errors.on :callback_url
    %tr.unmanaged
      %th
        #help_secret_key.help ?
        Secret key
      %td
        = f.text_field :secret_key
        = error_message_on(@currency, :secret_key) if @currency.errors.on :secret_key
    %tr
      %th
        #help_test_devices.help ?
        Test devices
      %td
        = f.text_area :test_devices
        = error_message_on(@currency, :test_devices) if @currency.errors.on :test_devices
    %tr
      %td &nbsp;
      %td= f.submit

.hidden
  #help_name_content{:name => 'Name'}
    The name of the currency
  #help_conversion_rate_content{:name => 'Conversion rate'}
    Conversion rate help
  #help_managed_by_tapjoy_content{:name => 'Managed by Tapjoy'}
    Manged by Tapjoy help
  #help_initial_balance_content{:name => 'Initial balance'}
    The amount of currency that a new user starts with.
  #help_callback_url_content{:name => 'Callback URL'}
    Callback URL help
  #help_secret_key_content{:name => 'Secret key'}
    Secret key help
  #help_test_devices_content{:name => 'Test devices'}
    A semi-colon (;) separated list of test UDIDs. These devices will see a special testing offer.

- content_for :page_javascript do
  :plain
    $(function(){
      toggleManagedByTapjoy();

      $('#managed_by_tapjoy').change(toggleManagedByTapjoy);

      $('.help').click(function() {
        var content = $('#' + this.id + '_content');
        position = [$(this).position().left - 300, $(this).position().top - $(window).scrollTop()]
        content.dialog({title: "Help: " + content.attr('name'), position: position, minHeight: 75});
      });
    });

    function toggleManagedByTapjoy() {

      if ($('#managed_by_tapjoy').attr('checked')) {
        $('.managed').show();
        $('.unmanaged').hide();
      } else {
        $('.managed').hide();
        $('.unmanaged').show();
      }
    }

- content_for :page_styles do
  :plain
    textarea {
      height: 34px;
    }
