- @page_title = 'Virtual currency'

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_apps, :selected => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#content-with-links
  %h3 Virtual Currency

  - form_for [@app, @currency], :html => {:class => 'tjform'} do |f|
    %table
      %tr
        %th
          = f.label :name, 'Name'
          #help_name.help ?
        %td
          = f.text_field :name
          = error_message_on(@currency, :name)
      %tr
        %th
          = f.label :conversion_rate, 'Conversion rate ($1=)'
          #help_conversion_rate.help ?
        %td
          #conversion_rate_box
            = f.text_field :conversion_rate
            = error_message_on(@currency, :conversion_rate)
            #currency_name_text
              = @app.currency && @app.currency.name
      %tr
        %th
          = label_tag(:managed_by_tapjoy, 'Managed by Tapjoy')
          #help_managed_by_tapjoy.help ?
        %td= check_box_tag(:managed_by_tapjoy, nil, @currency.callback_url == Currency::TAPJOY_MANAGED_CALLBACK_URL)
      %tr.managed
        %th
          = f.label :initial_balance, 'Initial balance'
          #help_initial_balance.help ?
        %td
          = f.text_field :initial_balance
          = error_message_on(@currency, :initial_balance)
      %tr.unmanaged
        %th
          = f.label :callback_url, 'Callback URL'
          #help_callback_url.help ?
        %td
          = f.text_field :callback_url
          = error_message_on(@currency, :callback_url)
      %tr.unmanaged
        %th
          = f.label :secret_key, 'Secret key'
          #help_secret_key.help ?
        %td
          = f.text_field :secret_key
          = error_message_on(@currency, :secret_key)
      %tr
        %th
          = f.label :test_devices, 'Test devices'
          #help_test_devices.help ?
        %td
          = f.text_area :test_devices
          = error_message_on(@currency, :test_devices)
      - if permitted_to?(:index, :statz)
        = render :partial => 'admin_fields', :locals => {:f => f}
    = f.submit

  .hidden
    #help_name_content{:name => 'Name'}
      The name of the currency
    #help_conversion_rate_content{:name => 'Conversion rate'}
      Amount of virtual currency that $1 will be exchanged for.
    #help_managed_by_tapjoy_content{:name => 'Managed by Tapjoy'}
      In order to use Tapjoy virtual goods, your virtual currency must be managed by Tapjoy.
    #help_initial_balance_content{:name => 'Initial balance'}
      The amount of currency that a new user starts with.
    #help_callback_url_content{:name => 'Callback URL'}
      This is the URL Tapjoy will access when a virtual currency transaction is made.
    #help_secret_key_content{:name => 'Secret key'}
      Secret key to be used with the callback.
    #help_test_devices_content{:name => 'Test devices'}
      A semicolon (;) separated list of test UDIDs. These devices will see a special testing offer.
    = yield :extra_help

- content_for :page_javascript do
  :plain
    $(function($){
      toggleManagedByTapjoy();
      $('#managed_by_tapjoy').change(toggleManagedByTapjoy);
      $('#currency_name').keyup(function(){
        $('#currency_name_text').text($('#currency_name').val());
      });
    });

    function toggleManagedByTapjoy() {
      if ($('#managed_by_tapjoy').attr('checked')) {
        $('.managed').show();
        $('.unmanaged').hide();
      } else {
        $('.managed').hide();
        $('.unmanaged').show();
        if ($('#currency_callback_url').val() == '#{Currency::TAPJOY_MANAGED_CALLBACK_URL}') {
          $('#currency_callback_url').val('');
        }
      }
    }

- content_for :page_styles do
  :plain
    textarea {
      height: 34px;
    }
    
    textarea,
    input[type=text] {
      width: 400px;
    }
    
    .managed,
    .unmanaged {
      display: hidden;
    }
    
    #conversion_rate_box {
      position: relative;
    }
    
    #currency_name_text {
      position: absolute;
      left: 100%;
      margin-left: 3px;
      margin-top: -23px;
    }
    
