- @page_title = 'Brands'

%h1= @page_title
- if permitted_to?(:new, :tools_brands)
  = link_to('Create Brand', new_tools_brand_path)

  %table#brands_table.tablesorter
    %thead
      %tr
        %th Name
        %th Offers
        %th Created
        %th Action
    %tbody
      - @brands.each do |brand|
        %tr{ :class => cycle('even', 'odd') }
          %td= brand.name
          %td= "(#{brand.offers.size}) " + truncate(brand.offers.join(', '), :length => 300)
          %td.nowrap= brand.created_at.to_s(:pub)
          %td= link_to('Edit', edit_tools_brand_path(brand.id))
= will_paginate(@brands)
- content_for :page_javascript do
  :plain
    $(function() {
      $.tablesorter.addParser({
        id: 'currency-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $("#brands_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          1:  { sorter: false },
          2:  { sorter: 'usLongDate' },
          3:  { sorter: false }
        },
        sortList: [[1,0], [5,0]]
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    table.tablesorter th.up_arrow {
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-image: url(/stylesheets/themes/blue/asc.gif);
      background-color: #8DBDD8;
    }
    .offer {
      display: inline-block;
      padding-right: 10px;
      padding-top: 5px;
    }
    .nowrap {
      white-space: nowrap;
    }
    .act_as_button {
      font-size: 10px!important;
      padding:2px!important;
    }
    .agency {
      color: red;
    }
    .icon {
      max-width: 60px;
      overflow: hidden;
    }
