- @page_title = 'Create Order'

%h1 Create Order for #{@partner.name}

- form_for [ :tools, @order ], :html => { :class => 'tjform' } do |f|
  = f.hidden_field :partner_id, :value => @partner.id
  %table
    %tr
      %th= f.label :amount
      %td
        = f.currency_field :amount, {}, {:class => 'allow_negative'}
        = error_message_on @order, :amount
    %tr
      %th= f.label :payment_method
      %td
        = f.select :payment_method, '<option value="1">Billable</option><option value="2">Marketing Expense</option>'
        = error_message_on @order, :payment_method
    %tr
      %th= f.label :description
      %td
        = f.text_field :description, :size => 50
        = error_message_on @order, :note
    %tr
      %th= f.label :internal_note
      %td
        = f.text_field :note, :size => 50
        = error_message_on @order, :note
    %tr
      %th= f.label :note_to_client
      %td
        = f.text_field :note_to_client, :size => 50
        = error_message_on @order, :note
    - if @order.errors.on(:billing_email) || @partner.billing_email.blank?
      %tr
        %th= label_tag :billing_email
        %td
          = text_field_tag :billing_email, @partner.billing_email, :size => 50
          = error_message_on @order, :billing_email
    %tr
      %td{ :colspan => 2 }= f.submit 'Create Order'
