- if @error_msg
  #error
    = @error_msg
- if @success_msg
  #success
    = @success_msg
%h2
  Fill out the details below to apply for the Tapjoy Android Fund!
%p
  All fields are required. If we think your game is a good fit for the Tapjoy Android Fund then you'll be hearing back from us :)
- form_for('info', :url => {:action => 'apply'}, :id => 'application_form') do |f|
  .contact_form
    .form_row
      = f.label :first_name
      = f.text_field :first_name, :value => params[:info][:first_name]
    .form_row
      = f.label :last_name
      = f.text_field :last_name, :value => params[:info][:last_name]
    .form_row
      = f.label :title
      = f.text_field :title, :value => params[:info][:title]
    .form_row
      = f.label :company
      = f.text_field :company, :value => params[:info][:company]
    .form_row
      = f.label :email_address
      = f.text_field :email_address, :value => params[:info][:email_address]
    .form_row
      = f.label :phone_number
      = f.text_field :phone_number, :value => params[:info][:phone_number]
    .form_row
      = f.label :game_title
      = f.text_field :game_title, :value => params[:info][:game_title]
    .form_row
      = f.label :game_url, 'Game URL (if available)'
      = f.text_field :game_url, :value => params[:info][:game_url]
    .form_row
      = f.label :daily_active_users
      = f.text_field :daily_active_users, :value => params[:info][:daily_active_users]
    .form_row
      = f.label :launch_date
      = f.text_field :launch_date, :value => params[:info][:launch_date]
    .form_row
      = f.label :description
      = f.text_area :description, :rows => 4, :value => params[:info][:description]
    .form_row
      = f.label :comments
      = f.text_area :comments, :rows => 4, :value => params[:info][:comments]
    = f.hidden_field :source, :value => 'androidfund_application'
    = submit_tag('', :id => 'send_it')

- content_for :page_styles do
  :plain
    div.form_row {
      padding: 3px 0px;
    }
