- @page_title = "External publishers"

%h2 External publishers

%p
  The below currencies are potential external publishers. If they are enabled, users will be able to earn currency outside the app though Tapjoy Games.
  
%p
  = "Total: #{@currencies.size}"
  &nbsp;
  = "Enabled: #{@currencies.select{|c| c.external_publisher?}.size}"

%table.tablesorter.currencies_table
  %thead
    %tr
      %th
      %th App
      %th Currency
      %th Partner
      %th Enabled?
      %th Enable/Disable
  %tbody
    - @currencies.each do |currency|
      %tr
        %td.img= image_tag(Offer.get_icon_url(:icon_id => Offer.hashed_icon_id(currency.id)), :size => '30x30')
        %td= currency.app.name
        %td= currency.name
        %td= currency.partner.name
        %td.state= currency.external_publisher? ? 'enabled' : 'disabled'
        %td
          - form_for([ :tools, :currency ], :url => tools_external_publisher_path(currency)) do |f|
            = f.submit(currency.external_publisher? ? 'Disable' : 'Enable')

- content_for :page_styles do
  :plain
    table.with-border {
      border-collapse: collapse;
    }
    
    td.img {
      max-width: 40px;
      overflow: hidden;
    }
  
- content_for :page_javascript do
  :plain
    $(function($) {
      $.tablesorter.addParser({
        id: 'enabled-column',
        is: function(s) { return false; },
        type: 'text',
        format: function(s) {
          
        }
      });
      $(".currencies_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          0:  { sorter: false },
          5:  { sorter: false }
        }
      });
    });
