- @page_title = "External publishers"

%h2 External publishers

%p
  The below currencies are potential external publishers. If they are enabled, users will be able to earn currency outside the app though Tapjoy Games.

%p
  = "Total currencies: #{@num_tapjoy_enabled}"
  &nbsp;
  = "Total enabled as external pubs: #{@num_external_pubs}"

%table.tablesorter.currencies_table
  %thead
    %tr
      %th App
      %th Platform
      %th Currency
      %th Partner
      %th Enabled?
      %th Enable/Disable
  %tbody
    - @currencies.each do |currency|
      %tr
        %td= link_to(currency.app.name, statz_path(currency.app_id))
        %td= currency.app.platform
        %td= currency.name
        %td= currency.partner.name
        %td.state= currency.external_publisher? ? 'enabled' : 'disabled'
        %td
          - form_for([ :tools, :currency ], :url => tools_external_publisher_path(currency)) do |f|
            = f.submit(currency.external_publisher? ? 'Disable' : 'Enable')

- content_for :page_styles do
  :plain
    table.with-border {
      border-collapse: collapse;
    }

    td.img {
      max-width: 40px;
      overflow: hidden;
    }

- content_for :page_javascript do
  :plain
    $(function($) {
      $.tablesorter.addParser({
        id: 'enabled-column',
        is: function(s) { return false; },
        type: 'text',
        format: function(s) {

        }
      });
      $(".currencies_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          5:  { sorter: false }
        }
      });
    });
