%ul#apps_list.jcarousel-skin-tj
  -apps.each do |app|
    %li
      %a{:href => app_path(app), :title => app.name, :class => (@app == app) ? "selected" : ""}
        = image_tag(app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
        %br/
        .name= truncate(app.name, :length => 15)

- content_for :page_styles do
  :plain
  
    #apps_list a {
      display: block;
      width: 100px;
      height: 80px;
      padding: 5px;
      text-decoration: none;
      text-align: center;
      color: black;
      white-space: nowrap;
      overflow: hidden;
    }
    
    #apps_list a:hover {
      background-color: #ddd;
      cursor: pointer;
    }
    
    #apps_list a.selected {
      background-color: #aaa;
    }
    
    #apps_list img {
      vertical-align: center;
    }
  
- content_for :page_javascript do
  var focused = #{apps.find_index{|a| a == @app} + 1};
  var isLast = #{apps.last == @app};

  :plain
    $(function(){
      $('#apps_list').jcarousel({
        start: focused,
        itemFallbackDimension: 110
      });
      
      if (isLast) {
        $('#apps_list').jcarousel('scrollTail');
      }
    });
  
- content_for :included_javascripts do
  = javascript_include_tag('jquery.jcarousel.min')
- content_for :page_head do
  = stylesheet_link_tag('jcarousel')
