- @page_title = @app.name

= render :partial => 'shared/dropdown_select', :locals => { :objects => current_partner_apps, :selected => @app, :options => {:with_new_app_button => true} }
= render :partial => 'actions', :locals => { :app => @app }

#apps_main
  %h3 Thanks, your application has been added.
  Please note your application details below:

  %p &nbsp;

  %table.tjform
    %tbody
      %tr
        %tr
          %th App Name
          %td= @app.name
        %tr
          %th App Icon
          %td#app_icon= image_tag(@app.get_icon_url(request.protocol), :size => '57x57', :alt => 'icon')
        %tr
          %th App ID
          %td= @app.id
