- @page_title = 'Apps'

%h1 Apps Home
%table
  %tbody
    %tr
      %td#bar-left
        = render :partial => 'my_app', :collection => @current_partner_apps
        %p &nbsp;
        .app-thumb.new-app
          .icon= image_tag("add_app.png", :size => '57x57')
          = link_to "Add an App", new_app_path
          .clear

      %td#selected-app
        .right= button_to 'Add funds', add_funds_billing_path
        .app-thumb
          .icon
            %img
          %h2 &nbsp;
          .clear
            %table
              %tbody
                %tr
                  %th Platform
                  %td#metadata-platform
                %tr
                  %th Description:
                  %td#metadata-description
                %tr
                  %th Tapjoy App ID:
                  %td#metadata-app-id
                %tr
                  %th iTunes URL:
                  %td#metadata-itunes-url
                    %a iTunes URL
                %tr
                  %th Application Version:
                  %td#metadata-version
                %tr
                  %th Price:
                  %td#metadata-price
          = button_to 'Update', '#'

- content_for :page_javascript do
  :plain
    var myApps = [
      #{@apps_data.join(",\n  ")}
    ];
    $(function() {
      var loadApp = function(data) {
        if (!data) return;
        var app = data.app;
        $('#selected-app .icon img').attr({src: app.offer.get_icon_url, width: 57, height: 57});
        $('#selected-app h2').html(app.name);
        $('#selected-app td#metadata-platform').html(app.platform);
        $('#selected-app td#metadata-description').html(app.description);
        $('#selected-app td#metadata-app-id').html(app.id);
        $('#selected-app td#metadata-itunes-url a').attr('href', app.store_url);
        $('#selected-app td#metadata-version').html(app.version);
        $('#selected-app td#metadata-price').html('$' + app.price/100);
      };
      $('#bar-left .app-thumb').not('.new-app').click(function(e){
        var id = $(e.currentTarget).attr('id').split(/_/)[1];
        loadApp(myApps[id]);
      });
      if (myApps.length > 0) {
        loadApp(myApps[0]);
      }
    });
- content_for :page_styles do
  :plain
    td#bar-left {
      border: 1px solid #000;
      padding: 5px;
    }
    td#bar-left .app-thumb {
      padding: 2px;
    }
    td#bar-left .app-thumb:hover {
      background-color: #ddd;
    }
    td#bar-left, td#selected-app {
      vertical-align: top;
    }
    td#selected-app {
      min-width: 500px;
    }
    .app-thumb .icon {
      float: left;
      border: 1px solid #000;
    }
    #selected-app table th {
      text-align: right;
    }
