- @page_title = 'App Integration'
- @dropdown_options = { :with_new_app_button => true }

%h3
  Integrate your application
%ol
  %li
    Download the lightweight, open source
    = succeed '.' do
      - sdk_link 'Tapjoy library', "#{@app.platform}-adv", false
  %li Add it to your project directory.
  %li Compile and run your project.
  %li Add the Tapjoy credentials (provided below) to your app.
  %li
    Email
    = mail_to('support+enableapp@tapjoy.com')
    for confirmation and to make your campaign live.

%p
  For more detailed documentation, please read the documentation included in the library.

%p
  Need help? Please contact our #{mail_to('support@tapjoy.com', 'support team')}.

%div
  %strong Tapjoy App ID:
  .app_id= @app.id
  = clippy(@app.id)
%div
  %strong App Secret Key:
  .app_id= @app.secret_key
  = clippy(@app.secret_key)

%p
  .left.download_link
    - sdk_link 'Advertiser Library Download', "#{@app.platform}-adv", false
  .clear

- content_for :page_styles do
  :plain
    .download_link {
      font-weight: bold;
      font-size: 120%;
    }
    .app_id {
      display: inline;
      font-family: courier;
    }
