- @page_title = 'App Integration'

= render :partial => 'shared/dropdown_select', :locals => { :objects => current_partner_apps, :selected => @app, :options => {:with_new_app_button => true} }
= render :partial => 'actions', :locals => { :app => @app }

#apps_main
  %h3
    Integrate your application
    %span.small= link_to 'Integrating as a publisher?', publisher_integrate_app_path
  %ol
    %li Download the lightweight, open source SDK.
    %li Add it to your project directory.
    %li Compile and run your project.
    %li Add the Tapjoy credentials (provided below) to your app.
    %li
      Email
      = link_to 'support@tapjoy.com', 'mailto:support@tapjoy.com'
      for confirmation and to make your campaign live.

  %p
    For more detailed documentation, please visit the
    = link_to 'Advertiser Getting Started Guide', '#'

  %p
    Need help? Please contact our
    = link_to 'support team', 'mailto:support@tapjoy.com'

  %p
    %strong Tapjoy App ID:
    = text_field 'app', 'id', :value => @app.id, :size => 50
    = clippy(@app.id)

  %p
    .left= button_to 'Advertiser SDK Download', :action => 'sdk_download', :sdk => 'offers'
    .clear
