- @page_title = 'New application'

= render :partial => 'apps', :object => current_partner_apps
= render :partial => 'actions', :locals => {:app => nil}

#apps_main
  %h1 Add new application
  %h3 Add a new application to the Tapjoy system.
  -form_for @app do |f|
    %table.app{:cellpadding => 0, :cellspacing => 0, :border => 1}
      %tbody
        %tr
          %td Application state
          %td
            = select_tag "state", options_for_select(['Not live', 'Live'].zip(%w(not_live, live))), :id => "app_state"
        %tr
          %td Platform
          %td
            = f.select :platform, %w(iPhone Android).zip(%w(iphone android))
        %tr
          %td Application name
          %td
            = f.text_field :name, :size => 50
            = button_to_function "Search", "search()", :class => 'search'
            -if @app.errors.on :name
              = error_message_on @app, :name
            #search_results
              = image_tag 'load-circle.gif', :class => 'load-circle'
        %tr.app_store_url
          %td Store URL:
          %td
            = f.text_field :store_url, :size => 50
            -if @app.errors.on :store_url
              =error_message_on @app, :store_url
        %tr.app_icon
          %td Icon:
          %td#app_icon &nbsp;
    = f.hidden_field :store_id
    = hidden_field_tag "app[icon_url]", nil, :id => "app_icon_url"
    = f.submit 'Create'
- content_for :page_styles do
  :plain
    #search_results {
      display: none;
      background-color: #eee;
      border: 1px solid #888;
      position: absolute;
      padding: 3px;
    }
    #search_results img.load-circle{
      display: none;
    }
    #search_results.searching img.load-circle{
      display: inherit;
    }
    tr.app_store_url, tr.app_icon, input.search{
      display: none;
    }
    #search_results .search-result:hover {
      background-color: #ccc;
    }
- content_for :included_javascripts do
  = javascript_include_tag 'tapjoy/apps'
