- @page_title = 'Add App'
- platforms = App::ALLOWED_PLATFORMS
- if permitted_to?(:edit, :statz)
  - App::BETA_PLATFORMS.each do |key, value|
    - platforms[key] = value + " (Admin only)"

%h3 Add App

- form_for(@app, :html => { :class => 'tjform' }) do |f|
  = f.hidden_field :store_id
  %table
    %tbody
      %tr
        %th
          Application State
          #help_application_state.help ?
        %td= select_tag 'state', options_for_select({ 'Not Live' => 'not_live', 'Live' => 'live' }, 'not_live'), :id => 'app_state'
      %tr
        %th
          Platform
          #help_platform.help ?
        %td= f.select :platform, platforms.invert.to_a.sort_by(&:last), { :selected => @app.platform }, { :id => 'app_platform' }
      - if permitted_to?(:edit, :statz)
        = render 'select_country'
      %tr
        %th
          Name
          #help_name.help ?
        %td
          = f.text_field :name
          = error_message_on @app, :name
          #search_results= image_tag 'load-circle.gif', :class => 'load-circle'
        %td= button_to "Search #{@app.store_name}", '#', :class => 'search hidden', :id => 'search_button'
      %tr.app_data.hidden
        %th Store ID
        %td
          %a#app_store_link{ :target => '_blank' }
      %tr.app_data.hidden
        %th Icon
        %td#app_icon &nbsp;
      %tr.app_data.hidden
        %th Price
        %td#app_price
      %tr.app_data.hidden
        %th Description
        %td#app_description
      %tr
        %td{ :colspan => 2 }= f.submit 'Add App'

.hidden
  #help_application_state_content{:name => 'Application State'}
    %li Not live: The app has not been submitted or approved yet.
    %li
      Live: The app has been approved, and is currently listed in the
      %span{:id => 'app_store_name'} #{@app.store_name}.
  #help_platform_content{:name => 'Platform'}
    Platform on which this app runs.
  #help_name_content{:name => 'Name'}
    App name

- content_for :page_head, stylesheet_link_tag('apps')
- content_for :included_javascripts, javascript_include_tag('tapjoy/apps')
