- @page_title = 'New application'

= render :partial => 'apps', :object => current_partner_apps
= render :partial => 'actions', :locals => {:app => nil}

#apps_main
  %h1 Add new application
  %h3 Add a new application to tde Tapjoy system.
  -form_for @app do |f|
    %table.app{:cellpadding => 0, :cellspacing => 0, :border => 1}
      %tbody
        %tr
          %td Application state
          %td
            = f.select :platform, %w(Inactive Live).zip(%w(not_live, live))
        %tr
          %td Platform
          %td
            = f.select :platform, %w(iPhone Android).zip(%w(iphone android))
        %tr
          %td Application name
          %td
            = f.text_field :name, :size => 50
            -if @app.errors.on :name
              = error_message_on @app, :name
        %tr
          %td Store URL:
          %td
            = f.text_field :store_url, :size => 50
            -if @app.errors.on :store_url
              =error_message_on @app, :store_url
        %tr
          %td Description
          %td
    = f.submit 'Create'

