- @page_title = 'Apps'

%h1 App (Pay-per-action)

= render :partial => 'my_apps', :object => @apps

#apps_main
  - unless @app.nil?
    .app-thumb
      .icon
        = image_tag(@app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
    = @app.name
    %h3 Set up actions for your app
    - @actions.each do |action|
      = action.name
    - form_for @action do |f|
      Balance
      = #f.text_field :balance
      Daily Budget
      = #f.text_field :daily_budget
      Bid
      = #f.text_field :bid
      Tapjoy Enabled
      = #f.text_field :tapjoy_enabled
      Campaign Status
      = #f.select :campaign_status
      = button_to 'Add funds', add_funds_billing_path
