- @page_title = 'Apps'

= render :partial => 'apps', :object => @apps
= render :partial => 'actions', :locals => {:app => @app}

%h1 App (Pay-per-install)

#apps_main
  - unless @app.nil?
    .app-thumb
      .icon
        = image_tag(@app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
    = @app.name
    - form_for @app do |f|
      Balance
      = #f.text_field :balance
      Daily Budget
      = #f.text_field :daily_budget
      Bid
      = #f.text_field :bid
      Tapjoy Enabled
      = #f.text_field :tapjoy_enabled
      Campaign Status
      = #f.select :campaign_status
      = link_to 'Add funds', add_funds_billing_path
