- @page_title = 'Publisher Integration'

= render :partial => 'shared/dropdown_select', :locals => { :objects => current_partner_apps, :selected => @app, :options => {:with_new_app_button => true} }
= render :partial => 'actions', :locals => { :app => @app }

#apps_main
  %h3 Publisher Integration
  %ol
    - if @app.is_android?
      %li Select our #{ link_to 'Offers (Virtual Currency Monetization) / Virtual Goods Library', {:action => 'sdk_download', :sdk => 'offers', :android => @app.is_android?} }.
    - else
      %li
        Select our #{ link_to 'Offers (Virtual Currency Monetization)', {:action => 'sdk_download', :sdk => 'offers', :android => @app.is_android?} }
        or #{ link_to 'Virtual Goods Library', {:action => 'sdk_download', :sdk => 'virtual_goods'} }.
    %li Add the Tapjoy library to your project directory.
    %li Compile and run your project.
    %li Add the Tapjoy credentials (provided below) to your app.
    %li
      Email
      = link_to 'support+enableapp@tapjoy.com', 'mailto:support+enableapp@tapjoy.com'
      for confirmation and to make your campaign live.

  %p
    For more detailed documentation, please visit the
    = link_to 'Offers Getting Started Guide', '#'
    and the
    = link_to 'Virtual Goods Getting Started Guide', '#'

  %p
    Need help? Please contact our
    = link_to 'support team', 'mailto:support@tapjoy.com'

  %p
    %strong Tapjoy App ID:
    = text_field 'app', 'id', :value => @app.id, :size => 50
    = clippy(@app.id)

  %p
    - if @app.is_android?
      .left= button_to 'Offers / Virtual Goods Library Download', :action => 'sdk_download', :sdk => 'offers', :android => @app.is_android?
    - else
      .left= button_to 'Offers Library Download', :action => 'sdk_download', :sdk => 'offers', :android => @app.is_android?
      .left= button_to 'Virtual Goods Library Download', :action => 'sdk_download', :sdk => 'virtual_goods'
    .clear
