- @page_title = 'Apps'

= render :partial => 'apps/carousel', :locals => {:objects => current_partner_apps, :object => @app}
= render :partial => 'actions', :locals => {:app => @app}
.new_app_button= button_to "Add App", new_app_path

#apps_main
  - unless @app.nil?
    %h2= @app.name
    - form_for @app do |f|
      %table.editable
        %tbody
          %tr
            %th Application state
            %td
              = select_tag "state", options_for_select(['Not live', 'Live'].zip(%w(not_live, live))), :id => "app_state"
          %tr
            %th Platform
            %td= @app.platform=='iphone' ? 'iPhone' : 'Android'
          %tr
            %th Name
            %td
              = f.text_field :name, :size => 50
              = button_to_function "Search", "search()", :class => 'search'
              -if @app.errors.on :name
                = error_message_on @app, :name
              #search_results
                = image_tag 'load-circle.gif', :class => 'load-circle'
          %tr
            %th Description
            %td
              = f.text_area :description, :size => "50x7"
              - if @app.errors.on :description
                = error_message_on @app, :description
          %tr.app_store_url
            %th Store URL
            %td
              = f.text_field :store_url, :size => 80, :value => @app.store_id ? @app.final_store_url : ""
              - if @app.errors.on :store_url
                = error_message_on @app, :store_url
          %tr.app_icon
            %th Icon
            %td#app_icon
              = image_tag(@app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
          %tr.price
            %th Price
            %td
              = f.currency_field :price, {}, :size => 10
              - if @app.errors.on :price
                = error_message_on @app, :price
          %tr
            %th Integrated?
            - if @integrated
              %td.integrated YES
            - else
              %td.not_integrated NO
      = f.hidden_field :store_id
      = f.submit 'Update'

- content_for :page_head, stylesheet_link_tag('apps')
- content_for :included_javascripts, javascript_include_tag('tapjoy/apps')
