- @page_title = 'Apps'

%h1 Apps Home

= render :partial => 'my_apps', :object => @apps

#apps_main
  - unless @app.nil?
    .right= button_to 'Add funds', add_funds_billing_path
    .app-thumb
      .icon
        = image_tag(@app.offer.get_icon_url, :size => '57x57')

      %h2
        = @app.name
        (#{link_to "associated offer", app_offer_path(@app.offer)})
      .clear
      - form_for @app do |f|
        %table.app{:cellpadding => 0, :cellspacing => 0, :border => 1}
          %tbody
            %tr
              %th Platform
              %td= f.select :platform, %w(iPhone Android).zip(%w(iphone android))
            %tr
              %th Description:
              %td
                = f.text_area :description, :size => "50x15"
                - if @app.errors.on :description
                  = error_message_on @app, :description
            %tr
              %th Tapjoy App ID:
              %td= @app.id
            %tr
              %th iTunes URL:
              %td
                = f.text_field :store_url, :size => 50
                - if @app.errors.on :store_url
                  = error_message_on @app, :store_url
            %tr
              %th Price:
              %td
                $
                = f.text_field :price, :value => (number_to_currency @app.price/100, :unit => ''), :size => 10
                - if @app.errors.on :price
                  = error_message_on @app, :price
        = f.submit 'Update'
