- @page_title = @app.name
- @dropdown_options = { :with_new_app_button => true }

- if @app.hidden?
  %h3
    Please contact
    = mail_to 'support@tapjoy.com'
    to undelete this app.

%h3 App Details

%p
  For help integrating your app, please refer to our
  = link_to('Knowledge Center', KNOWLEDGE_CENTER_URL)
  or check out our
  = succeed '.' do
    = link_to('Developer Forum', DEV_FORUM_URL)

- form_for(@app, :html => { :class => 'tjform' }) do |f|
  = hidden_field_tag 'store_id', @app_metadata.store_id, :id => 'app_store_id'
  %table
    %tbody
      %tr
        %th
          Application State
          #help_application_state.help ?
        %td= select_tag 'state', options_for_select({ 'Not Live' => 'not_live', 'Live' => 'live' }, @app_metadata.store_id? ? 'live' : 'not_live'), :id => 'app_state'
      %tr
        %th
          Platform
          #help_platform.help ?
        %td
          = @app.platform_name
          = f.hidden_field :platform
      - if permitted_to?(:edit, :statz) && @app.platform == 'iphone'
        = render :partial => 'select_country'
        %tr.admin
          %th
            Country blacklist
          %td
            - if @app.get_countries_blacklist.present?
              = @app.countries_blacklist
            .inline_help
              This field is auto-filled from iTunes. Offers from this app will not
              show up in countries appearing in this field.
      %tr
        %th
          Name
          #help_name.help ?
        %td
          = f.text_field :name
          = error_message_on @app, :name
          #search_results= image_tag 'load-circle.gif', :class => 'load-circle'
        %td= button_to "Search #{@app.store_name}", '#', :class => 'search hidden', :id => 'search_button'
      %tr
        %th
          App ID
          #help_app_id.help ?
        %td= @app.id
      %tr
        %th
          App Secret Key
          #help_app_secret_key.help ?
        %td= @app.secret_key
      %tr
        %th
          Integrated?
          #help_integrated.help ?
        - if @integrated
          %td.integrated YES
        - else
          %td.not_integrated NO
      %tr.app_data.hidden
        %th Store ID
        %td
          - if @app_metadata.store_id.present?
            = link_to(@app_metadata.store_id, @app.info_url, :target => '_blank', :id => 'app_store_link')
          - else
            %a#app_store_link{ :target => '_blank' }
      %tr.app_data.hidden
        %th Icon
        %td#app_icon= image_tag(@app.get_icon_url, :size => '57x57', :alt => 'icon')
      %tr.app_data.hidden
        %th Price
        %td#app_price= number_to_currency(@app_metadata.price / 100.0)
      %tr.app_data.hidden
        %th Description
        %td#app_description= (@app_metadata.description || '').gsub("\n", '<br>')
      %tr
        %td{ :colspan => 2 }= f.submit @app_metadata.store_id.present? ? "Update from #{@app.store_name}" : 'Save', :id => 'submit_button'

.hidden
  #help_application_state_content{:name => 'Application State'}
    %li Not live: The app has not been submitted or approved yet.
    %li
      Live: The app has been approved, and is currently listed in the
      %span{:id => 'app_store_name'} #{@app.store_name}.
  #help_platform_content{:name => 'Platform'}
    Platform on which this app runs.
  #help_name_content{:name => 'Name'}
    The name of your app.
  #help_app_id_content{:name => 'App ID'}
    App ID. Use this when integrating.
  #help_app_secret_key_content{:name => 'App Secret Key'}
    A shared secret used to verify requests from your app. Use this when integrating.
  #help_integrated_content{:name => 'Integrated'}
    Integration status - shows if the app has connected with our servers within the last 24-hours.
.clear
- if @app.hidden?
  - if permitted_to?(:unarchive, :apps)
    - form_tag unarchive_app_path(@app) do
      %strong Admin:
      = submit_tag 'Undelete this app'
- else
  - form_tag archive_app_path(@app) do
    = submit_tag '', :class => "trash", :title => "Delete this app", :confirm => "Are you sure you want to delete this app?"

- content_for :page_head, stylesheet_link_tag('apps')
- content_for :included_javascripts, javascript_include_tag('tapjoy/apps')
- content_for :page_styles do
  :plain
    input.trash, input.trash:hover, input.trash:active {
      width: 36px;
      height: 36px;
      background-image: url(/images/trash.png);
      background-repeat: no-repeat;
      border: none;
      padding: 2px;
      opacity: 0.7;
    }
    input.trash:hover {
      opacity: 1.0;
    }
    input.trash:active {
      background-position: 1px 1px;
    }

- content_for :page_javascript do
  :plain
    $(function($){
      var toggleSubmitButton = function() {
        if ($('input#app_store_id').val() && $('select#app_state').val() == 'live') {
          $('#submit_button').val('Update from #{@app.store_name}');
        } else {
          $('#submit_button').val('Save');
        }
      };
      $('select#app_state').change(toggleSubmitButton);
      $('input#app_store_id').change(toggleSubmitButton);
    })

  - if @app.hidden?
    :plain
      $(function($){
        $('input[type=text], input[type=button].search, input[type=submit]#save_button').attr('disabled', true);
        $('#apps_tools, #apps_main').css('opacity','0.5')
      });
