- @page_title = 'Operations Dashboard'

- count = 0
- @as_groups.each do |group|
  - count += 1
  .details.left
    - unless group[:triggers].empty? || group[:desired_capacity] == group[:min_size]
      - if group[:triggers].first[:status].downcase == "highbreaching"
        - progress_class = "progress-success"
        .right{:style => "margin-top: 12px"}
          = image_tag('unicorn_blaster_right.jpg')
      - elsif group[:triggers].first[:status].downcase == "lowbreaching"
        - progress_class = "progress-danger"
        .right{:style => "margin-top: 12px"}
          = image_tag('unicorn_blaster_left.jpg')
    %h3= "#{group[:auto_scaling_group_name]} / #{group[:load_balancer_names].join(', ')}"
    .progress{:class => progress_class}
      - if group[:min_size] == group[:max_size]
        .bar{ :style => "width: 100%"}
      - elsif group[:min_size] == 1
        .bar{ :style => "width: #{(group[:desired_capacity].to_f / group[:max_size].to_f) * 100}%"}
      - else
        - max = group[:max_size] - group[:min_size] + 1
        - cap = group[:desired_capacity] - group[:min_size] + 1
        .bar{ :style => "width: #{(cap.to_f / max.to_f) * 100}%"}
    .labels
      .left
        #{group[:min_size]}
      .right
        #{group[:max_size]}
      -# TODO: Make this understand multiple triggers
      .center{ :class => "#{group[:triggers].first[:status].downcase unless group[:triggers].empty? || group[:desired_capacity] == group[:min_size]}" }
        #{group[:desired_capacity]}

    - unless group[:instances].empty?
      %table.tablesorter
        %tbody
          - group[:instances].each do |instance|
            %tr{ :class => cycle('', 'odd', :name => 'instances') }
              %td= instance[:instance_id]
              %td= instance[:lifecycle_state]
              %td= instance[:availability_zone]
          - reset_cycle('instances')

    - lb_name = group[:load_balancer_names].first
    - @lb_instances[lb_name].each do |lb_instance|
      - ec2_instance = @ec2_instances[lb_instance[:instance_id]] || {}
      %table.tablesorter
        %thead
          %tr
            %th{ :colspan => "3" }
              %a{ :href => "ssh://ubuntu@#{ec2_instance[:dns_name]}" }= ec2_instance[:dns_name]
        %tbody
          %tr{ :class => cycle('', 'odd', :name => 'instances') }
            %td= lb_instance[:instance_id]
            %td= lb_instance[:state]
            %td= ec2_instance[:aws_state]
          - unless lb_instance[:description] == "N/A"
            %tr{ :class => cycle('', 'odd', :name => 'instances') }
              %td{ :colspan => "3" }= lb_instance[:description]
          -# This is coming soon - %tr
            %td{ :colspan => "3"}
              actions »
              = link_to 'deregister', ''
              = link_to 'reboot', ''
              = link_to 'replace', ''
              = link_to 'remove', ''
        - reset_cycle('instances')

  - if count % 3 == 0
    .clear

.clear

%hr/

.right
  more info »
  = link_to 'auto-scaler', as_groups_ops_path
  = link_to 'load-balancer', elb_status_ops_path
  = link_to 'service-stats', service_stats_ops_path

As of: #{Time.zone.now.to_s(:pub_ampm_sec)}

- content_for :page_head, stylesheet_link_tag('bootstrap.min')

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    .details {
      width: 310px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 11px;
    }

    .lowbreaching {
      color: #ff0000 !important;
    }

    .highbreaching {
      color: #008000 !important;
    }

    #content a:visited {
      color: blue;
    }
    #content a:hover {
      color: yellow;
    }
    #content a {
      color: blue;
    }
    .progress {
      margin-bottom: 0px !important;
    }
    .center {
      text-align: center;
    }
    .labels {
      padding: 2px;
    }
    h3 {
      margin-bottom: 2px;
    }

    th.name {
      width: 65%;
    }
