#invites.current
  .panel
    .mod
      .ui-joy-button.medium.facebook-btn
        = fb_connect_async_js
        - js_function = current_gamer.facebook_id.blank? ? "postToFeed" : "checkAndPost"
        - link_to '#', :class => 'icon text-left', :onclick => "#{js_function}()" do
          .img.facebook
            = image_tag "e.gif"
          .label
            = t('text.games.share_on_facebook')
      - if false
        .ui-joy-button.medium.twitter-btn
          - link_to '#', :class => 'icon text-left' do
            .img.twitter
              = image_tag "e.gif"
            .label
              = t('text.games.share_on_twitter')
      .ui-joy-button.medium.email-btn
        - link_to games_social_invite_email_friends_path, :class => 'icon text-left' do
          .img.email
            = image_tag "e.gif"
          .label
            = t('text.games.invite_by_email')

- content_for :page_javascript do
  :plain
    function postToFeed() {
      TJG.social.postToFeed('#{games_login_url(:referrer => current_gamer.encrypted_referral_id)}', '#{WEBSITE_URL}/images/ic_launcher_96x96.png');
    }

    function checkAndPost() {
      TJG.social.checkAndPost('#{current_gamer.facebook_id}', '#{games_login_url(:referrer => current_gamer.encrypted_referral_id)}', '#{WEBSITE_URL}/images/ic_launcher_96x96.png');
    }
