- content_for :page_head, stylesheet_link_tag('games/facebook')
= fb_connect_async_js

%h1.titlebar Please select Facebook friends to invite
#friend_title Friends (#{@fb_friends.size})
#friend_list_header
  %p.friend_filter_wrapper
    %span.clear_search_button
    = text_field_tag 'friend_filter', nil, :placeholder => 'Start Typing a Name'
#friend_list_wrapper
  - form_tag games_social_send_facebook_invites_path, :id => 'invite_friends' do
    .navigation.hidden
      = link_to("PREVIOUS #{@page_size}", games_social_invite_facebook_friends_path, :id => 'prev')
    %ul.friend_list
    .navigation
      = link_to("NEXT #{@page_size}", games_social_invite_facebook_friends_path, :id => 'next', :class => 'hidden')
      = link_to("TOP &#8679;", games_social_invite_facebook_friends_path, :id => 'top')
    .actions
      %span#back_button Back
      %span#invite_button Invite
  %br

= render :partial => '/games/homepage/footer'

#social_dialog.dialog_wrapper.hide
  .close_dialog
    .close_button
  .dialog
    #social_dialog_content

- content_for :page_javascript do
  :plain
    $(function($) {
      var options = {
        channel:   'FB',
        pageSize:  #{@page_size},
        fbFriends: #{@fb_friends.to_json},
        inviteUrl: '#{social_feature_redirect_path}',
        advertiserAppId: #{params[:advertiser_app_id].to_json},
      };
      TJG.social.setup(options);
    });
