- content_for :page_head, stylesheet_link_tag('games/facebook')
= fb_connect_async_js

%h1.titlebar Please select Facebook friends to invite
#friend_title Friends (#{@fb_friends.size})
#friend_list_header
  %p.friend_filter_wrapper
    %span.clear_search_button
    = text_field_tag 'friend_filter', nil, :placeholder => 'Start Typing a Name'
#friend_list_wrapper
  - form_tag games_social_send_facebook_invites_path, :id => 'invite_friends' do
    .navigation.hidden
      = link_to("PREVIOUS #{@page_size}", games_social_invite_facebook_friends_path, :id => 'prev')
    %ul.friend_list
    .navigation
      = link_to("NEXT #{@page_size}", games_social_invite_facebook_friends_path, :id => 'next', :class => 'hidden')
      = link_to("TOP &#8679;", games_social_invite_facebook_friends_path, :id => 'top')
    .actions
      %span#back_button Back
      %span#invite_button Invite
  %br

#social_dialog.dialog_wrapper.hide
  .close_dialog
    .close_button
  .dialog
    #social_dialog_content

- content_for :page_javascript do
  :plain
    $(function($) {
      var options = {
        pageSize:  #{@page_size},
        fbFriends: #{@fb_friends.to_json},
        inviteUrl: #{edit_games_gamer_path.to_json},
      };
      TJG.social.setup(options);
    });

    RegExp.escape = function(text) {
      if (!arguments.callee.sRE) {
        var specials = [
          '/', '.', '*', '+', '?', '|',
          '(', ')', '[', ']', '{', '}', '\\'
        ];
        arguments.callee.sRE = new RegExp(
          '(\\' + specials.join('|\\') + ')', 'g'
        );
      }
      return text.replace(arguments.callee.sRE, '\\$1');
    };

    TJG.social = {
      setup: function(options){
        // local variables
        var currentPage = 1;
        var selectedFriends = [];
        var animateSpeed = "fast";
        var currentFilter = '';
        var hasNext = false;
        var pageSize = options.pageSize;
        var fbFriends = options.fbFriends;
        var inviteUrl = options.inviteUrl;

        // local functions
        var onWindowResize = function(event) {
          var viewportWidth = $(window).width();
          $('#friend_filter').attr('size',(viewportWidth-40)/8);
        };

        var resetDirectionButtons = function() {
          if (currentPage == 1) {
            $('#prev').parent().hide();
          } else {
            $('#prev').parent().show();
          }
          if (hasNext) {
            $('#next').show();
          } else {
            $('#next').hide();
          }
        }; // resetDirectionButtons

        var showFriendList = function() {
          $('.friend_list').fadeOut(animateSpeed, function() {
            hasNext = false;
            var text      = [],
              friends     = [],
              counter     = 0,
              counterMax  = currentPage * pageSize,
              counterMin  = counterMax - pageSize;
            var search = function(regex, text) {
              for (var i in fbFriends) {
                if (counter > counterMax) { break; }
                var friend = fbFriends[i];
                var included = $.inArray(friend, friends) != -1;
                var matched = regex ?
                  friend.name.match(regex) :
                  friend.name.toLowerCase().match(RegExp.escape(currentFilter));
                if (!included && matched) {
                  counter++;
                  if (counter > counterMin && counter < counterMax) {
                    friends.push(friend);
                  }
                }
              }
            };

            // match first names
            var filter = RegExp.escape(currentFilter);
            search(new RegExp('^' + filter, 'i'));

            if (currentFilter != '') {
              // then other names
              search(new RegExp('\\b' + filter, 'i'));

              // then any part of any name
              search(false)
            }

            hasNext = counter >= counterMax;

            for (var i in friends) {
              var friend = friends[i];
              var liClass = '';
              if ($.inArray(friend.fb_id, selectedFriends) != -1) {
                liClass = ' checked';
              }
              text.push('<li class="fb_select',liClass,'" id="', friend.fb_id, '">');
              text.push('<img src="http://graph.facebook.com/', friend.fb_id, '/picture" width="50" height="50"/>');
              text.push('<span>', friend.name, '</span>');
              text.push('</li>');
            }

            // unregister events
            $('li.fb_select').unbind();
            $('.friend_list').html(text.join('')).fadeIn(animateSpeed);

            resetDirectionButtons();

            $('li.fb_select').click(function(){
              var li = $(this);
              var fbId = li.attr('id');
              var index = $.inArray(fbId, selectedFriends);
              var found = index != -1;

              if (found && li.hasClass('checked')) {
                li.removeClass('checked');
                selectedFriends.splice(index, 1);
              } else if (!found && !li.hasClass('checked')) {


                li.addClass('checked');
                selectedFriends.push(fbId);
              }
              var text = 'Invite';
              if (selectedFriends.length > 0) {
                var plural = selectedFriends.length > 1 ? 's' : '';
                text = 'Invite ' + selectedFriends.length + ' Friend' + plural;
              }
              $('#invite_button').text(text);
            });
          });
        }; // showFriendList

        var submitFbInvitation = function(url) {
          loading();

          $.ajax({
            type: 'POST',
            url: url,
            cache: false,
            timeout: 35000,
            dataType: 'json',
            data: {
              friends: selectedFriends
            },
            success: function(d) {
              var existDiv = '', notExistDiv = '';

              if(d.success) {
                if(d.gamers.length == 1) {
                  existDiv = '<div class="dialog_content">' + d.gamers.toString().replace(/\,/g, ", ") + ' has already registered, you are now following him/her.</div>';
                }else if(d.gamers.length > 0) {
                  existDiv = '<div class="dialog_content">' + d.gamers.toString().replace(/\,/g, ", ") + ' have already registered, you are now following them.</div>';
                }
                if(d.non_gamers.length != 0) {
                  notExistDiv = '<div class="dialog_content">Tapjoy invites have been sent to '+d.non_gamers.toString().replace(/\,/g, ", ")+'</div>';
                }

                var msg = [
                  '<div class="dialog_header_wrapper"><div class="dialog_header_right"></div><div class="dialog_header_left"></div><div class="dialog_title title_2">Success!</div></div>',
                  '<div style="margin: 5px;"></div>',
                  existDiv,
                  notExistDiv,
                  '<div class="dialog_content"><div class="continue_invite"><div class="button grey dialog_button"  style="margin-bottom: 10px;">Continue</div></div></div>'
                ].join('');
                $('#social_dialog_content').parent().animate({}, animateSpeed);
                $('#social_dialog_content').html(msg);

                TJG.ui.hideLoader();
                centerDialog($('#social_dialog').height(), '#social_dialog_content', '#social_dialog');

                $('.close_dialog, .continue_invite').click(function(){
                  document.location.href = location.protocol + '//' + location.host + inviteUrl;
                });
              } else {
                showErrorDialog(d.error);
              }
            },
            error: function(d) {
              var error = 'There was an issue, please try again later';
              showErrorDialog(error);
            }
          });
        }; // submitFbInvitation

        var loading = function(){
          $('.close_dialog').hide();
          TJG.ui.showLoaderAtCenter();
        };

        var showErrorDialog = function(error) {
          var msg = [
            '<div class="dialog_header_wrapper"><div class="dialog_header_right"></div><div class="dialog_header_left"></div><div class="dialog_title title_2">Oops!</div></div>',
            '<div class="dialog_content">', error, '. <span id="invite_again"><a href="#">Please click here to try again.</a></span><div style="margin: 5px;"></div></div>',
          ].join('');
          $('#social_dialog_content').parent().animate({}, animateSpeed);
          $('#social_dialog_content').html(msg);

          TJG.ui.hideLoader();
          centerDialog($('#social_dialog').height(), '#social_dialog_content', '#social_dialog');

          $('#invite_again, .close_dialog').click(function(event){
            event.preventDefault();
            $('#social_dialog').fadeOut();
          });
        }; // showErrorDialog

        var centerDialog = function(height, dialog_content_selector, dialog_selector) {
          var scrollTop = $(window).scrollTop();
          var screenHeight = $(window).height();
          TJG.utils.centerDialog(dialog_selector);
          $(dialog_selector).fadeIn(350).css({ top: scrollTop + screenHeight / 2 - height / 2 });
        }; // centerDialog

        // bind events
        window.onresize = onWindowResize;

        $('#prev').click(function(event){
          event.preventDefault();
          if(currentPage > 1) {
            currentPage--;
            showFriendList();
          }
        });

        $('#next').click(function(event){
          event.preventDefault();
          if(hasNext) {
            currentPage++;
            showFriendList();
          }
        });

        $('#top').click(function(event){
          event.preventDefault();
          $('html, body').animate({ scrollTop: 0 }, animateSpeed);
        });

        $('.clear_search_button').click(function(event){
          $('#friend_filter').val('');
          currentFilter = '';
          showFriendList();
        });

        $('#invite_button').click(function(event){
          event.preventDefault();
          var url = $('form#invite_friends').attr('action');

          if(selectedFriends.length == 0) {
            showErrorDialog('You must select at least one friend before sending out an invite');
          } else {
            submitFbInvitation(url);
          }
        });

        $('#back_button').click(function(event){
          document.location.href = location.protocol + '//' + location.host + inviteUrl;
        });

        $('#friend_filter').bind('input', function(event){
          var newFilter = $(this).val().toLowerCase().replace(/^ +/,'').replace(/ +$/,'');
          if(currentFilter != newFilter){
            currentFilter = newFilter;
            currentPage = 1;
            showFriendList();
          }
        });

        // call functions
        showFriendList();
        onWindowResize();
      },
    };
