= form_for [ :tools, @generic_offer ], :html => { :class => 'tjform', :multipart => true } do |f|
  %table
    %tr
      %th= label_tag 'Partner'
      %td
        = @generic_offer.partner.name
        = f.hidden_field :partner_id
    %tr
      %th= f.label :name
      %td
        = f.text_field :name, :size => 50
        = error_message_on @generic_offer, :name
    %tr
      %th
        = f.label :name, 'Prerequisite'
      %td
        - offer_options = options_for_prerequisites(@generic_offer)
        - prerequisites_options = offer_options
        - prerequisites_options = [ [ "None", "" ] ] + offer_options if ((permitted_to?(:edit, :dashboard_statz) || prerequisite_offer_id.blank?))
        = f.select :prerequisite_offer_id, prerequisites_options
        = error_message_on @generic_offer, :prerequisite_offer_id
    %tr
      %th
        = f.label :name, 'Exclusion Prerequisites'
      %td
        = f.hidden_field(:hidden_exclusion_prerequisite_offer_ids, :value => '', :name => 'generic_offer[exclusion_prerequisite_offer_ids][]')
        = f.chosen_select(:exclusion_prerequisite_offer_ids, options_for_select(offer_options, @generic_offer.get_exclusion_prerequisite_offer_ids.to_a), {}, :multiple => true)
        = error_message_on @generic_offer, :exclusion_prerequisite_offer_ids
    = f.fields_for :primary_offer do |primary_offer_form|
      = render :partial => 'dashboard/apps/offers_shared/featured_settings', :locals => {:f => primary_offer_form, :show_featured_checkbox => true, :offer => @generic_offer.primary_offer}
    %tr
      %th
        = f.label(:x_partner_prerequisites, 'Cross Partner Prerequisites')
      %td
        = f.text_area(:x_partner_prerequisites, :rows => 5)
        = error_message_on @generic_offer, :x_partner_prerequisites
    %tr
      %th
        = f.label(:x_partner_exclusion_prerequisites, 'Cross Partner Exclusion Prerequisites')
      %td
        = f.text_area(:x_partner_exclusion_prerequisites, :rows => 5)
        = error_message_on @generic_offer, :x_partner_exclusion_prerequisites
    %tr
      %th= f.label :category
      %td
        = f.select :category, GenericOffer::CATEGORIES, :include_blank => true
        = error_message_on @generic_offer, :category
        .inline_help Classify urls that redirect to video ads outside of our system (such as youtube or vimeo) as Non-Native Video
    %tr
      %th= f.label :price
      %td
        = f.currency_field :price
        = error_message_on @generic_offer, :price
    %tr
      %th= f.label :url
      %td
        = f.text_field :url, :size => 50
        = error_message_on @generic_offer, :url
    - if !@generic_offer.new_record?
      %tr
        %th= label_tag "Current Icon", "Current Icon"
        %td= image_tag @generic_offer.get_icon_url(:bust_cache => true), :size => '57x57'
    %tr
      %th= label_tag :icon, @generic_offer.new_record? ? 'Upload Icon' : 'Upload New Icon'
      %td= file_field_tag :icon
    %tr
      %th= f.label :instructions
      %td= f.text_area :instructions
    %tr
      %th= f.label :trigger_action
      %td
        = f.select :trigger_action, GenericOffer::TRIGGER_ACTIONS, :include_blank => true
        = error_message_on @generic_offer, :trigger_action
        .inline_help Specify the action need to be triggered, please keep this field empty if it is a regular generic offer.
    %tr
      %th= f.label :protocol_handler
      %td
        = f.text_field :protocol_handler, :size => 50
        = error_message_on @generic_offer, :protocol_handler
    %tr
      %td{ :colspan => 2 }= f.submit @generic_offer.new_record? ? 'Create Generic Offer' : 'Update Generic Offer'
    %tr
      %td{ :colspan => 2 }= render('dashboard/offer_creatives/iframes', :offer => @generic_offer.primary_offer, :app => @app, :show_featured_sizes_only => true)


- content_for :page_styles do
  :plain
    .creative_upload {
      width: 100%;
      border: none;
      height: 35px;
    }

