%h1 User Roles

= link_to 'New User Role', new_user_user_role_path

%table{ :border => '1px', :style => 'border-collapse: collapse;' }
  %thead
    %tr
      %th ID
      %th Name
      %th
      %th
  %tbody
    - @user_roles.each do |role|
      %tr
        %td= role.id
        %td= role.name
        %td= link_to 'Edit', edit_user_user_role_path(role)
        %td= link_to 'Destroy', user_user_role_path(role), :method => :delete, :confirm => 'Are you sure?'

= will_paginate(@partners)
