#invites.current
  .panel
    .titled-group.ml10.mt20
      .hd
        .group-title.pb10
          = t('text.games.social_networks')
          .aside= t('text.games.find_friends_on_tapjoy')

    .container
      %ul.list-button-container.m10.mtn
        %li.list-button.soft-gray-gradient
          = link_to "#", { :class => 'post-to-facebook', "data-icon" => "#{WEBSITE_URL}/images/ic_launcher_96x96.png", "data-callback" => games_login_url(:referrer => current_gamer.encrypted_referral_id), "data-fb-id" => current_gamer.facebook_id } do
            .ui-icon-medium.facebook
              = t("text.games.post_to_facebook")
        - if params[:twitter] == 'show' # TODO: add this back after mkt ok's text
          %li.list-button.soft-gray-gradient
            = link_to "#", { :class => 'invite-twitter-followers', "data-redirect-path" => @twitter_redirect_path } do
              .ui-icon-medium.twitter
                = t("text.games.invite_twitter_followers")

    .titled-group.ml10.mt20
      .hd
        .group-title.pb10
          = t('text.shared.email')
    .container
      %ul.list-button-container.m10.mtn
        %li.list-button.soft-gray-gradient
          = link_to games_social_invite_email_friends_path do
            .ui-icon-medium.email
              = t("text.games.invite_by_email")

- content_for :page_head do
  = fb_connect_async_js
