%h2 Kontagent Partner Edition presented by Tapjoy
%p
  As a valued Tapjoy customer, you're invited to sign up for the Kontagent Partner Edition now, and start measuring meaningful app engagement and monetization metrics more closely. Use Kontagent's industry-leading customer analytics platform to answer questions like: 
%ul
  %li "How useful was the new feature developed last week? "
  %li "Are we monetizing optimally? "
  %li "Where are users dropping off, and why?"
  %li "When does user engagement shift in our game?"
  %li "How are acquisition campaigns performing?"
%h4
  To obtain access to Kontagent Partner, please submit your interest below
  and your account manager will follow up with you on next steps.
%br

= form_for(@kontagent_integration_request, :url => {:action => :create}) do |f|
  %div.field
    = f.label "Please provide your desired Kontagent subdomain: " #:subdomain
    = f.text_field :subdomain
  %small Notes: the subdomain must be lowercase and alphanumeric. If "example" is your subdomain, your Kontagent URL will appear as "example-tapjoy.kontagent.com"
  %br
  %br
  %div.field
    %strong In order to continue, please agree to the terms and conditions of service.
    %br
    = check_box_tag :terms_and_conditions
    %small
      By checking this box above I agree to the
      = link_to 'terms and conditions', terms_kontagent_index_url, :target => '_blank'
      of service

  %br
  %br
  = f.submit "Request the Kontagent Partner Edition"

%h3 Notes
- if current_user && current_partner
  %ul
    %li= "Partner #{current_partner.name} will be provisioned with a Kontagent account (exists remotely? #{KontagentHelpers.exists?(current_partner)})"
    %li= "User #{current_user.email} will be provisioned with a Kontagent user (exists remotely? #{KontagentHelpers.exists?(current_user)})"
    %li= "#{current_partner.apps.count} apps will be provisioned with a Kontagent application"
    - if current_partner.apps.count > 0
      %li
        %ol
          - current_partner.apps.each do |app|
            %li= "Application '#{app.name}' (exists remotely? #{KontagentHelpers.exists?(app)})"
- else
  %b Warning
  %p You must have an active current user and partner to continue.
