%h3= "Most Requests by #{type.to_s.titleize}"
%table.tablesorter
  %thead
    %tr
      %th #{type.to_s.titleize}
      %th Requests
  %tbody
    - requests.each do |k,v|
      %tr
        - o = v[:object]
        %td= (o.is_a?(App) || o.is_a?(Offer)) ? link_to(o.name, statz_path(o)) : o
        %td= v[:count]
%br
