= form_for [ :tools, @video_offer ], :html => { :class => 'tjform', :multipart => true } do |f|
  %table
    %tr
      %th= label_tag 'Partner'
      %td
        = @video_offer.partner.name
        = f.hidden_field :partner_id
    %tr
      %th= f.label :name
      %td
        = f.text_field :name, :size => 50
        = error_message_on @video_offer, :name
    %tr
      %th= f.label :app_targeting
      %td
        = f.check_box :app_targeting
        = error_message_on @video_offer, :app_targeting
    %tr
      %th
        = f.label :name, 'Prerequisite'
      %td
        - offer_options = options_for_prerequisites(@video_offer)
        - prerequisites_options = offer_options
        - prerequisites_options = [ [ "None", "" ] ] + offer_options if ((permitted_to?(:edit, :dashboard_statz) || prerequisite_offer_id.blank?))
        = f.select :prerequisite_offer_id, prerequisites_options
        = error_message_on @video_offer, :prerequisite_offer_id
    %tr
      %th
        = f.label :name, 'Exclusion Prerequisites'
      %td
        = f.hidden_field(:hidden_exclusion_prerequisite_offer_ids, :value => '', :name => 'video_offer[exclusion_prerequisite_offer_ids][]')
        = f.chosen_select(:exclusion_prerequisite_offer_ids, options_for_select(offer_options, @video_offer.get_exclusion_prerequisite_offer_ids.to_a), {}, :multiple => true)
        = error_message_on @video_offer, :exclusion_prerequisite_offer_ids
    %tr
      %th= f.label :name, 'Age Gating'
      %td
        = f.text_field :age_gating, :maxlength => 2, :size => 4
        +
        = error_message_on @video_offer, :age_gating
    %tr
      %th= label_tag :video, @video_offer.new_record? ? 'Upload Video' : 'Upload New Video'
      %td= file_field_tag :video
    - if !@video_offer.new_record?
      %tr
        %th= label_tag "Current Icon", "Current Icon"
        %td= image_tag @video_offer.primary_offer.video_icon_url, :size => '200x125'
    %tr
      %th= label_tag :icon, @video_offer.new_record? ? 'Upload Icon' : 'Upload New Icon'
      %td= file_field_tag :icon
    - if !@video_offer.new_record?
      %tr
        %td{ :colspan => 2 }= link_to("View/Edit Video Button", tools_video_offer_video_buttons_path(@video_offer.id))
    %tr
      %td{ :colspan => 2 }= f.submit @video_offer.new_record? ? 'Create Video Offer' : 'Update Video Offer'
