%p
  #{@name} - #{@description}
%p
  Take your coupon to #{@advertiser} and present the barcode below.
%p
  = image_tag(@barcode) unless @barcode.blank?
%p
  Redemption code: #{@redemption_code}
%p
  Your coupon expires on #{@expires_at}. Make sure to use it before then.
