- @page_title = 'All Apps Featured Placement'

%h1
  All Apps Featured Content

  = button_to "Create New", new_tools_featured_content_path

%br
= render :partial => 'list', :object => @active_featured_contents, :locals => { :list_name => :active }
= render :partial => 'list', :object => @upcoming_featured_contents, :locals => { :list_name => :upcoming }
#expired_featurend_contents.hidden
  = render :partial => 'list', :object => @expired_featured_contents, :locals => { :list_name => :expired }

= link_to 'Show expired', '#', :id => 'show_featured_contents'

- content_for :page_javascript do
  :plain
    $('#show_featured_contents').click(function(){
      $(this).hide();
      $('#expired_featurend_contents').show();
      return false;
    });
