- if current_partner == partner
  = submit_tag('Acting as this Partner', :disabled => true)
- else
  - form_tag(make_current_partner_path(partner)) do
    = submit_tag('Act as this Partner')

- form_for partner do |f|
  %strong Internal notes:
  %br/
  = f.text_area :account_manager_notes, :size => '50x3'
  %br/
  %strong Account manager(s):
  %br/
  - options = options_from_collection_for_select(User.account_managers, "id", "email", partner.account_managers.map(&:id))
  = f.select :account_managers, options, {:include_blank => '(no one)'}
  %br/
  = submit_tag "Update"
