- @page_title = 'Edit Partner'

%h1= @partner.name

- form_for(@partner, nil, :html => { :class => 'tjform' }) do |f|
  .field
    = f.label :name
    #help_name.help ?
    = f.text_field :name
    = error_message_on(@partner, :name)
  .field
    = f.label :approved_publisher
    #help_approved_publisher.help ?
    = f.check_box(:approved_publisher)
  .field
    = f.label :accepted_publisher_tos, 'Accepted publisher ToS'
    #help_accepted_publisher_tos.help ?
    = f.check_box :accepted_publisher_tos
    = error_message_on(@partner, :accepted_publisher_tos) if @partner.errors.on :accepted_publisher_tos
  .field
    = f.label(:account_manager_notes, 'Internal notes')
    #help_account_manager_notes.help ?
    = f.text_area :account_manager_notes
  .field
    = f.label(:account_managers, 'Account manager(s)')
    #help_account_managers.help ?
    - options = options_from_collection_for_select(User.account_managers, "id", "email", @partner.account_managers.map(&:id))
    = f.select :account_managers, options, {:include_blank => '(no one)'}
  .field
    = f.label :sales_rep
    #help_sales_rep.help ?
    = f.text_field :sales_rep
    = error_message_on(@partner, :sales_rep) if @partner.errors.on :sales_rep
  .field
    = f.label :billing_email
    #help_billing_email.help ?
    = f.text_field :billing_email
    = error_message_on(@partner, :billing_email) if @partner.errors.on :billing_email
  .field
    = f.label :accepted_negotiated_tos, 'Accepted Negotiated Rev Share ToS'
    #help_accepted_negotiated_tos.help ?
    = f.check_box :accepted_negotiated_tos
    = error_message_on(@partner, :accepted_negotiated_tos) if @partner.errors.on :accepted_negotiated_tos
  .field
    = f.label :negotiated_rev_share_ends_on, 'Negotiated Rev Share End Date'
    #help_negotiated_rev_share_ends_on.help ?
    = f.text_field :negotiated_rev_share_ends_on
    = error_message_on(@partner, :negotiated_rev_share_ends_on) if @partner.errors.on :negotiated_rev_share_ends_on
  .field
    = f.label :rev_share
    #help_rev_share.help ?
    = f.text_field :rev_share
    = error_message_on(@partner, :rev_share) if @partner.errors.on :rev_share
  .field
    = f.label :direct_pay_share, 'Direct-pay share'
    #help_direct_pay_share.help ?
    = f.text_field :direct_pay_share
    = error_message_on(@partner, :direct_pay_share) if @partner.errors.on :direct_pay_share
  .field
    = f.label :transfer_bonus
    #help_transfer_bonus.help ?
    = f.text_field :transfer_bonus
    = error_message_on(@partner, :transfer_bonus) if @partner.errors.on :transfer_bonus
  .field
    = f.label :max_deduction_percentage
    #help_max_deduction_percentage.help ?
    = f.text_field :max_deduction_percentage
    = error_message_on(@partner, :max_deduction_percentage) if @partner.errors.on :max_deduction_percentage
  .field
    = f.label :disabled_partners
    #help_disabled_partners.help ?
    = f.text_area :disabled_partners
    = error_message_on(@partner, :disabled_partners) if @partner.errors.on :disabled_partners
    .disabled_partner_names
      = @partner.get_disabled_partners.map { |p| link_to(p.name, partner_path(p)) }.join(', ')

  = submit_tag "Update"

.hidden
  #help_name_content{:name => 'Name'}
    The partner's name. Finance will be notified if the name is changed.
  #help_approved_publisher_content{:name => 'Approved publisher'}
    Approval status for publishing offers.
    Checking this box will make all future currencies created by this partner "tapjoy enabled" by default.
  #help_account_manager_notes_content{:name => 'Internal notes'}
    Internal notes, only viewable by tapjoyers.
  #help_account_managers_content{:name => 'Account manager(s)'}
    Who is managing this partner?
  #help_sales_rep_content{:name => 'Sales rep'}
    Email of the Tapjoy sales rep for this partner.
  #help_disabled_partners_content{:name => 'Disabled partners'}
    Offers belonging to partners that are in this list will not be shown in this partner's offerwalls.
  #help_billing_email_content{:name => 'Billing email'}
    The email contact used for invoicing.
  #help_accepted_negotiated_tos_content{:name => 'Accepted Negotiated ToS'}
    Checked if the partner has accepted the ToS for having a negotiated rev share.
  #help_negotiated_rev_share_ends_on_content{:name => 'Negotiated Rev Share End Date'}
    The date on which the negotiated rev share will end. Once the negotiated rev share ends, the partner will return to the default rev share.
  #help_rev_share_content{:name => 'Rev share'}
    The share of offer revenue that this publisher gets. A number between 0 an 1.
  #help_direct_pay_share_content{:name => 'Direct-pay share'}
    The share of direct-pay revenue that this publisher gets. A number between 0 an 1.
  #help_transfer_bonus_content{:name => 'Transfer bonus'}
    The bonus that this partner gets when transferring between pending earnings and balance. A value of 0.1 will give a 10% bonus.
  #help_max_deduction_percentage_content{:name => 'Max deduction percent'}
    The maximum percentage that a publisher's rev share can be lowered to recover marketing credits and network operating costs. Must be number between 0 and 1.
    Example: A pub with rev share of 70% and max deduction percentage of 7% will have an effective rev share between 65-70%. (70% * 93% = 65%)
  #help_accepted_publisher_tos_content{:name => 'Accepted publisher ToS'}
    Has this partner accepted the publisher terms of service?

- content_for :page_styles do
  :plain

    label {
      vertical-align: top;
      font-weight: bold;
      text-align: right;
      display: inline-block;
      width: 200px;
      margin-left: -200px;
    }

    textarea {
      width: 500px;
      height: 75px;
    }

    input[type=submit] {
      float: right;
    }

    .field {
      margin-bottom: 5px;
      margin-left: 200px;
    }

    .disabled_partner_names {
      width: 400px;
      margin-left: 20px;
    }

- content_for :page_javascript do
  :plain
    $(function($){
      var options = {
        source: '#{search_users_path}?tapjoy_only=true',
        delay: 250,
        minLength: 2
      };

      $('#partner_negotiated_rev_share_ends_on').datepicker({ dateFormat: 'yy-mm-dd' });
      $('#partner_sales_rep').focus().autocomplete(options);
    });
