- @page_title = 'Partners'

%h1 Partners

- form_tag(partners_path, :method => 'get', :id => 'form') do
  = label_tag(:q, "Name or Email Address:")
  = text_field_tag(:q, params[:q], :size => '40')
  = submit_tag('Search')

%table#partners_table.tablesorter
  %thead
    %tr
      %th Name
      %th Email(s)
      %th Phone
      %th Balance
      %th Pending Earnings
      %th Created
      %th Offers
  %tbody
    - @partners.each do |partner|
      %tr
        %td.nowrap= link_to(partner.name || 'Unknown', partner_path(partner))
        %td= partner.users.map(&:email).join(', ')
        %td.nowrap= partner.contact_phone
        %td= number_to_currency(partner.balance / 100.0)
        %td= number_to_currency(partner.pending_earnings / 100.0)
        %td.nowrap= partner.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm_sec) + " PT"
        %td= partner.offers.map { |o| link_to(o.name, statz_path(o.id)) }.join(', ')

= will_paginate(@partners)

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    
    .nowrap {
      white-space: nowrap;
    }
