- @page_title = 'Create Partner Account'

%h1 Create Partner Account

- form_for @partner, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :name, 'Company Name'
        #help_name.help ?
      %td
        = f.text_field :name, :size => 50
        = error_message_on @partner, :name
    %tr
      %th
        = f.label :contact_name, 'Contact Name'
        #help_contact_name.help ?
      %td
        = f.text_field :contact_name, :size => 50
        = error_message_on @partner, :contact_name
    %tr
      %th
        = f.label :contact_phone, 'Contact Phone'
        #help_contact_phone.help ?
      %td
        = f.text_field :contact_phone
        = error_message_on @partner, :contact_phone
    %tr
      %td{ :colspan => 2 }= f.submit 'Create Partner'
      
.hidden
  #help_name_content{ :name => 'Company Name' } The name of the partner's company.
  #help_contact_name_content{ :name => 'Contact Name' } The name of the primary contact person for the partner. (optional)
  #help_contact_phone_content{ :name => 'Contact Phone' } A phone number where the partner's contact person can be reached. (optional)
  
