- @page_title = 'Create Marketing Credits'

%h1 Create Marketing Credits for #{@partner.name}

- form_for @order, :url => create_marketing_credits_partner_path, :method => :post, :html => {:class => 'tjform' } do |f|
  = f.hidden_field :partner_id, :value => @partner.id
  = f.hidden_field :payment_method, :value => @order.payment_method
  %table
    %tr
      %th= f.label :amount
      %td= f.currency_field :amount, {}, {:class => 'allow_negative'}
    %tr
      %th= f.label :note
      %td= f.text_field :note, :size => 50
    %tr
      %td{ :colspan => 2 }= f.submit 'Create Marketing Credits'
