- @page_title = 'Create Transfer'

%h1 Create Transfer for #{@partner.name}

- if @freeze_enabled
  %p.alert Transfers are currently disabled while finance processes publisher payments. Contact the finance team for more information.
- else
  %p
    Transfer funds from pending earnings to balance.
  %p
    Transfer bonus: #{@partner.transfer_bonus * 100}%
    = link_to("[Edit]", edit_partner_path(@partner))
    %br
    Pending earnings: #{number_to_currency(@partner.pending_earnings / 100.0)}
    %br
    Balance: #{number_to_currency(@partner.balance / 100.0)}

  - form_for @transfer, :url => create_transfer_partner_path, :html => { :class => 'tjform' } do |f|
    %table
      %tr
        %th= f.label :amount
        %td
          = f.currency_field :amount, {}, {:class => 'allow_negative'}
          = error_message_on @transfer, :amount
      %tr
        %th= f.label :internal_notes
        %td
          = f.text_field :internal_notes, :size => 50
          = error_message_on @transfer, :internal_notes
      %tr
        %td{ :colspan => 2 }= submit_tag 'Create Transfer'

- content_for :page_styles do
  :plain
    .alert {
      color: red;
    }
