- @page_title = 'Create Transfer'

%h1 Create Transfer for #{@partner.name}

%p
  Transfer funds from pending earnings to balance.
%p
  Transfer bonus: #{@partner.transfer_bonus * 100}%
  = link_to("[Edit]", edit_partner_path(@partner))
  %br
  Pending earnings: #{number_to_currency(@partner.pending_earnings / 100.0)}
  %br
  Balance: #{number_to_currency(@partner.balance / 100.0)}

- form_tag create_transfer_partner_path, :method => :post, :class => 'tjform' do
  %table
    %tr
      %th= label_tag 'transfer_amount', 'Amount'
      %td= text_field_tag 'transfer_amount', '$0.00', :class => 'currency_field allow_negative'
    %tr
      %td{ :colspan => 2 }= submit_tag 'Create Transfer'
