- @page_title = 'Partner'

%h1 Partner data - #{@partner.name}

- if permitted_to?(:edit, :partners)
  = link_to("Edit", edit_partner_path(@partner))
  |
  = link_to("Create transfer", new_transfer_partner_path(@partner))
  |
  = link_to("Create Marketing Credits", new_marketing_credits_partner_path(@partner))
  - if permitted_to?(:new, :tools_earnings_adjustments)
    |
    = link_to('Create Earnings Adjustment', new_tools_earnings_adjustment_path(:partner_id => @partner.id))
  - if permitted_to? :new, :tools_orders
    |
    = link_to 'New Order', new_tools_order_path(:partner_id => @partner.id)
  - if permitted_to?(:new, :tools_generic_offers)
    |
    = link_to("Create Generic Offer", new_tools_generic_offer_path(:partner_id => @partner.id))
  - if permitted_to?(:new, :tools_video_offers)
    |
    = link_to("Create Video Offer", new_tools_video_offer_path(:partner_id => @partner.id))
  |
  = link_to('Activity Log', activities_path(:partner_id => @partner.id))
  |
  = link_to('Reporting Graphs', reporting_partner_path(@partner))
  %br
= render 'make_current_button', :partner => @partner

.metadata Name: #{@partner.name}
.metadata Contact name: #{@partner.contact_name}
.metadata Contact phone: #{@partner.contact_phone}
.metadata Contact email(s):
%table
  %thead
    %tr
      %th Email
      - if permitted_to?(:show, :tools_users)
        %th Edit
      - if permitted_to?(:destroy, :tools_users_partner_assignments)
        %th Remove
      - if permitted_to?(:show, :tools_users)
        %th Mailchimp
  %tbody
  - @partner.users.each do |user|
    %tr
      %td= user.email
      - if permitted_to?(:show, :tools_users)
        %td= link_to('edit user', tools_user_path(user))
      - if permitted_to?(:destroy, :tools_users_partner_assignments)
        %td
          - partner_assignment = user.partner_assignments.find_by_partner_id(@partner.id)
          - if @partner.users.length > 1
            - path = tools_user_partner_assignment_path(:user_id => user.id, :id => partner_assignment.id)
            = button_to('Remove', path, :method => 'delete', :confirm => 'Are you sure?')
          - else
            = submit_tag 'Cannot remove last user', :disabled => 'disabled'
      - if permitted_to?(:show, :tools_users)
        %td
          = image_tag('mailchimp.png', :class => "mail_chimp_button", :title => "Subscriber status")
          .mail_chimp_info.hidden
            = image_tag 'load-circle.gif'
.metadata Billing email: #{@partner.billing_email || 'Please add'}
.metadata Balance: #{number_to_currency(@partner.balance / 100.0)}
.metadata Pending Earnings: #{number_to_currency(@partner.pending_earnings / 100.0)}
.metadata Payout Frequency: #{@partner.payout_frequency}
.metadata Created: #{@partner.created_at.to_s(:db)}
- if permitted_to?(:edit, :partners)
  .metadata Approved publisher: #{@partner.approved_publisher?}
  .metadata Account managers: #{@partner.account_managers.map{|u| u.username}.join(', ')}
  .metadata Sales rep: #{@partner.sales_rep}
  .metadata Internal notes: #{@partner.account_manager_notes}
  .metadata
    Current Offer Discount:
    = "#{@partner.premier_discount}%"
    = "(#{link_to('edit', partner_offer_discounts_path(@partner))})"
  .metadata
    Current Exclusivity Level:
    = @partner.exclusivity_level_type || "None"
  .metadata
    Exclusivity Expires On:
    = @partner.exclusivity_expires_on ? @partner.exclusivity_expires_on.to_s(:pub) : "N/A"
  .metadata
    %form#csv_export{ :action => set_tapjoy_sponsored_partner_path, :method => 'post' }
      = hidden_field_tag(:flag, !@partner.tapjoy_sponsored?)
      Tapjoy sponsored all apps:
      = @partner.tapjoy_sponsored? ? "Yes" : "No"
      = submit_tag('switch')

.clear

- payout_info = @partner.payout_info
- if payout_info
  - if payout_info.valid?
    %h2 Tax and Payment Information
  - else
    %h2.not_integrated Incomplete payment/tax information.
  %table.payout_info
    %tbody
      %tr
        %td.wide{:colspan=>2} Tax Information
      %tr
        %th Country
        %td= payout_info.tax_country
      %tr
        %th Account Type:
        %td= payout_info.account_type
      %tr
        %th Billing Name:
        %td= payout_info.billing_name
      %tr
        %th Doing Business As:
        %td= payout_info.doing_business_as
      %tr
        %th Tax ID:
        %td.do-not-print= decrypt_if_permitted(payout_info, :tax_id)
      %tr
        %td.wide{:colspan=>2} Payment Information
      %tr
        %th Beneficiary Name:
        %td= payout_info.beneficiary_name
      %tr
        %th Company Name:
        %td= payout_info.company_name
      %tr
        %th Payout method
        %td= payout_info.payout_method
      %tr
        %th Address:
        %td= payout_info.address_1
      %tr
        %th Address:
        %td= payout_info.address_2
      %tr
        %th City:
        %td= payout_info.address_city
      %tr
        %th State:
        %td= payout_info.address_state
      %tr
        %th ZIP/Postal code:
        %td= payout_info.address_postal_code
      %tr
        %th Country:
        %td= payout_info.address_country
      %tr.do-not-print
        %th Bank Name:
        %td= decrypt_if_permitted(payout_info, :bank_name)
      %tr.do-not-print
        %th Bank Address:
        %td= decrypt_if_permitted(payout_info, :bank_address)
      %tr.do-not-print
        %th Bank Routing Number/SWIFT:
        %td= decrypt_if_permitted(payout_info, :bank_routing_number)
      %tr.do-not-print
        %th Bank Account Number/IBAN:
        %td= decrypt_if_permitted(payout_info, :bank_account_number)
- else
  %h2.not_integrated Partner has not submitted payment/tax information.

- if @partner.offers.blank?
  No offers found for this partner.
- else
  %table#apps_table.tablesorter
    %thead
      %tr
        %th Icon
        %th Offer
        %th Type
        %th Price
        %th Payment
        %th TJ Enabled
        %th Platform
        %th TJ Sponsored
    %tbody
      - @partner.offers.each do |offer|
        %tr
          %td.icon= image_tag(offer.get_icon_url, :size => '57x57')
          %td= link_to_offer(offer)
          %td= offer.item_type
          %td= number_to_currency(offer.price / 100.0)
          %td= number_to_currency(offer.payment / 100.0)
          %td= offer.tapjoy_enabled
          %td= offer.get_platform
          %td= offer.tapjoy_sponsored ? "Yes" : "No"

- content_for :page_javascript do
  :plain
    $(function($) {
      $.tablesorter.addParser({
        id: 'currency-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $("#apps_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: false },
          3: { sorter: 'currency-column' },
          4: { sorter: 'currency-column' }
        },
        sortList: [ [1, 0] ]
      });
      $('.mail_chimp_button').click(function(){
        $(this).hide();
        var div = $(this).siblings('div');
        div.show();
        var email = $(this).siblings('span.email').text();
        console.log(email);
        var url = '/partners/mail_chimp_info/;';
        $.get(url, {email: email}, function(data){
          div.children('img').hide();
          div.append("Subscriber?: " + data.subscribed);
          div.append("<br/>Can email?: " + data.can_email);
        });
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    th,
    td,
    .icon img {
      border: 0;
    }
    .box {
      width: 45%;
    }
    img.mail_chimp_button {
      cursor: pointer;
    }
    .payout_info th {
      text-align: right;
    }
    .payout_info td.wide {
      text-align: center;
      background-color: #efe;
      font-weight: bold;
      font-size: 24px;
    }
    .user_action, .user_action span {
      display: inline;
    }
