- @page_title = 'Employees'

%h1 Employees

= link_to '[Add new employee]', new_tools_employee_path
%br

%table#employees_table.tablesorter
  %thead
    %tr
      %th Image
      %th Active?
      %th Name
      %th Title
      %th Email/Edit
      %th Bio
      %th Secret Superpower
      %th Current Game(s)
      %th Weapon of Choice
      %th Display Order
  %tbody
    - @employees.each do |employee|
      %tr
        %td= link_to(image_tag(employee.get_photo_url, :alt => employee.photo_alt_name), edit_tools_employee_path(employee))
        %td= employee.active ? "Yes" : "No"
        %td= employee.full_name
        %td= employee.title
        %td= link_to employee.email, edit_tools_employee_path(employee)
        %td= employee.biography
        %td= employee.superpower
        %td= employee.current_games
        %td= employee.weapon
        %td= employee.display_order


- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
    table.tablesorter th.up_arrow {
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-image: url(/stylesheets/themes/blue/asc.gif);
      background-color: #8DBDD8;
    }

- content_for :page_javascript do
  :plain
    $(function() {
      $("#employees_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: false },
          7: { sorter: false }
        }
      });
    });
