- @page_title = 'Add Employee'

%h1= "Add Employee"

- form_for([ :tools, @employee ], nil, :html => { :class => 'tjform', :multipart => true }) do |f|
  = f.error_messages 
  .field
    = f.label(:email)
    = f.text_field(:email)
  .field
    = f.label(:first_name)
    = f.text_field(:first_name)
  .field
    = f.label(:last_name)
    = f.text_field(:last_name)
  .field
    = f.label(:title)
    = f.text_field(:title)
  .field
    = f.label(:biography, "Short Bio")
    = f.text_area(:biography)
    %br No more than three (3) sentences
  .field
    = f.label(:superpower, "What is your secret superpower?")
    = f.text_field(:superpower, :size => 70)
  .field
    = f.label(:current_games, "What are you currently playing?")
    = f.text_field(:current_games, :size => 70)
    %br Doesn't have to be mobile
  .field
    = f.label(:weapon, "What is your weapon of choice?")
    = f.text_field(:weapon, :size => 70)
    %br E.g. iPhone, ninja stars, Red Bull
  .field
    = label_tag :upload_photo
    = file_field_tag :upload_photo
  = submit_tag "Create"

- content_for :page_styles do
  :plain

    label {
      vertical-align: top;
      font-weight: bold;
      text-align: right;
      display: inline-block;
      width: 200px;
      margin-left: -200px;
    }

    textarea {
      width: 500px;
      height: 75px;
    }

    input[type=submit] {
      float: right;
    }

    .field {
      margin-bottom: 5px;
      margin-left: 200px;
    }

    .disabled_partner_names {
      width: 400px;
      margin-left: 20px;
    }