%table
  %tr
    %th &nbsp;
    %th Conversion Rate
    %th Mimimum Offer Payout
    %th &nbsp;
    %th &nbsp;
  %tr
    %td $1=
    %td
      = number_to_human(@currency.conversion_rate)
      = @currency.name
    %td $0.00
    %td &nbsp;
    %td &nbsp;
  - if @conversion_rates.present?
    - for conversion_rate in @conversion_rates
      - unless @conversion_rate.present? && @conversion_rate.persisted? && conversion_rate.id == @conversion_rate.id
        %tr
          %td $1=
          %td
            = number_to_human(conversion_rate.rate)
            = @currency.name
          %td= number_to_currency conversion_rate.bid_number_to_currency
          - if permitted_to?(:edit, :dashboard_conversion_rates)
            %td= link_to("Edit", edit_app_currency_conversion_rate_path(:currency_id => @currency.id, :app_id => @app.id, :id => conversion_rate.id))
            %td= link_to("Delete", app_currency_conversion_rate_path(:currency_id => @currency.id, :app_id => @app.id, :id => conversion_rate.id), :method => :delete, :confirm => 'Are you sure?')
