%h3= @page_title

%table
  %tr
    %th &nbsp;
    %th Conversion Rate
    %th Minimum Offer Payout
  %tr
    %td $1=
    %td 10 #{@currency.name}
    %td $0.00
  %tr
    %td $1=
    %td 30 #{@currency.name}
    %td $1.00
  %tr
    %td $1=
    %td 70 #{@currency.name}
    %td $2.00
  %tr
    %td $1=
    %td 140 #{@currency.name}
    %td $3.00
  %tr
    %td $1=
    %td 350 #{@currency.name}
    %td $4.00

= high_chart('example_graph', @example_graph)

%h3 Example Offers
%table
  %tr
    %th Placement
    %th Payout
    %th Applicable Conversion Rate per $1.00
    %th User Reward
  %tr
    %td Offerwall
    %td $0.50
    %td 10
    %td 5 #{@currency.name}
  %tr
    %td Offerwall
    %td $1.50
    %td 30
    %td 45 #{@currency.name}
  %tr
    %td Offerwall
    %td $6.00
    %td 500
    %td 3000 #{@currency.name}
  %tr
    %td Featured Ad
    %td $1.70
    %td 30
    %td 51 #{@currency.name}
  %tr
    %td Featured Ad
    %td $3.00
    %td 140
    %td 420 #{@currency.name}
  %tr
    %td Display Ad
    %td $2.60
    %td 70
    %td 182 #{@currency.name}
  %tr
    %td Display Ad
    %td $16.20
    %td 500
    %td 8100 #{@currency.name}

%h3 Suggestions
%ul
  %li Some offers will be hidden when you use minimum bid values for your currency.
  %li It's important to make sure that as the minimum offer bid goes up, the 'bonus' given to the user increases.

- content_for :page_styles do
  :plain
    table {
      width: 95%;
      text-align: center;
    }

    td {
      padding:8px;
    }
