%h3= @page_title

%table
  %tr
    %th &nbsp;
    %th= I18n.t('text.conversion_rate.conversion_rate')
    %th= I18n.t('text.conversion_rate.minimum_offer_bid')
  %tr
    %td $1=
    %td 10 #{@currency.name}
    %td $0.00
  %tr
    %td $1=
    %td 30 #{@currency.name}
    %td $1.00
  %tr
    %td $1=
    %td 70 #{@currency.name}
    %td $2.00
  %tr
    %td $1=
    %td 140 #{@currency.name}
    %td $3.00
  %tr
    %td $1=
    %td 350 #{@currency.name}
    %td $4.00

= high_chart('example_graph', @example_graph)

%h3= I18n.t('text.conversion_rate.example_offers')
%table
  %tr
    %th= I18n.t('text.conversion_rate.placement')
    %th= I18n.t('text.conversion_rate.payout')
    %th= I18n.t('text.conversion_rate.applicable_conversion_rate')
    %th= I18n.t('text.conversion_rate.user_reward')
  %tr
    %td= I18n.t('text.conversion_rate.offerwall')
    %td $0.50
    %td 10
    %td 5 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.offerwall')
    %td $1.50
    %td 30
    %td 45 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.offerwall')
    %td $6.00
    %td 500
    %td 3000 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.featured_ad')
    %td $1.70
    %td 30
    %td 51 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.featured_ad')
    %td $3.00
    %td 140
    %td 420 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.display_ad')
    %td $2.60
    %td 70
    %td 182 #{@currency.name}
  %tr
    %td= I18n.t('text.conversion_rate.display_ad')
    %td $16.20
    %td 500
    %td 8100 #{@currency.name}

%h3= I18n.t('text.conversion_rate.suggestions')
%ul
  %li= I18n.t('text.conversion_rate.suggestion1')
  %li= I18n.t('text.conversion_rate.suggestion2')

- content_for :page_styles do
  :plain
    table {
      width: 95%;
      text-align: center;
    }

    td {
      padding:8px;
    }
