- @page_title = 'Add new user'

%h1 Add new user

%p
  You can create new users to allow other people access to your account.
  Fill in the details below and we will send them an email with instructions for creating a password.

= form_for @user, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :email, 'Email Address'
        #help_email.help ?
      %td
        = f.text_field :email
        = error_message_on @user, :email
    %tr
      %th
        = f.label :time_zone, 'Time Zone'
        #help_time_zone.help ?
      %td
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all
        = error_message_on @user, :time_zone
    %tr
      %th= f.label :country, 'Country'
      %td
        = f.country_select :country
        = error_message_on @user, :country
    %tr
      %td{ :colspan => 2 }= f.submit 'Add User'

.hidden
  #help_email_content{ :name => 'Email Address' } The contact email address for the user. Password reset requests will go to this address and they will use it to login.
  #help_time_zone_content{ :name => 'Time Zone' } All times will be displayed in this time zone with the exception of daily stats, which are always in Universal Time (UTC).
