%p
  %strong
    TJM User Support
    = @click.present? ? "- #{@click.offer.name}" : ""
%div
  %p
    %strong Email:
    = @gamer.email
  %p
    %strong UDID:
    = @gamer_device.device_id
    = "[#{@gamer_device.dashboard_device_info_tool_url}]"
  %p
    %strong Offer:
    = @click.present? ? @click.offer.name : ""
    = @click.present? ? "[#{@click.offer.dashboard_statz_url}]" : ""
  %p
    %strong Currency:
    = @click.present? ? @click.currency.name : ""
    = @click.present? ? "[#{@click.currency.dashboard_app_currency_url}]" : ""
  %p
    %strong Reward Amount:
    = @click.present? ? "#{@click.currency_reward} #{@click.currency.name}" : ""
  %p
    %strong Publisher Partner:
    = @click.present? ? @click.publisher_partner.name : ""
    = @click.present? ? "[#{@click.publisher_partner.dashboard_partner_url}]" : ""
  %p
    %strong Publisher App:
    = @click.present? ? @click.publisher_app.name : ""
    = @click.present? ? "[#{@click.publisher_app.dashboard_app_url}]" : ""
  %p
    %strong Publisher User:
    = @click.present? ? @click.publisher_user_id : ""
  %p
    %strong Language Code:
    = @language_code
  %p
    %strong User Agent:
    = @user_agent
  %p
    %strong Device Type:
    = @gamer_device.device_type
  %p
    %strong Support Request:
    = @support_request.id
  %p
    %strong Click:
    = @click.present? ? @click.key : ""
    = @click.present? ? "[#{@click.dashboard_device_info_tool_url}]" : ""
  %p
    %strong Description
    = @content
