%p
  %h3
    Tapjoy User Support
    = @click.present? ? "- #{@click.offer.name}" : ""
  %div
    Email: #{ @gamer.email }
    %br
    UDID:
    = link_to(@device.device_id, device_info_tools_url(:udid => @device.device_id, :host => URI.parse(DASHBOARD_URL).host))
    = "[#{device_info_tools_url(:udid => @device.device_id, :host => URI.parse(DASHBOARD_URL).host)}]"
    %br
    Offer:
    = @click.present? ? link_to(@click.offer.name, statz_url(:id => @click.offer_id, :host => URI.parse(DASHBOARD_URL).host)) : ""
    = @click.present? ? "[#{statz_url(:id => @click.offer_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    Publisher Partner:
    = @click.present? ? link_to(@click.publisher_partner.name, partner_url(:id => @click.publisher_partner_id, :host => URI.parse(DASHBOARD_URL).host)) : ""
    = @click.present? ? "[#{partner_url(:id => @click.publisher_partner_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    Publisher App:
    = @click.present? ? link_to(@click.publisher_app.name, app_url(:id => @click.publisher_app_id, :host => URI.parse(DASHBOARD_URL).host)) : ""
    = @click.present? ? "[#{app_url(:id => @click.publisher_app_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    Publisher User:
    = @click.present? ? @click.publisher_user_id : ""
    %br
    Currency:
    = @click.present? ? link_to(@click.currency.name, app_currency_url(:app_id => @click.publisher_app_id, :id => @click.currency_id, :host => URI.parse(DASHBOARD_URL).host)) : ""
    = @click.present? ? "[#{app_currency_url(:app_id => @click.publisher_app_id, :id => @click.currency_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    Language Code: #{ @language_code }
    %br
    User Agent: #{ @user_agent }
    %br
    Device Type: #{ @device.device_type }
    %br
    Support Request: #{ @support_request.id }
    %br
    Click:
    = @click.present? ? link_to(@click.key, device_info_tools_url(:click_key => @click.key, :host => URI.parse(DASHBOARD_URL).host)) : ""
    = @click.present? ? "[#{device_info_tools_url(:click_key => @click.key, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %br
    Description
    %br
    \-----------------------------------------------------------------

%p= @content
