%p
  %h3
    TJM User Support
    = @click.present? ? "- #{@click.offer.name}" : ""
  %div
    %strong Email:
    = @gamer.email
    %br
    %strong UDID:
    = @gamer_device.device_id
    = "[#{@gamer_device.info_tool_url}]"
    %br
    %strong Offer:
    = @click.present? ? @click.offer.name : ""
    = @click.present? ? "[#{@click.offer.get_statz_url}]" : ""
    %br
    %strong Currency:
    = @click.present? ? @click.currency.name : ""
    = @click.present? ? "[#{@click.currency.get_app_currency_url}]" : ""
    %br
    %strong Reward Amount:
    = @click.present? ? "#{@click.currency_reward} #{@click.currency.name}" : ""
    %br
    %strong Publisher Partner:
    = @click.present? ? @click.publisher_partner.name : ""
    = @click.present? ? "[#{@click.publisher_partner.get_partner_url}]" : ""
    %br
    %strong Publisher App:
    = @click.present? ? @click.publisher_app.name : ""
    = @click.present? ? "[#{@click.publisher_app.get_app_url}]" : ""
    %br
    %strong Publisher User:
    = @click.present? ? @click.publisher_user_id : ""
    %br
    %strong Language Code:
    = @language_code
    %br
    %strong User Agent:
    = @user_agent
    %br
    %strong Device Type:
    = @gamer_device.device_type
    %br
    %strong Support Request:
    = @support_request.id
    %br
    %strong Click:
    = @click.present? ? @click.key : ""
    = #@click.present? ? "[#{device_info_tools_url(:click_key => @click.key, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %br
    %strong Description
    %br
    \-----------------------------------------------------------------
%p
  %em= @content
