%p
  %h3
    TJM User Support
    = @click.present? ? "- #{@click.offer.name}" : ""
  %div
    %strong Email:
    = @gamer.email
    %br
    %strong UDID:
    = @device.device_id
    = #"[#{device_info_tools_url(:udid => @device.device_id, :host => URI.parse(DASHBOARD_URL).host)}]"
    %br
    %strong Offer:
    = @click.present? ? @click.offer.name : ""
    = #@click.present? ? "[#{statz_url(:id => @click.offer_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %strong Currency:
    = @click.present? ? @click.currency.name : ""
    = #@click.present? ? "[#{app_currency_url(:app_id => @click.publisher_app_id, :id => @click.currency_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %strong Reward Amount:
    = @click.present? ? "#{@click.currency_reward} #{@click.currency.name}" : ""
    %br
    %strong Publisher Partner:
    = @click.present? ? @click.publisher_partner.name : ""
    = #@click.present? ? "[#{partner_url(:id => @click.publisher_partner_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %strong Publisher App:
    = @click.present? ? @click.publisher_app.name : ""
    = #@click.present? ? "[#{app_url(:id => @click.publisher_app_id, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %strong Publisher User:
    = @click.present? ? @click.publisher_user_id : ""
    %br
    %strong Language Code:
    = @language_code
    %br
    %strong User Agent:
    = @user_agent
    %br
    %strong Device Type:
    = @device.device_type
    %br
    %strong Support Request:
    = @support_request.id
    %br
    %strong Click:
    = @click.present? ? @click.key : ""
    = #@click.present? ? "[#{device_info_tools_url(:click_key => @click.key, :host => URI.parse(DASHBOARD_URL).host)}]" : ""
    %br
    %br
    %strong Description
    %br
    \-----------------------------------------------------------------
%p
  %em= @content
