- gray = '#505050'
- light_gray = '#c0c0c0'
- blue = '#505f6d'
- red  = '#e11826'
- offset = '30px'
- image_root = 'https://s3.amazonaws.com/tapjoy/images'
- css = {}
- css[:a] = "color: #{red}; text-decoration: none;"
- css[:step] = "border-top: 1px dotted #{light_gray}; padding: 20px 0px;"
- css[:step_image] = "width: 70px; display: inline-block; vertical-align:top;"
- css[:step_body] = "max-width: 450px; display: inline-block; padding-left: 15px;"
- css[:step_name] = "color: #{blue}; font-weight: bold; font-size: 16px; padding-bottom: 5px;"

#email{:style => "color: #{gray}; margin: 0px auto; border: 1px solid #{light_gray}; width: 600px; font-family: 'arial'; font-size: 15px; background-color: white;"}
  #header{:style => "color: #{blue}; padding: #{offset}; padding-bottom: 0px; background-image: url('#{image_root}/email/header_bg.png'); height: 71px;"}
    #social-icons{:style => 'float: right;'}
      - link_to 'https://www.facebook.com/TapjoyGames', :style => css[:a] do
        = image_tag("#{image_root}/email/facebook_icon.png", :title => 'Facebook', :alt => 'Facebook')
      - link_to 'https://twitter.com/#!/tapjoygames', :style => css[:a] do
        = image_tag("#{image_root}/email/twitter_icon.png", :title => 'Twitter', :alt => 'Twitter')
    #social-text{:style => "float: right; padding-top: 10px; padding-right: 10px; font-size: 12px; font-style: italic; color: #{blue};"}
      follow us:
    = image_tag("#{image_root}/email/logo.png")
  #content{:style => "padding: #{offset}; padding-bottom: 0px;"}
    #thanks{:style => "font-size: 20px; font-weight: bold; color: #{blue};"}
      Thanks for creating a Tapjoy account!
    #discover{:style => "padding-top: 5px; padding-bottom: 30px;"}
      Now you can start discovering cool new apps while also earning currency in apps you already play.
    .step{:style => css[:step]}
      %div{:style => css[:step_image]}
        = image_tag("#{image_root}/email/check_icon.png", :class => 'icon', :size => '68x68', :title => 'Getting started', :alt => 'Confirm')
      %div{:style => css[:step_body]}
        .name{:style => css[:step_name]}
          Getting started:
        .description
          Confirm your email address:
          %br/
          - link_to @confirmation_link, :style => css[:a] do
            = image_tag("#{image_root}/email/confirm_button.png", :title => 'Confirm', :alt => 'Confirm')
    - unless @linked
      .step{:style => css[:step]}
        %div{:style => css[:step_image]}
          = image_tag("#{image_root}/email/connect_icon.png", :class => 'icon', :size => '68x68', :title => 'Connect your device', :alt => 'Connect')
        %div{:style => css[:step_body]}
          .name{:style => css[:step_name]}
            Connect your device
          .description
            By connecting your device we can personalize your Tapjoy
            experience and recommend the best apps just for you. You
            must be on the device you wish to add.
    - unless @device_type == :android
      .step{:style => css[:step]}
        %div{:style => css[:step_image]}
          = image_tag("#{image_root}/email/home_icon.png", :class => 'icon', :size => '68x68', :title => 'Add Tapjyo to your Home Screen', :alt => 'Home')
        %div{:style => css[:step_body]}
          .name{:style => css[:step_name]}
            Add Tapjoy to your Home Screen
          .description
            Engaging with your favorite apps can be just a tap away.
    .step{:style => "border-top: 1px dotted #{light_gray};"}
      &nbsp;
  #footer{ :style => "padding-top: 20px; padding-bottom: 30px !important; padding: #{offset}; padding-bottom: 0px;" }
    If you have any questions please contact us at
    = mail_to('feedback@tapjoy.com', 'feedback@tapjoy.com', :style => css[:a])
    %br/
    and we'll help you with what you need.
    #discovery{:style => "font-weight: bold; font-size: 18px; color: #{blue};"}
      %p Let the discovery begin!
    #signature{:style => "font-weight: bold; font-size: 16px; color: #{blue};"}
      %p Team Tapjoy
    If the button doesn't work, copy the link below and paste it in your browser
    %br/
    = link_to @confirmation_link, @confirmation_link, :style => css[:a]
