= image_tag("#{TJG_URL}/images/games/star_on_web.png", :width => '65', :height => '50')
%p Hi,
%p= "#{@sender} has invited you to join Tapjoy."
%p With Tapjoy you can discover tons of apps and build fuel in your current ones. Create your account here:
%p= link_to "#{TJG_URL}", @link
%p Start Discovering!
%p Team Tapjoy