- @page_title = 'Change Account Details'

%h1 Change account details

- form_for @user, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :email, 'Email Address'
        #help_email.help ?
      %td
        = f.text_field :email
        = error_message_on @user, :email
    %tr
      %th= f.label :password, 'New Password'
      %td
        = f.password_field :password
        = error_message_on @user, :password
    %tr
      %th= f.label :password_confirmation, 'Confirm New Password'
      %td
        = f.password_field :password_confirmation
        = error_message_on @user, :password_confirmation
    %tr
      %th
        = f.label :time_zone, 'Time Zone'
        #help_time_zone.help ?
      %td
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all
        = error_message_on @user, :time_zone
    %tr
      %th
        = f.label :receive_campaign_emails, 'Receive Campaign Emails'
        #help_receive_campaign_emails.help ?
      %td
        = f.check_box :receive_campaign_emails
        = error_message_on @user, :receive_campaign_emails

    %tr
      %td{ :colspan => 2 }= f.submit

.hidden
  #help_email_content{ :name => 'Email Address' } Your preferred contact email address. Password reset requests will go to this address and you will use it to login.
  #help_time_zone_content{ :name => 'Time Zone' } All times will be displayed in this time zone with the exception of daily stats, which are always in Universal Time (UTC).
  #help_receive_campaign_emails_content{ :name => 'Receive Campaign Emails' } Uncheck this if you do not want to receive email alerts when your account is running low on funds or when your offers are placed poorly on the offerwall.
