- @page_title = 'Change Account Details'

%h1 Change account details

- form_for @user do |f|
  = f.error_messages :header_message => nil

  %table.with_form
    %tr
      %td= f.label :email, 'Email Address'
      %td= f.text_field :email, :size => 40
    %tr
      %td= f.label :password, 'New Password'
      %td= f.password_field :password, :size => 40
    %tr
      %td= f.label :password_confirmation, 'Confirm New Password'
      %td= f.password_field :password_confirmation, :size => 40
    %tr
      %td{ :colspan => 2, :class => 'center' }= f.submit
