- @page_title = 'Account'

%p Create additional user accounts for other people or change your email address, password, or preferred time zone.

%ul
  %li= link_to('Add new user', new_user_path)
  %li= link_to('Change your account details', edit_user_path(current_user))
  - unless @mail_chimp_url.nil?
    %li= link_to('Change your email notification settings', @mail_chimp_url)
%h3 Users with access

%table.users
  %thead
    %tr.underline
      %th Login
      %th Email
      %th Last Login
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= user.current_login_at? ? user.current_login_at.to_s(:pub_ampm) : 'Never'

- content_for :page_styles do
  :plain
    table.users {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    table.users th, table.users td {
      text-align: left;
      padding: 3px 5px;
    }
    
    table.users td {
      border-top: 1px solid #888;
    }
