- @page_title = 'Add new user'

%h1 Add new user

%p
  You can create new users to allow other people access to your account.
  Fill in the details below and we will send them an email with instructions for creating a password.

- form_for @user, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :username, 'Login'
        #help_login.help ?
      %td
        = f.text_field :username
        = error_message_on @user, :username
    %tr
      %th
        = f.label :email, 'Email Address'
        #help_email.help ?
      %td
        = f.text_field :email
        = error_message_on @user, :email
    %tr
      %td{ :colspan => 2 }= f.submit 'Add User'

.hidden
  #help_login_content{ :name => 'Login' } This is what the user will use when logging in.
  #help_email_content{ :name => 'Email Address' } The contact email address for the user. Password reset requests will go to this address.
