- @page_title = 'Add new user'

%h1 Add new user

- form_for @user, :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th= f.label :username, 'Login'
      %td
        = f.text_field :username
        = error_message_on @user, :username
    %tr
      %th= f.label :email, 'Email Address'
      %td
        = f.text_field :email
        = error_message_on @user, :email
    %tr
      %th= f.label :password, 'Password'
      %td
        = f.password_field :password
        = error_message_on @user, :password
    %tr
      %th= f.label :password_confirmation, 'Confirm Password'
      %td
        = f.password_field :password_confirmation
        = error_message_on @user, :password_confirmation
    %tr
      %td{ :colspan => 2 }= f.submit
