- form_for([ :tools, @wfh ]) do |f|
  = f.error_messages
  %table
    %tbody
      %tr
        %th= f.label :category
        %td= f.select :category, options_for_select(Wfh::CATEGORIES, @wfh.category)
      %tr
        %th= f.label :description
        %td= f.text_field :description, :placeholder => 'e.g. going to GDC'
      %tr
        %th= f.label :start_date
        %td= f.text_field :start_date
      %tr
        %th= f.label :end_date, 'ends (inclusive)'
        %td= f.text_field :end_date
  %p= f.submit @action

- content_for :page_javascript do
  :plain
    $(function($){
      $('#wfh_start_date').datepicker();
      $('#wfh_end_date').datepicker();
      $('#wfh_start_date').change(function(){
        var start_date = $('#wfh_start_date').val();
        $('#wfh_end_date').val(start_date);
      });
    });
