- form_for([ :games, @gamer ], :url => { :action => :create }) do |f|
  .dialog_title
    Sign Up Now!
  .dialog_header
    Creating an account is too easy!
  .field
    = f.label :email
    = f.text_field :email
    = error_message_on @gamer, :email
  .field
    = f.label :password
    = f.password_field :password
    = error_message_on @gamer, :password
  .field
    = f.hidden_field :referrer, :value => params[:referrer]
    = f.submit 'Do it!'