!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
  %body
    #instruction
      = check_box_tag :agree
      = label_tag :agree, 'I agree to the Tapjoy SDK License'

    %p{:style => 'font-size: 12px;'}
      BY CLICKING ON THE &quot;ACCEPT&quot; BUTTON, YOU AND THE COMPANY
      OR ENTITY THAT YOU REPRESENT (&quot;YOU&quot;) ARE AGREEING TO BE BOUND
      BY AND ARE BECOMING A PARTY TO THIS
      = link_to('LICENSE AGREEMENT', license_sdk_index_path, :target => '_blank')
      (&quot;AGREEMENT&quot;). IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS
      AGREEMENT, CLICK THE &quot;CANCEL&quot; BUTTON AND THE DOWNLOAD AND
      INSTALLATION PROCESS WILL NOT CONTINUE.

    .left= button_to 'Accept', sdk_path(params[:sdk]), :id => 'accept', :method => 'get'
    .left= button_to 'Cancel', '#', :id => 'cancel'
    .clear

    %script
      :plain
        $('#cancel').click(function() {
          $.facebox.close();
          return false;
        });
        $('#accept').click(function() {
          console.log($('#agree').is(':checked'));
          if ($('#agree').is(':checked')) {
            $.facebox.close();
          } else {
            $('#instruction').css({color: 'red'});
            return false;
          }
        });
