- content_for :apsalar_body do
  %p Now you can find out what factors convert or engage your users better, which funnels perform more consistently and gather the research you need to make better business decisions.
  %p With this special free offer, Tapjoy customers get:
  %ul
    %li All the basic analytics (start/stop metrics, event tracking, operational reports)
    %li A customizable dashboard
    %li Cross-app analyses &amp; user segmentation
    %li Advanced user path exploration
    %li Cohort-based engagement analytics &amp; conversion funnels
    %li Customizable in-app surveys
  - form_tag create_apsalar_account_analytics_path do
    %p
      = check_box_tag 'terms'
      = label_tag  :terms, "I agree to the #{link_to('Apsalar terms of use', "#{APSALAR_URL}/terms-of-use/", :target => 'new')}."
    - if false
      %p
        = check_box_tag 'enable_apsalar_sharing'
        = label_tag  :terms_share, "<b>(Optional)</b> I want Tapjoy to #{link_to('share my app data', "#{APSALAR_URL}/terms-of-use/", :target => 'new')} with Apsalar."
    %p
      = submit_tag 'Enable Apsalar Analytics For Your Apps'


  It only takes one click to enable and access your Apsalar account (you will need to install Apsalar's SDK in your app to take advantage of this offer)

= render :partial => 'features'
