%p
  Please note that the start time and end time will be recorded in
  %span.timezone #{current_user.time_zone}
  time zone.
- form_for [ :tools, @rank_boost ], :html => { :class => 'tjform' } do |f|

  %table
    %tr
      %th
        = label_tag('search_box', 'Offer Name:')
        #help_offer.help ?
      %td
        = text_field_tag('search_box', @offer.present? ? @offer.search_result_name : '', :size => '40')
        = error_message_on @rank_boost, :offer
        = f.hidden_field :offer_id
    %tr
      %th
        = f.label :start_time, 'Start Time'
        #help_start_time.help ?
      %td
        = f.text_field :start_time, :value => @rank_boost.start_time.present? ? @rank_boost.start_time.to_s(:mdy_ampm) : ''
        = error_message_on @rank_boost, :start_time
    %tr
      %th
        = f.label :end_time, 'End Time'
        #help_end_time.help ?
      %td
        = f.text_field :end_time, :value => @rank_boost.end_time.present? ? @rank_boost.end_time.to_s(:mdy_ampm) : ''
        = error_message_on @rank_boost, :end_time
    %tr
      %th
        = f.label :amount, 'Amount'
        #help_amount.help ?
      %td
        = f.text_field :amount
        = error_message_on @rank_boost, :amount
    %tr
      %td{ :colspan => 2 }= f.submit 'Save Offer Rank Boost'

.hidden
  #help_offer_content{ :name => 'Offer Name' } The name of the offer. The offer must be selected from the search results in the dropdown.
  #help_start_time_content{ :name => 'Start Time' } When the boost should start.
  #help_end_time_content{ :name => 'End Time' } When the boost should end.
  #help_amount_content{ :name => 'Amount' } How strong the boosting effect should be. Negative numbers will hurt the offer's rank. Values should generally fall between -10 and 10.

- content_for :included_javascripts, javascript_include_tag('jquery-ui-timepicker-addon.min')

- content_for :page_javascript do
  = set_tapjoy_timezone_skew
  :plain
    $(function() {
      $('#search_box').autocomplete({
        source: '#{search_offers_path}',
        delay: 250,
        minLength: 2,
        select: function(event, ui) {
          $('#rank_boost_offer_id').val(ui.item.id);
        }
      });

      $('#rank_boost_start_time').datetimepicker({
      	ampm: true,
      	timeFormat: 'h:mm TT'
      });
      $('#rank_boost_end_time').datetimepicker({
      	ampm: true,
      	timeFormat: 'h:mm TT'
      });
    });

- content_for :page_styles do
  :plain
    span.timezone {
      font-weight: bold;
      color: #44a;
      background-color: #ff0;
    }
