- form_for([:games, @app_review]) do |f|
  = f.hidden_field :app_metadata_id, :value => params[:app_metadata_id]
  = f.hidden_field :user_rating, :value => @app_review.user_rating

  .mod.form-section.button-group
    .ui-joy-button.grey-action.active
      %a.icon-center
        .active-image= image_tag("games/inset-thumbs-up.png")
        .inactive-image= image_tag("games/grad-thumbs-up.png")
    .ui-joy-button.grey-action
      %a.icon-center
        .active-image= image_tag("games/inset-thumbs-down.png")
        .inactive-image= image_tag("games/grad-thumbs-down.png")
  .mod.form-section
    = f.text_area :text, {:placeholder => t('text.shared.comment'), :class => "ui-joy-input"}
    = error_message_on @app_review, :text
  .mod.form-section
    - if @app_review.new_record?
      = f.submit t('text.shared.submit_review'), :class => "ui-joy-button grey-action"
    - else
      = f.submit t('text.shared.update_review'), :class => "ui-joy-button grey-action"

-content_for :page_head do
  = stylesheet_link_tag "marketplace/theme/tjm/review-form"
