#review-form.current
  .panel
    .mod.line-item.page-header
      .hd
        .app-icon.squircle
          = image_tag(@app.get_icon_url(:source => :cloudfront))
      .bd.lastUnit
        .title.elip
          = @app.name
        .sub-title
          = @app.partner_name
    .mod.menu-head
      = t("text.shared.rate_and_review")
    .mod.review-form
      = render 'form'
