= render :partial => 'games/homepage/nav_bar', :locals => { :show_device => true, :active => 'back', :back_button_destination => games_root_path }
.content_wrapper
  .content
    #reviews_button.tab_button.dark_grey
      .tab_content
        Reviews
    #reviews_button_arrow.tab_button_bottom_arrrow_wrapper
      .tab_button_bottom_arrrow
    .reviews_summary.clearfix
      .offer_image
        = image_tag(@app.get_icon_url(:source => :cloudfront))
      .offer_text.clearfix
        .offer_title.title
          = @app.name
        .review_meta.clearfix
          %span.gamer_overall_rating{ :rating => @app_metadata.positive_thumbs_percentage, :threshold => AppMetadata::RATING_THRESHOLD, :total => @app_metadata.total_thumbs_count }
    .write_review_label My Review
    = render 'form'
    .separator.clearfix
    - pagination_options = { :container => false, :param_name => "app_reviews_page", :previous_label => 'Prev&nbsp;&nbsp;|', :next_label => '|&nbsp;&nbsp;Next', :inner_window => 1, :outer_window => 0 }
    .pagination_wrapper
      .my_pagination.clearfix
        %span.page_info
          = page_entries_info(@app_reviews, :entry_name => 'review')
        .page_links= will_paginate(@app_reviews, pagination_options)
    %ul.review_list.clearfix
      - @app_reviews.each do |app_review|
        - gamer = app_review.author
        %li.review_item.clearfix
          .others_profile_image
            = image_tag(gamer.get_avatar_url)
          .offer_text.clearfix
            .others_review_meta
              %span.others_name.left= gamer.get_gamer_name
              %span.others_review_rating.clearfix{ :id => gamer.id, :rating => app_review.user_rating }
            .others_review_content_collapse{ :id => gamer.id }
              %span.truncated_text= truncate(app_review.text, :length => 100)
              - if app_review.text.length > 100
                %span.read_more read more
            - if app_review.text.length > 100
              .others_review_content_expand.hide{ :id => gamer.id }
                .full_text= app_review.text
                .collapse collapse  &#8679;
    .pagination_wrapper
      .my_pagination.clearfix
        .page_links= will_paginate(@app_reviews, pagination_options)
    #back_to_top_button.tab_button.dark_grey
      .tab_content
        Back To Top

- content_for :page_javascript do
  :plain
    $(function($) {
      TJG.ui.loadSummaryGamerRating();
      TJG.ui.loadExistGamerRating();

      $('.read_more').click(function(){
        $(this).parent().hide();
        $(this).parent().next().show();
      });

      $('.collapse').click(function(){
        $(this).parent().hide();
        $(this).parent().prev().show();
      });

      $('#back_to_top_button').click(function(event){
        $('html, body').animate({ scrollTop: 0 }, 'fast');
      });
    });
