- @page_title = "Video Button for #{@video_offer.name}"

%h1
  Video Button for
  = link_to(@video_offer.name, edit_tools_video_offer_path(:id => @video_offer.id))

= link_to('[Add Button]', new_tools_video_offer_video_button_path)

%table.tablesorter
  %thead
    %tr
      %th Button ID
      %th Display Name
      %th Offer
      %th Platform
      %th Ordinal
      %th Enabled
      %th Operation
  %tbody
    - @video_buttons.each do |button|
      %tr
        %td.button-id= button.id
        %td.name= button.name
        - if button.tracking_offer.present?
          %td.offer= link_to(button.item.try(:name), statz_path(button.tracking_offer))
        - else
          %td.offer= "N/A"
        %td.platform= button.tracking_offer.try(:get_platform)
        %td.ordinal= button.ordinal
        %td.enabled= button.read_attribute(:enabled)
        %td.operation
          = link_to('edit', edit_tools_video_offer_video_button_path(:id => button.id, :video_offer_id => @video_offer.id))
  %br/

- content_for :page_styles do
  :plain
    td.button-id {
      font-family: 'courier new';
    }
    td {
      vertical-align: top;
    }
