- @press_title = "Offerpal Media Sheds Light on Virtual Gifting, Highlights This Season's Hottest Ways to Spread Holiday Cheer Online"
- @press_subtitle = "From ornaments to stocking stuffers, millions of virtual gifts expected to be exchanged this belt-tightening holiday season"

%p
  - press_date(:fremont)
  This year, instead of looking under the tree, a whole lot of folks will be
  checking their
  #{link_to('social networking profile pages', 'http://myofferpal.wordpress.com/2008/12/01/social-apps-becoming-a-bigger-piece-of-the-pie/')}
  to see what Santa has left them. With the growing
  #{link_to('popularity of social networks', 'http://myofferpal.wordpress.com/2008/11/10/tv-down-social-networks-up/')}
  and with holiday shoppers feeling the pinch, consumers are increasingly looking to
  #{link_to('virtual gifts', 'http://myofferpal.wordpress.com/2008/09/26/redeeming-virtual-currency-in-social-applications/')}
  as a way to share the holiday spirit without breaking the bank.

%p
  Virtual gift-giving has become one of the top activities on social networks
  like Facebook, MySpace, Bebo and hi5, with the Web-wide market for virtual
  goods estimated to be at least $2 billion. Considering that the cost of most
  virtual items is one or two dollars, the number of transactions involved is
  astronomical. In many cases, virtual gifts are completely free to the sender,
  who can earn virtual currency by taking part in targeted advertising offers
  provided by #{link_to_offerpal('Offerpal Media')}, the leading &quot;Managed
  Offer Platform&quot; for social publishers.

%p
  On social networks, application developers are opening virtual holiday shops,
  selling wares appropriate to the season-everything from Christmas tree ornaments
  to Santa's reindeer. For smalltime spenders, giving a one-dollar virtual
  gingerbread house to a friend or a free virtual candy cane to a coworker
  is the perfect solution to keeping the holiday budget in check while spreading
  yuletide cheer. Developers, in turn, earn real revenues from these transactions
  through their partnership with Offerpal Media, which is the leading platform for
  social media advertising.

%h2
Here are Offerpal Media's top picks for the best applications in the 2008 holiday season:

%ol
  %li= link_to('Make A Baby', 'http://www.facebook.com/applications/Make_A_Baby/6682280012')
  %li= link_to('Growing Gifts', 'http://www.facebook.com/apps/application.php?id=2402094537')
  %li= link_to('Gift Creator', 'http://www.facebook.com/apps/application.php?id=8089123087')
  %li= link_to('Send Teddy Bears', 'http://www.facebook.com/apps/application.php?id=8256428559')
  %li= link_to('SnowGlobe', 'http://www.facebook.com/apps/application.php?id=19848452080')
  %li= link_to('Treats N Eats', 'http://www.facebook.com/apps/application.php?id=24757685948')
  %li= link_to('Social Calendar', 'http://www.facebook.com/apps/application.php?id=8331309681')
  %li= link_to('Family Tree', 'http://www.facebook.com/apps/application.php?id=2359239297')
  %li= link_to('Holiday Gifts', 'http://www.facebook.com/apps/application.php?id=2784984745')
  %li= link_to('Holiday Hunt', 'http://www.facebook.com/apps/application.php?id=31237315669')

%p
  Beyond virtual gift-giving, social networking applications are also being
  designed to help people get through the holidays without missing an event or
  forgetting a loved one. Social Calendar, for example, keeps track of holiday
  parties for users, while Family Builder can ensure that everyone-from the
  cousins in Paris, Texas to the aunt in Lebanon, New Hampshire-receives a holiday
  card or gift.

%p
  &quot;Giving and receiving virtual gifts with friends on social networks is one
  of the best ways to get into the holiday spirit this year,&quot; said Anu
  Shukla, CEO of Offerpal Media. &quot;Our partners in the application development
  industry have been as hard at work as Santa's elves getting their apps ready for
  the holidays, and we hope that users will find them a fun and novel way to shop.
  Not only do these gifts make less of a dent in the bank account, they are
  imaginative and inventive in ways that only the virtual world can be.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
- press_contact(:tapjoy)
