- @press_title = "Facebook Developer Garage Hosted By Offerpal Media To Showcase Innovators Behind Social Networking's Hottest Applications "
- @press_subtitle = "Developer Garage Explains How to Monetize Applications Using Virtual Currency"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')} is hosting the first ever Facebook&reg;
  Developer Garage to focus exclusively on
  #{link_to('virtual currency as a monetization strategy', 'http://myofferpal.wordpress.com/2008/09/26/redeeming-virtual-currency-in-social-applications/')}.
  Taking place on November 19, 2008 from 3 to 7 PM PST at Mezzanine in downtown
  San Francisco, the event brings together social network application developers,
  online marketing experts, and a Facebook platform team leader to explore how
  leveraging virtual currency can increase user engagement and create new revenue
  opportunities. The event is open to the public and free to attend. Attendees are
  asked to RSVP at
  #{link_to('http://www.facebook.com/event.php?eid=83054145275', 'http://www.facebook.com/event.php?eid=83054145275')}.

%p
  The Facebook platform creates a vibrant ecosystem that has made it possible for many
  #{link_to('developers', 'http://myofferpal.wordpress.com/2008/11/03/rockyou-rocks-on/')}
  to transform their hobbies into profitable careers. With an estimated 120
  million users, Facebook is a massively popular social network, and the
  opportunity to build applications and games that become
  #{link_to('viral hits', 'http://myofferpal.wordpress.com/2008/08/14/ensuring-viral-growth-on-facebook/')}
  and generate six- and seven-figure incomes has been realized by a number of
  developers.

%p
  The Garage event will feature a panel of top Facebook developers who have made
  virtual goods and currency their primary monetization vehicle, as well as
  executives from Offerpal Media and Facebook. The lineup includes:

%ul
  %li
    %strong Anu Shukla, CEO, Offerpal Media,
    speaking on &quot;10 Tips for Virtual Currency Monetization&quot;
  %li
    %strong Kelly Winters, Platform Program Manager, Facebook,
    speaking on &quot;Facebook and Virtual Currency&quot;
  %li
    %strong Eric Yieh, Director of Product Management, RockYou,
    presenting a case study

%strong A panel of developers:
%ul
  %li
    %strong Siqi Chen,
    &quot;Friends For Sale!&quot;
  %li
    %strong Nicholas Talarico,
    &quot;Make a Baby&quot;
  %li
    %strong Markus Weichselbaum,
    &quot;KickMania&quot; and others

%p
  In today's economy, the emerging social networking marketplace represents a
  vital new opportunity, not only for the developers who are making a living from
  their apps, but also for the advertisers seeking to reach this connected and
  highly desirable social demographic. Up until now, advertising on social
  networks has been challenging. This is largely due to the unique end user
  experience and advertising formats that often do not conform with standard
  online ad units.

%p
  Offerpal Media is the leader in a new kind of embedded advertising on social
  networks, and advertisers are flocking towards this highly effective arena. For
  developers who seek to capitalize on this emerging opportunity, a well-developed
  strategy for virtual currency is crucial. Thus, the Garage event will address
  the following key issues:

%ul
  %li Methods for making virtual currency into a &quot;must have&quot; for users, ensuring they come back again and again.
  %li How to make virtual currency redeemable in ways that lead to user engagement and stickiness.
  %li Other approaches to deepening user engagement and loyalty.
  %li How to best leverage the power of social networking to earn real revenues from social networking applications.

%p
  &quot;We are looking forward to having the opportunity to share our knowledge
  about how to make the most of a social networking application with the growing
  Facebook developer community,&quot; said Anu Shukla, CEO of Offerpal Media.
  &quot;We hope to see many new faces as well as those who represent our trusted
  partners in making Facebook a place where users, developers and advertisers are
  coming together for a win-win-win value proposition.&quot;
%p
  As a special bonus to those who attend, Offerpal will be releasing key findings
  on best practices for monetizing social applications on social networks,
  &quot;20 Tips for Monetizing Social Traffic through Virtual Currency.&quot; The
  report offers the inside track on what makes for a viral and profitable
  application, using real world examples.

- about_blurb(:offerpal)
%h2 Contact Information:
= press_contact(:tapjoy)
