- @press_title = "Offerpal Media Powers Virtual Currency Monetization for MMA Pro Fighter"
- @press_subtitle = "Digital Chocolate employs Offerpal's alternative payment platform for MMA Pro Fighter on Facebook"

%p
  - press_date('San Mateo, CA')
  Offerpal Media, the leading virtual currency monetization solution for
  developers and social publishers, today announced a partnership with leading
  game developer
  #{link_to('MMA Pro Fighter&trade;', 'http://www.digitalchocolate.com/news')},
  a Mixed Martial Arts (MMA) fighting game that is now available on Facebook.

%p
  &quot;MMA Pro Fighter is our first true social game, and with Offerpal's
  expertise we hope to hit the ground running,&quot; said Trip Hawkins, Founder
  and CEO of Digital Chocolate. &quot;The platform will enable us to earn
  additional revenues while providing consumers more options to advance in this
  adrenaline-packed MMA experience.&quot;
%p
  Digital Chocolate will use Offerpal to enable MMA Pro Fighter players to earn
  the game's virtual currency, Pro Points, by taking part in demographically and
  behaviorally targeted consumer advertising offers, including free trials,
  big-brand discounts, shopping rewards, online surveys and more. Offerpal will
  also offer MMA Pro Fighter players the ability to purchase Pro Points by
  choosing from a variety of global payment options including mobile billing,
  pre-paid debit cards, e-wallets and more. Pro Points can be redeemed for in-game
  items, stamina and other virtual items to further enhance the experience and
  reward users for their engagement.

%p
  &quot;We are extremely proud to add Digital Chocolate to our growing list of
  more than 2,000 publishing partners,&quot; said George Garrick, CEO of Offerpal
  Media.&nbsp; &quot;The decision by a company like Digital Chocolate to implement
  our solution is a testament to the fact that consumers are clearly excited about
  offer-based payment alternatives.&quot;

%p
  MMA Pro Fighter will give users the chance to issue a &quot;beat down&quot; as
  they compete against their friends to become the best fighter in the ring.
  Created specifically to take full advantage of Facebook, players will be able to
  build and develop their fighter and compete with friends to reach the top of the
  ranks. Players can build their fighters and learn hundreds of moves from
  different fighting styles. MMA Pro Fighter features an in-depth fighting engine
  that realistically simulates fights based on authentic MMA moves and attributes.
%p
  MMA Pro Fighter is available to play for free on Facebook. Digital Chocolate
  will be implementing enhancements and upgrades for MMA Pro Fighter in the coming
  weeks so check back often to see the updates:
  #{link_to('http://apps.facebook.com/mmaprofighter/', 'http://apps.facebook.com/mmaprofighter/')}.

%p
  %h2 Resources
  Facebook:
  = link_to('http://apps.facebook.com/mmaprofighter/', 'http://apps.facebook.com/mmaprofighter/')
  %br/
  Digital Chocolate:
  = link_to('www.digitalchocolate.com', 'http://www.digitalchocolate.com')
  %br/
  Twitter:
  = link_to('www.twitter.com/dchocgames', 'http://www.twitter.com/dchocgames')
  %br/
  My Space:
  = link_to('www.myspace.com/dchocgames', 'http://www.myspace.com/dchocgames')
  %br/
  You Tube:
  = link_to('http://www.youtube.com/digitalchocolategame', 'http://www.youtube.com/digitalchocolategame')

%h2 About Digital Chocolate
= link_to('Digital Chocolate', 'http://www.digitalchocolate.com/about')
is a leading publisher of original, high-quality Omni games - games that reach
mass market consumers across all platforms and are driven by social value,
convenience and instant gratification.&nbsp; Consumers can &quot;Seize the
Minute!&quot; with a catalog of more than
= link_to('80 award-winning Digital Chocolate games', 'http://www.digitalchocolate.com/news')
available for Apple iPhone, smartphones, the web, Facebook, Xbox LIVE and
thousands of different mobile phones in more than 80 countries. Recently Digital
Chocolate had 4 different games chart at
= link_to('#1 in the App Store in 4 consecutive months', 'http://www.digitalchocolate.com/news/press-release/2009-03-20-dchoc-success-with-iphone.html')
including
#{link_to('Crazy Penguin Catapult', 'http://www.digitalchocolate.com/iphone/')},
#{link_to('3D Brick Breaker Deluxe', 'http://www.digitalchocolate.com/iphone/')},
#{link_to('3D Tower Bloxx Deluxe', 'http://www.digitalchocolate.com/iphone/')},
and
#{link_to('Mini Golf 99 Holes Theme Park', 'http://www.digitalchocolate.com/iphone/')}.
The company has major offices in San Mateo, Helsinki, Bangalore and Barcelona and
was founded in 2003 by Trip Hawkins, who was also the founder and CEO of
Electronic Arts. Digital Chocolate partners with major mobile and media companies including
#{link_to('Verizon', 'http://products.vzw.com/index.aspx?id=games&amp;bhcp=1')},
#{link_to('AT&amp;T', 'http://mediamall.wireless.att.com/sf/storefront/endUserHTMLDir.jsp?c1=CFWEB702&amp;dc=0&amp;pc=U')},
Vodafone, Fox, Paramount, HBO, Google, Nokia, Samsung, and Sony/Ericsson. Leading
competitors include Electronic Arts, Gameloft, I-Play and Glu Mobile. For more
information, please visit
#{link_to('www.digitalchocolate.com/iphone', 'http://www.digitalchocolate.com/iphone')}.

%p
  Find Digital Chocolate on the Web: Get updated with Digital Chocolate's latest
  product, promos and game tips! Visit us on
  #{link_to('Facebook', 'http://www.facebook.com/home.php?#/pages/Digital-Chocolate/5701089893?ref=ts')}
  ,
  #{link_to('MySpace', 'http://www.myspace.com/dchocgames')},
  #{link_to('YouTube', 'http://www.youtube.com/digitalchocolategame')},
  #{link_to('Twitter', 'http://www.twitter.com/dchocgames')}!
  Find us FAST by searching for dchoc. All trademarks referenced herein are the
  property of their respective owners.

- about_blurb(:offerpal)
%h2 Company Contact:
- press_contact(:tapjoy)
%h2 Media Contact:
- press_contact(:media)
