- @press_title = "Offerpal Media Partners with IMVU to Monetize Virtual Currency and Enrich the User Experience"
- @press_subtitle = "Avatar-based social network and virtual world integrates Offerpal Media's &quot;Managed Offer Platform&quot; enabling users to earn digital credits for free"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leader in advertising and
  monetization on social networks and applications, online games, virtual worlds,
  mobile apps and other online communities, today announced a partnership with
  #{link_to('IMVU', 'http://www.imvu.com/')}, an
  #{link_to('avatar-based social network and virtual world', 'http://www.imvu.com/signup/index.php')}
  with more than 35 million registered users and 5 million unique visitors per
  month. The two companies are working together to allow IMVU users to earn free
  digital credits for participating in any of Offerpal's 2,500+ scientifically
  targeted and relevant advertising offers, including free trials, big-brand
  discounts, online surveys and more.

%p
  &quot;We implemented Offerpal to further monetize our user base,&quot; said
  Kevin Dasch, IMVU's vice president of finance and business development.
  &quot;This platform provides yet another way for our loyal members to obtain
  IMVU credits, our virtual currency.&quot;

%p
  Offerpal Media's platform monetizes social traffic by enabling users to earn
  points or other types of virtual currencies in exchange for taking part in
  advertising offers. The virtual currencies earned for free can then be redeemed
  for in-game goods and services, thereby enriching the social experience and
  deepening user engagement. Offerpal has already helped hundreds of its
  publishing partners earn an average of $75 per day for every 1,000 Daily Active
  Users to their application &ndash; with eCPMs in the range of $150 &ndash; 200,
  often higher. In turn, advertisers are able to tap into Offerpal Media's
  expansive network of 50 million active and engaged social networking users.

%p
  Since launching in 2004, #{link_to('IMVU', 'http://www.imvu.com/about/')} has
  grown into one of the largest avatar-based social networks and virtual worlds.
  The online destination combines an expressive 3D environment where people meet
  and socialize with one another, within a thriving digital goods economy. IMVU
  has the world's largest
  #{link_to('digital goods catalog', 'http://www.imvu.com/neighborhoods/fashion')}
  with over 2 million items developed by more than 100,000 registered developers.

%p
  &quot;The social networking and virtual world space continues to grow at an
  exponential pace, and Offerpal is committed to providing highly effective
  monetization solutions for fast moving companies like IMVU,&quot; said Offerpal
  Media Founder and CEO Anu Shukla. &quot;The appeal of IMVU's exceptionally
  unique experience is a testament to the innovative nature of the company, and
  accounts for their very large and growing community of members. We are looking
  forward to helping IMVU continue to mold the future of online entertainment.&quot;

%h2 About IMVU
%p
  Founded in 2004, IMVU Inc. (#{link_to('www.imvu.com', 'http://www.imvu.com')}) is
  an avatar-based social network and virtual world where people meet and interact in
  3D. IMVU was named to the OnHollywood 100 List in 2009, won the 2008 Virtual
  Worlds Innovation Award and was also named a Rising Star in the 2008 Silicon
  Valley Technology Fast 50 program. The company has already reached major
  milestones, including 35 million registered users, 100,000 registered developers
  and over $1 million in revenue each month. Members of IMVU have fun meeting new
  people with similar interests and expressing themselves through personalizing
  their 3D avatars, digital rooms, music and home pages. IMVU offers the world's
  largest digital goods catalog with over 2 million items. Over 90 percent of IMVU's
  revenue is from the direct sale of virtual credits, used to purchase digital
  products. IMVU is backed by top venture investors Best Buy Capital, Menlo
  Ventures, Allegis Capital and Bridgescale Partners and is located in Palo Alto, CA.

- about_blurb(:offerpal)

%h2 Tapjoy Contact:
= press_contact(:tapjoy)

%h2 IMVU Contact:
= press_contact({ :name => 'Michael Volpatt for IMVU', :company => 'Larkin/Volpatt', :phone => '(415) 994-8864', :email => 'Michael@larkinvolpatt.com' })
