- @press_title = "Offerpal Media Partners with Tapjoy to Drive New Revenue Streams for iPhone Application Developers"
- @press_subtitle = "Joint solution monetizes and grows userbase for iPhone applications through virtual goods and rewarded installs"

%p
  - press_date(:fremont)
  #{link_to_offerpal}, the leading monetization platform for social networks,
  online games, virtual worlds and mobile applications, today announced a
  partnership with Tapjoy, developers of the public Tapjoy SDK, to provide iPhone
  application developers with new solutions to help them monetize their
  applications through the sale of virtual goods. The joint solution, is available
  today as part of Tapjoy's comprehensive Software Development Kit, a package of
  services built to help mobile app developers improve their apps and make them
  more profitable. The SDK can be downloaded for free in parts or its entirety
  at #{link_to_tapjoy}.

%p
  While Offerpal Media has been operating on the iPhone since January this year,
  the partnership with Tapjoy further extends the company's reach to all
  Tapjoy-enabled applications. Tapjoy's SDK also makes it easier than ever for
  iPhone app developers to integrate Offerpal's &quot;Managed Offer Platform&quot;
  as a native part of the user experience. A key feature of the joint solution is
  the ability for developers to grow their apps quickly through rewarded installs
  of active, engaged mobile gamers across the Tapjoy network of millions of users.

%p
  &quot;Until recently, mobile app developers have been at a disadvantage in terms
  of options to monetize their user base,&quot; said Anu Shukla, CEO and Founder
  of Offerpal Media. &quot;Developers have told us they need more options to
  monetize, and the joint Offerpal and Tapjoy solution will help many iPhone app
  developers make the leap to profitability more quickly and easily.&quot;

%p
  Tapjoy, also the developers of top-ranked iPhone apps such as TapDefense,
  TapSudoku and TapWord, used their key learnings from building their own apps to
  create the Tapjoy SDK. On top of the Offerpal virtual goods monetization and
  rewarded installs solutions, other services in the SDK include mobile ad network
  optimization, full app analytics, wagered tournaments, challenges between users,
  customizable rankings and leaderboards.

%p
  &quot;Offerpal Media is the largest virtual currency monetization solution, and
  we are delighted to be working with them,&quot; said Lee Linden, Co-founder of
  Tapjoy. &quot;This partnership is an exciting endeavor for us and reaffirms our
  commitment to delivering the most effective and reliable services to the mobile
  app development community.&quot;

%p
  Developers interested in learning more can visit Tapjoy at
  #{link_to_tapjoy} or email #{mail_to('publishersupport@tapjoy.com')}.

- about_blurb(:offerpal)

%h2 Tapjoy Contact:
= press_contact(:tapjoy)
