- @press_title = "Jolt Online Gaming Partners with Offerpal Media to Increase User Engagement, Generate New Revenue Stream"
- @press_subtitle = "Legends of Zork&trade; Publisher Deploys Offerpal Media's \"Managed Offer Platform\" to Monetize Virtual Currency"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leading monetization platform for
  social networks, applications, online games and virtual worlds, today announced
  a partnership with
  #{link_to('Jolt Online Gaming', 'http://www.joltonline.com/')}, one of the
  leading browser games publishers in the world, to monetize the virtual currency
  inside Jolt's latest game,
  #{link_to('Legends of Zork&trade;', 'http://legendsofzork.com/')}

%p
  Founded in 2008, Jolt Online Gaming's popular titles include
  #{link_to('Trukz.com', 'http://www.trukz.com/')},
  #{link_to('UtopiaKingdoms.com', 'http://www.utopiakingdoms.com/')},
  the cult favorite
  #{link_to('Swirve.com', 'http://swirve.com/')}, and, most recently,
  #{link_to('Legends of Zork&trade;', 'http://legendsofzork.com/')}
  an updated version of the much-loved classic adventure game from the 1970s.
  Jolt Online Gaming selected Offerpal Media's &quot;Managed Offer Platform&quot;
  to enable Legends of Zork players to earn the game's virtual currency
  &quot;Coconuts,&quot; for free by taking part in demographically and
  behaviorally targeted consumer advertising offers such as free trials,
  big-brand discounts,online surveys and more. &quot;Coconuts&quot; can be used to
  purchase &quot;Perks,&quot; which give the players certain in-game advantages
  such as &quot;Action Points,&quot; &quot;Trap Avoidance Spells,&quot; and
  various other items.

%p
  &quot;The Offerpal Media platform checked all the boxes for us,&quot; said Dylan
  Collins, CEO of Jolt Online Gaming. &quot;Their advertising offers provide the
  perfect middle ground for users who aren't yet willing to spend real dollars on
  their favorite games, but are deeply engaged and want to earn virtual currency.
  The beauty of Offerpal's solution is that users are rewarded for their efforts
  and become more deeply engaged with the game.&quot;

%p
  Offerpal Media has already helped hundreds of its publishing partners earn eCPM
  rates in the hundreds of dollars as the monetization solution of choice on
  #{link_to('Facebook', 'http://www.facebook.com')},
  #{link_to('Myspace', 'http://www.myspace.com/')},
  #{link_to('Bebo', 'http://www.bebo.com/c/site/index')},
  #{link_to('hi5', 'http://hi5.com/')},
  and dozens of other social websites such as
  #{link_to('WeeWorld', 'http://www.weeworld.com/')},
  #{link_to('SmallWorlds', 'http://www.smallworlds.com/')},
  #{link_to('Aeria Games', 'http://www.aeriagames.com/')},
  #{link_to('Outspark', 'http://www.outspark.com/')}, and also on the
  #{link_to('Apple iPhone', 'http://www.apple.com/iphone/')}.
  Unlike traditional online advertisements, Offerpal's targeted, non-intrusive
  offers are an embedded part of the gaming experience, engaging with consumers
  rather than distracting them. The virtual currency-based program keeps users
  coming back to the publisher's property again and again, thus enhancing the game
  experience and increasing its stickiness.

%p
  &quot;Legends of Zork has a dedicated following of both original fans from the
  game's 70s incarnation and a new audience of online-gamers, and virtual currency
  is a vital element to the user's experience,&quot; said Anu Shukla, CEO and
  Founder of Offerpal Media. &quot;Integrating Offerpal's platform with
  Zork's&trade; virtual currency not only provides a way for users to earn
  &quot;coconuts&quot; for free, but it generates a significant and reliable
  incremental revenue stream for Jolt Gaming.&quot;

%h2 About Jolt Online Gaming
%p
  Jolt Online Gaming is one of the leading Browser Games publishers in the world.
  The company is headquartered in Dublin, Ireland with operations in Los Angeles and
  Germany. Its games include the trucking RPG known as Trukz.com, the eagerly
  anticipated UtopiaKingdoms.com, and the cult favourite Swirve.com. More
  information can be found at
  #{link_to('www.joltonline.com', 'http://www.joltonline.com')}.

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)
