- @press_title = "Offerpal Media Appoints Bill Lonergan as Chief Financial Officer"
- @press_subtitle = "Seasoned Executive Assumes Responsibility For all Finance Operations During Company's Extreme Growth"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')} the leading monetization platform for
  social applications and destination web sites such as social networks, online
  games and virtual worlds, recently named Bill Lonergan as its new Chief
  Financial Officer. With the company experiencing extreme growth and having
  recently received a $15 million Series B round of venture capital funding,
  Mr. Lonergan was hired to oversee Offerpal Media's entire finance operations
  and other key functions.

%p
  &quot;We are extremely pleased to welcome Bill to Offerpal Media's management
  team,&quot; said Anu Shukla, Founder and CEO of Offerpal Media. &quot;He brings
  a broad base of financial experience and global expertise to the company, as
  well as a stellar reputation within the industry. I am confident that Bill will
  provide the financial leadership needed to help drive Offerpal Media's growth
  and international expansion, while maintaining our track record of financial
  excellence.&quot;

%p
  A seasoned executive, Mr. Lonergan has more than 25 years of financial
  management experience helping technology companies achieve and manage rapid
  revenue growth and gains in market share. Most recently, Mr. Lonergan served as CFO with
  #{link_to('Blue Lithium', 'http://www.bluelithium.com/')},
  where he oversaw all finance, operations and corporate development. He was also
  responsible for coordinating the due diligence activities relating to the $325
  million acquisition of Blue Lithium by
  #{link_to('Yahoo', 'http://www.yahoo.com/')}.

%p
  Prior to Blue Lithium, Mr. Lonergan was CFO of
  #{link_to('LookSmart', 'http://www.looksmart.com/')}
  , where he was instrumental in transitioning the company from a search-listing
  directory to vertical search technology provider. Before his tenure at LookSmart, he was at
  #{link_to('Tacit Software', 'http://www.oracle.com/tacitsoftware/index.html')}
  ,an enterprise software company focused on expertise location, and previously he
  was a senior partner at
  #{link_to('KPMG LLP', 'http://www.kpmg.com/Global/Pages/default.aspx')}.
  Mr. Lonergan is a C.P.A., a Chartered Accountant, and a graduate of the
  University of Durham, England. &quot;With Offerpal's explosive growth to date
  and success working with over 1,000 social Web publishers, this is a wonderful
  time to come on board,&quot; said Bill Lonergan, Chief Financial Officer at
  Offerpal Media. &quot;I am excited to join the accomplished management team at
  Offerpal to build on the work already accomplished in creating value and
  financial success for the company and its partners.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
