- @press_title = "Offerpal Media Launches Monetization Platform for iPhone Applications"
- @press_subtitle = "Popular MySpace, Facebook solution continues to extend its reach to new platforms"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, today announced that its
  #{link_to('Managed Offer Platform', 'http://www.offerpal.com/platform.php')} is
  now available for the Apple iPhone, providing platform developers with the first
  solution to generate significant revenues from their applications. Already the
  leading monetization solution for applications on
  #{link_to('Facebook', 'http://www.facebook.com')},
  #{link_to('Myspace', 'http://www.myspace.com/')},
  #{link_to('Bebo', 'http://www.bebo.com/c/site/index')},
  #{link_to('hi5', 'http://hi5.com/')},
  and dozens of other social networks as well as social gaming sites and virtual
  worlds such as
  #{link_to('WeeWorld', 'http://www.weeworld.com/')},
  #{link_to('Aeria Games', 'http://www.aeriagames.com/')}, and
  #{link_to('Acclaim Games', 'http://www.acclaim.com/')},
  Offerpal Media has helped hundreds of its publishing partners earn eCPM rates in
  the hundreds of dollars. Now,
  #{link_to('iPhone', 'http://www.apple.com/iphone/')} application developers can
  similarly monetize and engage their users.

%p
  &quot;We view the iPhone as the next big application platform,&quot; said Anu
  Shukla, Founder & CEO of Offerpal Media. &quot;At last count there were more
  than 10,000 iPhone applications, most of which are free or extremely low cost to
  use and have yet to provide developers with any significant revenues. Offerpal
  Media gives iPhone developers a simple yet successful way to generate incredible
  revenues.&quot;

%p
  Offerpal Media's platform monetizes developer traffic by enabling iPhone users
  to earn points or other types of virtual currencies in exchange for taking part
  in scientifically targeted and relevant advertising offers such as free trials,
  online surveys, big-brand discounts and more. The virtual currencies are then
  redeemed by purchasing virtual goods or services from the developers.

%p
  Offerpal Media's &quot;Managed Offer Platform&quot; is a full-service, turnkey
  advertising solution that can be embedded into any iPhone application simply by
  inserting a snippet of code. The platform comes complete with:

%ul
  %li
    %strong 2,000+ advertising offers
    \- dynamically rotated for targeting and relevancy
  %li
    %strong Real-time optimization
    \- to maximize publisher revenues and ensure high lead quality
  %li
    %strong Customer support
    \- available 24/7 to handle users' questions and issues
  %li
    %strong Web-based reporting
    \- allowing publishers to track their revenues and activities in real-time
  %li
    %strong Account management
    \- personalized service to help optimize revenues from every angle

%p
  Offerpal Media is currently accepting submissions from iPhone application
  developers who are interested in participating in the company's iPhone beta
  program. Developers on other platforms have generated a network-wide average of
  $75 per day for every 1,000 Daily Active Users to their application - with eCPMs
  in the range of $150 &ndash; 200, often higher - and initial tests show that
  iPhone developers can expect to earn at least as much. To join the program,
  developers should contact Offerpal Media directly by emailing
  #{mail_to('info@offerpal.com')} with the subject line &quot;iPhone
  Developer.&quot;

- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)

%h2 Media Information:
= press_contact(:media)
