- @press_title = "Offerpal Media Partners With Outspark"
- @press_subtitle = "Giving gamers a targeted offer-based program to earn free SparkCash"

%p
  - press_date(:fremont)
  #{link_to_offerpal('Offerpal Media')}, the leading offer platform for social applications, social networks, social
  games, virtual worlds and mobile applications, today announced a partnership with
  #{link_to('Outspark', 'http://www.outspark.com/')},
  the leading online virtual playground combining free to play games with
  personalized social experiences. The two companies are working together on a
  program that allows members of the Oustpark community to earn free SparkCash for
  participating in targeted advertising offers including free trials, big-brand
  discounts, online surveys and more.

%p
  Offerpal Media already helps more than 800 social Web publishers earn eCPM rates
  in the hundreds of dollars. Now, Outspark, home to an online community of more
  than 4 million and publisher of popular games including
  #{link_to('Fiesta', 'http://fiesta.outspark.com/')},
  #{link_to('Secret of the Solstice', 'http://solstice.outspark.com/')}
  #{link_to('Wind Slayer', 'http://windslayer.outspark.com/')}, and
  #{link_to('Project Powder', 'http://projectpowder.outspark.com/')}
  will leverage Offerpal Media's Managed Offer Platform to enhance its in-game
  monetization capabilities. Gamers can use the SparkCash they earn through the
  program to purchase hundreds of unique digital items in all games, including
  clothing, weapons, pets, power-ups and more.

%p
  &quot;We're excited to be working with Offerpal to give our users great ways to
  earn free SparkCash,&quot; said Wilson Kriegel, VP Business Development at
  Outspark. &quot;With SparkCash, users can purchase in-game items and portal
  items for themselves and their friends. Offerpal allows more of our users to
  customize their gaming experience.&quot;

%p
  Since its debut in late 2007, the Outspark community has grown to include
  millions of teens and young adults between the ages of 15 and 25. Located
  primarily in the United States and European Union, community members enjoy
  spending time in Outspark games and socializing at Outspark.com, which features
  robust social networking features including user profiles, buddy lists, comment
  walls, virtual gifts, videos and more.

%p
  &quot;Both advertisers and publishers are taking advantage of the free-to-play
  online gaming industry,&quot; said Anu Shukla, CEO and Founder of Offerpal
  Media. &quot;Outspark has smartly targeted the 15- to 25-year-old consumer
  sector, offering them a wide range of stimulating, quality games. We are
  excited to partner with them and provide highly effective monetization solutions
  for their platform and the broader social Web.&quot;

%h2 About Outspark
%p
  Outspark is a leading entertainment services company that publishes and operates
  engaging online multiplayer games. Featuring a portfolio of immersive
  free-to-play games and related content, the company is building an online
  destination where members come for the games and stay for the community. Backed
  by Tencent, Altos Ventures and DCM, Outspark is headquartered in San Francisco,
  Calif., with a subsidiary office in Seoul, Korea. For more information, visit
  #{link_to('www.outspark.com', 'http://www.outspark.com')}.


- about_blurb(:offerpal)

%h2 Contact Information:
= press_contact(:tapjoy)
