- @press_title = "Offerpal Media Names George Garrick CEO"
- @press_subtitle = "Veteran Industry Executive Tapped to Lead Company's Next Phase of Growth"

%p
  - press_date(:fremont)
  Offerpal Media, the leader in virtual currency monetization for online games,
  virtual worlds and social networks, announced today that George Garrick has
  been named chief executive officer.

%p
  Garrick brings more than 25 years of experience in technology, advertising and
  consumer businesses to Offerpal Media. His track record of accelerating revenue
  growth and brokering strategic relationships with customers and partners will be
  critical assets in leading Offerpal Media.

%p
  &quot;I am extremely excited about the opportunity to lead Offerpal Media going
  forward,&quot; said Garrick. &quot;The social gaming and virtual goods space is
  an exciting and exploding industry and Offerpal is centrally positioned as the
  leading payments and offers platform supporting content developers, publishers,
  marketers, and of course, consumers. We have a great team of people and I am
  looking forward to working with them in defining where we go from here and in
  taking Offerpal to the next level.&quot;

%p
  Garrick was part of the management team that took Information Resources, Inc.
  from $2 million to $300 million in revenue.&nbsp;&nbsp; Garrick served in London
  as President-IRI Europe, launching IRI services in France, Germany, Italy,
  Netherlands and Turkey, and later became CEO-North America.

%p
  As CEO of Flycast Communications, Garrick repositioned the startup into the
  Internet's first major direct-response advertising network leading it to a
  $500 million IPO and a subsequent sale for $2.3 billion. As Chairman and CEO of
  PlaceWare Inc., Garrick guided the company to an acquisition by Microsoft for
  $200 million. More recently, Garrick has served as CEO of Wine.com, Jingle
  Networks and Mochi Media.

%p
  &quot;I have known George for a long time,&quot; said Anu Shukla, Founder of
  Offerpal Media. &quot;After many months of searching, I believe that George is
  the best CEO to scale the company to new heights. I am looking forward to
  working with him closely.&quot;

%p
  &quot;Offerpal Media has done a tremendous job of pioneering and becoming the
  leader in the virtual currency monetization space,&quot; said Doug Pepper,
  General Partner at InterWest Partners. &quot;George's unique executive
  capabilities, deep experience in the advertising industry, and track record of
  building successful companies are exactly what Offerpal Media needs at this stage.&quot;

%p
  Garrick holds bachelor and Master of Science degrees from Purdue University in
  math, engineering and business, as well as two U.S. Patents.

%h2 Supporting Resources:
%ul
  %li= link_to('George Garrick bio', 'http://www.offerpalmedia.com/management-team.php')
  %li= link_to('George Garrick executive photo', 'http://www.flickr.com/search/?q=Offerpal+Media&amp;s=rec')
  %li= link_to('Offerpal Media', 'http://www.offerpalmedia.com/index.php')
  %li= link_to('Offerpal Media blog', 'http://myofferpal.wordpress.com/')
  %li= link_to('Offerpal Media Twitter page', 'http://twitter.com/Offerpal')

- about_blurb(:offerpal)
%h2 Company Contact:
= press_contact(:tapjoy)
%h2 Media Contact:
= press_contact(:media)
