- @press_title = "Offerpal Media Launches New Rewards Program for Gamers to Earn Virtual Currency by Shopping Online"
- @press_subtitle = "Offerpal Shopping awards virtual currency for purchases made at hundreds of brand-name retailers; currency can be used in thousands of online games and social networks"

%p
  - press_date(:fremont)
  Offerpal Media (#{link_to_offerpal}), the leader in virtual currency payment
  alternatives, today announced &quot;Offerpal Shopping,&quot; a new way for
  consumers to earn virtual currency for use in their favorite online games and
  social networks by shopping at brand-name retailers. The new service enables
  consumers to receive virtual currency back for every dollar they spend at
  hundreds of online retailers in categories including clothing and accessories,
  electronics, entertainment, food, furniture, gifts, services, software, sports,
  travel and more. Shoppers are typically reimbursed the equivalent of 5 to 10%
  of their purchase in virtual currency, with many reimbursements up to 30% or more.

%p
  &quot;Our goal has always been to give consumers an alternative to paying for
  virtual currency by letting them earn it instead&mdash;whether by filling out
  ad offers, completing surveys, or now simply by shopping for the types of goods
  and services they already use every day,&quot; said George Garrick, CEO of
  Offerpal Media. &quot;We are also proud to deliver a new way for game developers
  to monetize their traffic and reward their most loyal users.&quot;

%p
  Offerpal Shopping is available as a tab within the Offerpal I-frame, which can
  be found in more than 2,000 online games, social networks and virtual worlds
  throughout the Web. Users can browse through the hundreds of available retailers
  and make informed purchasing decisions based on important details provided by
  Offerpal, including a description of the products, the amount of virtual
  currency awarded, the minimum purchase requirements, and the length of time it
  takes to receive the virtual currency&mdash;typically 1-2 days.&nbsp;

%p
  A small sampling of the retailers currently in the system includes:

%table.stats{:width => '100%', :border => 0, :cellspacing => 0, :cellpadding => 5}
  %tr
    %th{:width => "29%"} Category
    %th{:width => "30%"} Partner
    %th{:width => "41%"} Virtual Currency Awarded
  %tr
    %td
      Health &amp; Beauty
      %br/
      Gifts
      %br/
      Clothes
      %br/
      Software
      %br/
      Sports
      %br/
      Furniture
      %br/
      Electronics
      %br/
      Travel
      %br/
      Art/Music/Photo
      %br/
      Department Store
    %td
      24 Hour Fitness
      %br/
      Proflowers
      %br/
      Gap
      %br/
      McAfee
      %br/
      Eastern Mountain Sports
      %br/
      CostPlus
      %br/
      Buy.com
      %br/
      Priceline
      %br/
      Snapfish
      %br/
      Macy&quot;s&nbsp;
    %td
      5 &ndash; 10%
      %br/
      10%
      %br/
      4%
      %br/
      18%
      %br/
      7%
      %br/
      5%
      %br/
      3 &ndash; 8%
      %br/
      2%
      %br/
      8%
      %br/
      4%

%p
  For developers of social gaming applications and web sites, Offerpal Shopping
  increases revenues by introducing a new payment option and monetizing users who
  are not likely to purchase virtual currency directly. It can be turned on or off
  as a tab within the main I-frame, and will also be available as a standalone
  I-frame for developers interested in a separate integration. Early tests of
  Offerpal Shopping demonstrated a clear lift in both incremental revenue and
  payment conversions for the company's publishing partners. For more information,
  developers can contact #{mail_to('publishersupport@offerpal.com')}.
%p
  Retailers interested in promoting their products through Offerpal Shopping can
  contact #{mail_to('info@offerpal.com')}.

- about_blurb(:offerpal)
%h2 Company Contact:
= press_contact(:tapjoy)
%h2 Media Contact:
= press_contact(:media)

- content_for :page_styles do
  :plain
    table.stats {
      border:1px solid #cccccc;
    }
    table.stats th {
      height: 28px;
      font-size: 1.2em;
      border-bottom:1px solid #cccccc;
      border-right:1px solid #cccccc;
    }
    table.stats td {
      border-right: 1px solid #cccccc;
      padding-left: 4px;
    }
