- @press_title = "Tapjoy Closes $21 Million Funding to Accelerate Growth as the Clear Leader in Monetization and Distribution for Application Developers"
- @press_subtitle = "Financing led by Rho Ventures includes participation from all existing investors"

%p
  - press_date
  Tapjoy, Inc. (#{link_to_tapjoy}), the leader in monetization, distribution and
  publishing services for social and mobile applications, today announced $21
  million in financing led by Rho Ventures, with participation from all existing
  investors including InterWest Partners, North Bridge Venture Partners and D. E.
  Shaw Ventures.

%p
  The round brings the company's total funding to over $40 million. The new
  capital will be used to further solidify Tapjoy's leadership in application
  distribution and monetization on the iOS, Android and Facebook platforms as
  well as to fund growth across emerging application ecosystems domestically and
  internationally. Tapjoy will also use the funds to further invest in
  application media licensing and incubation opportunities.

%p
  &quot;This is a very exciting time to be an application developer, with
  opportunities that span across platforms and regions. We are thrilled to
  support application entrepreneurs with our industry leading infrastructure,
  monetization and distribution IP and services,&quot; said Mihir Shah,
  president and CEO of Tapjoy. &quot;We also look forward to continuing our
  strong and dedicated working relationships with Apple, Facebook, Google, Yahoo
  and the other social and mobile platforms we invest in and support.&quot;

%p
  Along with the financing, Rho Ventures managing partner Mark Leschly joins
  Tapjoy's board of directors. &quot;We are very pleased to welcome Tapjoy to
  Rho's portfolio of market-leading technology and new media companies,&quot;
  said Leschly. &quot;Tapjoy is the clear leader in a fast-growing space, and we
  believe they are in a solid position with their seasoned executive team,
  proprietary technology and innovative product offerings to succeed in dramatic
  fashion.&quot;

%p
  Since its last funding round, Tapjoy has continually rolled out
  industry-leading product lines including new alternative payment solutions for
  social developers and a turnkey virtual goods storefront for mobile developers.
  The company's distribution services include the cross-platform viral
  notification channel Social K-Factor (formally called SocialKast), the
  cross-app promotion bar AppStrip, and the industry's most powerful and
  cost-effective Pay-Per-Install advertising network.

%p
  Today more than 5,000 app developers and advertisers partner with Tapjoy for
  monetization and distribution of their games and applications, including
  GameDuell, Tapulous, Glu, Pinger, Playdom, Kayak, Barnes &amp; Noble, MTV,
  Bing, Fandango, Groupon, Intuit and many more.

%p
  &quot;Tapjoy is a leader in mobile advertising solutions and will continue to
  be a key strategic partner for Glu as we expand our portfolio of freemium,
  social mobile games,&quot; said Niccolo de Masi, president and CEO of Glu
  Mobile, a leading global publisher of games for smartphone and tablet devices.
  &quot;Their understanding of market dynamics, best practices in mobile
  advertising, and timely management of promotional campaigns make them a valued
  partner in the mobile gaming space.&quot;

%p
  &quot;We were amazed at how effective Tapjoy was. Their campaign gave our apps
  a huge boost, helping us acquire high-quality, engaged new users very quickly,
  &quot; said Chris Spore, director of online marketing at Myspace. Added Derek
  van Vliet, director at Get Set Games, &quot;We added Tapjoy's virtual currency
  support over the course of a weekend; it was that easy. When the update was
  released, our ARPDAU immediately tripled.&quot;

%p
  Added Shah, &quot;I'm very pleased with how Tapjoy has executed through a year
  of change throughout the market. I'm proud of our team for their hard, smart
  and dedicated work, and we've come out stronger and more diversified because of
  it.&quot;

%h2 About Rho Ventures
%p
  Rho Ventures (#{ link_to("www.rho.com", "http://www.rho.com") }) has a
  multi-stage investing strategy focused on high-growth companies in large
  markets. Rho Ventures' investments span new media, healthcare, IT,
  communications, energy technology and otherdisruptive technologies. Rho Ventures
  brings nearly 30 years of venture experience, combined with its partners' deep
  sector expertise and its far-reaching network to assist each portfolio company.
  This approach has allowed Rho to participate in the growth of some of today's
  most innovative and successful companies, including Active Power, Capstone
  Turbine, Ciena, Compaq Computer, EverydayHealth.com, Gloucester Pharmaceuticals,
  Human Genome Sciences, Intralinks, iVillage, MedImmune, ReachLocal, Shire
  Pharmaceuticals and Tacoda. Rho Ventures is currently investing from Rho
  Ventures VI, a $510 million fund. The firm has offices in Palo Alto, New York and
  Montreal, with investments across the globe.

%h2 About Tapjoy, Inc.
%p
  Tapjoy is the leader in monetization, distribution and publishing services for
  social games, mobile applications, virtual worlds, MMOs and other social
  publishers. The company's turnkey alternative payment platform enables developers
  to significantly increase their monetization rates when selling virtual goods or
  premium digital assets, while its cross-platform distribution services provide
  massive reach and cost-effective user acquisition on the leading social, mobile
  and gaming platforms. The company is headquartered in San Francisco, California.
  Investors include Rho Ventures, Interwest Capital, North Bridge Venture Partners,
  and D. E. Shaw Ventures. For more information, visit #{link_to_tapjoy}.

%p &nbsp;
%h2 Company Contact:
= press_contact(:tapjoy)
%h2 Media Contact:
= press_contact(:media)
