- @press_title = "Tapjoy Helps Fuel the Growth of Glu's Gun Bros App on Mobile Platforms"
- @press_subtitle = "Increases monetization rates while providing scalable, effective user acquisition"

%p
  - press_date
  Tapjoy, Inc. (#{link_to_tapjoy}) today announced that it successfully helped Glu Mobile Inc. (#{link_to('NASDAQ: GLUU', 'http://www.google.com/finance?q=NASDAQ:GLUU')}), a leading global publisher of social games for smartphone and tablet devices, fuel the revenue and audience growth of its latest hit game, Gun Bros. Tapjoy's alternative payment platform helped Glu improve Gun Bros' monetization rates, while its app distribution network provided scalable and effective promotion.

%p
  &quot;The success of Gun Bros validates our strategy of building high-quality, freemium games that monetize through microtransactions, in-game advertising and offers,&quot; said Michael Breslin, vice president of marketing for Glu. &quot;Tapjoy is an ideal partner to help us both monetize and distribute our games because they truly understand what it takes to build a successful freemium business on mobile platforms.&quot;

%p
  Downloaded by more than 6.8 million consumers on iPhone, iPod, iPad and Android devices, Gun Bros provides players with a mix of action, story and comedy during adventures full of adrenaline and a large variety of over-the-top guns.

%p
  Tapjoy enables Gun Bros players to earn the game's virtual currency, War Bucks, for free in exchange for taking part in targeted, high-quality advertising offers or for downloading and trying other, relevant apps. War Bucks can then be redeemed to purchase in-game items such as new guns, armor and explosive power-ups.

%p
  For the complete case study on Tapjoy's partnership with Glu Mobile, visit #{link_to 'www.tapjoy.com/glu.pdf', '/glu.pdf'}.

%h2 About Glu Mobile

%p
  Glu Mobile (NASDAQ:GLUU) is a leading global publisher of social games for smartphone and tablet devices. Glu's unique technology platform enables its titles to be accessible to a broad audience of consumers all over the world - supporting iOS, Android, Palm, Windows Phone 7 devices and beyond. Glu is focused on bringing the best in social, freemium, cross-platform mobile gaming experiences to the mass market. Founded in 2001, Glu is headquartered in San Francisco and has major offices in Brazil, China, Russia and the UK. Glu is focused on creating compelling original IP and also partners with leading entertainment brands including Activision, Atari, Caesar's and Fox. Consumers can find high-quality, fresh entertainment created exclusively for their mobile devices wherever they see the 'g' character logo or at http://www.glu.com/. For live updates, please follow Glu via Twitter at www.twitter.com/glumobile or become a Glu fan at Facebook.com/glumobile.

- about_blurb

%h2 Tapjoy Contact:
= press_contact(:tapjoy)
%h2 Media Contact:
= press_contact(:media)