- @press_title = @press_release.content_title
- @press_subtitle = @press_release.content_subtitle
= @press_release.content

- content_for :additional_info do
  %h2 About Tapjoy
  %p
    Tapjoy is a value exchange mobile ad network whose unique Mobile Value
    Exchange&trade; model allows users to select personalized advertisements
    with which to engage for virtual currency or premium content. Tapjoy
    helps unlock mobile joy by empowering more than 280 million mobile users
    who choose to watch videos, subscribe to services, install applications,
    and participate in other types of advertisements in exchange for virtual
    currency they can use in their favorite apps. Tapjoy's turnkey in-app
    advertising platform helps developers acquire cost-effective, high-value
    new users and monetize their applications, while its powerful advertising
    marketplace lets brand advertisers reach a global mobile audience spanning
    more than 10,000 applications. Tapjoy is backed by top-tier investors
    including J.P.Morgan Asset Management, Rho Ventures, North Bridge Venture
    Partners, InterWest Partners, and D.E. Shaw Ventures. Headquartered in San
    Francisco, the company also has offices in New York, Los Angeles, Chicago,
    London, and Tokyo. For more information, please visit
    #{link_to 'www.tapjoy.com', "#{WEBSITE_URL}/"}.

    Tapjoy and the Tapjoy logo are trademarks or registered trademarks of
    Tapjoy, Inc. All third party logos and trademarks mentioned are the
    property of their respective owners.

  %h2 Tapjoy Contact
  = press_contact(:tapjoy)
  %h2 Media Contact
  = press_contact(:media)
  - unless @press_release.content_contact.blank?
    = @press_release.content_contact
