- @page_title = 'Award Currencies'

- if has_permissions_for_one_of?(:account_mgr, :customer_service, :admin)
  %h1= @page_title
  - form_tag({ :action => 'update_award_currencies', :publisher_app_id => params[:publisher_app_id], :currency_id => params[:currency_id], :udid => params[:udid], :amount => @amount }, { :class => 'tjform' }) do
    %table
      %tbody
        %tr
          %th Publisher App Name
          %td= @publisher_app.name
        %tr
          %th Publisher App ID
          %td= @publisher_app.id
        %tr
          %th Device ID
          %td
            = params[:udid]
        %tr
          %th Publisher User ID
          %td= @publisher_user_id
        %tr
          %th Currency ID
          %td= params[:currency_id]
        %tr
          %th
            Award Amount
          %td
            = text_field_tag 'amount', @amount, :size => '50'
        %tr
          %td{ :colspan => 2 }
            = hidden_field_tag 'publisher_user_id', @publisher_user_id
            = submit_tag 'Award'
