- @page_title = 'Disabled Popular Offers'

%h1 Disabled Popular Offers

%table#apps_table.tablesorter
  %thead
    %tr
      %th # users
      %th Offer name
      %th Partner name
      %th Store url
      %th Price
      %th Balance
      %th Pending Earnings
      %th Daily budget
      %th Payment
      %th Tapjoy enabled
  %tbody#apps_tbody
    - @offers.each do |offer|
      %tr
        %td= @offers_count_hash[offer.id]
        %td= link_to(offer.name_with_suffix, statz_path(offer.id))
        %td= offer.partner.name
        %td
          - if offer.item_type == 'App' && !offer.item.store_id.blank?
            = link_to(offer.item.store_id, offer.item.info_url)
          - else
            None
        %td= number_to_currency(offer.price / 100.0)
        %td= number_to_currency(offer.partner.balance / 100.0)
        %td= number_to_currency(offer.partner.pending_earnings / 100.0)
        %td= offer.daily_budget
        %td= number_to_currency(offer.payment / 100.0)
        %td= offer.tapjoy_enabled

- content_for :page_javascript do
  :plain
    $(function() {
      $.tablesorter.addParser({
        id: 'currency-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/\$/g, '').replace(/,/g, '');
        }
      });
      $("#apps_table").tablesorter({
        widgets: ['zebra'],
        headers: {
          4: { sorter: 'currency-column' },
          5: { sorter: 'currency-column' },
          6: { sorter: 'currency-column' },
          8: { sorter: 'currency-column' }
        },
        sortList: [ [0, 1, 2] ]
      });
    });
