- @page_title = 'Tools'

.page-header
  %h1
    Tools
    - if permitted_to? :show, :dashboard_statz
      = text_field_tag 'search_offer',   '', :size => '40', :placeholder => 'Search Offer', :class => 'search-query input-medium'
    - if permitted_to? :show, :dashboard_partners
      = text_field_tag 'search_partner', '', :size => '40', :placeholder => 'Search Partner', :class => 'search-query input-medium'

- if has_permissions_for_one_of? :payops, :payout_manager, :executive, :account_mgr
  .page-header
    %h3 Money
  %ul
    - if permitted_to? :failed_invoices, :dashboard_tools_orders          # payops
      %li= link_to 'Failed Invoices', failed_invoices_tools_orders_path
    - if permitted_to? :index, :dashboard_tools_payouts                   # payops
      %li= link_to 'Payouts', tools_payouts_path
    - if permitted_to? :index, :dashboard_tools_payout_freezes            # payops
      %li= link_to 'Payout Freezes', tools_payout_freezes_path
    - if permitted_to? :index, :dashboard_tools_network_costs             # payops
      %li= link_to 'Network Costs', tools_network_costs_path
    - if permitted_to? :publishers_without_payout_info, :dashboard_tools  # payout_manager
      %li= link_to 'Pubs Without W9', publishers_without_payout_info_tools_path
    - if permitted_to? :publisher_payout_info_changes, :dashboard_tools   # payout_manager
      %li= link_to 'Payout Info Changes', publisher_payout_info_changes_tools_path
    - if permitted_to? :money, :dashboard_tools                           # money, executive
      %li= link_to 'Money', money_tools_path
    - if permitted_to? :monthly_data, :dashboard_tools                    # money, executive
      %li= link_to 'Monthly Data', monthly_data_tools_path
    - if permitted_to? :partner_monthly_balance, :dashboard_tools         # money, executive
      - # TODO: FIX ROUTE
      - # %li= link_to 'Partner Monthly Balance', partner_monthly_balance_tools_path
    - if permitted_to? :new_transfer, :dashboard_tools                    # account_mgr
      %li= link_to 'Transfer Funds', new_transfer_tools_path

- if has_permissions_for_one_of? :admin
  .page-header
    %h3 Admin
  %ul
    %li= link_to 'Failed Sdb Saves', failed_sdb_saves_tools_path
    %li= link_to 'SQS Lengths', sqs_lengths_tools_path
    %li= link_to 'SDB Metadata', sdb_metadata_tools_path
    %li= link_to 'SES Status', ses_status_tools_path
    %li= link_to 'Job Configuration', tools_jobs_path
    %li= link_to 'Recommenders', tools_recommenders_path
    %li= link_to 'Fix stuck rewards', fix_rewards_tools_path

- if has_permissions_for_one_of? :games_editor
  .page-header
    %h3 Marketplace
  %ul
    %li= link_to 'Editor\'s Choices', tools_editors_picks_path
    %li= link_to 'App Reviews', tools_app_reviews_path
    %li= link_to 'My Apps Featured Content', tools_featured_contents_path

- if has_permissions_for_one_of? :account_mgr, :role_mgr, :partner_changer
  .page-header
    %h3 Account Management
  %ul
    - if permitted_to? :index, :dashboard_tools_offer_lists                 # account_mgr
      %li= link_to 'View Offer Lists', tools_offer_lists_path
    - if permitted_to? :index, :dashboard_tools_generic_offers              # account_mgr
      %li= link_to 'View Generic Offers', tools_generic_offers_path
    - if permitted_to? :edit, :dashboard_statz                              # account_mgr
      %li
        = link_to 'Approve Creatives', creative_tools_offers_path
        %span.badge.badge-info= CreativeApprovalQueue.count
    - if permitted_to? :index, :dashboard_activities                        # account_mgr
      %li= link_to 'Activity Log', activities_path
    - if permitted_to? :disabled_popular_offers, :dashboard_tools           # account_mgr
      %li= link_to 'Disabled Popular Offers', disabled_popular_offers_tools_path
    - if permitted_to? :index, :dashboard_tools_rank_boosts                 # account_mgr
      %li= link_to 'Manage Rank Boosts', tools_rank_boosts_path
    - if permitted_to? :sanitize_users, :dashboard_tools                    # account_mgr
      %li= link_to 'Sanitize Users Table', sanitize_users_tools_path
    - if permitted_to? :create, :dashboard_tools_users_role_assignments     # account_mgr, role_mgr
      %li= link_to 'Manage user roles', tools_users_path
    - if permitted_to? :create, :dashboard_tools_users_partner_assignments  # account_mgr
      %li= link_to 'Manage user partners', tools_users_path
    - if permitted_to? :index, :dashboard_tools_premier_partners            # account_mgr
      %li= link_to 'Premier Partners', tools_premier_partners_path
    - if permitted_to? :index, :dashboard_tools_enable_offer_requests       # account_mgr
      %li= link_to 'Enable Requests', tools_enable_offer_requests_path
    - if permitted_to? :index, :dashboard_tools_offer_events                # account_mgr
      %li= link_to 'Schedule Offer Events', tools_offer_events_path
    - if permitted_to? :index, :dashboard_tools_external_publishers         # account_mgr
      %li= link_to 'External Publishers', tools_external_publishers_path
    - if permitted_to? :index, :dashboard_tools_agency_users                # account_mgr
      %li= link_to 'Agency Users', tools_agency_users_path
    - if permitted_to? :index, :dashboard_tools_partner_program_dashboard_statz       # account_mgr
      %li= link_to 'Tapjoy Sponsored Publishers', tools_partner_program_statz_index_path
    - if permitted_to? :index, :dashboard_tools_currency_approvals          # account_mgr
      %li= link_to 'Virtual Currency Requests', tools_currency_approvals_path
    - if permitted_to? :index, :dashboard_tools_survey_offers               # account_mgr
      %li= link_to 'Survey Offers', tools_survey_offers_path
    - if permitted_to? :index, :dashboard_tools_brand_offers                # account_mgr
      - # TODO: FIX ROUTE
      - # %li= link_to 'Associate Brands with Offers', tools_brand_offers_path
    - if permitted_to? :index, :dashboard_tools_clients                     # account_mgr
      %li= link_to 'Manage Clients', tools_clients_path
    - if permitted_to? :index, :dashboard_tools_partner_changes             # partner_changer
      %li= link_to 'Partner Changes', tools_partner_changes_path
    - if permitted_to? :index, :dashboard_tools_partner_validations
      %li= link_to 'Publisher Payout Confirmations', tools_partner_validations_path

- if has_permissions_for_one_of? :account_mgr, :customer_service, :admin
  .page-header
    %h3 Customer Support
  %ul
    - if permitted_to? :device_info, :dashboard_tools                   # customer_service, account_mgr
      %li= link_to 'Device Info &amp; Unresolved clicks', device_info_tools_path
    - if permitted_to? :reset_device, :dashboard_tools                  # admin
      %li= link_to 'Reset Device', reset_device_tools_path
    - if permitted_to? :index, :dashboard_tools_admin_devices           # account_mgr
      %li= link_to 'Admin Devices', tools_admin_devices_path
    - if permitted_to? :index, :dashboard_tools_support_requests        # customer_service, admin
      %li= link_to 'Support Request Stats', tools_support_requests_path
    - if permitted_to? :mass_resolve, :dashboard_tools_support_requests # customer_service, admin
      %li= link_to 'Mass Resolve Support Requests', mass_resolve_tools_support_requests_path
    - if permitted_to? :send_currency_failures, :dashboard_tools        # customer_service, account_mgr
      %li= link_to 'Send Currency Failures', send_currency_failures_tools_path
    - if permitted_to? :index, :dashboard_tools_gamers                  # customer_service
      %li= link_to 'Gamer Accounts', tools_gamers_path

- if has_permissions_for_one_of? :hr, :devices, :products, :file_sharer
  .page-header
    %h3 Human Resources
  %ul
    - if permitted_to? :index, :dashboard_tools_employees     # hr
      %li= link_to 'Manage employee list', tools_employees_path
    - if permitted_to? :show, :dashboard_internal_devices     # devices
      %li= link_to 'My approved devices', internal_device_path(current_user.id)
    - if permitted_to? :index, :dashboard_internal_devices    # devices
      %li= link_to 'All approved devices', internal_devices_path
    - if permitted_to? :index, :dashboard_tools_wfhs          # products
      %li= link_to 'WFH', tools_wfhs_path
    - if permitted_to? :index, :dashboard_tools_shared_files  # file_sharer
      %li= link_to 'My Shared Files', tools_shared_files_path

- content_for :page_javascript do
  - if permitted_to? :show, :dashboard_statz
    :plain
      var offerSearchOptions = {
        source: '#{search_offers_path}',
        delay: 250,
        minLength: 2,
        select: function(event, ui) {
          window.location.assign(ui.item.url);
        },
      };
      $('#search_offer').autocomplete(offerSearchOptions);
  - if permitted_to? :show, :dashboard_partners
    :plain
      var partnerSearchOptions = {
        source: '#{search_partners_path}',
        delay: 250,
        minLength: 2,
        select: function(event, ui) {
          window.location.assign('#{partners_path}/' + ui.item.partner_id);
        },
      };
      $('#search_partner').autocomplete(partnerSearchOptions);
