- @page_title = 'Monthly Data'

%h1 Monthly data for #{@period.strftime("%b %Y")}
- if @completed != 100
  = "#{number_to_percentage(@completed, :precision => 2)} Completed"

- form_tag('/tools/monthly_data', :method => "get") do
  = select_tag('period', options_for_select(@months, @period.strftime("%b %Y")), { :onchange => "this.form.submit()" })

%table
  %thead
    %tr
      %th
      %th
  %tbody
    %tr
      %td spend
      %td= number_to_currency(@spend)
    %tr
      %td marketing
      %td= number_to_currency(@marketing)
    %tr
      %td bonus
      %td= number_to_currency(@bonus)
    %tr
      %td linkshare_est
      %td= number_to_currency(@linkshare_est)
    %tr
      %td ads_est
      %td= number_to_currency(@ads_est)
    %tr
      %td revenue
      %td= number_to_currency(@revenue)
    %tr
      %td earnings
      %td= number_to_currency(@earnings)
    %tr
      %td net_revenue
      %td= number_to_currency(@net_revenue)
    %tr
      %td margin
      %td= number_to_percentage(@margin, :precision => 2)
    %tr
      %td
      %td
    %tr
      %td new_orders
      %td= number_to_currency(@new_orders)
    %tr
      %td payouts
      %td= number_to_currency(@payouts)
    %tr
      %td transfers
      %td= number_to_currency(@transfers)

-content_for :page_styles do
  :plain
    table {
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align: right;
    }
