- @page_title = "Payout Info Changes"

%h1 Payout Info Changes

= select_date(@date, :discard_day => true, :start_year => 2011, :end_year => Time.zone.now.year)

%table.tablesorter
  %thead
    %tr
      %th Partner name
      %th Billing name
      %th Activity log
      %th Updated at
      %th Pending earnings
  %tbody
    - @payout_infos .each do |info|
      %tr
        - name = info.partner.name
        - name = "No name given (#{info.partner.users.first.email})" if name.blank?
        %td= link_to(name, info.partner)
        %td= info.billing_name
        %td= link_to('Activity Log', activities_path(:object_id => info.id))
        %td= info.updated_at.to_s(:pub)
        %td= number_to_currency(info.partner.pending_earnings / 100.0)

- content_for :page_javascript do
  :plain
    $(function($){
      $('select#date_year, select#date_month').change(function(){
        var year = $('select#date_year').val();
        var month = $('select#date_month').val();
        location.href = location.href.split('?')[0] + '?year=' + year + '&month=' + month;
      });
    });
