- @page_title = 'Conversion Attempts'

%h1 Conversion Attempts
= form_tag({}, { :method => :get, :class => 'tjform' }) do
  %table
    %tbody
      %tr
        %th Attempt Dates:
        %td
          = text_field_tag(:start_date, params[:start_date])
          \-
          = text_field_tag(:end_date, params[:end_date])
      %tr
        %th Publisher App ID:
        %td= text_field_tag(:publisher_app_id, params[:publisher_app_id])
      %tr
        %th Advertiser App ID:
        %td= text_field_tag(:advertiser_app_id, params[:advertiser_app_id])
      %tr
        %th Resolution:
        %td= select_tag(:resolution, options_for_select(['', 'converted', 'blocked', 'force_converted'], params[:resolution]))
      %tr
        %th Action:
        %td= select_tag(:processed_action, options_for_select([''] + (RiskActionSet::POSSIBLE_ACTIONS.flatten), params[:processed_action]))
      %tr
        %th Range:
        %td
          = text_field_tag(:score_above, params[:score_above])
          <= Score <=
          = text_field_tag(:score_below, params[:score_below])
      %tr
        %th Rule Matched:
        %td= text_field_tag(:rule_matched, params[:rule_matched])
      %tr
        %th Maximum Rows:
        %td= text_field_tag(:max_rows, params[:max_rows].present? ? params[:max_rows] : 100)
      %tr
        %td{ :colspan => 2 }= submit_tag 'Find'

- if @attempts
  %h3
    Records found:
    = @attempts.count

%table#attempts_table.tablesorter
  %thead
    %tr
      %th Click Date
      %th Attempt Date
      %th Advertiser
      %th Publisher
      %th UDID
      %th Country
      %th Resolution
      %th Block Reason
      %th Actions
      %th Rules Matched
      %th Final Score
  %tbody
    - @attempts && @attempts.each do |attempt|
      %tr
        %td= attempt.clicked_at.to_s(:pub_ampm_sec)
        %td= link_to(attempt.created.to_s(:pub_ampm_sec), view_conversion_attempt_tools_path(:conversion_attempt_key => attempt.key))
        %td= link_app_to_statz(@apps[attempt.advertiser_app_id])
        %td= link_app_to_statz(@apps[attempt.publisher_app_id])
        %td= link_to(attempt.udid, device_info_tools_path(:udid => attempt.udid))
        %td= attempt.country
        %td= attempt.resolution
        %td= attempt.block_reason
        %td= attempt.processed_actions.empty? ? '' : attempt.processed_actions.join(', ')
        %td= attempt.rules_matched.empty? ? '' : attempt.rules_matched.keys.join(', ')
        %td= attempt.final_risk_score

- content_for :included_javascripts, javascript_include_tag('jquery-ui-timepicker-addon.min')

- content_for :page_javascript do
  = set_tapjoy_timezone_skew
  :plain
    $(function() {
      $('#start_date').datetimepicker({
        ampm: true,
        timeFormat: 'h:mm TT'
      });
      $('#end_date').datetimepicker({
        ampm: true,
        timeFormat: 'h:mm TT'
      });
    });
