- @page_title = 'Transfer Credits'

%h1 Transfer Credits

- form_tag create_order_tools_path, :method => :post, :class => 'json' do
  .field
    = label_tag 'partner_id', 'Partner ID'
    = text_field_tag 'partner_id', nil, :size => 40
  .field
    = label_tag 'order[amount]', 'Transfer Amount $'
    = text_field_tag 'order[amount]'
  .field
    = label_tag 'order[payment_method]', 'Month'
    = select_tag 'order[payment_method]', '<option value="1">Billable</option><option value="2">Marketing Expense</option>'
  .field
    = submit_tag 'Create Order'
