- @page_title = 'Reset Password'

%h1 Reset Password

- form_for(:user, @user, :url => { :action => :update }, :html => { :method => :put }) do |f|
  = f.error_messages :header_message => nil
  
  %table.with_form
    %tr
      %td= f.label :password, 'New Password'
      %td= f.password_field :password, :size => 40
    %tr
      %td= f.label :password_confirmation, 'Confirm New Password'
      %td= f.password_field :password_confirmation, :size => 40
    %tr
      %td{ :colspan => 2, :class => 'center' }= f.submit 'Submit'

- content_for :page_javascript do
  :plain
    $(function($) {
      $('#user_password').focus();
    });
