- @page_title = 'Password Reset'

%h1 Password Reset

- if @user
  %p You should receive an email with instructions to reset your password in the next few minutes.
  %p
    If you are still having problems logging in, you can
    = link_to("request another password reset email", new_password_reset_path)
    or email
    = mail_to("support@tapjoy.com") + "."
- else
  %p Enter the email address associated with your account and we will send you a link to reset your password.

  - form_tag(password_resets_path, :class => 'tjform') do
    %table
      %tr
        %th= label_tag(:email, 'Email Address')
        %td= text_field_tag(:email, '', :class => 'login')
      %tr
        %td{ :colspan => 2 }= submit_tag('Submit')

  - content_for :page_javascript do
    :plain
      $(function() {
        $('#email').focus();
      });

  - content_for :page_styles do
    :plain
      .login {
        width: 200px;
      }
