- content_for :included_javascripts, javascript_include_tag('jquery.form.min', 'tapjoy/payout_confirmations')
- @page_title = 'Payouts'

%h1 Payouts

%h3
  Payout Freeze Status:
  - if @freeze_enabled
    %span{ :class => 'enabled' } Enabled
  - else
    %span{ :class => 'disabled' } Disabled
  - if permitted_to? :index, :dashboard_tools_payout_freezes
    = link_to '[modify]', tools_payout_freezes_path
= label_tag(:confirm_filter, 'Filter on confirmation status')
= select_tag('confirm_filter', options_for_select(@filter_options, params[:confirm_filter]))
- if @start_date.present?
  %h3
    For partners with payout info modified between
    = @start_date.to_s(:pub)
    and
    = @end_date.to_s(:pub)

#filtered.hidden
  Information updated in:
  = select_date((@start_date || Time.zone.now), :order => [:year, :month], :discard_day => true, :start_year => 2011, :end_year => Time.zone.now.year)
  = submit_tag('Update', :id => :date_submit)
  = submit_tag('Reset', :id => :date_reset)
#unfiltered.hidden
  = link_to 'Filter by payout info modification', '#'
= form_tag(export_tools_payouts_path(:format => :csv), :method => :get) do
  - if params[:reseller_id].present?
    = hidden_field_tag(:reseller_id, params[:reseller_id])
  = submit_tag('Export to CSV')
= submit_tag('Print All', :id => :print_all)
%br
= label_tag(:q, 'Partner:')
= text_field_tag(:partners, @partner, :size => '40')
= submit_tag('Clear Filters', :class => 'clear_filter')
%table
  %thead
    %tr
      %th Partner
      %th Pending Earnings
      %th Cutoff Date
      %th Payout Amount
      %th Current Payout Created
      %th Payout Info
      - if permitted_to?(:create, :dashboard_tools_payouts)
        %th Action
      %th Confirmed Status
      %th Confirmation Notes
  %tbody
    - @partners.each do |partner|
      - payout_info = partner.payout_info
      - confirmation_notes = partner.confirmation_notes
      %tr
        %td
          %strong Name:
          - if payout_info.present?
            = payout_info.company_name
          - else
            \-
          %br/
          %strong Partner Name:
          = partner.name
          - if payout_info.present? && payout_info.doing_business_as.present?
            %br/
            %strong d/b/a:
            = payout_info.doing_business_as
          %br/
          %strong ID:
          = link_to(partner.id, partner_path(partner.id))

        %td= number_to_currency(partner.pending_earnings / 100.0)
        %td= (partner.payout_cutoff_date - 1.day).to_s(:pub)
        %td= number_to_currency(partner.leftover_payout_amount / 100.0)
        %td= number_to_currency(partner.next_payout_amount / 100.0)
        - if partner.completed_payout_info?
          %td
            %span.present
              %strong Present
            %br/
            %strong Type:
            = payout_info.payout_method
            %br/
            %strong Updated:
            = payout_info.updated_at.to_s(:pub)
        - else
          %td
            %span.not_present
              %strong Not Present
        - if permitted_to?(:create, :dashboard_tools_payouts)
          %td
            = form_tag tools_payouts_path(:partner_id => partner.id), :method => :post, :class => 'json', :style => 'height:45px;' do
              = text_field_tag 'amount', (partner.next_payout_amount / 100.0), :class => 'amount'
              = submit_tag 'Create Payout', :class => 'submit'
              %img.spinner{ :src => '/images/spinner.gif', :style => 'display:none;' }
              %span.status
          - else
            &nbsp;
        = render 'shared/payout_confirmations', :partner => partner, :permitted =>  permitted_to?(:confirm_payouts, :dashboard_tools_payouts), :path => confirm_payouts_tools_payouts_path( :partner_id => partner.id, :type => :json)

= will_paginate(@partners) unless params[:print].present?
%div{ :class => 'popup', :style => 'display:none'}
- content_for :included_javascripts, javascript_include_tag('tapjoy/payouts')
- content_for :page_javascript do
  :plain
    $(function() {
      $.initPayouts('#{tools_payouts_path}', '#{search_partners_path}', #{@start_date.present?});
    });

- content_for :page_styles do
  :plain
    #main {
      width: 1200px;
    }
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid gray;
      padding: 5px;
      font-size: 12px;
    }

    span.enabled, span.present {
      color: green;
    }

    span.disabled, span.not_present {
      color: red;
    }

    h3 a {
      text-decoration: none;
      font-size: 14px;
    }
