#footer_wrapper
  #footer
    #footer_content
      #about_tapjoy
        %img.header{:src => "/images/about_tapjoy.png"}/
        .clear
        %ul
          %li= link_to 'Meet the team', '/site/team'
          %li= link_to 'Tapjoy in the press', '/press'
          %li= link_to 'Read our blog', 'http://blog.tapjoy.com'
          %li= link_to 'Work at Tapjoy', '/careers'
        %ul
          %li= link_to 'Contact us', '/site/contact'
          %li= link_to 'Tapjoy Knowledge Center', 'http://knowledge.tapjoy.com'
          %li= link_to 'Privacy Policy', '/site/privacy'
      #legal_stuff
        %img.header{:src => "/images/legal_stuff.png"}/
        %p
          All content &copy; 2011 Tapjoy. Website created with love in downtown San Francisco, CA
        <a href="//privacy-policy.truste.com/click-with-confidence/wps/en/www.tapjoy.com/seal_m" title="TRUSTe online privacy certification" target="_blank" id="truste"><img style="border: none" src="//privacy-policy.truste.com/certified-seal/wps/en/www.tapjoy.com/seal_m.png" alt="TRUSTe online privacy certification"/></a>
    .clear
  .clear
= javascript_include_tag 'jquery-1.4.2.min', 'tapjoy'
= javascript_include_tag 'facebox'
%script{ :type => 'text/javascript', :charset => 'utf-8' }
  :plain
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox({
        closeImage   : '/images/closelabel.png'
      });
    });
  = yield :page_javascript
  - unless Rails.env == 'development'
    :plain
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5323442-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
