#articles
  #press
    %strong Press Releases
    -#%a{:href => "...", :class => "view_all"} View All &rarr;
    %ul
      - @recent_press.each do |press|
        .article_divider
        %li
          = link_to press.link_text, press.link_href
          .date
            = press.published_at.to_s(:pr)
  #news
    %strong News Coverage
    -#%a{:href => "...", :class => "view_all"} View All &rarr;
    %ul
      - @recent_news.each do |news|
        .article_divider
        %li
          %b= news.link_source
          |
          = link_to news.link_text, news.link_href
          .date
            = news.published_at.to_s(:pr)
