%h1 Tapjoyプライバシーポリシー
%p
  注意：このプライバシーポリシーは原文(英語)のプライバシーポリシーをもとに翻訳し
  たものです。原文(英語)の内容が全て優先されますのでご注意ください。
%p
  Tapjoyは、個人情報の重要性に鑑み、お客様の個人情報を慎重に取り扱っています。当
  社 のプライバシーポリシーについて詳しくお知りになりたい方は、以下をご参照下さい。
  Tapjoyのアプリケーション、ウェブサイト、サービス、リンクページ、機能、コンテン
  ツ、又は随時提供するその他の関連サービス(以下、総称して「Tapjoyサービス」といい
  ます。) を利用等することで、本プライバシーポリシーに同意し、Tapjoyが以下の方法
  に従って皆様の情報を収集、使用又は共有することに同意したものとします。
%p
  Tapjoyは、TRUSTeのプライバシーシールを取得しました。これは、本プライバシーポリ
  シーが、 透明性、説明責任並びに個人情報の収集及び使用に関する選択を含む、
  TRUSTeのプログラム要求事項を遵守していることが、
  = succeed "。" do
    = link_to("TRUSTe によって検証されたことを示しています",
      "http://www.truste.com/privacy_seals_and_services/consumer_privacy/privacy-programs-requirements.html")
  TRUSTeの使命は、独立した第三者機関として、主導的なプライバシー認証マークや革新
  的な解決策によって、消費者や企業のオンラインに対する信頼を国際的に高めることに
  あります。当社のプライバシーポリシーに関して質問や苦情がございましたら、
  = mail_to("privacy@tapjoy.com")
  までご連絡ください。当社の回答にご満足いただけない場合は、
  = succeed "。" do
    = link_to("TRUSTe に対してご連絡いただけます",
      "http://watchdog.truste.com/pvr.php?page=complaint")
  TRUSTeのプログラムは、当社のウェブサイト
  = surround "(", ")" do
    = link_to "www.tapjoy.com", "#{WEBSITE_URL}/"
  で収集したデータを対象としていますが、Tapjoy サービスを対象とするものではありま
  せん。
%h2 1. 本プライバシーポリシーは何を規定していますか？
%p
  本プライバシーポリシーは、お客様がTapjoyサービスにアクセスし又はTapjoyサービス
  を使用するときに、Tapjoyが取得する個人識別情報（以下「本個人情報」といいます。）
  の取扱方法を規定しています。本ポリシーは、Tapjoyが所有し又はコントロールしてい
  ない法人による取扱いや、Tapjoyが雇用し又は管理していない個人に対しては、適用さ
  れません。
%h2 2. Tapjoyはどのような個人情報を収集していますか？
%p
  お客様から入手した情報によって、当社のサービスを改善し、お客様に合ったものにカ
  スタマイズし、またTapjoyサービスを通じたユーザー同士の交流に必要となるユーザー
  アカウントとプロフィールをセットアップすることが可能となります。当社は、お客様
  から以下の種類の情報を収集します:
%h3 A. ご提供いただいた本個人情報
%p
  当社は、ご提供いただいた全ての情報を受け取り、保管します。当社が収集する本個人
  情報には、氏名、ユーザー名、Ｅメールアドレス、IPアドレス及び電話番号が含まれま
  す。特定の情報を提供しないこともできますが、その場合には、本個人情報に基づいて
  最適化される特別の機能のうちの多くを利用できない可能性があります。当社は、ご提
  供いただいた本個人情報を、お客様のTapjoyサービスの利用をより充実したものにする
  ために使用します。
%h3 B. 自動的に収集した本個人情報
%ul
  %li
    当社は、お客様がTapjoyサービスをご利用されている間は、常に、自動的に、サーバー
    ログ上の情報を受け取り、記録します。記録する情報は、ご利用されているTapjoyサー
    ビスの種類により異なります。Tapjoyのウェブサイトに接続されている場合には、IP
    アドレス、「クッキー」情報及びリクエストされたページを記録します。Tapjoyのモ
    バイルアプリケーション又はモバイルサービスに接続されている場合には、端末固有
    のI.D.番号(UDID)及びTapjoyアプリケーションやモバイルサイトへの接続ログを記録
    します。当社は、これら使用情報とTapjoyサービスの提供に関連して得た本個人情報
    を関連付づけることがあります。
  %li
    「クッキー」は、当社が、ブラウザーを通じてお客様のコンピューターやモバイル機
    器に転送する識別子です。「クッキー」によって、当社がお客様のブラウザーを認識
    し、当社サイトのページを、いつ、どのように、どれだけの人が訪れたのかを知るこ
    とができます。ブラウザーの設定を変更してPCやモバイル機器に対するクッキーのア
    クセスを拒絶し又は制限することができますが、これによって、Tapjoyサービスの機
    能のうち利用できないものが生じる可能性があります。クッキーは、個人情報とはリ
    ンクしていません。
  %li
    クッキー、ウェブビーコン、スクリプトその他第三者の追跡技術によって、当社が使
    用情報(Tapjoyサービスへの訪問者の数や頻度など)を入手した場合には、当社は、統
    計的な情報として、お客様個人を特定しない方法でしか、当該情報をいかなる者にも
    公開いたしません。
%h3 C. Ｅメールによる情報伝達
%p
  お客様が当社からのメールを開くと、当社はその旨の確認を受けることがあります。こ
  の確認によって、Ｅメールをより興味深いものとし、サービスを改善してゆくことが可
  能となります。当社からＥメールを受け取ることを希望しない場合は、Ｅメール下部の
  「登録削除」リンクの指示に従い、その旨ご連絡ください。
%h2 3. Tapjoyは取得した個人情報を第三者と共有しますか？
%p
  当社は、お客様の本個人情報を、第三者に貸したり販売したりすることはありません。
  以下の場合のみ、個人が特定される形式で、本個人情報を第三者と共有することがあり
  ます。
%h3 A. 管理下にない関連企業
%p
  当社の関連会社が、（当社と共同して又は単独で、）Tapjoyサービスに関連して、お客
  様に商品を販売したり、サービスを提供したりする場合があります。このような場合に、
  当社は、商品販売やサービス提供に必要な限度においてのみ、当該関連会社と本個人情
  報を共有することがあります。
%h3 B. 代理業者
%p
  当社は、当社に代わって業務を遂行してもらうために、Ｅメールサービスプロバイ
  ダー、支払処理を行う業者、ホスティング会社といった他の会社や個人と契約してお
  り、お客様に製品やサービスを提供するため、お客様の情報をこうした代理業者と共有
  する必要があります。別途お客様に明示する場合を除き、当社の代理業者は、当社に対
  するサポートに必要な範囲を超えて、共有する本個人情報を使用することはできません。
%h3 C. ユーザーが公開した情報
%p
  ユーザーがTapjoyサービスを通じて他のユーザーも見られるように自ら公開した内容(画
  像、説明文、コメントも含みます。)は、本個人情報とはみなされません。こうした内容
  は、公に利用可能なものになり、他者が収集又は利用することができ、インターネット
  やその他のメディアを通じて再配布される可能性があります。当社のブログやコミュニ
  ティフォーラムからの個人情報の削除を希望される場合には、
  = mail_to("privacy@tapjoy.com")
  までご連絡ください。個人情報削除の希望にお応えできない場合もありますが、その場
  合には、その旨及び削除できない理由をご連絡いたします。

%h3 D. Tapjoyサービスに関するご連絡
%p
  Tapjoyサービスの一部として、Ｅメールやその他のツールで、当社からお客様へご連絡
  する場合があります。Ｅメールの他、お客様が使用しているTapjoyサービスに関連する
  コミュニケーションツールで、お客様にご連絡することがあります。
%h3 E. 宣伝
%p
  当社は、特定のユーザーに対して、他の企業に代わって宣伝を送ることがあります。し
  かし、その場合でも、お客様の氏名やアドレスを他の会社に提供することはありません。
  こうした宣伝を受けとりたくない場合は、宣伝の下部にあるリンクから登録を解除して
  ください。
%h3 F. 事業譲渡
%p
  当社は、資産を購入し、または売却することがあります。こうした取引においては、顧
  客情報は、移転される資産の典型例の１つです。また、当社(又は当社の実質的な全資
  産)が買収され又は当社が廃業し若しくは倒産した場合も、本個人情報は、買収した第三
  者に移転し又は第三者によって取得される資産の一つとなります。この場合、下記「プ
  ライバシーポリシーの変更について」記載のとおり、お客様に通知されます。
%h3 G. Tapjoy及びその他の者の保護
%p
  法令順守のため、当社の使用条件や他の合意を履行するため、又は、当社、当社の従業
  員、ユーザー若しくはその他の者の権利、財産若しくは安全を守るため、本個人情報の
  開示が必要であると誠実に確信した場合、当社は本個人情報を開示することがありま
  す。これには、詐欺防止や信用リスク軽減のために他の会社や組織と情報交換すること
  を含みます。
%h3 H. お客様の同意がある場合
%p
  上記の場合を除いて、本個人情報が第三者と共有されることがあり、この場合には、お
  客様にその旨通知いたします。お客様はこの情報共有を拒絶することができます。
%h2 4. 個人情報は安全ですか？
%p
  当社は、ご提供いただいた個人情報を、通信中及び受領後において、一般的に認められ
  ている基準に従い保護します。しかし、インターネットを通じたいかなる通信手段も、
  電子保存のいかなる手段も、100％安全ではありません。当社は、記録しているお客様の
  本個人情報の秘密確保のため努力いたしますが、完全な安全性を保証することはできま
  せん。いかなるときであっても、不正なエントリーや使用、ハードウェアやソフトウェ
  アの障害、その他の要素によって、ユーザー情報が危険にさらされる可能性があります
  。お客様が機密情報(ログイン時のIDやパスワードなど)を入力される場合には、当社
  は、その情報の通信を、セキュアソケットレイヤー（SSL）技術を使って暗号化します。
  Tapjoyサービスは、通常、第三者のサイトやアプリケーションとリンクしていします。
  当社は、他のサイトやアプリケーションにおけるプライバシーポリシーやその取扱いに
  ついては、責任を負いません。他のサイトやアプリケーションにリンクするときは、当
  該サイトやアプリケーションのプライバシーポリシーをご確認ください。
%h2 5. どのような個人情報にアクセスできますか？
%p
  当社がお客様に代わって記録している情報の閲覧やアップデートに関してご質問がある
  場合は、
  = mail_to("mobilesupport@tapjoy.com")
  までご連絡ください。
%h2 6. どのような選択肢がありますか？
%ul
  %li
    使用する情報はいつでも非公開にすることができますが、いくつかの情報は当社の
    特別な機能を利用するために必要になる場合があることをご留意ください。
  %li
    上記5でご説明した通り、特定の情報を追加したり更新したりすることができます。
    しかしながら、情報を更新される場合にも、更新前の情報が記録され続けることがあ
    り得ることをご承知おきください。
  %li
    当社は、当社のクライアントに代わって処理した個人情報を、クライアントにサービ
    スを提供するために必要な期間、保持します。当社は、法的義務を遵守し、紛争を解
    決し、また契約を執行するために必要な限り、こうした個人情報を保持し使用しま
    す。
  %li
    本個人情報の削除を希望される場合には、
    = mail_to("privacy@tapjoy.com")
    宛てＥメールをお送りください。30営業日内にご回答いたします。お客様が情報の削
    除を希望されたことを記録し、将来誤って広告や他の製品を送ってしまうことを防止
    するため、当社がお客様のUDIDの記録を保持することがあることを、ご承知おきくだ
    さい。
  %li
    当社からのＥメールや他のメールの受取りを希望されない場合は、
    = mail_to("privacy@tapjoy.com")
    にご連絡ください。本プライバシーポリシー等の法的通知事項について受取りを希望
    されない場合でも、お客様にはそれらの法的通知事項の変更を確認する責任があり、
    お客様がウェブサイトをご利用になる際には当該法的通知事項が適用されることに、
    ご注意ください。
%h2 7. その他の項目
%p
  お客様は、フェイスブックコネクトやオープンＩＤプロバイダーといったサインイン
  サービスを利用して、当社サイトのブログにログインすることができます。こうした
  サービスでは、当社のサインアップフォームに前もって登録するために、お客様のＩＤ
  認証を行い、氏名、Ｅメールアドレスといった特定の個人情報を当社と共有するか否
  か、お選びいただきます。フェイスブックコネクトのようなサービスでは、お客様の
  ネットワークにおいて他のユーザーと共有するため、本ウェブサイトにおけるお客様の
  活動履歴をプロフィールページに載せるか否かをお選びいただきます。
%p
  当社は、お客様の同意の下、お客様の氏名と推薦文を掲載することがあります。当社の
  ウェブサイトでは、広くアクセス可能なブログとコミュニティフォーラムを提供してい
  ます。こうしたブログやコミュニティフォーラムにご提供いただいた情報は、他のユー
  ザーに読まれ、収集され又は使用されることがあります。ブログ、推薦文又はコミュニ
  ティフォーラムからの個人情報の削除を希望される場合には、
  = mail_to("privacy@tapjoy.com")
  までご連絡ください。個人情報削除のご希望に添えない場合もありますが、その場合
  には、その旨及び削除できない理由をお知らせいたします。
%h2 8. 本プライバシーポリシーの変更について
%p
  本プライバシーポリシーは、随時改訂されることがあります。収集された情報は、その
  情報が使用される際に有効な本プライバシーポリシーに従って、使用されます。本個人
  情報の使用方法に関する変更があった場合、当社のウェブサイト又はＥメールを通じ
  て、ご連絡いたします。本プライバシーポリシーの変更が最初に公表された後Tapjoy
  サービスをご利用になる場合には、変更後の本プライバシーポリシーが適用されます。
%h2 9. ご質問、ご相談
%p
  当社のプライバシーポリシーに関するご質問やご相談は、詳細を明記の上、下記までＥ
  メール又は郵便でお問い合わせください。お問い合わせの件を解決するため、最善を尽
  くします。
%p= mail_to("privacy@tapjoy.com")
%p
  111 Sutter Street, 13th Floor, San Francisco, CA, 94104

%h2 10. 登録解除
%p
  ご使用になっているモバイル機器のTapjoyサービスからの解除をご希望の場合には、下
  記フォームにデバイスIDを入力してください。
%p
  %i iOSデバイス:
  デバイスをiTunesに接続し、シリアルナンバーをクリックして、デバイスIDを確認して
  ください。(識別子－UDID)
%p
  %i Androidデバイス:
  デバイスから、「設定」→「この携帯について」→「ステータス」を選択してください。
  デバイスIDは、携帯電話会社に応じて、IMEI又はMEIDと表示されます。
- form_tag '/opt_outs' do
  %label{:for => "udid"} デバイスID：
  %input{:name => "udid", :size => "60", :type => "text"}/
  %input{:type => "submit", :value => "Submit"}/
%p#effective 発効日　2011年8月25日
