.banner#advertiser-banner
  .large-header
    We reach more than 100 million consumers
    %br/
    every month, including many that
    %br/
    no one else can.
  .small-header
    Our platform is deeply integrated into more than 2,000
    %br/
    of the most popular social and mobile gaming
    %br/
    applications across every leading platform, helping you
    %br/
    reach highly engaged consumers that no other ad
    %br/
    network has access to.
  = button_to 'Contact us today to learn more', '/site/advertisersContact.html', :title => "Contact Us Today to Learn More", :class => 'blue'

.types
  .block1
    %h2 APP DEVELOPERS
    %span Pay for performance, not just clicks.
    %p
      We are one of the largest performance advertising networks in the world,
      offering low cost customer acquisition campaigns with the scalability and flexibility
      to meet any needs.
    %ul
      %li Buy on a CPA, CPL, CPC basis and more
      %li Drive 100,000+ new users per day
      %li Prices as low as $0.05 per action
    = image_tag 'site/netflix_img.gif', :title => 'Ads'
  .block2{ :style => "border:none;"}
    %h2 BRAND ADVERTISERS
    %span Inject your brand into the gaming experience
    %p
      Get your message in front of the right audience at the right time—during in-game play,
      when users are relaxed, having fun and receptive to what you have to say.
    %ul
      %li Reach millions of users other networks can't
      %li Target based on location, behavior &amp; profile
      %li In-game integrations for better engagement
    = image_tag 'site/bookEli_img.gif', :title => 'Ads'
.partnerList
  %h2 AD PRODUCTS
  %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
    %tbody
      %tr
        %td= image_tag 'site/ads_1.gif', :size => '119x68'
        %td= image_tag 'site/ads_2.gif', :size => '119x68'
        %td= image_tag 'site/ads_3.gif', :size => '119x68'
        %td= image_tag 'site/ads_4.gif', :size => '119x68'
        %td= image_tag 'site/ads_5.gif', :size => '119x68'
        %td= image_tag 'site/ads_6.gif', :size => '119x68'
        %td= image_tag 'site/ads_7.gif', :size => '119x68'
      %tr
        %td
          %span Offers
        %td
          %span Local
        %td
          %span Shopping
        %td
          %span Surveys
        %td
          %span Mobile
        %td
          %span Video
        %td
          %span In Game Promos

- content_for :page_styles do
  :plain
    #advertiser-banner {
      background:url(/images/site/advertisers.gif) no-repeat right top!important;
      height: 310px;
      display: block;
      width: auto;
      padding: 25px 20px 0px 80px !important;
    }
    .large-header {
      font-size: 2em;
    }
    .types {
      border-top: 2px solid #ccc!important;
    }
    .block2_bg {
      overflor-y: hidden!important;
    }
    div.types {
      padding-bottom: 0px!important;
    }
    div.block2 img.spray {
      position:relative;
      left:35px;
      bottom:20px;
      z-index:100;
    }
