- @page_title = "Advertisers"
- content_for :page_head, stylesheet_link_tag('advertisers', 'facebox')
#a_dvertisers
  = image_tag('tapjoy_for_advertisers.png', :class => 'header')
  #about
    %h2 Helping you reach mobile consumers everywhere
    %p Tapjoy's mobile advertising platform combines extensive reach, sophisticated targeting and engaging ad units to drive meaningful results whether you're a brand, agency or developer.
    = link_to "", register_path, :id => 'start_advertising'
  = image_tag('network_stats.png', :id => 'stats')
  .section
    = image_tag('performancemarketing.jpg')
    .right
      %h2 Performance Marketing
      %p Performance marketing runs deep in Tapjoy's DNA as we created the first Pay-Per-Engagement ad unit on mobile.
      %p Whether you're looking for app distribution or qualified leads, Tapjoy is the one-stop shop for ROI positive advertising. With rich targeting and a bided market, we have a solution for every marketing budget.
      = link_to "", '/site/advertiser_contact?source=performance', :class => 'contact_us', :rel => 'facebox'
  .section.section_right
    = image_tag('brandsagencies.jpg')
    .right
      %h2 Brands &amp; Agencies
      %p Tapjoy's turnkey mobile solutions are designed to help brands and their agencies present their messages to their target audiences at scale in a easy, efficient, manner.
      %p From HD video to full screen takeovers, we have the right ad units to deliver your brand message to mobile consumers everywhere.
      = link_to "", '/site/advertiser_contact?source=agency', :class => 'contact_us', :rel => 'facebox'
  #products
    .header_divider
    %h2 Advertiser Products
    #links
      .link_box= link_to "Video", '', :title => 'video'
      .link_box= link_to "Banner", '', :title => 'banner'
      .link_box= link_to "Featured", '', :title => 'featured'
      .link_box.selected= link_to "Marketplace", '', :title => 'marketplace'
    .header_divider
    .details.marketplace_copy
      %h3 Tapjoy Marketplace
      %p Whether you're looking for distribution of your app or qualified leads to your mobile landing page, the Tapjoy Marketplace is a robust way for mobile consumers to view your offerings.
      %p It's easy to setup and get started and you can bid the price that makes sense for your marketing budget.
    .details.featured_copy
      %h3 Featured
      %p The Tapjoy Featured ad unit is a full screen interstitial that shows on app startup. This prominent placement allows you to reach mobile users and present your marketing message in a rich canvas.
    .details.banner_copy
      %h3 Banners
      %p Tapjoy display banners are an easy, cost-effective way to get distribution for your apps across the marketplace.
      %p No creative is needed and setup is a snap so you can get your marketing campaign launched as quickly as possible.
    .details.video_copy
      %h3 Video
      %p Tapjoy's video marketplace allows advertisers to reach tens of millions of mobile consumers with their video messages on a cost per completed view (CPV) basis.
      %p With rich targeting and a slick, native player experience, you can be sure that your videos are played in HD quality to the right audience. After video completion, advertisers can define their call to action with customizable buttons.
    .screenshot.marketplace
    .screenshot.featured
    .screenshot.banner
    .screenshot.video
.clear

- content_for :page_javascript do
  :plain
    $(function($){
      if (location.href.match(/#contact$/)) {
        $($('.contact_us')[0]).click();
      }
    });
