- @about_us = true
- tapjoy_overview = "<p><strong>Overview</strong></p><p>Tapjoy is the world's largest provider of monetization and distribution services for social and mobile applications. We work with thousands of clients who build great apps on Facebook, iOS, Android, the open Web, and other leading social and gaming platforms.</p>"
- about_tapjoy = "<p><strong>About Tapjoy</strong></p><p>Tapjoy is the leader in monetization and distribution services for social games, mobile applications, virtual worlds, MMOs and other social publishers. The company's turnkey alternative payment platform enables developers to significantly increase their monetization rates when selling virtual goods or premium digital assets, while cross-platform distribution services provide massive reach and cost-effective user acquisition on the leading social, mobile, and gaming platforms. Tapjoy is headquartered in San Francisco, with a leadership team with deep roots in online advertising, personalization, and optimization technologies. Investors include Rho Ventures, Interwest Capital, North Bridge Venture Partners, and D. E. Shaw Ventures.</p><p><strong>Qualified and Interested Candidates</strong></p><p>If this position sounds like a fit with your past experience and future interests &ndash; and you want to be part of the excitement of a rapidly growing business &ndash; we want to hear from you. We have a competitive compensation structure with a generous option plan and very good benefits. Please send a resume to <a href='mailto:careers@tapjoy.com'>careers@tapjoy.com</a>. For more information on Tapjoy, visit <a href='/'>www.tapjoy.com</a>.</p>"

.titleHeader
  %h3 COMPANY OVERVIEW
  %h3.separator &nbsp;/&nbsp;
  %h3.sub CAREERS

.splitLayout
  = render :partial => 'about_left_nav'
  .team.plain_template
    .management.innercontents
      %h5 Tapjoy Careers
      %p At Tapjoy, we are changing the face of social and mobile gaming. Want to help?
      %p We are building the world's largest provider of monetization and distribution services for social and mobile applications. We work with thousands of clients who build great apps on Facebook, iOS, Android, the open Web and other leading social and gaming platforms &ndash; and millions of daily users.
      %p With headquarters in the heart of San Francisco's Financial District (one block from the Montgomery Street station), we have offices in London, Tokyo, and Silicon Valley, and we are entering a period of significant growth.
      %p Our management team is led by seasoned Internet, gaming, and advertising industry executives, and the company is backed by top-tier venture capital firms Rho Ventures, InterWest Partners, North Bridge Venture Partners, and D. E. Shaw Ventures.
      %p We are looking for creative, smart, and passionate people &ndash; people who want to make a material difference in the company every day. Our startup environment is flexible, fun, and friendly, where our talented and energetic team has room to excel and grow. We offer competitive compensation, equity, health benefits, good meals and snacks, and regular social events.
      %p If you would like to join a company that is transforming the landscape of social and mobile gaming, we would like to hear from you.
      %p Current open positions (as of January 2011) below. For immediate consideration, please send a resume to <a href="careers@tapjoy.com">careers@tapjoy.com</a>.
      %p Thanks for having a look at a career with Tapjoy!

      %strong Engineering
      %ul
        %li= link_to 'Software Engineers', '#software-engineers'
        %li= link_to 'Sales Technical Support Engineer', '#sales-tech-engineer'

      %strong Finance / G&amp;A
      %ul
        %li= link_to 'Senior Manager/Director, Financial Planning & Analysis (FP&amp;A)', '#fpa'
        %li= link_to 'Senior Accountant', '#senior-accountant'

      %strong Sales
      %ul
        %li= link_to 'Director, Advertising Sales (San Francisco and New York)', '#director-advertising-sales'
        %li= link_to 'Sales Development Rep', '#sales-development-rep'

      %strong Note to Third-Party Recruiters / Recruitment Agencies / Executive Search Firms:
      Tapjoy does not accept unsolicited resumes from third-party recruiters or recruiting agencies. Please do not forward resumes to the careers alias or Tapjoy employees. Tapjoy is not responsible for any fees related to unsolicited resumes.

      %p &nbsp;
        
      %h2
        Software Engineers
        %a{:name => 'software-engineers'} &nbsp;
      San Francisco

      = tapjoy_overview

      %p We offer an opportunity to help build the largest mobile publishing company in the world &ndash; you will have an immediate and significant impact on the business and contribute to Tapjoy's financial and industry success.

      %p
        %strong The Role
      %p Tapjoy needs to hire several Software Engineers who will:
      %ul
        %li Help build and maintain a publisher-facing Website used by thousands of developers from the largest mobile Publishers
        %li Engineer backend Web services for the site with tens of millions of daily users
        %li Code new APIs for Publishers
        %li Pitch-in with new projects, ad hoc work, and whatever is needed in this high-growth phase

      %p
        %strong Your Background
      %ul
        %li Strong engineering foundation &ndash; we hire people with great core skills who want to learn more
        %li A Computer Science degree &ndash; and a clear sense of how you want to contribute to real-world technology
        %li About 2 years working on engineering projects or products with software that has shipped
        %li Previous work checking-in code, fixing bugs, optimizing a scalable system, etc.
        %li Knowledge of Ruby on Rails and open source development strongly desired

      %p
        %strong Why Join Tapjoy?
      %ul
        %li We are doing very big things (90 million devices on the network and growing)
        %li We value innate intelligence, the curiosity to learn more, and the ability to solve problems &ndash; and we provide a ton of autonomy in which to do this
        %li Our team is agile and very supportive. We hire positive engineers who know that we gain the most ground by working together. If you are a disruptive or inflexible person, please apply elsewhere.
        %li The mobile app space is pretty big, and will become incredibly large and important. We have done well up to this point and clearly see where we are headed &ndash; and now we need help to get there.

      = about_tapjoy

      %p &nbsp;
      %p &nbsp;

      %h2
        Sales Technical Support Engineer
        %a{:name => 'sales-tech-engineer'} &nbsp;
      San Francisco
      
      = tapjoy_overview
      
      %p
        %strong Roles and Responsibilities
      %p This Sales Support Engineer will be responsible for enabling customer success by ensuring that customer environments are integrated and go live with the Tapjoy platform within 24 hours.  This is a key client-facing role that is the point-of-contact for providing post-sales solutions, resolving technical challenges, and finding the answers to open issues during the integration process and ongoing account technical support.  A secondary responsibility is to work closely with the sales organization to provide pre-sales technical support to help close new customer accounts.  Broadly speaking, this Engineer will:
      %ul
        %li Configure and integrate social applications, open web and mobile applications to the Tapjoy platform
        %li Manage and troubleshoot integration issues on an on-going basis with our Publisher network  
        %li Support sales/account management teams with technical questions and issues, including demos, Q&A, and sales tools, etc.  
        %li Quickly resolve technical publisher issues with our platform and products for new and existing accounts
        %li Work closely with engineering and QA organizations and provide feedback to improve product and customer self-service automation
        %li Think of new ways to delight and please our publishers from a technical perspective with our products
      
      %p
        %strong Professional Experience and Personal Qualities
      %ul
        %li Ideally, 2-5 years as a technical advertising operations engineer, sales engineer, technical consultant, or client services engineer with an Internet advertising and/or software company
        %li Another potential background could be a software engineer (or QA Engineer) who has had specific customer responsibilities; a recent college grad with excellent technical & communication skills could also be a fit
        %li Required hands-on technical skills includes HTML basics, SQL experience, HTTP/FTP and other Internet protocols.  Experience with database technologies (MySQL or Oracle) is a plus.
        %li Knowledge of iOS and Android software a plus.
        %li Solid customer skills from a previous customer-facing role, or as an engineer with customer responsibilities
        %li Travel is minimal.  Most work is conducted on the phone, via email, and online.
        %li Excellent written and verbal communication skills
        %li Well organized, with strong attention to detail
        %li Must be able to excel working cross-functionally, supporting multiple groups within the company
        %li We need a self-starter, someone who manages multiple projects simultaneously and drives to completion
        %li Flexibility, resourcefulness, and the ability to thrive in a dynamic, fast-paced environment
        %li Undergraduate degree in Computer Science is desired
        
      = about_tapjoy
      
      %p &nbsp;
      %p &nbsp;


      %h2
        Senior Manager/Director, Financial Planning &amp; Analysis (FP&amp;A)
        %a{:name => 'fpa'} &nbsp;
      San Francisco

      = tapjoy_overview

      %p We offer an opportunity to help build the largest online and mobile publishing company in the world, and this finance professional will play a key role in Tapjoy's operational, financial and industry success.

      %p
        %strong Role and Responsibilities

      %p Tapjoy is searching to find an experienced and insightful finance professional to build and own the FP&amp;A function.

      %p This position will work with all areas of the business for providing key financial analysis to enable both tactical and strategic decisions. Daily responsibilities include owning and managing financial reporting, forecasting and budgeting, operational analysis, and other ad hoc financial analysis. This position will report to the Vice President of Finance, and is a role that will have broad exposure, visibility, and impact throughout the organization. The role also includes work with corporate development and business development analysis and execution.
      %ul
        %li Own the company financial model, including forecasting, budgeting and long-range planning of income statement, balance sheet, and cash flow statement
        %li Lead the development and maintenance of budgets, forecasts and management reporting
        %li Support the requirements of the business groups for financial forecasting and reporting
        %li Create and maintain real-time dashboard reporting the key metrics (KPIs) across the business units
        %li Prepare, compile, analyze and communicate information for financial reporting and analysis
        %li Prepare and distribute monthly financial package
        %li Develop and present timely analysis for operating results on a monthly basis
        %li Provide financial guidance and execution support for corporate development activities
        %li Provide financial guidance for new business development and corporate development
        %li Manage and/or execute ad-hoc analytic requests
        %li Support corporate functional groups as lead finance person in reporting and forecasting
        %li Research and analysis of financial and operational performance of comparable companies

      %p
        %strong Professional Experience and Personal Qualities
      %ul
        %li 7+ years of progressively responsible experience in a financial management function
        %li Experience in the mobile/social media ecosystem, internet, or software as a service industries strongly preferred
        %li BA/BS degree in Finance, Accounting or related field, MBA preferred.
        %li Exceptional financial modeling and scenario analysis skills, with an expert understanding of Microsoft Excel (macros), Access, and SQL
        %li Knowledge of standard business intelligence software a plus
        %li High performer with track record of collaborating with cross-functional teams to deliver results.
        %li Must have a proven ability to manage significant initiatives across organizations and across geographies.
        %li Excellent project management skills a must.
        %li Must demonstrate strong leadership skills, high energy, initiative and creativity.
        %li Outstanding written and verbal communication skills and high level of comfort presenting analysis and information to senior management.
        %li Ability to handle multiple tasks under tight deadlines
        %li Strong organizational skills and attention to detail
        %Li The ability to work hands-on and in a team environment

      = about_tapjoy

      %p &nbsp;
      %p &nbsp;

      %h2
        Senior Accountant
        %a{:name => 'senior-accountant'} &nbsp;
      San Francisco

      = tapjoy_overview

      %p We offer an opportunity to help build the largest mobile publishing company in the world. 
      
      %p
        %strong Role and Responsibilities

      %p We are seeking a senior accountant who will help with G/L, financial reporting, AP, AR, and other areas in finance. Reporting to the Accounting Manager, this individual will be responsible for critical areas of the monthly close, proper application of GAAP for daily transactions, and serve as a liaison between the finance team and the other departments. The ideal candidate will have a strong understanding of pertinent GAAP, the ability to implement processes to improve operational efficiency, work with cross-functional teams, and handle analysis related to revenue recognition and operational accounting issues.
      %ul
        %li Prepare journal entries and account reconciliations for Revenue, AR, AP, and Deferred Revenue
        %li Prepare analysis reports for publisher team; provide financial schedules for sales and business development
        %li Assist in revenue recognition matters including preparation of data analysis, proposing entries, reconciling against database figures, and providing supporting documentation
        %li Manage partner relations and communicate directly with outside vendors and customers
        %li Assist with month-end cutoff and capturing of expenses
        %li Perform various analysis related to revenue, cost of sales, and gross to net issues
        %li Oversee implementation of accounting policies especially related to fixed asset accounting
        %li Assist with financial statements and supporting schedules according to month-end close procedures
        %li Assist with AP invoice coding and inquires
        %li Assist with transactional data entries and filings
        %li Assist with weekly ACH and AP check run review
        %li Assist with procedure documentation and implementing processes within the company
        %li Assist with internal documentation and draft policies
        %li Assist with quarterly financial reviews and annual audit
        %li Assist with budget to actual preparation, analysis, and review
        %li AR analysis including AR aging detail, cash application review, collection support, and AR reserve
        %li AP including payment processing, review, vendor maintenance, and ongoing vendor support
        %li Assist with schedules for the preparation of tax returns and corporate reporting requirements
        %li Special projects as required

      %p
        %strong Professional Experience and Personal Qualities
      %ul
        %li Bachelor's or higher degree in Accounting or Finance
        %li 5+ years accounting/finance experience required
        %li CPA preferred; strong understanding of accounting theory and GAAP
        %li Highly detail oriented; ability to meet deadlines and effective problem solving skills
        %li Excellent communication and interpersonal skills
        %li Ability to operate independently with minimal supervision
        %li Advanced in MS Excel and strong ERP system skills
        %li Ability to work cooperatively and collaboratively with all levels of employees and management
        %li Strong knowledge of Quickbooks Enterprise
        %li A mature, self-motivated person with a positive, professional attitude
        %li High capacity to operate effectively in turbulent startup environment

      = about_tapjoy

      %p &nbsp;
      %p &nbsp;

      %h2
        Director of Advertising Sales
        %a{:name => 'director-advertising-sales'} &nbsp;
      San Francisco and New York

      = tapjoy_overview

      %p We offer an opportunity to help build the largest mobile publishing company in the world &ndash; the Director, of Advertising Sales will be a material contributor to Tapjoy's financial and industry success.

      %p
        %strong Role and Responsibilities

      %p We are searching to find an experienced and accomplished sales executive to drive new revenue in the Online Media/Advertising space. This individual contributor will be responsible for closing new business with Advertisers, Ad Agencies, and Ad Networks. 
      %ul
        %li Identify and close new sales opportunities; meet or exceed target sales goals
        %li Plan, prepare, and execute high impact meetings with prospects and partners
        %li Identify and develop a strong understanding of core objectives and challenges
        %li Maximize revenue growth within existing accounts/territory
        %li Adopt the corporate selling methodology
        %li Contribute strategically to the growth and direction of Tapjoy's products and services
        %li Represent Tapjoy at industry events and conferences
        %li Accurately forecast revenue growth; achieve revenue goals as defined by management
        %li Execute in a fast-paced, team environment

      Professional Experience and Personal Qualities
      %ul
        %li A record of selling success for 5-10+ years working in online advertising sales or affiliate marketing.
        %li An extremely strong network of active relationships within the target community, both leading ad agencies and direct advertisers.
        %li Successful experience selling to Online Media: Advertisers, Ad Agencies, and Ad Networks
        %li A history of meeting and exceeding annual sales quotas between $2.5 million and $5 million
        %li Experience with performance-based online advertising is ideal
        %li An undergraduate degree in Marketing, Sales, or Advertising is ideal
        %li Superb organization skills, a proactive nature
        %li A commitment to providing positive customer service and following-through to close deals and build relationships
        %li Proficiency with salesforce.com and MS Office

      = about_tapjoy

      %p &nbsp;
      %p &nbsp;

      %h2
        Sales Development Rep
        %a{:name => 'sales-development-rep'} &nbsp;
      San Francisco

      = tapjoy_overview

      %p We offer an opportunity to help build the largest mobile publishing company in the world &ndash; the Sales Development Rep will be a key contributor to Tapjoy's financial and industry success.

      %p
        %strong Role and Responsibilities
      %ul
        %li Develop outbound leads by researching and calling into target accounts, indentifying appropriate contacts, qualifying the lead and developing opportunities
        %li Qualify and develop inbound leads and convert them into opportunities
        %li Collaborate with sales to hand-off qualified opportunities and generate and execute on strategies to develop business in assigned territories
        %li Manage and track leads in the lead database through salesforce.com. Track and report lead metrics
        %li Collaborate with marketing on lead generation activities

      %p
        %strong Professional Experience and Personal Qualities
      %ul
        %li Smart, creative, and assertive individual who can work well in a high-growth, fast-paced environment and get things done with and without structure. Strong work ethic with a strong can-do attitude
        %li Fortitude to cold call into organizations and to find the right contacts. Tenacity and dedication to penetrate large organizations and meet aggressive targets
        %li Energetic, conscientious, and enthusiastic persona with strong problem solving skills.
        %li 2+ yrs Lead Generation/Sales Development, Marketing or Sales experience, preferably in the social media ecosystem (app development, online advertising, gaming, etc.)
        %li Undergraduate degree
        %li Experience and aptitude with salesforce.com
        %li Excellent verbal communication skills
        %li Team player with a customer-focused attitude
        %li Ability to work tradeshows and industry events
        %li Self-motivator; gets high quality work done without a lot of noise
        %li High capacity, able to operate effectively in turbulent environment

      = about_tapjoy

      %p &nbsp;
      %p &nbsp;

