- @about_us = true
.titleHeader
  %h3 COMPANY OVERVIEW
  %h3.separator &nbsp;/&nbsp;
  %h3.sub CONTACT US

.splitLayout
  = render :partial => 'about_left_nav'
  .team.plain_template
    .management.innercontents
      %h5 Contact Us
      .info
        %p How can we help you?

      .info
        %strong Headquarters
        %p
          111 Sutter St
          %br/
          13th Floor
          %br/
          San Francisco, CA 94104
          %br/
          Telephone: 415-766-6900
          %br/
          Fax: 415-296-9007

      .info
        %strong Email
        %p
          Customer Service:
          = mail_to 'help@tapjoy.com'
          %br/
          Company Information:
          = mail_to 'info@tapjoy.com'
          %br/
          Publisher Support:
          = mail_to 'publishersupport@tapjoy.com'
          %br/
          Advertisers:
          = mail_to 'info@tapjoy.com'
          %br/
          Mobile Support:
          = mail_to 'mobilesupport@tapjoy.com'

- content_for :page_styles do
  :plain
    p.info {
      padding: 1px;
    }
    ol.instructions {
      list-style-position: inside;
      padding-left: 0px;
    }
