.banner.nobannerbg
  .anythingSlider
    .slidewrapper
      %ul
        %li
          .slide#slide1
            .title
              .medium App developers...
              .large Distribute your app
              .orange.largest Everywhere.
            .body
              .list
                = image_tag "/images/site/arrow-orange.png"
                Break into the top 25 in the app charts
              .list
                = image_tag "/images/site/arrow-orange.png"
                Distribute on Mobile and Web platforms
              .list
                = image_tag "/images/site/arrow-orange.png"
                Pay per install acquisition and re-engagement
        %li
          .slide#slide2
            .title
              .medium App developers...
              .large Boost your revenue by
              .orange.larger 100% or more.
            .body
              .list
                = image_tag "/images/site/arrow-orange.png"
                The proven leader in monetizing web and mobile apps
              .list
                = image_tag "/images/site/arrow-orange.png"
                Turn-key virtual goods &amp; microtransactions platform
              .list
                = image_tag "/images/site/arrow-orange.png"
                Direct and indirect payments in nearly 200 countries

.ticker
  %p
    MOBILE DEVELOPERS:
    %span CRACK THE TOP 25!
    GET 100,000+ INSTALLS DAILY ON A CPI BASIS.
    = link_to 'START NOW.', login_path
.services
  %a{ :href => '/site/app_developers' }
    .section1
      %h2 APP DEVELOPERS
      = image_tag('site/appdev_img.gif', :alt => "APP DEVELOPERS")
      %p Fuel your application's growth with industry-leading monetization and distribution services.
  %a{ :href => '/site/advertisers' }
    .section2
      %h2 ADVERTISERS
      = image_tag('site/ads_img.gif', :alt => 'ADVERTISERS')
      %p Reach more than 100 million consumers on leading social networks and mobile platforms.
  %a{ :href => '/site/gaming_platforms' }
    .section3
      %h2 GAMING PLATFORMS
      = image_tag('site/gamedev_img.gif', :alt => "GAME DEVELOPERS")
      %p Integrate virtual currency payments and popular gaming content into your platform.
.partnerList= image_tag 'site/partlist_img.gif'
- content_for :page_styles do
  :plain
    .slide {
      width:875px;
      height:357px;
    }
    .title {
      text-transform: uppercase;
      padding-left: 60px;
      padding-top: 25px;
    }
    .medium {
      font-size: 1.6em;
      padding-bottom: 10px;
    }
    .large {
      font-size: 2.4em;
    }
    .larger {
      font-size: 4.4em;
    }
    .largest {
      font-size: 6em;
    }
    .orange {
      color: #fa5c03
    }
    .body {
      color: #666;
      font-size: 1.2em;
      font-style: oblique;
      padding-left: 60px;
      padding-top: 10px;
    }
    #slide1 {
      background: url(/images/site/01.jpg) no-repeat right top;
    }
    #slide2 {
      background: url(/images/site/02.jpg) no-repeat right top;
    }
    #slide3 {
      background: url(/images/site/03.jpg) no-repeat right top;
    }
    div.list {
      padding-bottom: 10px;
    }
    div.list img {
      float: none;
      padding-top: 5px;
      padding-right: 10px;
    }
- content_for :included_javascripts do
  :plain
    function formatText(index, panel) {
      return index + "";
    };
    $(function ($) {
      $('.anythingSlider').anythingSlider({
        easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
        autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
        delay: 5000,                    // How long between slide transitions in AutoPlay mode
        startStopped: false,            // If autoPlay is on, this can force it to start stopped
        animationTime: 500,             // How long the slide transition takes
        hashTags: true,                 // Should links change the hashtag in the URL?
        buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
        pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
        startText: "Go",                // Start text
        stopText: "Stop",               // Stop text
        navigationFormatter: formatText // Details at the top of the file on this use (advanced use)
      });
      $("#slide-jump").click(function(){
        $('.anythingSlider').anythingSlider(4);
      });
    });
