.banner.nobannerbg
  .anythingSlider
    .slidewrapper
      %ul
        %li
          .slide#slide1
            .title
              .small{:style => 'top:40px;'} App developers...
              .large{:style => 'top:70px;'} Distribute your app
              .orange.largest{:style => 'top:115px;'} Everywhere.
            .body
              .list
                = image_tag "/images/site/arrow-orange.png"
                Break into the top 25 in the app charts
              .list
                = image_tag "/images/site/arrow-orange.png"
                Distribute on Mobile and Web platforms
              .list
                = image_tag "/images/site/arrow-orange.png"
                Pay per install acquisition and re-engagement
            .button
              = button_to 'Sign up today', {:action => 'contact_us'}, :method => 'get', :title => "Sign up today", :class => 'blue'
        %li
          .slide#slide2
            .title
              .small{:style => 'top:40px;'} App developers...
              .medium{:style => 'top:70px;'} Boost your revenue by
              .orange.larger{:style => 'top:115px;'} 100% or more.
            .body
              .list
                = image_tag "/images/site/arrow-orange.png"
                The proven leader in monetizing web and mobile apps
              .list
                = image_tag "/images/site/arrow-orange.png"
                Turn-key virtual goods &amp; microtransactions platform
              .list
                = image_tag "/images/site/arrow-orange.png"
                Direct and indirect payments in nearly 200 countries
            .button
              = button_to 'Start earning now', {:action => 'contact_us'}, :method => 'get', :title => "Sign up today", :class => 'blue'
        %li
          .slide#slide3
            .title
              .small{:style => 'top:40px;'} Advertisers...
              .orange.large{:style => 'top:75px;'} Reach 100+ million
              .medium{:style => 'top:130px;'} Social &amp; mobile consumers
            .body
              .list
                = image_tag "/images/site/arrow-orange.png"
                Includes users other networks can't reach
              .list
                = image_tag "/images/site/arrow-orange.png"
                Deepest relationships with top app developers
              .list
                = image_tag "/images/site/arrow-orange.png"
                Ideal for both performance and brand advertising
            .button
              = button_to 'Contact us to learn more', {:action => 'advertisers_contact'}, :method => 'get', :title => "Sign up today", :class => 'blue'

.services
  %a{ :href => '/site/app_developers' }
    .section1
      %h2 APP DEVELOPERS
      = image_tag('site/appdev_img.gif', :alt => "APP DEVELOPERS")
      %p Fuel your application's growth with industry-leading monetization and distribution services.
  %a{ :href => '/site/advertisers' }
    .section2
      %h2 ADVERTISERS
      = image_tag('site/ads_img.gif', :alt => 'ADVERTISERS')
      %p Reach more than 100 million consumers on leading social networks and mobile platforms.
  %a{ :href => '/site/gaming_platforms' }
    .section3
      %h2 GAMING PLATFORMS
      = image_tag('site/gamedev_img.gif', :alt => "GAME DEVELOPERS")
      %p Integrate virtual currency payments and popular gaming content into your platform.
.partnerList= image_tag 'site/partlist_img.gif'
- content_for :page_styles do
  :plain
    .slide {
      width:875px;
      height:357px;
    }
    .title, .body, .button {
      padding-left: 60px;
    }
    .title {
      text-transform: uppercase;
      padding-top: 40px;
    }
    .title div {
      padding: 0px auto;
      position: absolute;
    }
    .small {
      font-size: 1.6em;
      padding-bottom: 10px;
    }
    .medium {
      font-size: 2.8em;
    }
    .large {
      font-size: 3.6em;
    }
    .larger {
      font-size: 4.8em;
    }
    .largest {
      font-size: 6em;
    }
    .orange {
      color: #fa5c03
    }
    .body {
      color: #444;
      font-size: 1.2em;
      font-style: oblique;
      padding-top: 0px;
      padding-bottom: 5px;
      position: absolute;
      top: 210px;
    }
    #slide1 {
      background: url(/images/site/01.jpg) no-repeat right top;
    }
    #slide2 {
      background: url(/images/site/02.jpg) no-repeat right top;
    }
    #slide3 {
      background: url(/images/site/03.jpg) no-repeat right top;
    }
    div.list {
      padding-bottom: 5px;
    }
    div.list img {
      float: none;
      padding-right: 10px;
    }
    .button {
      position: absolute;
      top: 285px;
    }
- content_for :page_javascript do
  :plain
    function formatText(index, panel) {
      return index + "";
    };
    $(function ($) {
      $('.anythingSlider').anythingSlider({
        easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
        autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
        delay: 7000,                    // How long between slide transitions in AutoPlay mode
        startStopped: false,            // If autoPlay is on, this can force it to start stopped
        animationTime: 500,             // How long the slide transition takes
        hashTags: true,                 // Should links change the hashtag in the URL?
        buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
        pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
        startText: "Go",                // Start text
        stopText: "Stop",               // Stop text
        navigationFormatter: formatText // Details at the top of the file on this use (advanced use)
      });
      $("#slide-jump").click(function(){
        $('.anythingSlider').anythingSlider(3);
      });
    });
