.banner.nobannerbg
  .anythingSlider
    .slidewrapper
      %ul
        %li= link_to image_tag('site/01.jpg', :alt => "App Developers. Distribute your app everywhere."), '/site/contactus.html'
        %li= link_to image_tag('site/02.jpg', :alt => "App Developers. Boost your revenue by 100% or more."), '/site/contactus.html'
        %li= link_to image_tag('site/03.jpg', :alt => "Advertisers. Reach 100+ Million Social & Mobile Customers."), '/site/advertisersContact.html'
.services
  .section1
    %h2 APP DEVELOPERS
    = image_tag('site/appdev_img.gif', :alt => "APP DEVELOPERS")
    %p Fuel your application's growth with industry-leading monetization and distribution services.
    = link_to 'Learn More', '/site/appDevelopers.html'
  .section2
    %h2 ADVERTISERS
    = image_tag('site/ads_img.gif', :alt => 'ADVERTISERS')
    %p Reach more than 100 million consumers on leading social networks and mobile platforms.
    = link_to 'Learn More', '/site/advertisers.html'
  .section3{ :style => "border:none;" }
    %h2 GAMING PLATFORMS
    = image_tag('site/gamedev_img.gif', :alt => "GAME DEVELOPERS")
    %p Integrate virtual currency payments and popular gaming content into your platform.
    = link_to 'Learn More', "/site/gamingPlatforms.html"
.partnerList= image_tag 'site/partlist_img.gif'

- content_for :included_javascripts do
  :plain
    function formatText(index, panel) {
      return index + "";
    };
    $(function ($) {
      $('.anythingSlider').anythingSlider({
        easing: "easeInOutExpo",        // Anything other than "linear" or "swing" requires the easing plugin
        autoPlay: true,                 // This turns off the entire FUNCTIONALY, not just if it starts running or not.
        delay: 5000,                    // How long between slide transitions in AutoPlay mode
        startStopped: false,            // If autoPlay is on, this can force it to start stopped
        animationTime: 500,             // How long the slide transition takes
        hashTags: true,                 // Should links change the hashtag in the URL?
        buildNavigation: true,          // If true, builds and list of anchor links to link to each slide
        pauseOnHover: true,             // If true, and autoPlay is enabled, the show will pause on hover
        startText: "Go",                // Start text
        stopText: "Stop",               // Stop text
        navigationFormatter: formatText // Details at the top of the file on this use (advanced use)
      });
      $("#slide-jump").click(function(){
        $('.anythingSlider').anythingSlider(4);
      });
    });
