- form_for('info', :url => {:action => 'contact'}, :id => 'contact_form') do |f|
  .contact_form
    %h1 Tapjoy Publishing:
    %h2 Your first step on the road to success.
    %p
      If you have a great social or mobile game, or you're about to launch one,
      complete the form below to apply for our publishing program. Selected
      games will receive a publishing agreement with us and gain access to our
      cross-platform distribution network, industry-leading monetization
      platform, working capital and renowned expertise.
    .form_row
      = f.label :first_name
      = f.text_field :first_name
    .form_row
      = f.label :last_name
      = f.text_field :last_name
    .form_row
      = f.label :title
      = f.text_field :title
    .form_row
      = f.label :company
      = f.text_field :company
    .form_row
      = f.label :email_address
      = f.text_field :email_address
    .form_row
      = f.label :phone_number
      = f.text_field :phone_number
    .form_row
      = f.label :game_title
      = f.text_field :game_title
    .form_row
      = f.label :game_url, 'Game URL (if available)'
      = f.text_field :game_url
    .form_row
      = f.label :daily_active_users
      = f.text_field :daily_active_users
    .form_row
      = f.label :launch_date
      = f.text_field :launch_date
    .form_row
      = f.label :description
      = f.text_area :description, :rows => 4
    .form_row
      = f.label :comments
      = f.text_area :comments, :rows => 4
    = f.hidden_field :source, :value => 'publishers_contact'
    = image_submit_tag 'site/submit_btn.gif'

- content_for :page_styles do
  :plain
    div.form_row {
      padding: 3px 0px;
    }
