- content_for :page_head, stylesheet_link_tag('about_us')
- content_for :page_head, stylesheet_link_tag('team')

#about_us
  #left
    = render :partial => 'homepage/sub_nav'
  #right
    %img.header{:src => "/images/meet_the_team.png"}/
    - @employees.each do |employee|
      #user
        .teampic= image_tag employee.get_photo_url, :alt => employee.full_name
        %span.name
          = employee.full_name
        %span.title
          = employee.title
        .about
          %p.biosmall
            - if (employee.biography.length > 140)
              = truncate(employee.biography, :length => 140)
              %a.showbio{:href => "javascript:;"}
                [Full Bio]
            - else
              = employee.biography
          %p.biolarge
            = employee.biography
            %a.showbio{:href => "javascript:;"}
              [Short Bio]
          #questions
            .question
              %span.header
                Secret superpower
              %span.answer
                = employee.superpower
            .question
              %span.header
                Currently playing
              %span.answer
                = employee.current_games
            .question
              %span.header
                Weapon of choice
              %span.answer
                = employee.weapon
      .divider
.clear