- @page_title = 'Job Configuration'

%h2 Job Configuration

= link_to 'New Job', new_tools_job_path

%table.tablesorter
  %thead
    %tr
      %th Active?
      %th Job type
      %th Controller
      %th Action
      %th Frequency
      %th &nbsp;
  %tbody
    - @jobs.each do |job|
      %tr{ :class => cycle('even', 'odd') }
        %td= job.active?
        %td= job.job_type
        %td= job.controller
        %td= job.action
        %td= job.frequency_in_words
        %td
          = link_to('[edit]', edit_tools_job_path(job))
          = link_to('[destroy]', tools_job_path(job), :method => :delete, :confirm => "Delete #{job.job_path}?")

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }
