- @page_title = "Reporting for #{@offer.name}"

- if is_msie?
  .flash
    %strong Warning:
    Advanced reporting features may not be available in Internet Explorer.
    Please download
    = link_to 'Firefox', 'http://www.mozilla.com/', :target => '_blank'
    or
    = link_to 'Chrome', 'http://www.google.com/chrome', :target => '_blank'
    \.

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_offers, :selected => @offer, :options => {:extra_url_params => params, :title_prefix => 'Reporting for'} }
%br/

%form#change_date.tjform
  = render :partial => 'date_range_fields'

%br
%br

= render :partial => 'export_form', :locals => { :export_link => export_reporting_path(@offer.id) }
|
= link_to('Reporting API', api_reporting_index_path)
|
= link_to('Aggregate Data', aggregate_reporting_index_path)

.clear

.load-circle= image_tag('load-circle.gif')
#charts{ :style => "text-align: center;" }
  #connects.graph
  #installs_spend.graph
  #installs_rank.graph
  - if @offer.is_publisher_offer?
    #revenue.graph
    #offerwall.graph
    - if Time.now >= Date.new(2012, 5, 1)
      #tjm_offerwall.graph
    #featured_offers.graph
    #display_ads.graph
  - if @offer.has_virtual_goods?
    #virtual_goods.graph

.clear

- unless @udids.empty?
  %hr
  %h3 UDIDs Reports
  %ul.udid-reports
    - @udids.each do |key|
      .li= link_to(key, download_udids_reporting_path(@offer.id, :date => key))

- include_tapjoy_graph
