- @page_title = "Admin Devices"

%h1 Admin Devices

%h4= link_to "[Add New Admin Device]", new_tools_admin_device_path

%table#admin_devices_table.tablesorter
  %thead
    %tr
      %th Platform
      %th UDID
      %th{ :class => 'headerSortDown header' }  Description
      - action_colspan = 2
      - action_colspan += 1 if permitted_to?(:device_info, :tools)
      %th{ :colspan => action_colspan } Actions
  %tbody
    - @admin_devices.each do |device|
      - class_names = cycle('', 'odd')
      - class_names += " mine" if device.user_id == current_user.id
      %tr{ :class => class_names }
        %td= device.platform
        %td.udid= device.udid
        %td= device.description
        %td= link_to '[Edit]', edit_tools_admin_device_path(device)
        %td= link_to '[Delete]', tools_admin_device_path(device), :method => :delete, :confirm => "Are you sure you want to remove this device: #{device.description}"
        - if permitted_to?(:device_info, :tools)
          %td= link_to '[More Info]', device_info_tools_path(:udid => device.udid)

- content_for :page_javascript do
  :plain
    $(function() {
      $("#admin_devices_table").tablesorter({
        widgets: ['zebra'],
        headers: { 3: {sorter: false} }
      });
    });
