- @page_title = 'Reporting'

%h1 Reporting Home
%table
  %tbody
    %tr
      %td#bar-left
        = render :partial => 'apps/my_app', :collection => @current_partner_apps

      %td#selected-app
        .right
          =select_tag "metric", "<option>Clicks</option><option>Offers</option>"
        .right
          %input.date{:value => "5/11/2010"}
        .clear

        #connects.graph{:style=>"border: 1px solid black;"}
          %h3
          .totals
          .holder
            %canvas#clicks_graph{:width => '550px', :height => '330px'}
            .bar
            .tooltip

        .clear
        .left
          %table#clicks
            %tbody
              %tr
                %th Clicks
                %td
              %tr
                %th Installs
                %td
              %tr
                %th Conversion Rate
                %td
              %tr
                %th Spend
                %td
              %tr
                %th Daily Budget
                %td
              %tr
                %th Total Budget
                %td
              %tr
                %th Cost per Install
                %td
        .right
          %table#offers-data
            %tbody
              %tr
                %th Offers
                %td
              %tr
                %th Offers Opened
                %td
              %tr
                %th Conversion Rate
                %td
              %tr
                %th Revenue per Offer
                %td
              %tr
                %th Average Revenue/Day
                %td
              %tr
                %th Total Revenue
                %td

- include_tapjoy_graph

- content_for :page_javascript do
  :plain
    var clickData = {
      "name": "Rewarded installs + spend",
      "intervals": [ "#{(1..10).to_a.join('","')}" ],
      "xLabels": [ "#{('aa'..'aj').to_a.join('","')}" ],

      "main": {
        "data":[
           [ #{(1..10).to_a.join(',')} ]
        ],
        "names": ["Clicks"],
        "totals": [ #{(1..10).to_a.sum} ]
      }
    };

    $(function() {
      Tapjoy.drawLargeGraph(clickData, 'clicks');
    });

