- gray = '#505050'
- red  = '#e11826'
- offset = '30px'
:ruby
  image_root = "#{TJGAMES_URL}/images/email"
  css = {
    :a => "color: #{red}; text-decoration: none;",
    :social => "width: 20px;",
    :follow_us => "font-weight: bold; font-style: italic; font-size: 13px; width: 70px;",
    :bold_content => "font-weight: bold; font-size: 13px; margin: 30px 0px;",
  }

#email{:style => "color: #{gray}; padding: 20px auto; width: 500px; font-family: 'arial'; font-size: 12px; background-color: white; align: center;"}    
  %table{:border => 0, :cellspacing => 0, :cellpadding => 0, :style => "width: 100%;"}
    %tr
      %td
        = image_tag("#{image_root}/logo.png")
      %td{:style => css[:follow_us]}
        follow us:
      %td{:style => css[:social]}
        - link_to 'https://www.facebook.com/TapjoyGames', :style => css[:a] do
          = image_tag("#{image_root}/fb_icon.png", :title => 'Facebook', :alt => 'Facebook', :style => "border: none;")
      %td{:style => css[:social]}
        - link_to 'https://twitter.com/#!/tapjoygames', :style => css[:a] do
          = image_tag("#{image_root}/twitter_icon.png", :title => 'Twitter', :alt => 'Twitter', :style => "border: none;")                        
  %hr{:style => "color: #{red}; background: #{red}; border: 0px; height: 1px;"}
  .greeting{:style => css[:bold_content]} Hi,
  - @content.each do |line|
    %p= line
  - link_to "#{@link}", :style => css[:a] do
    = image_tag("#{image_root}/createAccount_btn.png", :title => 'TapjoyGames', :alt => 'Tapjoy Games', :style => "border: none;")
  %br
  .signature{:style => css[:bold_content]} Team Tapjoy