- content_for :page_head, stylesheet_link_tag('facebox')

- form_for(@offer, :url => { :action => :update }, :html => { :method => :put, :class => 'tjform', :id => 'update' }) do |f|
  %table
    %tbody
      %tr
        %th
          = f.label :user_enabled, @offer.featured? ? 'Enable Featured Installs' : 'Enable Installs'
          #help_user_enabled.help ?
        %td
          = f.check_box :user_enabled
          = error_message_on @offer, :user_enabled
      %tr
        %th
          = f.label :bid, 'Bid'
          #help_bid.help ?
        %td
          = f.currency_field :bid, {}, :class => 'togglable'
          = error_message_on @offer, :bid
          - if @offer.featured?
            #percentile-info.percentile-details
              This bid will make your offer more prioritized than
              %span#percentile= "#{@offer.percentile}%" rescue 'N/A'
              of
              = @offer.rewarded? ? 'rewarded' : 'non-rewarded'
              featured offers.
            #percentile-info-loading.percentile-details{ :style => 'display: none' }
              Estimating new featured placement...
            .percentile-details
              The bid is just one of many factors affecting your
              = @offer.rewarded? ? 'rewarded' : 'non-rewarded'
              featured offer ranking.
          - elsif !@offer.rewarded?
            #percentile-info.percentile-details
              This bid will make your offer more prioritized than
              %span#percentile= "#{@offer.percentile}%" rescue 'N/A'
              of ads.
            #percentile-info-loading.percentile-details{ :style => 'display: none' }
              Estimating new ad placement...
            .percentile-details
              The bid is just one of many factors affecting your ranking.
          - else
            #percentile-info.percentile-details
              This bid places you above approximately
              %span#percentile= "#{@offer.percentile}%" rescue 'N/A'
              of offers on the offerwall.
            #percentile-info-loading.percentile-details{ :style => 'display: none' }
              Estimating new offerwall placement...
            .percentile-details
              The bid is just one of many factors affecting your offerwall ranking.
      %tr
        %th
          = f.label :payment, 'Payment'
          #help_payment.help ?
        %td
          = f.currency_field :payment, {}, :disabled => 'disabled'
          = error_message_on @offer, :payment
          - if @offer.partner.offer_discounts.active.blank?
            .premier
              Want to reduce your payment?
              = link_to 'Learn more about the Tapjoy Premier Program', premier_path, :tabindex => 97
      %tr
        %th
          Offer Name
          #help_offer_name.help ?
        %td= @offer.name
      %tr{ :class => (@app.store_id? ? '' : 'hidden')}
        %th
          = f.label "View Ads"
          #help_view_ads.help ?
        %td
          - if @offer.featured?
            - @custom_creative_sizes.each do |size_hash|
              = link_to("Preview #{size_hash[:label_image_size]} ads", preview_app_offer_path(:id => @offer.id, :app_id => @app.id, :image_size => size_hash[:image_size], :preview => true), :rel => 'facebox', :id => 'preview_link')
              %br
          - else
            = link_to("Preview ads", preview_app_offer_path(:id => @offer.id, :app_id => @app.id), :rel => 'facebox', :id => 'preview_link')
      %tr
        %th
          = f.label :daily_budget, 'Daily Budget'
          #help_daily.help ?
        %td
          = label_tag :daily_budget_off, 'Unlimited'
          = radio_button_tag('daily_budget', 'off', @offer.daily_budget <= 0, :class => 'togglable')
          &nbsp;
          = label_tag :daily_budget_on, 'Limit'
          = radio_button_tag('daily_budget', 'on', @offer.daily_budget > 0, :class => 'togglable')
          - budget_fields_class = @offer.daily_budget > 0 ? '' : 'hidden'
          #daily_budget_fields{ :class => budget_fields_class }
            = f.label(:daily_budget, 'Installs:', :class => 'installs')
            = f.text_field(:daily_budget, :class => 'togglable installs')
            %br
            = label_tag('estimated_budget', 'Daily Budget:', :class => 'budget')
            = text_field_tag('estimated_budget', '', :class => 'togglable estimated_budget', :size => 20)
            = error_message_on @offer, :daily_budget
      %tr
        %th
          Balance
          #help_balance.help ?
        %td
          = number_to_currency(current_partner.balance / 100.0)
          = link_to 'Add funds', add_funds_billing_path, :class => 'addfunds', :tabindex => 98
      %tr
        %th
          Tapjoy Enabled
          #help_enabled.help ?
        %td
          - if @offer.tapjoy_enabled
            .tapjoy-enabled Enabled
          - else
            - if @enable_request.new_record?
              .tapjoy-disabled Disabled
              - if @offer.can_request_enable?
                = button_to_function 'Submit Enable App Request', 'requestAppEnable()', :id => 'request_app_enable', :disabled => true
            - else
              .tapjoy-disabled Pending
              (your request was submitted #{@enable_request.created_at.to_s(:pub_ampm)})
      - if @offer.partner.exclusivity_level
        %tr
          %th
            Tapjoy Premier
            #help_premier.help ?
          %td
            = "Member until #{@offer.partner.exclusivity_expires_on.to_s :mdy}"
      - if @offer.partner.currencies.count > 0
        %tr
          %th
            = f.label(:self_promote_only)
            #help_self_promote_only.help ?
          %td
            = f.check_box(:self_promote_only)
            = error_message_on @offer, :self_promote_only
      %tr
        %th
          = f.label(:min_os_version, "Minimum OS Version")
          #help_min_os_version.help ?
        %td
          = f.select(:min_os_version, @app.os_versions, :include_blank => 'No Minimum')
          = error_message_on(@offer, :min_os_version)

      - if permitted_to?(:edit, :statz)
        = render('apps/offers_shared/admin_fields', :f => f)
      %tr
        %td{ :colspan => 2 }= f.submit 'Update', {:disabled => 'disabled', :id => 'offer_submit_button'}

- if @offer.can_change_banner_creatives?
  %br
  Upload custom creatives <small style='color:red'>(red labels are pending approval)</small>:
  %br
  = render('offer_creatives/iframes', :offer => @offer, :app => @app)

- if !@offer.tapjoy_enabled? && @enable_request.new_record?
  - form_for(@enable_request, :html => { :class => 'tjform' }) do |f|
    = f.hidden_field(:offer_id)

.hidden
  #help_offer_name_content{:name => 'Offer Name'}
    Name that will be displayed on offer walls.
  #help_view_ads_content{:name => 'View Ads'}
    Shows previews of how offers will be displayed to users. Previews are available for multiple screen resolutions.
  #help_balance_content{:name => 'Balance'}
    Current balance available.
  #help_daily_content{:name => 'Daily Budget'}
    The maximum number of installs per day.
  #help_bid_content{:name => 'Bid'}
    The amount you are willing to pay for an install. A higher bid will result in more traffic. The minimum bid is
    = number_to_currency(0.01 * @offer.min_bid)
  #help_payment_content{:name => 'Payment'}
    The amount that you pay for install. This value is equal to the Bid
    unless you participate in the Tapjoy Premier program, or reach monthly spend figures
  #help_user_enabled_content{:name => 'Enable Installs'}
    Enable installs to get your campaign started.
  #help_enabled_content{:name => 'Tapjoy Enabled'}
    Tapjoy approval status.
    - unless @offer.tapjoy_enabled?
      - if @offer.can_request_enable?
        Once you provide us with app's store ID, we will be able to verify it and enable this campaign.
      - else
        Click the button to submit an enable app request. Tapjoy Support Team will verify integration with the latest build on the market, and will contact you when your app is Tapjoy Enabled. Once Tapjoy Enabled, you'll be ready to start advertising campaigns.
  #help_premier_content{:name => 'Tapjoy Premier'}
    When your Tapjoy Premier exclusivity expires.
  #help_self_promote_only_content{:name => 'Self Promote Only'}
    Promote the app only on your own offerwalls. You will not be charged for these installs.
  #help_min_os_version_content{:name => 'Minimum OS Version'}
    Your offer will only be shown to devices with an OS at this version or higher.
  #help_screen_layout_sizes_content{ :name => 'Screen Layout Sizes' } Targets this offer to these screen sizes. If no specific screen sizes are selected, all screen sizes will be targeted.
  #bid_high_reject.colorbox-content
    The maximum bid you can set for this offer is:
    .amount &nbsp;
    To set a higher bid, please contact your account manager or #{mail_to 'support@tapjoy.com'}.
  #bid_high_warn.colorbox-content
    Please confirm that your new bid will be:
    .amount &nbsp;

- content_for :page_javascript do
  :plain
    var requestAppEnable = $.noop;
    $(function($){
      var originalBidValue = stringToNumber($('#offer_bid').val());
      var bidWarningCleared = true;
      var valueChangeAccepted = false;
      $('#offer_submit_button').attr('disabled', '');
      $('#request_app_enable').attr('disabled', '');
      $('#offer_bid').keypress(function(e){
        if (e.keyCode == 13) { return false;}
      });
      requestAppEnable = function() {
        $('form#new_enable_offer_request').submit();
      };
      if (#{!current_partner.is_premier?} && $('#flash_notice').is(':hidden')) {
        $('#flash_notice').html('<b>Notice:</b> #{link_to 'Learn more about the Tapjoy Premier Program', premier_path}').show();
      }

      var toggleUserEnabled = function() {
        if ($('#offer_user_enabled').attr('checked')) {
          $('.togglable').attr('disabled', false);
        } else {
          $('.togglable').attr('disabled', true);
        }
      };

      var setEstimatedBudget = function() {
        checkValidBudget();
        var payment = stringToNumber($('#offer_payment').val());
        var installLimit = stringToNumber($('#offer_daily_budget').val(), true);
        var budget = numberToCurrency(payment * installLimit);
        $('#estimated_budget').val(budget);
      };

      var checkValidBudget = function(){
        var installLimit = stringToNumber($('#offer_daily_budget').val(), true);
        var budgetOn = $('#daily_budget_on').is(':checked');
        if (budgetOn && installLimit < 1 ) {
          installLimit = 1;
          $('#offer_daily_budget').val('1');
          alert('Daily install limit must be at least 1. To disable the campaign, please uncheck the box labeled "Enable Installs".');
          return false;
        }
        return true;
      }
      var checkMinimumPrice = function() {
        var minimumPrice = #{([ @offer.bid, @offer.min_bid ].min) / 100.0};
        var currentPrice = stringToNumber($('#offer_bid').val());
        if (currentPrice < minimumPrice) {
          currentPrice = minimumPrice;
        }
        $('#offer_bid').val(numberToCurrency(currentPrice));
        $('#offer_payment').val(numberToCurrency(currentPrice * #{(100.0 - @offer.partner.premier_discount) / 100.0}));
      };
      var acceptAction = function() {
        valueChangeAccepted = true;
        $('form#update').submit();
        $.fn.colorbox.close();
      };
      var cancelAction = function() {
        if (!valueChangeAccepted) {
          onOfferBidChanged({skipValidation: true});
        }
      };
      var openColorbox = function(divId, amount, submitForm) {
        $(divId + " .amount").text(numberToCurrency(amount));
        $.colorbox({
          transition: "elastic", speed: 250, overlayClose: false, escKey: true,
          innerWidth: 450, opacity: 0.5, inline: true, close: 'Cancel',
          onClosed: cancelAction,
          href: divId,
        });
      };
      var checkMaximumBid = function(submitForm) {
        if (!#{permitted_to?(:edit, :statz)}) {
          var currentBid = $('#offer_bid').val();
          var currentBidValue = stringToNumber(currentBid);
          var userBidMaxValue = #{@offer.user_bid_max};
          var userBidMax = numberToCurrency(userBidMaxValue);
          var userBidWarningValue = #{@offer.user_bid_warning};

          if (valueChangeAccepted) {
          } else if (currentBidValue > userBidMaxValue) {
            openColorbox('#bid_high_reject', userBidMaxValue);
            $('#cboxAccept').hide();
            return false;
          } else if (currentBidValue > userBidWarningValue && !bidWarningCleared && submitForm) {
            openColorbox('#bid_high_warn', currentBidValue, submitForm);
            if ($('#cboxAccept').length == 0) {
              $('<div id="cboxAccept">').
                text('Ok').
                click(acceptAction).
                hover(function () { $(this).addClass('hover'); },
                  function () { $(this).removeClass('hover'); }).
                insertAfter('#cboxClose');
            }
            $('#cboxAccept').show();
            return false;
          }
        }
        return true
      }

      var toggleDailyBudget = function() {
        if ($('#offer_daily_budget').val() == 0) {
          $('#offer_daily_budget').val('');
        }
      };

      var updatePercentile = function() {
        $.ajax({
          data: { "bid" : $('#offer_bid').val() },
          beforeSend: function() {
            $('#percentile-info').hide();
            $('#percentile-info-loading').show();
          },
          success: function(result) {
            $('#percentile').html(result.percentile + "%");
            $('#percentile-info-loading').hide();
            $('#percentile-info').show();
            $('#percentile').effect('highlight', {}, 1500);
          },
          type: 'post',
          url: '#{percentile_app_offer_url(@app, @offer)}'
        });
      };

      toggleUserEnabled();
      $('#offer_user_enabled').change(toggleUserEnabled);

      if ( $('#daily_budget_on').is(':checked') ) {
        setEstimatedBudget();
        $('#offer_daily_budget').val(addCommaSeparators(stringToNumber($('#offer_daily_budget').val(), true)));
      }
      var onOfferBidChanged = function(options) {
        options = options || {};
        bidWarningCleared = false;
        if (!options.skipValidation) {
          checkMinimumPrice();
          checkMaximumBid(false);
          updatePercentile();
        }
        if ( $('#daily_budget_on').is(':checked') ) {
          setEstimatedBudget();
        }
      };
      $('#offer_bid').change(function() { onOfferBidChanged(); });
      $('#offer_daily_budget').change(function() {
        var installsLimit = Math.floor(stringToNumber($(this).val(), true));
        $(this).val(addCommaSeparators(installsLimit));
        setEstimatedBudget();
      });
      $('#estimated_budget').change(function() {
          var budget = stringToNumber($(this).val(), true);
          var currentPayment = stringToNumber($('#offer_payment').val(), true);
          var installLimit = Math.floor(budget / currentPayment);
          $(this).val(numberToCurrency(budget));
          $('#offer_daily_budget').val(addCommaSeparators(installLimit));
          if (!checkValidBudget()) {
            $('#offer_daily_budget').change();
          }
      });
      $('#daily_budget_on').click(function(){
        $('#daily_budget_fields').slideDown();
        toggleDailyBudget();
      });
      $('#daily_budget_off').click(function(){
        $('#daily_budget_fields').slideUp();
        toggleDailyBudget();
      });
      toggleDailyBudget();

      $('form#update').submit(function() {
        checkMinimumPrice();
        return checkValidBudget() && checkMaximumBid(true);
      });

  - if params[:show_preview] == 'true'
    :plain
      $.facebox({ajax: "#{preview_app_offer_path(:id => @offer.id, :app_id => @app.id, :image_size => params[:preview_image_size], :preview => 'true')}"});

  :plain
    });

- content_for :page_styles do
  :plain
    .addfunds {
      padding-left: 15px;
    }
    .premier, .percentile-details {
      font-size: 12px;
    }
    textarea,
    input[type=text] {
      width: 400px;
    }
    .tapjoy-enabled {
      color: #328F0D;
    }
    .tapjoy-disabled {
      color: #AF1515;
    }
    label.narrower, input.narrower {
      width: 140px;
    }
    label.installs, label.estimated_budget {
      width: 60px;
      display: inline-block;
    }
    input[type=text].installs {
      width: 336px;
    }
    input[type=text].estimated_budget {
      width: 300px;
    }
    .colorbox-content {
      font-size: 20px;
    }
    .colorbox-content .amount {
      font-size: 72px;
      font-weight: bold;
      text-align: center;
      margin: 20px auto;
    }
    #cboxClose,#cboxAccept{
      display: inline-block;
      color: #222;
      font-size: 16px;
      font-family: arial, helvetica;
      text-decoration: none;
      padding: 3px 10px;
      border: 1px solid #888;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
    #cboxAccept{
      text-shadow: 0px 1px 1px #dfd;
      background-color: #bfb;
      background: -webkit-gradient(linear, left top, left bottom, from(#bfb), to(#9d9));
      background: -moz-linear-gradient(top,  #bfb,  #9d9);
    }
    #cboxClose{
      text-shadow: 0px 1px 1px #fdd;
      background-color: #fbb;
      background: -webkit-gradient(linear, left top, left bottom, from(#fbb), to(#d99));
      background: -moz-linear-gradient(top,  #fbb,  #d99);
    }
    #cboxAccept.hover {
      text-shadow: 0px 1px 1px #afa;
      background-color: #8f8;
      background: -webkit-gradient(linear, left top, left bottom, from(#8f8), to(#6b6));
      background: -moz-linear-gradient(top, #8f8, #6b6);
    }
    #cboxClose.hover {
      text-shadow: 0px 1px 1px #faa;
      background-color: #f88;
      background: -webkit-gradient(linear, left top, left bottom, from(#f88), to(#b66));
      background: -moz-linear-gradient(top, #f88, #b66);
    }
    #percentile {
      font-weight: bold;
    }
    .creative_upload {
      width: 100%;
      border: none;
      height: 35px;
    }
