- @page_title = 'Ad Preview'

#previews
  - publisher_app_id = App::PREVIEW_PUBLISHER_APP_ID
  - unable_to_show = []
  - if @offer.featured?
    - if @show_generated_ads
      Featured ad:
      %div.img320x480
        = image_tag(@offer.fullscreen_ad_image_url(publisher_app_id, true), :class => 'preview', :alt => '')
    - else
      - unable_to_show << "Featured"
  - else
    - if @offer.rewarded? # show offer wall ad
      - if @show_generated_ads
        Marketplace ad:
        %div.img320x76
          = image_tag(@offer.get_offers_image_url(publisher_app_id, true), :class => 'preview', :alt => '')
      - else
        - unable_to_show << "Marketplace"

    - if @offer.display_banner_ads?
      - Offer::DISPLAY_AD_SIZES.each do |size|
        - if @show_generated_ads || @offer.banner_creatives.include?(size)
          = "#{size} banner ad:"
          %div{:class => "img#{size}"}
            - width, height = size.split("x").collect{|x|x.to_i}
            = image_tag(@offer.display_ad_image_url(publisher_app_id, width, height, nil, nil, true), :class => 'preview', :alt => '')
        - else
          - unable_to_show << "#{size} banner"

  - if unable_to_show.any?
    #unable_to_show
      = "Unable to show the following ad#{unable_to_show.length == 1 ? '' : 's'}:"
      %div
        = unable_to_show.join(", ")
      %div
        %i
          Please
          = link_to('find your app', app_path(@app))
          = "in the app store so we can generate #{unable_to_show.length == 1 ? 'this ad' : 'these ads'} using your app's icon."

  - if !@offer.featured?
    - if @offer.rewarded?
      .banner_ad_notes
        *Banner ads for rewarded installs are only displayed for free apps where the app name is 30 characters or less, and where the conversion rate is 30% or more.
    - else
      .banner_ad_notes
        *To provide custom creatives for your non-rewarded ads, please contact
        = succeed '.' do
          = mail_to "support@tapjoy.com"
        Please ensure images have correct dimensions. Custom banner ads for non-rewarded installs are only displayed for free apps.

- content_for :page_javascript do
  :plain
    $(function($){
      $("img.preview").load(function() {
        this.setAttribute("style", "display: inline; border: 1px solid;");
      });
    });

- content_for :page_styles do
  :plain
    #previews {
      text-align: center;
    }

    #unable_to_show {
      color: red;
      min-width: 640px;
      margin-bottom: 15px;
    }

    .banner_ad_notes {
      font-size: 12px;
    }

    img.preview {
      display: none;
    }

  - (Offer::DISPLAY_AD_SIZES + %w(320x480 320x76)).each do |size|
    - width, height = size.split("x")
    - if @show_generated_ads # show spinner while images are loading
      :plain
        div.img#{width}x#{height} {
          background-image: url('/images/spinner.gif');
          background-repeat: no-repeat;
          background-position: center;
        }
    :plain
      div.img#{width}x#{height} {
        height: #{height}px;
        margin-bottom: 10px;
        margin-top: 5px;
        min-width: #{width}px;
      }
