- @page_title = 'Daily Rewards Publisher Tool'

%h3 Daily Rewards Publisher Tool

- if @currencies.present?

  %p Below is a listing of all Daily Rewards for this app.
  %p To create a new Daily Reward for the next day, click the 'Add A Day' link under the table below.
  - if @campaign.present?
    %p To edit an existing Daily Reward, click the 'Edit' link next to that Daily Reward in the table below.
    %p To remove a Daily Reward, click the 'Remove' link next to that Daily Reward in the table below.

    .tjform
      %br
      %b Enabled:
      = @app.reengagement_campaign_enabled? ? 'YES' : 'NO'
      - if @app.reengagement_campaign_enabled?
        = button_to 'Disable Campaign', update_status_app_reengagement_offers_path({:app_id => @app.id, :enabled => 0})
      - else
        = button_to 'Enable Campaign', update_status_app_reengagement_offers_path({:app_id => @app.id, :enabled => 1})
      %br
      %table
        %tr
          %th
            Day
          %th
            Reward Currency
          %th
            Reward Amount
          %th
          %th
          %th
          %th
          %th
          %th
        - @campaign.each do |ro|
          -if ro.day_number > 0
            %tr
              %td
                = ro.day_number
              %td
                = ro.currency.name
              %td
                = ro.reward_value
              %td
              %td
                = link_to 'Preview', app_reengagement_offer_path(:id => ro.id)
              %td
              %td
                = link_to 'Edit', edit_app_reengagement_offer_path(:id => ro.id)
              %td
              %td
                - if ro == @campaign.last
                  = link_to 'Remove', app_reengagement_offer_path(:app_id => @app.id, :id => ro.id), {:method => :delete}

        %tr
          %td{:colspan => "2"}
            = link_to 'Add A Day', new_app_reengagement_offer_path(:app_id => @app.id), {:method => :get}
  - else
    %p
    %p You have no Daily Rewards for this application. If you would like to make one, click the button below.
    = link_to 'Add A Day', {:action => "new"}, :method => :get

- else
  This app does not have a currency enabled. It must have a currency enabled before a Daily Reward can be created.
