#login-form{ :class => login_form_class_name }
  .bd.clearfix
    - form_for([ :games, gamer_session ], :url => games_login_path) do |f|
      - if params[:data].present?
        = hidden_field_tag :data, params[:data]
      - if params[:path].present?
        = hidden_field_tag :path, params[:path]
      .title
        = t("text.games.log_in_tapjoy")

      .ui-joy-button.orange-action.log-in-with-facebook{ 'data-submit-form-id' => 'log-in-with-facebook-form' }
        %a.facebook-square
          = t('text.games.log_in_with_facebook')

      .form-separator or

      .form-error
        &nbsp;
        = error_message_on gamer_session, :email
        = error_message_on gamer_session, :password
      .field.email
        = f.email_field :email, "autocorrect" => "off", "autocapitalize" => "off", :placeholder => t("text.shared.email"), :required => ""
      .field.password
        %label{ :for => "password", :class => "hidden" }
          Password
        = f.password_field :password, :placeholder => t("text.shared.password"), :required => ""
      .field.clearfix
        .ui-joy-button.soft-grey-action.cancel-btn
          = t("text.shared.cancel")
        = f.submit t("text.shared.login_verb"), :class => "ui-joy-button ui-button-orange login-btn"
      .forgot-pass
        = link_to(t("text.games.forgot_pass"), new_games_password_reset_path)
  .container.mt20.center
    = render '/shared/truste'

= form_tag "#{games_gamer_sessions_path(:path => params[:path], :data => params[:data], :referrer => params[:referrer])}", :method => :post, :id => 'log-in-with-facebook-form', :authenticity_token => "#{form_authenticity_token}"

- @load_facebook = true
