- form_for([ :tools, @job ], :html => { :class => 'tjform' }) do |f|
  %table
    %tr
      %th= f.label :active
      %td= f.check_box :active
    %tr
      %th= f.label :job_type
      %td= f.select :job_type, Job::JOB_TYPES
    %tr
      %th= f.label :controller
      %td
        = f.text_field :controller, :size => 50
        = error_message_on @job, :controller
    %tr
      %th= f.label :action
      %td
        = f.text_field :action, :size => 50
        = error_message_on @job, :action
    %tr
      %th= f.label :frequency
      %td= f.select :frequency, Job::FREQUENCIES
    %tr
      %th= f.label :seconds
      %td
        = f.text_field :seconds, :size => 50
        = error_message_on @job, :seconds
    %tr
      %td{ :colspan => 2 }= f.submit 'Save'
