.container
  .ui-joy-group.p10.ptn
    .ui-joy-group-title.mb5= t('text.shared.profile')
    %ul.list-button-container
      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.name')
            .ui-joy-label= @gamer_profile.name
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.nickname')
            .ui-joy-label= @gamer_profile.nickname
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.gender')
            .ui-joy-label
              - gender_key = @gamer_profile.gender
              = t("text.shared.#{gender_key}") if gender_key.present?              
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.location')
            .ui-joy-label
              = @gamer_profile.city_and_country
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;
            
  .ui-joy-group.p10.ptn
    .ui-joy-group-title.mb5= t('text.shared.favorites')
    %ul.list-button-container.mb10
      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.games.favorite_app')
            .ui-joy-label= @gamer_profile.favorite_game
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;
      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.games.favorite_category')
            .ui-joy-label= @gamer_profile.favorite_category
          .right.rightarrow.icon24.mt10.icon-pos-100
            &nbsp;
