.container
  .ui-joy-group.ptn
    .ui-joy-group-title= t('text.shared.profile')
    %ul.list-button-container.mb10
      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.name')
            .ui-joy-label= @gamer_profile.name

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.nickname')
            .ui-joy-label= @gamer_profile.nickname

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.gender')
            .ui-joy-label
              - gender_key = @gamer_profile.gender
              = t("text.shared.#{gender_key}") if gender_key.present?

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.shared.location')
            .ui-joy-label
              = @gamer_profile.city_and_country

  .ui-joy-group.ptn
    .ui-joy-group-title= t('text.shared.favorites')
    %ul.list-button-container.mb10
      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.games.favorite_app')
            .ui-joy-label= @gamer_profile.favorite_game

      %li.list-button.soft-gray-gradient
        - link_to edit_games_gamer_profile_path(@gamer_profile) do
          .left
            .ui-joy-label.small.charcoal= t('text.games.favorite_category')
            .ui-joy-label= @gamer_profile.favorite_category
