#jqt
  #manage_account.tan.account.current
    .container
      .page.no_top_nav_bar
        = render(:partial => 'games/gamers/header', :locals => { :back_button => edit_games_gamer_path })
        .content.narrow
          .header_wrapper
            - form_for([ :games, :gamer, @gamer_profile ], :url => { :action => :update }, :html => { :method => "put" }) do |f|
              .content_box_wrapper
                .content_box.clearfix
                  #edit_profile
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :first_name, 'First Name: '
                        = f.text_field :first_name
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :last_name, 'Last Name: '
                        = f.text_field :last_name
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :gender, 'Gender: '
                        = f.select :gender, { 'Male' => 'male', 'Female' => 'female' }, :include_blank => true
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :city, 'City: '
                        = f.text_field :city
                    .slider.bottom_line.clearfix
                      .field.clearfix
                        = f.label :country, 'Country: '
                        = f.select :country, Countries.country_names(true)
                    .slider.clearfix
                      .field.clearfix
                        = f.label :favorite_game, 'Favorite Game: '
                        = f.text_field :favorite_game
              .button_bar
                = submit_tag('Save', :class => 'button lt_blue')
