#show-profile.current
  .panel
    .page-header
      .container
        .left.ml10.pt3
          %h1.museo.mt10
            = t('text.shared.my_account')
    = render "fields"
  .container.mb10
    .ui-joy-group.ptn
      .ui-joy-group-title= t('text.shared.password')
      %ul.list-button-container
        %li.list-button.soft-gray-gradient
          - link_to password_games_gamer_path(@gamers_gamer) do
            .left
              .ui-joy-label.small.charcoal= t('text.shared.password')
              .ui-joy-label= t('text.shared.change_password')

