#support-request.current
  .content
    %h1.museo
      - if params[:type] === "feedback"
        = t('text.games.feedback')
      - elsif params[:type] === "report_bug"
        = t('text.games.report_bug')
      - elsif params[:type] === "contact_support"
        = t('text.games.contact_support.page_title')
      - else
        = t('text.games.contact_us')
    .support-form.pillow.big-msg.mb30
      - if params[:type] === "feedback"
        = t('text.games.thanks_feedback')
      - elsif params[:type] === "report_bug"
        = t('text.games.thanks_report_bug')
      - elsif params[:type] === "contact_support"
        = t('text.games.contact_support.thanks')
      - else
        = t('text.games.thanks_contact_us')


