- @page_title = t('text.support.support_request_submitted')
#main
  %h1= @page_title
  .thanks
    %p= t('text.support.thanks', :currency => @currency.name)

#privacy
  = link_to(t('text.shared.privacy'), "#{WEBSITE_URL}/site/privacy_mobile?language_code=#{I18n.locale}")

#adsby
  = t('text.shared.ads_by')
  %img{ :src => "#{CLOUDFRONT_URL}/images/tapjoylogo-small.png", :alt => "Tapjoy"}

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }

    body {
      margin-bottom: 10px;
      color: #004E09;
    }

    h1 {
      font-size: 24pt;
      margin-bottom: 10px;
    }

    img {
      border: 0;
    }

    #main {
      margin: 10px 3%;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 10px;
    }

    form div, p {
      margin-bottom: 10px;
    }

    #adsby,
    #privacy a {
      font-size: 75%;
      color: #004E09;
    }

    #adsby {
      margin-top: 2px;
      float: right;
      margin-right: 5%;
    }

    #adsby img {
      vertical-align: bottom;
    }

    #privacy {
      float: left;
      margin-left: 5%;
      text-decoration: underline;
    }

    .clear {
      clear: both;
    }
