#support-request.current
  .content
    %h1.museo
      - if params[:type] === "feedback"
        = t('text.games.feedback')
      - elsif params[:type] === "report_bug"
        = t('text.games.report_bug')
      - elsif params[:type] === "contact_support"
        = t('text.games.contact_support')
      - else
        = t('text.games.contact_us')
    .support-form
      - form_for('support_requests', :url => { :action => 'create' } ) do |f|
        .field
          - if params[:type].present?
            = hidden_field_tag :type, params[:type]
          - else
            = hidden_field_tag :type, "contact_support"
          = f.text_area :content, :rows => 5, :value => params[:content], :class => 'ui-joy-input'
        .field
          = f.submit t('text.shared.send'), :class => 'button'
        .form-error.center

- content_for :page_javascript do
  :plain
    $(window).load(function() {
      $('form').submit(function(e){
        var inputs, content, values = {};
        inputs = $('form :input*');
        inputs.each(function() {
          if (this.type == 'checkbox' || this.type == 'radio') {
            values[this.name] = $(this).attr("checked");
          }
          else {
            values[this.name] = $(this).val();
          }
          content = values['support_requests[content]'];
            if ( content == '' ) {
            $(".form-error").html('<div class="pad">#{t('text.games.enter_message')}</div>');
            e.preventDefault();
          }
        });
      });
    });
