#support-request.current
  .content
    %h1.museo
      - if params[:type] === "feedback"
        = t('text.games.feedback')
      - elsif params[:type] === "report_bug"
        = t('text.games.report_bug')
      - elsif params[:type] === "contact_support"
        = t('text.games.contact_support')
      - else
        = t('text.games.contact_us')
    .support-form
      - form_for('support_requests', :url => { :action => 'create' }) do |f|
        .field.pbn.ptn
          - if params[:type].present?
            = hidden_field_tag :type, params[:type]
          - else
            = hidden_field_tag :type, "contact_support"
          = f.text_area :content, :rows => 5, :value => params[:content], :required => 'true', :class => 'ui-joy-textarea'
        .field
          .container.pb10
            = f.submit t('text.shared.submit'), :class => 'ui-joy-button primary pb10 pt10 disabled enable-when-valid'
          .container.pb2
            = button_to_function t('text.shared.cancel'), 'history.go(-1)', :class => 'ui-joy-button pb10 pt10 secondary'
        .form-error.center
