- @page_title = 'Beta Websiters'

%h1 Beta Websiters
.box
  %strong Add partner to beta:
  - form_tag :controller =>'tools', :action => 'add_to_beta' do
    = label :partner, :id, 'Partner ID:'
    = text_field :partner, :id, :size => 50
    = submit_tag 'Add to beta'
.clear

%h3 Who has access to the beta webpage?

%table.tjform
  %thead
    %tr
      %td
        %strong Username
      %td
        %strong Partner(s)
      %td
        %strong Partner ID(s)
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.partners.map { |p| "#{p.name||"&nbsp;"}" }.join(', ')
        %td= user.partners.map { |p| "#{link_to(p.id, p)}#{clippy(p.id)}"}.join(', ')

- content_for :page_styles do
  :plain
    table.tjform td {
      padding-bottom: 15px;
    }
    .box {
      border: 1px solid #888;
      padding: 10px;
      float: left;
    }
