- @page_title = 'Beta Websiters'

%h1 Beta Websiters
%h3 Add partner to beta:
- form_tag :controller =>'tools', :action => 'add_to_beta' do
  = text_field :partner, :id
  = submit_tag 'Add to beta'
%h3 Who has access to the beta webpage?

%table.tjform
  %thead
    %tr
      %td
        %strong Username
      %td
        %strong Partner(s)
      %td
        %strong Partner ID(s)
  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.partners.map { |p| "#{p.name||"&nbsp;"}" }.join(', ')
        %td= user.partners.map { |p| "#{link_to(p.id, p)}#{clippy(p.id)}"}.join(', ')

- content_for :page_styles do
  :plain
    table.tjform td {
      padding-bottom: 15px;
    }
