- @page_title = 'Device Info'

%h1 Device info &amp; Unresolved clicks
- form_tag({}, { :method => :get, :class => 'tjform' }) do
  %table
    %tbody
      %tr
        %th UDID:
        %td= text_field_tag 'udid', params[:udid], :size => '55'
      %tr
        %th Click key:
        %td= text_field_tag 'click_key', params[:click_key], :size => '55'
      %tr
        %td{ :colspan => 2 }= submit_tag 'Find'

- if @device.present?
  %h3 Device
  - form_tag({ :action => 'update_device', :udid => params[:udid] }, { :class => 'tjform' }) do
    %table
      %tbody
        %tr
          %th Device ID
          %td
            = params[:udid]
        %tr
          %th Jailbroken?
          %td{:class => @device.is_jailbroken? ? "jailbroken" : ""}= @device.is_jailbroken?
        - if @device.country.present?
          %tr
            %th Country
            %td= @device.country
        - if @device.survey_answers.present?
          %tr
            %th Survey Answers
            %td
              - @device.survey_answers.each do |k,v|
                %b= k.humanize
                \:
                = v
                %br/
        %tr
          %th
            Opted Out?
          %td
            = check_box_tag 'opted_out', '1', @device.opted_out?
        %tr
          %th
            Internal Notes
          %td
            = text_field_tag 'internal_notes', @device.internal_notes, :size => '50'
        %tr
          %td{ :colspan => 2 }
            = submit_tag 'Update'

  %h3 Installed Apps (#{@apps.length})
  %table.with-border
    %thead
      %tr
        %td App Name
        %td Last run time
        %td Award Currency
    %tbody
      - @apps.each_with_index do |app, i|
        - tr_class = i > 4 ? 'more-apps' : ''
        %tr{ :class => tr_class }
          %td
            %strong
              = link_to_statz(app[1].name, app[1])
          %td= app[0].to_s(:pub_ampm_sec)
          %td
            - if app[1].is_publisher_offer?
              - app[1].item.currencies .each do |currency|
                -form_tag award_currencies_tools_path(:publisher_app_id => app[1].item, :currency_id => currency.id, :udid => params[:udid]) do
                  =submit_tag currency.name
  - if @apps.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_apps'})

  %h3
    Clicks (#{@clicks.length}) &amp;
    %span.rewarded Rewards (#{@rewarded_clicks_count})
    +
    %span.rewarded-failed Rewards Failed (#{@rewarded_failed_clicks_count})
    +
    %span.jailbroken Jailbroken (#{@jailbroken_count})
    +
    %span.not-rewarded Won't reward (#{@not_rewarded_count})
    +
    %span.blocked Blocked (#{@blocked_count})
  %table.with-border
    %thead
      %tr
        %td Clicked
        %td Installed
        %td Adv.
        %td Pub.
        - if @has_displayer
          %td Disp.
        %td Resolve
        %td Details
    %tbody
      - @clicks.each_with_index do |click, i|
        - adv = @click_apps[click.advertiser_app_id]
        - pub = @click_apps[click.publisher_app_id]
        - disp = @click_apps[click.displayer_app_id]
        - tr_class = (i > 4 && click.key != params[:click_key]) ? 'more-clicks' : ''
        - if click.installed_at?
          - if @rewards[click.reward_key] && (@rewards[click.reward_key].send_currency_status == 'OK' || @rewards[click.reward_key].send_currency_status == '200')
            - tr_class += ' rewarded'
          - else
            - tr_class += ' rewarded-failed'
        - tr_class += ' jailbroken' if click.type =~ /install_jailbroken/
        - tr_class += ' click-key-match' if click.key == params[:click_key]
        - if click.block_reason?
          - tr_class += click.block_reason =~ /TooManyUdidsForPublisherUserId/ ? ' blocked' : ' not-rewarded'
        %tr{ :class => tr_class}
          %td.small
            %nobr= click.clicked_at? ? click.clicked_at.to_s(:pub_abbr_ampm_sec) : '-'
          %td.small
            - if click.block_reason?
              = click.block_reason
            - else
              = click.installed_at? ? click.installed_at.to_s(:pub_abbr_ampm_sec) : '-'
          %td= adv.nil? ? '-'  : link_to_statz(adv.name, adv)
          %td= pub.nil? ? '-'  : link_to_statz(pub.name, pub)
          - if @has_displayer
            %td= disp.nil? ? '-' : link_to_statz(disp.name, disp)
          %td
            - if click.manually_resolved_at? && click.installed_at?
              Manually awarded
            - elsif click.installed_at? || click.type =~ /install_jailbroken/
              Already awarded
            - elsif click.block_reason?
              - if click.block_reason =~ /TooManyUdidsForPublisherUserId/
                Blocked device
              - else
                Won't reward
            - else
              - form_tag resolve_clicks_tools_path(:click_id => click.id) do
                = submit_tag 'Award'
          %td.small
            = link_to('show', '#', :class => 'show-click-detail')
            .hidden
              %ul.nobr
                %li
                  Click ID:
                  = clippy(click.key)
                - if click.viewed_at?
                  %li
                    Viewed at:
                    %nobr= click.viewed_at.to_s(:pub_abbr_ampm_sec)
                - if click.clicked_at?
                  %li
                    Clicked at:
                    %nobr= click.clicked_at.to_s(:pub_abbr_ampm_sec)
                - if click.installed_at?
                  %li
                    Installed at:
                    %nobr= click.installed_at.to_s(:pub_abbr_ampm_sec)
                - if click.manually_resolved_at?
                  %li
                    Manually Resolved at:
                    %nobr= click.manually_resolved_at.to_s(:pub_abbr_ampm_sec)
                - if @rewards[click.reward_key] && @rewards[click.reward_key].sent_currency?
                  %li
                    Send Currency at:
                    %nobr= @rewards[click.reward_key].sent_currency.to_s(:pub_abbr_ampm_sec)
                  %li
                    Award Status:
                    %nobr= @rewards[click.reward_key].send_currency_status
                %li
                  Currency:
                  = click.currency_reward
                %li
                  Adv:
                  = number_to_currency(click.advertiser_amount/100.0)
                %li
                  Pub:
                  = number_to_currency(click.publisher_amount/100.0)
                - if click.displayer_app_id?
                  %li
                    Disp:
                    = number_to_currency(click.displayer_amount/100.0)
                %li
                  Tj:
                  = number_to_currency(click.tapjoy_amount/100.0)
                - if click.publisher_user_id != click.udid
                  %li
                    Pub user ID:
                    = click.publisher_user_id
  - if @clicks.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_clicks'})

- content_for :page_head, stylesheet_link_tag('tools')

- content_for :page_javascript do
  :plain
    $(function($){
      $('#show_more_apps').click(function(){
        $('.more-apps').show();
        $('#show_more_apps').hide();
        return false;
      });
      $('#show_more_clicks').click(function(){
        $('.more-clicks').show();
        $('#show_more_clicks').hide();
        return false;
      });
      $('.show-click-detail').click(function(){
        $(this).hide();
        $(this).siblings('.hidden').show();
        return false;
      });
    });
