- @page_title = 'Device Info'

%h1 Device info
- if @device.nil?
  - form_tag({}, {:method => :get, :class => 'tjform'}) do
    = label_tag 'udid', 'UDID:'
    = text_field_tag 'udid', '', :style => "width:300px;"
    = submit_tag 'find'
- else
  %h3 Device
  %table
    %tbody
      %tr
        %th Device ID
        %td
          = params[:udid]
          = clippy(params[:udid])
      %tr
        %th Jailbroken?
        %td{:class => @device.is_jailbroken? ? "jailbroken" : ""}= @device.is_jailbroken?
      - if @device.country.present?
        %tr
          %th Country
          %td= @device.country
      - if @device.survey_answers.present?
        %tr
          %th Survey Answers
          %td
            - @device.survey_answers.each do |k,v|
              %b= k.humanize
              \:
              = v
              %br/
      %tr
        %th
          Internal Notes
          %br/
          (e.g. "Ben's iphone")
        %td
          - form_tag :action => 'update_device', :udid => params[:udid] do
            = text_field_tag 'internal_notes', @device.internal_notes, :size => '50'
            = submit_tag 'Update'

  %h3 Installed Apps (#{@apps.length})
  %table.with-border
    %thead
      %tr
        %td App Name
        %td Last run time
    %tbody
      - @apps.each_with_index do |app, i|
        - tr_class = i > 4 ? 'more-apps' : ''
        %tr{ :class => tr_class }
          %td
            %strong
              - if permitted_to?(:show, :statz)
                = link_to app[1].name, statz_path(app[1])
              - else
                = app[1].name
          %td= app[0].to_s(:pub_ampm_sec)
  - if @apps.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_apps'})

  %h3
    Clicks (#{@clicks.length}) &amp;
    %span.rewarded Rewards (#{@rewarded_clicks_count})
    +
    %span.jailbroken Jailbroken
    +
    %span.not-rewarded Won't reward
    +
    %span.blocked Blocked
  - if permitted_to?(:unresolved_clicks, :tools)
    = link_to('Unresolved clicks tool', unresolved_clicks_tools_path(:udid => params[:udid]))
  %table.with-border
    %thead
      %tr
        %td Viewed at
        %td Clicked at
        %td Installed at
        %td Currency reward
        %td Adv.
        %td Pub.
        - if @has_displayer
          %td Disp.
        %td Details
    %tbody
      - @clicks.each_with_index do |click, i|
        - adv = @click_apps[click.advertiser_app_id]
        - pub = @click_apps[click.publisher_app_id]
        - disp = @click_apps[click.displayer_app_id]
        - tr_class = i > 4 ? 'more-clicks' : ''
        - tr_class += ' rewarded' if click.installed_at?
        - tr_class += ' jailbroken' if click.type =~ /install_jailbroken/
        - if click.block_reason?
          - tr_class += click.block_reason =~ /TooManyUdidsForPublisherUserId/ ? ' blocked' : ' not-rewarded'
        %tr{ :class => tr_class}
          %td.small= click.viewed_at? ? click.viewed_at.to_s(:pub_abbr_ampm) : '-'
          %td.small= click.clicked_at? ? click.clicked_at.to_s(:pub_abbr_ampm) : '-'
          %td.small
            - if click.block_reason?
              = click.block_reason
            - else
              = click.installed_at? ? click.installed_at.to_s(:pub_abbr_ampm) : '-'
          %td= click.currency_reward
          - if permitted_to?(:show, :statz)
            %td= adv.nil? ? '-'  : link_to(adv.name, statz_path(adv))
            %td= pub.nil? ? '-'  : link_to(pub.name, statz_path(pub))
            - if @has_displayer
              %td= disp.nil? ? '-' : link_to(disp.name, statz_path(disp))
          - else
            %td= adv.nil? ? '-'  : adv.name
            %td= pub.nil? ? '-'  : pub.name
            - if @has_displayer
              %td= disp.nil? ? '-' : disp.name
          %td
            = link_to('show', '#', :class => 'show-click-detail')
            .hidden
              %ul.nobr
                %li
                  Click ID:
                  = clippy(click.key)
                %li
                  Adv:
                  = number_to_currency(click.advertiser_amount/100.0)
                %li
                  Pub:
                  = number_to_currency(click.publisher_amount/100.0)
                - if click.displayer_app_id?
                  %li
                    Disp:
                    = number_to_currency(click.displayer_amount/100.0)
                %li
                  Tj:
                  = number_to_currency(click.tapjoy_amount/100.0)
                - if click.publisher_user_id != click.udid
                  %li
                    Pub user ID:
                    = click.publisher_user_id
  - if @clicks.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_clicks'})

- content_for :page_head, stylesheet_link_tag('tools')

- content_for :page_javascript do
  :plain
    $(function($){
      $('#show_more_apps').click(function(){
        $('.more-apps').show();
        $('#show_more_apps').hide();
        return false;
      });
      $('#show_more_clicks').click(function(){
        $('.more-clicks').show();
        $('#show_more_clicks').hide();
        return false;
      });
      $('.show-click-detail').click(function(){
        $(this).hide();
        $(this).siblings('.hidden').show();
        return false;
      });
    });
