%h1 Device info
- if params[:udid].blank?
  - form_tag({}, {:method => :get, :class => 'tjform'}) do
    = label_tag 'udid', 'UDID:'
    = text_field_tag 'udid', '', :style => "width:300px;"
    = submit_tag 'find'
- else
  %h3 Device
  %table
    %tbody
      %tr
        %th Device ID
        %td= params[:udid]
      %tr
        %th Jailbroken?
        %td{:class => @device.is_jailbroken? ? "jailbroken" : ""}= @device.is_jailbroken?
      - if @device.country.present?
        %tr
          %th Country
          %td= @device.country
      - if @device.survey_answers.present?
        %tr
          %th Survey Answers
          %td
            - @device.survey_answers.each do |k,v|
              %b= k.humanize
              \:
              = v
              %br/
      %tr
        %th
          Internal Notes
          %br/
          (e.g. "Ben's iphone")
        %td
          - form_tag :action => 'update_device', :udid => params[:udid] do
            = text_field_tag 'internal_notes', @device.internal_notes, :size => '50'
            = submit_tag 'Update'

  %h3 Installed Apps (#{@apps.length})
  %table.with-border
    %thead
      %tr
        %td App Name
        %td Last run time
    %tbody
      - @apps.each_with_index do |app, i|
        - tr_class = i > 4 ? 'more-apps' : ''
        %tr{ :class => tr_class }
          %td
            %strong= link_to app[1].name, app[1]
          %td= Time.zone.at(app[0]).to_s(:mdy_ampm_utc)
  - if @apps.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_apps'})

  %h3 Clicks (#{@clicks.length}) &amp; Rewards (#{@rewarded_clicks_count})
  %table.with-border
    %thead
      %tr
        %td Viewed at
        %td Clicked at
        %td Installed at
        %td Currency reward
        %td Adv. (amt)
        %td Pub. (amt)
        %td Disp. (amt)
    %tbody
      - @clicks.each_with_index do |click, i|
        - adv = @click_apps[click.advertiser_app_id]
        - pub = @click_apps[click.publisher_app_id]
        - disp = @click_apps[click.displayer_app_id]
        - tr_class = i > 4 ? 'more-clicks' : ''
        - tr_class += click.installed_at.nil? ? '' : ' rewarded'
        %tr{ :class => tr_class}
          %td= click.viewed_at.blank? ? '-' : Time.at(click.viewed_at.to_f).to_s(:pub)
          %td= click.clicked_at.blank? ? '-' : Time.at(click.clicked_at.to_f).to_s(:pub)
          %td= click.installed_at.blank? ? '-' : Time.at(click.installed_at.to_f).to_s(:pub)
          %td= click.currency_reward
          %td= adv.nil? ? '-'  : link_to(adv.name, adv)
          %td= pub.nil? ? '-'  : link_to(pub.name, pub)
          %td= disp.nil? ? '-' : link_to(disp.name, disp)
  - if @clicks.length > 5
    = link_to('(show all)', '#', {:id => 'show_more_clicks'})

- content_for :page_styles do
  :plain
    table.with-border {
      border-collapse: collapse;
    }
    table.with-border td {
      border: 1px solid #888;
      padding: 2px;
    }
    tr.rewarded {
      background-color: green;
    }
    .jailbroken {
      background-color: red;
    }
    .more-apps, .more-clicks {
      display: none;
    }

- content_for :page_javascript do
  :plain
    $(function($){
      $('#show_more_apps').click(function(){
        $('.more-apps').show();
        $('#show_more_apps').hide();
        return false;
      });
      $('#show_more_clicks').click(function(){
        $('.more-clicks').show();
        $('#show_more_clicks').hide();
        return false;
      });
    });
