- if @app.nil?
  %h1 Find Android app
  - form_tag({:action => :edit_android_app}, {:method => :get, :class => 'tjform'}) do
    = label_tag 'id', 'App ID:'
    = text_field_tag 'id', '', :style => "width:300px;"
    = submit_tag 'edit'
- else
  %h1
    Edit #{@app.name}
    %span.small= link_to @app.id, statz_path(@app)
  - form_tag("/tools/update_android_app/#{@app.id}", {:method => :put, :class => 'tjform'}) do
    %table
      %tbody
        %tr
          %td= label_tag 'store_id', 'Android Package ID'
          %td= text_field_tag 'store_id', @app.store_id, :size => 50
          %td &nbsp;
        %tr
          %td= label_tag 'url', 'Icon URL'
          %td= text_field_tag 'url', '', :size => 50
          %td= image_tag @app.get_icon_url, :size => '57x57', :alt => 'icon'
        %tr
          %td= label_tag 'price', 'Price (cents)'
          %td= text_field_tag 'price', @app.price, :size => 50
          %td &nbsp;
    = submit_tag 'Update'
