- @page_title = 'Failed Sdb Saves'

%h1 Failed Sdb Saves

As of: #{Time.zone.now.to_s(:pub_ampm_sec)}
%br
%br
Number of domains: #{number_with_delimiter(@failed_sdb_saves.size)}

%table#fails.tablesorter
  %thead
    %tr
      %th Domain Name
      %th This Hour (SDB)
      %th Last Hour (SDB)
      %th This Hour Actual (SDB)
      %th Last Hour Actual (SDB)
      %th This Hour (MC)
      %th Last Hour (MC)
  %tbody
    - @failed_sdb_saves.each do |domain_name, counts|
      %tr
        %td= domain_name
        %td= number_with_delimiter(counts[:sdb_this_hour])
        %td= number_with_delimiter(counts[:sdb_last_hour])
        %td= number_with_delimiter(counts[:sdb_this_hour] * 6)
        %td= number_with_delimiter(counts[:sdb_last_hour] * 6)
        %td= number_with_delimiter(counts[:mc_this_hour])
        %td= number_with_delimiter(counts[:mc_last_hour])

- content_for :page_javascript do
  :plain
    $(function() {
      $.tablesorter.addParser({
        id: 'name-column',
        is: function(s) { return false; },
        type: 'text',
        format: function(s) {
          return s.replace(/-/g, '_');
        }
      });
      $.tablesorter.addParser({
        id: 'formatted-number-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/,/g, '');
        }
      });
      $("#fails").tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: 'name-column' },
          1: { sorter: 'formatted-number-column' },
          2: { sorter: 'formatted-number-column' },
          3: { sorter: 'formatted-number-column' },
          4: { sorter: 'formatted-number-column' },
          5: { sorter: 'formatted-number-column' },
          6: { sorter: 'formatted-number-column' }
        },
        sortList: [ [1, 1], [2, 1] ]
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
