- @page_title = 'Freemium Android Apps'
%h1= @page_title
%em Last updated: #{@created_at.to_s(:pub_ampm)}

%table.tablesorter
  %thead
    %tr
      %th Rank
      %th Name
      %th Marketplace Link
      %th Tapjoy apps?
  %tbody
    - @apps.each do |app|
      %tr
        %td= app["rank"]
        %td= app["name"]
        %td
          = link_to(app["store_id"], AppStore::ANDROID_APP_URL + app["store_id"])
        %td
          - if app["tapjoy_apps"]
            - app["tapjoy_apps"].each do |app_id|
              - offer = @tapjoy_apps[app_id]
              - link_to statz_path(offer.id) do
                = image_tag(offer.get_icon_url, :size => '25x25')
                = offer.name_with_suffix
              %br/
