- @page_title = 'Tools'

%h1 Tools
- if permitted_to? :show, :statz
  .tjform
    = label_tag('search_box', 'Offer Name:')
    = text_field_tag('search_box', '', :size => '40')

- if has_permissions_for_one_of?(:payops, :payout_manager, :executive, :account_mgr)
  %h3 Money
%ul
  - if permitted_to? :failed_invoices, :tools_orders
    %li= link_to 'Failed Invoices', failed_invoices_tools_orders_path
  - if permitted_to? :index, :tools_payouts
    %li= link_to 'Payouts', tools_payouts_path
  - if permitted_to? :index, :tools_payout_freezes
    %li= link_to 'Payout Freezes', tools_payout_freezes_path
  - if permitted_to? :money, :tools
    %li= link_to 'Money', money_tools_path
  - if permitted_to? :monthly_data, :tools
    %li= link_to 'Monthly Data', monthly_data_tools_path
  - if permitted_to? :new_transfer, :tools
    %li= link_to 'Transfer Funds', new_transfer_tools_path
  - if permitted_to? :index, :tools_network_costs
    %li= link_to 'Network Costs', tools_network_costs_path
  - if permitted_to? :publishers_without_payout_info, :tools
    %li= link_to 'Pubs Without W9', publishers_without_payout_info_tools_path
  - if permitted_to? :publisher_payout_info_changes, :tools
    %li= link_to 'Payout Info Changes', publisher_payout_info_changes_tools_path

- if has_permissions_for_one_of?(:admin)
  %h3 Admin
%ul
  - if permitted_to? :failed_sdb_saves, :tools
    %li= link_to 'Failed Sdb Saves', failed_sdb_saves_tools_path
  - if permitted_to? :sqs_lengths, :tools
    %li= link_to 'SQS Lengths', sqs_lengths_tools_path
  - if permitted_to? :sdb_metadata, :tools
    %li= link_to 'SDB Metadata', sdb_metadata_tools_path
  - if permitted_to? :elb_status, :tools
    %li= link_to 'ELB Status', elb_status_tools_path
  - if permitted_to? :as_groups, :tools
    %li= link_to 'Auto-Scaling Groups', as_groups_tools_path
  - if permitted_to? :ses_status, :tools
    %li= link_to 'SES Status', ses_status_tools_path
  - if permitted_to? :create, :tools_users_role_assignments
    %li= link_to 'Manage user roles', tools_users_path
  - if permitted_to? :index, :tools_jobs
    %li= link_to 'Job Configuration', tools_jobs_path
  - if permitted_to? :index, :tools_press_releases
    %li= link_to 'Press Releases', tools_press_releases_path

- if has_permissions_for_one_of?(:games_editor)
  %h3 Marketplace
%ul
  - if permitted_to? :index, :tools_editors_picks
    %li= link_to 'Editor\'s Choices', tools_editors_picks_path
  - if permitted_to? :index, :tools_app_reviews
    %li= link_to 'App Reviews', tools_app_reviews_path
  - if permitted_to? :index, :tools_featured_contents
    %li= link_to 'My Apps Featured Content', tools_featured_contents_path

- if has_permissions_for_one_of?(:account_mgr)
  %h3 Account Management
%ul
  - if permitted_to? :index, :tools_offer_lists
    %li= link_to 'View Offer Lists', tools_offer_lists_path
  - if permitted_to? :index, :tools_generic_offers
    %li= link_to 'View Generic Offers', tools_generic_offers_path
  - if permitted_to? :edit, :statz
    %li= link_to "Approve Creatives (#{CreativeApprovalQueue.count})", creative_tools_offers_path
  - if permitted_to? :index, :activities
    %li= link_to 'Activity Log', activities_path
  - if permitted_to? :disabled_popular_offers, :tools
    %li= link_to 'Disabled Popular Offers', disabled_popular_offers_tools_path
  - if permitted_to? :index, :tools_rank_boosts
    %li= link_to 'Manage Rank Boosts', tools_rank_boosts_path
  - if permitted_to? :sanitize_users, :tools
    %li= link_to 'Sanitize Users Table', sanitize_users_tools_path
  - if permitted_to? :index, :tools_users
    %li= link_to 'Manage user partners', tools_users_path
  - if permitted_to? :index, :tools_premier_partners
    %li= link_to 'Premier Partners', tools_premier_partners_path
  - if permitted_to? :edit_android_app, :tools
    %li= link_to 'Manually edit Android app', edit_android_app_tools_path
  - if permitted_to? :index, :tools_enable_offer_requests
    %li= link_to 'Enable Requests', tools_enable_offer_requests_path
  - if permitted_to? :index, :tools_offer_events
    %li= link_to 'Schedule Offer Events', tools_offer_events_path
  - if permitted_to? :freemium_android, :tools
    %li= link_to 'Freemium Android Apps', freemium_android_tools_path
  - if permitted_to? :index, :tools_external_publishers
    %li= link_to 'External Publishers', tools_external_publishers_path
  - if permitted_to? :index, :tools_agency_users
    %li= link_to 'Agency Users', tools_agency_users_path
  - if permitted_to? :index, :tools_partner_program_statz
    %li= link_to 'Tapjoy Sponsored Publishers', tools_partner_program_statz_index_path

- if has_permissions_for_one_of?(:account_mgr, :customer_service, :admin)
  %h3 Customer Support
%ul
  - if permitted_to? :device_info, :tools
    %li= link_to 'Device Info &amp; Unresolved clicks', device_info_tools_path
  - if permitted_to? :reset_device, :tools
    %li= link_to 'Reset Device', reset_device_tools_path
  - if permitted_to? :index, :tools_admin_devices
    %li= link_to 'Admin Devices', tools_admin_devices_path
  - if permitted_to? :index, :tools_support_requests
    %li= link_to 'Support Request Stats', tools_support_requests_path
  - if permitted_to? :mass_resolve, :tools_support_requests
    %li= link_to 'Mass Resolve Support Requests', mass_resolve_tools_support_requests_path
  - if permitted_to? :send_currency_failures, :tools
    %li= link_to 'Send Currency Failures', send_currency_failures_tools_path

- if has_permissions_for_one_of?(:hr)
  %h3 Human Resources
%ul
  - if permitted_to? :index, :tools_employees
    %li= link_to 'Manage employee list', tools_employees_path
  - if permitted_to? :show, :internal_devices
    %li= link_to 'My approved devices', internal_device_path(current_user.id)
  - if permitted_to? :index, :internal_devices
    %li= link_to 'All approved devices', internal_devices_path

- content_for :page_javascript do
  - if permitted_to? :show, :statz
    :plain
      $('#search_box').autocomplete({ source: '#{search_offers_path}', delay: 250, minLength: 2, select: function(event, ui) { window.location.assign(ui.item.url); } });
