- @page_title = 'Tools'

%h1 Tools

%ul
  - if permitted_to? :new_order, :tools
    %li= link_to 'New Order', new_order_tools_path
  - if permitted_to? :payouts, :tools
    %li= link_to 'Payouts', payouts_tools_path
  - if permitted_to? :money, :tools
    %li= link_to 'Money', money_tools_path
  - if permitted_to? :new_transfer, :tools
    %li= link_to 'Transfer Funds', new_transfer_tools_path
  - if permitted_to? :failed_sdb_saves, :tools
    %li= link_to 'Failed Sdb Saves', failed_sdb_saves_tools_path
  - if permitted_to? :sdb_metadata, :tools
    %li= link_to 'SDB Metadata', sdb_metadata_tools_path
  - if permitted_to? :disabled_popular_offers, :tools
    %li= link_to 'Disabled Popular Offers', disabled_popular_offers_tools_path
  - if permitted_to? :index, :activities
    %li= link_to 'Activity Log', activities_path
  - if permitted_to? :index, :partners
    %li= link_to 'Partners', partners_path
  - if permitted_to? :beta_websiters, :tools
    %li= link_to 'Beta website users', beta_websiters_tools_path
