- @page_title = 'Money Stats'

%h1 Money Stats

As of: #{@last_updated.to_s(:pub_ampm_sec)}

- if @money_stats.present?
  - time_ranges = @money_stats.keys
  %table.tablesorter
    %thead
      %tr
        %th
        - time_ranges.each do |time_range|
          %th= time_range
    %tbody
      - @money_stats[time_ranges.first].keys.each do |stat_type|
        %tr{ :class => cycle('', 'odd') }
          %td= stat_type
          - time_ranges.each do |time_range|
            %td= @money_stats[time_range][stat_type]
- else
  %h3 Not Available

%h3 Total Balance: #{number_to_currency(@total_balance)}
%h3 Total Pending Earnings: #{number_to_currency(@total_pending_earnings)}
%h3 Deduct Percentage: #{number_to_percentage((1 - SpendShare.current_ratio) * 100, :precision => 2)}

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
