- @page_title = 'Money Stats'

%h1 Tapjoy Money Stats

#last_updated= "Last Updated: #{@last_updated.in_time_zone('Pacific Time (US & Canada)').to_s(:pub_ampm)}"

%table#apps_table.tablesorter
  %thead
    %tr
      %th
      - @time_ranges.each do |tr|
        %th= tr
      
  %tbody
    - @stat_types.each do |st|
      %tr
        %td= st
        - @time_ranges.each do |tr|
          %td= @money_stats[tr][st]

%h3= "Total Balance: #{number_to_currency(@total_balance)}"
%h3= "Total Pending Earnings:  #{number_to_currency(@total_pending_earnings)}"
      

-content_for :page_styles do
  :plain
   
    th, td {
      border: 1;
    }
    
    
    #last_updated {
      font-weight: bold;
      font-size: 14px;
    }
    
    .hidden {
      display: none;
    }
