- @page_title = 'Create Transfer'

%h1 Create Transfer

- form_tag create_transfer_tools_path, :method => :post do
  .field
    = label_tag 'partner_id', 'Partner ID'
    = text_field_tag 'partner_id', nil, :size => 40
  .field
    = label_tag 'transfer_amount', 'Amount $'
    = text_field_tag 'transfer_amount'
  .field
    = label_tag 'marketing_amount', 'Marketing Credits'
    = text_field_tag 'marketing_amount'
  .field
    = submit_tag 'Create Transfer'