- @page_title = 'Create Order'

%h1 Create Order

- form_tag create_order_tools_path, :method => :post, :class => 'json' do
  .field
    = label_tag 'order[partner_id]', 'Partner ID'
    = text_field_tag 'order[partner_id]', nil, :size => 40
  .field
    = label_tag 'order[amount]', 'Amount $'
    = text_field_tag 'order[amount]'
  .field
    = label_tag 'order[status]', 'Status'
    = select_tag 'order[status]', '<option>1</option>'
  .field
    = label_tag 'order[payment_method]', 'Payment Method'
    = select_tag 'order[payment_method]', '<option value="1">Billable</option><option value="2">Marketing Expense</option>'
  .field
    = label_tag 'order[note]', 'Note'
    = text_field_tag 'order[note]'
  .field
    = submit_tag 'Create Order'

= link_to "Don't forget to create an invoice in freshbooks", "http://tapjoy.freshbooks.com/"
