- @page_title = 'Payouts'

%h1 Payouts

%table
  %thead
    %tr
      %th Contact Name
      %th Pending Earnings
      %th Cutoff Date
      %th Payout Amount
      %th
  %tbody
    - @partners.each do |partner|
      %tr
        - payout_amount = partner.pending_earnings - partner.publisher_conversions.created_since(partner.payout_cutoff_date).sum(:publisher_amount)
        %td= partner.contact_name
        %td= number_to_currency(partner.pending_earnings / 100.0)
        %td= (partner.payout_cutoff_date - 1.day).to_s(:pub)
        %td= number_to_currency(payout_amount / 100.0)
        %td{ :id => "link_#{partner.id}" }= link_to_remote('Pay Now', :url => create_payout_tool_path(partner, :amount => payout_amount, :cutoff_date => partner.payout_cutoff_date), :update => "link_#{partner.id}", :method => :post)
