- @page_title = 'Payouts'

%h1 Payouts

%table
  %thead
    %tr
      %th Partner Name
      %th Contact Name
      %th Pending Earnings
      %th Cutoff Date
      %th Earnings since Net Cutoff
      %th Payout Amount
      %th Partner ID
      %th Email
      %th
  %tbody
    - @partners.each do |partner|
      %tr
        %td= partner.name
        %td= partner.contact_name
        %td= number_to_currency(partner.pending_earnings / 100.0)
        %td= (partner.payout_cutoff_date - 1.day).to_s(:pub)
        %td= number_to_currency(partner.pending_earnings / 100.0 - partner.next_payout_amount / 100.0)
        %td= number_to_currency(partner.next_payout_amount / 100.0)
        %td{ :style => 'font-size: small;' }= partner.id
        %td= partner.users.first != nil ? partner.users.first.email : ''
        %td
          - form_tag create_payout_tool_path(partner), :method => :post, :class => 'json', :style => 'height:45px;' do
            = text_field_tag 'amount', (partner.next_payout_amount / 100.0), :class => 'amount'
            = submit_tag 'Create Payout', :class => 'submit'
            %img.spinner{ :src => '/images/spinner.gif', :style => 'display:none;' }
            %span.status


- content_for :page_javascript do
  :plain
    $(document).ready(function() {
      $('form.json').submit(function() {
        if (!confirm('Are you sure?')) { return false; }
        
        var spinner = $(this).find('img.spinner');
        var submit = $(this).find('input.submit');
        var amount = $(this).find('input.amount');
        var status = $(this).find('span.status');
        
        $.ajax({
          dataType: 'json',
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          beforeSend: function() {
            amount.hide();
            submit.hide();
            spinner.show();
          },
          complete: function() {
            spinner.hide();
          },
          success: function(response) {
            if (response.success == true) {
              status.html('Complete');
            } else {
              status.html('Error');
            }
          }
        });
        return false;
      });
    });
  
- content_for :page_styles do
  :plain
    table {
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid gray;
      padding: 5px;
    }
