- @page_title = "Publishers without Payment information"

%h1 Publishers without Payment information
Total:
= @count

%table#partners_table.tablesorter
  %thead
    %tr
      %th Name
      %th Contact
      %th Notes
      %th Pending Earnings
      %th Previous Payouts?
      %th Status
  %tbody
    - @partners.each do |partner|
      %tr{ :class => cycle('even', 'odd') }
        %td.nowrap= link_to(partner.name || 'Unknown', partner_path(partner))
        %td
          - emails = partner.non_managers.map(&:email)
          = emails.first(3).join(', ')
          - if emails.length > 3
            + #{emails.length - 3} more
          %br/
          = partner.contact_phone
          %br/
          - form_tag(make_current_partner_path(partner)) do
            - if current_partner == partner
              = submit_tag("Acting as this partner", :class => 'act_as_button', :disabled => true)
            - else
              = submit_tag("Act as this partner", :class => 'act_as_button')
        %td= partner.account_manager_notes
        %td= number_to_currency(partner.pending_earnings / 100.0)
        %td
          - if partner.payouts.blank?
            .missing NO
          - else
            .present YES
        %td
          - if partner.payout_info.nil?
            .missing
              Payout info missing
          - else
            .incomplete
              Payout info incomplete
          - if partner == current_partner
            = link_to 'Payment Info', payout_info_billing_path
          - else
            .gray You have to act as this partner first before editing payment info
= will_paginate(@partners)

- content_for :page_styles do
  :plain
    .present {
      color: #0b0;
    }
    .missing {
      color: #f00;
    }
    .incomplete {
      color: #bb0;
    }
    .gray {
      color: #888;
    }
