- @page_title = 'Sqs Lengths'

%h1 Sqs Lengths

As of: #{Time.zone.now.to_s(:pub_ampm_sec)}
%br
%br
Number of queues: #{@queues.size}

%table#metadata.tablesorter
  %thead
    %tr
      %th Name
      %th Length
      %th Length (Not Visible)
      %th Visibility Timeout
  %tbody
    - @queues.each do |queue|
      %tr
        %td= queue[:name]
        %td= number_with_delimiter(queue[:size])
        %td= number_with_delimiter(queue[:hidden_size])
        %td= number_with_delimiter(queue[:visibility])

- content_for :page_javascript do
  :plain
    $(function() {
      $.tablesorter.addParser({
        id: 'name-column',
        is: function(s) { return false; },
        type: 'text',
        format: function(s) {
          return s.replace(/-/g, '_');
        }
      });
      $.tablesorter.addParser({
        id: 'formatted-number-column',
        is: function(s) { return false; },
        type: 'numeric',
        format: function(s) {
          return s.replace(/,/g, '');
        }
      });
      $("#metadata").tablesorter({
        widgets: ['zebra'],
        headers: {
          0: { sorter: 'name-column' },
          1: { sorter: 'formatted-number-column' },
          2: { sorter: 'formatted-number-column' },
          3: { sorter: 'formatted-number-column' }
        },
        sortList: [ [0, 0] ]
      });
    });

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    table.tablesorter thead tr .header {
      background-position: right bottom;
    }
