- @page_title = "Unresolved clicks tool"

%h3 Unresolved Clicks

- form_tag unresolved_clicks_tools_path, :method => :get do
  Clicks from
  = text_field_tag :udid, @udid, :style => 'width: 300px;'
  for the last
  = text_field_tag :num_hours, @num_hours, :style => 'width: 30px;'
  hours
  = submit_tag 'Refresh'
- unless @clicks.blank?
  %table{:cellspacing => 0, :cellspan => 0}
    %thead
      %tr
        %th Clicked
        %th Last run
        %th Pub app
        %th Adv app
        %th Reward
    %tbody
      - @clicks.each do |arr|
        %tr.click
          - clicked_at = arr[0]
          - run_at = arr[1]
          - click = arr[2]
          - pub = App.find_by_id(click.publisher_app_id)
          - adv = Offer.find_by_id(click.offer_id)
          %td= clicked_at.to_s(:pub_ampm)
          %td= run_at.nil? ? '<b>never</b>' : run_at.to_s(:pub_ampm)
          - if permitted_to? :show, :statz
            %td= link_to(pub.name, statz_path(pub))
            %td= link_to(adv.name_with_suffix, statz_path(adv))
          - else
            %td= pub.name
            %td= adv.name_with_suffix
          %td= click.currency_reward
          %td
            - form_tag resolve_clicks_tools_path(:click_id => click.id) do
              = submit_tag 'Award'

- content_for :page_styles do
  :plain
    .right-align {
      text-align: right;
    }
    table {
      padding-top: 20px;
    }
    td {
      padding: 3px 10px;
    }
    .click:hover {
      background-color: #ddd;
    }

