- @title = "Unresolved clicks tool"
- form_tag unresolved_clicks_tools_path do
  Connects from
  = text_field_tag :udid, @udid, :style => 'width: 300px;'
  for the last
  = text_field_tag :num_hours, @num_hours, :style => 'width: 30px;'
  hours
  = submit_tag 'Refresh'
- unless @clicks.blank?
  %table{:cellspacing => 0, :cellspan => 0}
    %thead
      %tr
        %th Clicked
        %th Last run
        %th Pub app
        %th Adv app
        %th Reward
    %tbody
      - @clicks.each do |arr|
        %tr.click
          - clicked_at = arr[0]
          - run_at = arr[1]
          - click = arr[2]
          - pub = App.find_by_id(click.publisher_app_id)
          - adv = App.find_by_id(click.advertiser_app_id)
          %td= clicked_at.to_s(:pub_ampm)
          %td= run_at.nil? ? '<b>never</b>' : run_at.to_s(:pub_ampm)
          %td= link_to(pub.name, pub)
          %td= link_to(adv.name, adv)
          %td= click.currency_reward
          %td
            - form_tag resolve_clicks_tools_path(:click_id => click.id) do
              = submit_tag 'Award'

- content_for :page_styles do
  :plain
    .right-align {
      text-align: right;
    }
    td {
      padding: 3px 10px;
    }
    .click:hover {
      background-color: #ddd;
    }

