- age_gating = @offer.age_rating
- @page_title = t('text.age_gating.title', :age_gating => age_gating)

#body
  #instructions
    = t('text.age_gating.instructions')
  %br
  %span#error_message
  %br
  %br
  #inputs
    %select#mm
    \/
    %select#dd
    \/
    %select#yyyy
  %br
  %br
  %br
  #continue
    %a{ :href => "javascript: void(0)", :onclick => "return checkAge(#{age_gating})" }
      = t('text.age_gating.continue_link')
  #close{ :style => "display:none" }
    %a{ :href => "javascript: history.back()" }
      = t('text.age_gating.close_link')

.clear

- content_for :page_javascript do
  :plain
    datePopulate();

    function checkAge(min_age) {
      var mm = parseInt(document.getElementById("mm").value);
      var dd = parseInt(document.getElementById("dd").value);
      var yyyy = parseInt(document.getElementById("yyyy").value);

      var gating_date = new Date((yyyy + min_age), mm, dd);
      var today = new Date;

      if ((today.getTime() - gating_date.getTime()) <= 0) {
        document.getElementById('error_message').innerHTML = "#{t('text.age_gating.error_message.too_yong')}";
        document.getElementById('instructions').style.display = 'none';
        document.getElementById('inputs').style.display = 'none';
        document.getElementById('continue').style.display = 'none';
        document.getElementById('close').style.display = 'block';
        setTimeout("history.back();", 3000);
      } else {
        location.href = "#{@redirect_url}&date_of_birth="+yyyy+"/"+mm+"/"+dd;
      }
    }

    function datePopulate(){
      var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
      var today=new Date();
      var dayfield=document.getElementById('dd');
      var monthfield=document.getElementById('mm');
      var yearfield=document.getElementById('yyyy');

      for (var d=0; d<31; d++)
          dayfield.options[d]=new Option(d+1, d+1);
      dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true); //select today's day

      for (var m=0; m<12; m++)
          monthfield.options[m]=new Option(monthtext[m], m+1);
      monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], today.getMonth()+1, true, true); //select today's month

      var thisyear=today.getFullYear();
      for (var y=0; y<100; y++){
          yearfield.options[y]=new Option(thisyear, thisyear);
          thisyear-=1;
      }
      yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true); //select today's year
    }

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }

    body {
      margin-bottom: 10px;
    }

    a {
      color: white;
    }

    select {
      -webkit-appearance: none;
      font-size: 30px;
    }

    #body {
      text-align: center;
      margin: 10px 3%;
      background: black;
      border: 1px solid #d5d5d5;
      color: white;
      font-size: 24px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    #error_message {
      color: red;
    }

    .clear {
      clear: both;
    }



