- age_gating = @offer.age_rating
- @page_title = @offer.name

#body
  .top
    = @offer.name

  %br
  #instructions
    = t('text.age_gating.instructions')
  %br
  %span#error_message
  %br
  #inputs
    %select#mm
    \/
    %select#dd
    \/
    %select#yyyy
  %br
  %br
  #continue
    %a{ :href => "javascript: void(0)", :onclick => "return checkAge(#{age_gating})" }
      %span.button
        = t('text.age_gating.continue_link')
  #close{ :style => "display:none" }
    %a{ :href => "#{@redirect_to_get_offers_url}" }
      %span.button
        = t('text.age_gating.close_link')

  .footer
    = image_tag("reengagement_rewards/logo-footer.png", :alt => "Tapjoy Logo", :name => "Tapjoy Logo", :height => "50", :id => "Insert Logo", :class => "floatr")

.clear

- content_for :page_javascript do
  :plain
    datePopulate();

    function checkAge(min_age) {
      var mm = parseInt(document.getElementById("mm").value);
      var dd = parseInt(document.getElementById("dd").value);
      var yyyy = parseInt(document.getElementById("yyyy").value);

      var gating_date = new Date((yyyy + min_age), mm, dd);
      var today = new Date;

      if ((today.getTime() - gating_date.getTime()) <= 0) {
        document.getElementById('error_message').innerHTML = "#{t('text.age_gating.error_message.too_yong')}";
        document.getElementById('instructions').style.display = 'none';
        document.getElementById('inputs').style.display = 'none';
        document.getElementById('continue').style.display = 'none';
        document.getElementById('close').style.display = 'block';
        setTimeout(location.href = "#{@redirect_to_get_offers_url}", 3000);
      } else {
        location.href = "#{@redirect_to_click_url}&date_of_birth="+yyyy+"/"+mm+"/"+dd;
      }
    }

    function datePopulate(){
      var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
      var today=new Date();
      var dayfield=document.getElementById('dd');
      var monthfield=document.getElementById('mm');
      var yearfield=document.getElementById('yyyy');

      for (var d=0; d<31; d++)
          dayfield.options[d]=new Option(d+1, d+1);
      dayfield.options[today.getDate()]=new Option(today.getDate(), today.getDate(), true, true); //select today's day

      for (var m=0; m<12; m++)
          monthfield.options[m]=new Option(monthtext[m], m+1);
      monthfield.options[today.getMonth()]=new Option(monthtext[today.getMonth()], today.getMonth()+1, true, true); //select today's month

      var thisyear=today.getFullYear();
      for (var y=0; y<100; y++){
          yearfield.options[y]=new Option(thisyear, thisyear);
          thisyear-=1;
      }
      yearfield.options[0]=new Option(today.getFullYear(), today.getFullYear(), true, true); //select today's year
    }

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }

    body {
      margin-bottom: 10px;
    }

    select {
      -webkit-appearance: none;
      font-size: 30px;
    }

    #body {
      background: white;
      border: 1px solid #d5d5d5;
      border-radius: 12px;
      color: #333;
      display: block;
      font-size: 24px;
      margin: 10px 3%;
      text-align: center;
    }

    .top {
      background-color: #cd202c;
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 48px;
      margin: 0 auto;
      padding: 6px 0;
      color: #FFF;
      margin-top: 0px;
    }


    #error_message {
      color: red;
    }

    .clear {
      clear: both;
    }

    .button {
      background-color: #CF1623;
      color: #FFF;
      cursor: pointer;
      font-size: 24px;
      position: relative;
      width: 120px;
      padding: 8px 10px;
      text-align: center;
      border-radius: 16px;
      overflow: hidden;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
      -webkit-border-radius: 16px;
      text-shadow: rgba(160, 150, 145, 0.5) -1px 0, rgba(160, 150, 145, 0.3) 0 -1px, rgba(0, 0, 0, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -1px;
      background-image: -moz-linear-gradient(top, #ea1927 0%, #cf1623 100%);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ea1927), color-stop(1, #cf1623));
      background-image: linear-gradient(top, #ea1927, #cf1623);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$from', EndColorStr='$to');
    }

    .footer {
      background: #D1D1D1;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      display: block;
      margin-top: 30px;
      padding: 6px 45px;
    }

