- form_for [ :tools, @video_offer, @video_button ], :html => { :class => 'tjform' } do |f|
  %table
    %tr
      %th
        = f.label :name
        #help_name.help ?
      %td
        = f.text_field :name, :size => 50
        = error_message_on @video_button, :name
        = f.hidden_field :video_offer_id
    %tr
      %th
        = f.label :url
        #help_url.help ?
      %td
        = f.text_field :url, :size => 50
        = error_message_on @video_button, :url
    %tr
      %th
        = f.label :ordinal
        #help_ordinal.help ?
      %td
        = f.text_field :ordinal, :size => 50
        = error_message_on @video_button, :ordinal
    %tr
      %th
        = f.label :enabled
        #help_enabled.help ?
      %td
        = f.check_box :enabled
        = error_message_on @video_button, :enabled
    %tr
      %td{ :colspan => 2 }= f.submit @video_button.new_record? ? 'Create Video Button' : 'Update Video Button'
.hidden
  #help_name_content{ :name => 'Name' } The text appearing on the button. Maximum 20 characters.
  #help_url_content{ :name => 'URL' } The URL the button links to.
  #help_ordinal_content{ :name => 'Ordinal' } Priority of the button, the smaller the ordinal, the higher the priority. (Integer only)
  #help_enabled_content{ :name => 'Enabled' } Only enabled button will be shown by the end of the video. Permit at most 2 enabled buttons.