- @page_title = "Video Button for #{@video_offer.name}"

%h1= "Video Button for "+ link_to(@video_offer.name, edit_tools_video_offer_path(:id => @video_offer.id))

= link_to('[Add Button]', new_tools_video_offer_video_button_path)

%table.tablesorter
  %thead
    %tr
      %th Button ID
      %th Name
      %th URL
      %th Ordinal
      %th Enabled
      %th Operation
  %tbody
    - @video_buttons.each do |button|
      %tr
        %td.button-id= link_to(button.id, tools_video_offer_video_button_path(:video_offer_id => @video_offer.id, :id => button.id))
        %td.name= button.name
        %td.url= button.url
        %td.ordinal= button.ordinal
        %td.enabled= button.enabled
        %td.operation
          = link_to('edit', edit_tools_video_offer_video_button_path(:id => button.id, :video_offer_id => @video_offer.id))
  %br/

- content_for :page_styles do
  :plain
    td.button-id {
      font-family: 'courier new';
    }
    td {
      vertical-align: top;
    }
