- @page_title = "Video Button for #{@video_offer.name}"

%h1= @page_title

%table
  %tbody
    %tr
      %th Button Name:
      %td= @video_button.name
    %tr
      %th Destination URL:
      %td= @video_button.url
    %tr
      %th Ordinal:
      %td= @video_button.ordinal
    %tr
      %th Enabled:
      %td= @video_button.enabled
    %tr
      %th{ :colspan => 2 }
        = link_to('Index', tools_video_offer_video_buttons_path(:video_offer_id => @video_offer.id))
        |
        = link_to('Edit Button', edit_tools_video_offer_video_button_path(:id => @video_button.id, :video_offer_id => @video_offer.id))

- content_for :page_styles do
  :plain
    table tbody th {
      text-align: right;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    table tbody td {
      text-align: left;
      padding-top: 6px;
      padding-bottom: 6px;
    }
