!!! 5

- @page_title = "Daily #{@currencies[@todays_day_number - 1].name} Bonus"
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ 'name' => 'viewport', 'content' => 'width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;' }
    %meta{ 'name' => 'apple-mobile-web-app-status-bar-style', 'content' => 'black' }
    = stylesheet_link_tag "reengagement_rewards"
    
  %body
  .container
    .content

      .top
        .headbg
          %h1
            = "Daily #{@currencies[@todays_day_number - 1].name} Received!"

      .bot
        .days
          - @reengagement_offers.each do |r|
            - if @todays_day_number > r.day_number
              .box-past
                .credits-past
                  %h1
                    = "+ #{r.reward_value}"
                .day-past
                .date-past
                  %h2
                    = "Day #{r.day_number}"
            - elsif @todays_day_number == r.day_number
              .box-current
                .credits-current
                  %h1
                    = "+ #{r.reward_value}"
                .day-current
                .date-current
                  %h2
                    = "Day #{r.day_number}"
            - else            
              .box
                .credits
                  %h1
                    = "+ #{r.reward_value}"
                .day
                .date
                  %h2
                    = "Day #{r.day_number}"
        %span.textc
          %h2
          = "#{@reengagement_offers[@todays_day_number - 1].instructions}"
        %a{:href => "javascript:self.close();"}
          = image_tag "reengagement_rewards/ok.png", :alt => "OK", :name => "OK", :id => "button", :class => "floatc", :size => "220x61"
    .footer
      %a{:href => "#"}
        = image_tag @app_icon_url, :alt => "App Icon", :name => "App Icon", :height => "50", :id => "Insert_icon", :class => "floatl"
        %h3{:name => "Partner Name", :id => "Partner_name", :class => "floatl"}
          = "by #{@partner_name}"
        = image_tag "reengagement_rewards/logo-footer.png", :alt => "Tapjoy Logo", :name => "Tapjoy Logo", :height => "50", :id => "Insert Logo", :class => "floatr"