%tr
  %th Name
  %td
    = f.text_field :name
    = error_message_on(@app_metadata, :name)
%tr
  %th Store ID
  %td
    = f.text_field :store_id
    = error_message_on(@app_metadata, :store_id)
%tr
  %th Price (USD/100)
  %td
    = f.text_field :price
    = error_message_on(@app_metadata, :price)
%tr
  %th File size (bytes)
  %td
    = f.text_field :file_size_bytes
    = error_message_on(@app_metadata, :file_size_bytes)
%tr
  %th User rating
  %td
    = f.text_field :user_rating
    = error_message_on(@app_metadata, :user_rating)
%tr
  %th Categories
  %td
    = f.text_field :categories
    = error_message_on(@app_metadata, :categories)
%tr
  %th Developer
  %td
    = f.text_field :developer
    = error_message_on(@app_metadata, :developer)
%tr
  %th Release date
  %td
    = f.text_field :released_at
    = error_message_on(@app_metadata, :released_at)
%tr
  %th Description
  %td
    = f.text_area :description
    = error_message_on(@app_metadata, :description)
%tr
  %th Icon
  %td#app_icon= image_tag(@app_metadata.get_icon_url, :size => '57x57', :alt => 'icon')
%tr
  %th Icon URL
  %td= text_field_tag :icon_url, nil, :size => 70
%tr
  %td{ :colspan => 2 }= f.submit "Update", :id => 'submit_button'

- content_for :included_javascripts, javascript_include_tag('jquery-ui-timepicker-addon.min')
- content_for :page_javascript do
  :plain
    $(function() {
      $('#app_metadata_released_at').datepicker();
    });
