- @page_title = 'Inventory Management'
= render :partial => 'actions'

.left-indented
  .box-full
    %h3 Prioritized App Cross Promotion (Global)
    %p This page allows you to prioritize your own apps for cross-pomotion across all of your publisher applications to drive user growth. Please be aware that selecting more slots reduces the visibility of revenue earning offers on your offerwall, and will reduce your publisher revenue.
    - form_tag({}, { :method => :get, :class => 'tjform'}) do
      %p Selections here will be cross-promoted on ALL of your publisher apps. For more fine-grained control, click "Per-App" to the left.
      %p Note: Apps you have marked as "self-promo only" on the apps tab will still be shown on your offerwalls, but will also need to be added here to be prioritized to the top of your offerwall.There must be an active install offer for an app to be eligible for cross-promotion; if you do not want to run a paid install campaign, but want to cross-promote an app, select "self-promo only" on the apps tab under the app you would like to promote.
      %table
        %tbody
          - if @available_offers[:ios].present?
            %tr
              %th
                iOS
              %td
                = select_tag :partner_promoted_offers_ios, options_for_select(@available_offers[:ios], @selected_offers[:ios]), {:multiple => true, :class => 'chosen', :style => "width: 450px;"}
          - if @available_offers[:android].present?
            %tr
              %th
                Android
              %td
                = select_tag :partner_promoted_offers_android, options_for_select(@available_offers[:android], @selected_offers[:android]), {:multiple => true, :class => 'chosen', :style => "width: 450px;"}
          - if @available_offers[:windows].present?
            %tr
              %th
                Windows
              %td
                = select_tag :partner_promoted_offers_wp, options_for_select(@available_offers[:wp], @selected_offers[:wp]), {:multiple => true, :class => 'chosen', :style => "width: 450px;"}
          %tr
            %td{ :colspan => 2 }
              %br
              = submit_tag('Save')
