- @page_title = 'Pay-Per-Action'

%h3 Actions

%p
  Use "action" campaigns to encourage users to engage in your application. We support two action campaign types:
  %ol
    %li
      %strong
        Pay Per Install + Action
      Create a campaign that asks new users to install and perform a specific action in your application. Minimum bid is $.20. Prerequisite must be set to none. To change this setting, please submit a request to #{mail_to "support@tapjoy.com"}.
    %li
      %strong
        Tapjoy Reconnect
      Create a campaign that retargets existing users and asks them to perform a specific action. Within our dashboard, you will need to provide specific instructions on how to complete the action. Your prerequisite should be set to the application you'd like users to return to. Additionally, we accept protocol handlers, which send users directly to your app after the click. To support this, please submit a request to #{mail_to "support@tapjoy.com"}. The use of protocol handlers is optional. If a protocol handler is not present, users will need to exit the app they see your action campaign to complete the action.
%p
  Create an Action ID below to get integrated. You can edit any action and instructions by selecting the action, or create new actions by clicking on the Create New Action button.
%p
  Once you've integrated the code, contact #{mail_to "support@tapjoy.com"} to test the integration and enable your action campaign. Each action needs to be individually tested and enabled by Tapjoy.

.code
  .code-header
    = @app.default_actions_file_name
    = " · "
    = link_to("Show file contents", '', :class => 'show_file_contents')
    = " · "
    = link_to_generated_actions_header(@app, "Download this file")
  .code-content.hidden
    %pre><= @app.generate_actions_file
%br

%div= button_to "Create New Action", new_app_action_offer_path(@app), :method => :get
%br

%table.actions{ :width => '100%' }
  %thead
    %tr
      %th Enabled?
      %th Action
      %th Bid
      %th ActionID
      %th Integrated?
      %th Approved?
  %tbody
    - @action_offers.each do |action_offer|
      %tr{ :class => cycle('even', 'odd') }
        %td
          = form_tag toggle_app_action_offer_url(@app, action_offer) do
            = check_box_tag("", "1", action_offer.user_enabled?, :class => 'toggle_action_offer')
          %img{ :src => '/images/load-circle.gif', :style => 'display: none;' }
        %td= link_to(action_offer.name, edit_app_action_offer_path(@app, action_offer))
        %td= number_to_currency 0.01 * action_offer.bid
        %td= action_offer.id
        %td{ :class => action_offer.integrated? ? "integrated" : "not_integrated" }= action_offer.integrated? ? "Yes" : "No"
        %td{ :class => action_offer.tapjoy_enabled? ? "integrated" : "not_integrated" }= action_offer.tapjoy_enabled? ? "Yes" : "No"

- content_for :page_javascript do
  :plain
    $(function($){
      $('.toggle_action_offer').click(function(){
        var checkBox = $(this);
        var form = checkBox.closest('form');
        var spinner = form.next();
        var postUrl = form.attr('action');

        $.ajax({
          type: "POST",
          url:  postUrl,
          data: form.serialize(),
          beforeSend: function() {
            form.hide();
            spinner.show();
          },
          success: function(result) {
            if (result.success) {
              checkBox.attr('checked', result.user_enabled);
            }
            else {
              alert('Error toggling action');
            }
            spinner.hide();
            form.show();
          },
          error: function() {
            alert('Error toggling action');
            spinner.hide();
            form.show();
          }
        });

        return false;
      });

      $('.show_file_contents').click(function(){
        var link = $(this);
        var code = $('.code-content');

        if (code.is(':visible')){
          code.hide();
          link.text('Show file contents');
        }
        else{
          code.show();
          link.text('Hide file contents');
        }

        return false;
      });
    });

- content_for :page_styles do
  :plain
    table.actions tbody td {
      text-align: center;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    table.actions tbody {
      font-size: 13px;
    }

    table.actions tbody tr.even {
      background-color: #f0f0f6;
    }

    .code-content {
      padding: 0 16px;
      border: 1px solid #ccc;
      background-color: #f0f0f6;
      overflow: auto;
    }
