- @page_title = "Global Network Stats"

.tjform{:style => 'margin-top: 5px;'}
  = label_tag('search_box', 'Offer Name:')
  = text_field_tag('search_box', '', :size => '40')

%h1= "Global Network Stats"

.clear

%form#change_date.tjform
  = render :partial => 'shared/date_range_and_platform'

.clear

.load-circle= image_tag('load-circle.gif')

#charts{ :style => "text-align: center;" }
  #connects.graph
  #installs_spend.graph
  #revenue.graph
  #offerwall.graph
  #tjm_offerwall.graph
  #featured_offers.graph
  #display_ads.graph
  #ads.graph

- include_tapjoy_graph
- content_for :page_javascript do
  :plain
    $('#search_box').autocomplete({ source: '#{search_offers_path}', delay: 250, minLength: 2, select: function(event, ui) { window.location.assign(ui.item.url); } });
