%h3 Create a secondary offer based on #{@offer.name_with_suffix}

%p This will create a copy of the #{@offer.name_with_suffix} offer, except it will not be Tapjoy Enabled.

%p Once you've created the secondary offer, you can edit it independently of the main offer.

%p Secondary offers will only show up in publisher apps that have integrated version 4.0 or greater of our sdk.

- form_tag(statz_index_path, :method => :post) do
  = hidden_field_tag(:id, @offer.id)
  .field
    = label_tag(:suffix, "Suffix (eg 'featured'. Only displayed internally)")
    = text_field_tag(:suffix)
  .field
    = submit_tag('Create')

- content_for :page_styles do
  :plain
    input[type=submit] {
      width: 220px;
      height: 22px;
      font-size: 14px;
    }
