- @page_title = 'Tapjoy Games Registration'

#offers
  #header
    %h1= @page_title

  - if flash[:error].present?
    %p.error= flash[:error]

  %p
    Instructions: Please enter your email below.

  - form_tag(:action => :create) do
    = hidden_field_tag(:udid, params[:udid])
    = hidden_field_tag(:click_key, params[:click_key])
    = label_tag(:email_address, 'Email:')
    = text_field_tag(:email_address, params[:email_address])

    %p
      Check your email for a link to verify your email address in order to receive your
      = @currency.name + "."

    = check_box_tag(:agreed_to_privacy)
    = label_tag(:agreed_to_privacy, "I have reviewed and acknowledged #{link_to("Tapjoy's privacy policy.", "#{WEBSITE_URL}/site/privacy_mobile")}")

    %p
      Your email address will be associated with your phone’s ID and some app usage history. However, we have a clear privacy policy that explains how we protect this information. Please see our privacy policy here:
      = link_to("#{WEBSITE_URL}/site/privacy_mobile", "#{WEBSITE_URL}/site/privacy_mobile")

    %p
      = submit_tag('Submit')

- content_for :page_styles do
  :plain
    * {
      margin: 0;
      padding: 0;
      outline: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: baseline;
      text-decoration: none;
    }

    body {
      margin-bottom: 10px;
      color: #004E09;
    }

    h1 {
      font-size: 24px;
    }

    p {
      margin: 1em 0;
    }

    #offers {
      margin: 10px 3%;
      background: white;
      border: 1px solid #d5d5d5;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 10px;
    }

    #header {
      border-bottom: 2px solid;
    }

    .error {
      color: #dd0000;
    }

