- @page_title = 'Operations Dashboard'

= javascript_tag do
  :plain
    var nodes = [];

    this.node_cleanup_timer = setInterval(function () {
      for (var instance_id in nodes) {
        var current_time = new Date().getTime();
        var timestamp = nodes[instance_id];
        if (current_time - timestamp > 35000) {
          $('#' + instance_id + '_details').remove();
          delete nodes[instance_id];
        }
      }
    }, 1000);

%div
  .row-fluid
    #api-rpm-per-server{:class => @kiosk ? 'span2' : 'span3'}
      %span.label.right rpm
      .well.well-small
        %div
          %h1
            %span#api-rpm-per-server-count Loading
            %small per server
    #api-rpm-total{:class => @kiosk ? 'span2' : 'span3'}
      %span.label.right rpm
      .well.well-small
        %div
          %h1
            %span#api-rpm-total-count Loading
            %small total
    - @as_groups.each do |group|
      %div{:class => @kiosk ? 'span2' : 'span3', :id => "#{group[:auto_scaling_group_name]}_section"}
        .well.well-small
          %div{:id => "#{group[:auto_scaling_group_name]}_header"}
          - content_for :page_javascript do
            :plain
              $("##{group[:auto_scaling_group_name]}_header").load("ops/as_header?group=#{group[:auto_scaling_group_name]}");
              this.timer_#{group[:auto_scaling_group_name]}_header = setInterval(function () {
                $("##{group[:auto_scaling_group_name]}_header").load("ops/as_header?group=#{group[:auto_scaling_group_name]}");
              }, 30000);

          %div{:id => "#{group[:auto_scaling_group_name]}_instances"}
          - content_for :page_javascript do
            :plain
              $("##{group[:auto_scaling_group_name]}_instances").load("ops/as_instances?group=#{group[:auto_scaling_group_name]}#{@kiosk ? "&kiosk=true" : ""}");
              this.timer_#{group[:auto_scaling_group_name]}_instances = setInterval(function () {
                $("##{group[:auto_scaling_group_name]}_instances").load("ops/as_instances?group=#{group[:auto_scaling_group_name]}#{@kiosk ? "&kiosk=true" : ""}");
              }, 30000);

- content_for :included_javascripts, javascript_include_tag('ajax-links.js')
- content_for :page_javascript do
  :plain
    var loadApiRpms = function() {
      $.get("ops/requests_per_minute", {}, function(data){
        $("#api-rpm-per-server-count").text(data.mean);
        $("#api-rpm-total-count").text(data.sum);
      });
    };
    loadApiRpms();
    this.timerApiRpms = setInterval(loadApiRpms, 5000);

- content_for :page_styles do
  :plain
    table.tablesorter {
      border-collapse: separate;
    }

    .details {
      width: 310px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 11px;
    }

    .lowbreaching {
      color: #ff0000 !important;
    }

    .highbreaching {
      color: #008000 !important;
    }

    #content a:visited {
      color: blue;
    }
    #content a:hover {
      color: yellow;
    }
    #content a {
      color: blue;
    }
    .progress {
      margin-bottom: 0px !important;
    }
    .center {
      text-align: center;
    }
    .labels {
      padding: 3px 3px 0px 3px;
    }
    h3 {
      margin-bottom: 2px;
    }
    .row-fluid > [class*="span"]:nth-child(#{@kiosk ? '6' : '4'}n+1) {
      margin-left: 0;
      clear: both;
    }

    th.name {
      width: 65%;
    }
