- @page_title = 'Partner Changes'

%h1 Partner Changes

= link_to('Create Partner Change', new_tools_partner_change_path)

%table#partner_changes.tablesorter
  %thead
    %tr
      %th Item
      %th Original Partner
      %th New Partner
      %th Scheduled For
      %th Completed At
      %th
  %tbody
    - @partner_changes.each do |pc|
      %tr
        %td= "#{pc.item.name} -- (#{pc.item_type} - #{pc.item_id})"
        %td= "#{pc.source_partner.name} -- (#{pc.source_partner_id})"
        %td= "#{pc.destination_partner.name} -- (#{pc.destination_partner_id})"
        %td= pc.scheduled_for? ? pc.scheduled_for.to_s(:mdy_ampm_sec) : '-'
        %td= pc.completed_at? ? pc.completed_at.to_s(:mdy_ampm_sec) : '-'
        %td
          - unless pc.completed_at?
            = link_to('Complete Now', complete_tools_partner_change_path(pc), :method => :post, :confirm => 'Are you sure?')
            |
            = link_to('Destroy', tools_partner_change_path(pc), :method => :delete, :confirm => 'Are you sure?')

= will_paginate(@partner_changes)
