- @page_title = 'Virtual Goods'

= render :partial => 'shared/carousel', :locals => {:objects => current_partner_apps, :object => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#content-with-links
  %h3 Virtual Goods

  %table.with_form
    %thead
      %tr
        %th Name
        %th Type
        %th Status
        %th Price (#{@app.currency.name})
        %th Price ($)
    %tbody
      - @virtual_goods.sort.each do |vg|
        %tr.virtual-good{:class => vg.disabled? ? "disabled" : vg.beta? ? "beta" : ""}
          %td
            = vg.name
            = link_to "edit", app_virtual_good_path({:app_id => @app.id, :id => vg.id})
          %td
            = vg.title
          %td
            = vg.disabled? ? "Disabled" : vg.beta? ? "Beta" : "&nbsp;"
          %td
            = vg.price
          %td
            = number_to_currency(vg.price_in_dollars)
- content_for :page_styles do
  :plain
    tr.virtual-good.disabled {
      color: #888;
    }
    tr.virtual-good.beta {
      color: #00f;
    }
