- @page_title = 'Virtual Goods'

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_apps, :selected => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#content-with-links
  %h3 Virtual Goods
  %table
    %thead
      %tr
        %th &nbsp;
        %th &nbsp;
        %th Name
        %th Type
        %th Price (#{@app.currency.name})
        %th Price ($)
        %th Status
        - if permitted_to?(:index, :statz)
          %th.admin
            Ordinal
            %br/
            (Admin-only field)
        %th &nbsp;
    %tbody#virtual_goods
      - @virtual_goods.sort.each do |vg|
        - tr_class = vg.disabled? ? "disabled" : vg.beta? ? "beta" : ""
        %tr.virtual-good{:class => tr_class, :id => vg.key}
          %th.handler
            %span.ui-icon.ui-icon-arrowthick-2-n-s
          %th
            - if vg.has_icon
              %span.icon= image_tag(vg.icon_url, :height => 50)
          %td= vg.name
          %td= vg.title
          %td= vg.price
          %td= number_to_currency(vg.price_in_dollars)
          %td= vg.disabled? ? "Disabled" : vg.beta? ? "Beta" : "&nbsp;"
          - if permitted_to?(:index, :statz)
            %td.admin= vg.ordinal
          %td
            .button= link_to "edit", app_virtual_good_path({:app_id => @app.id, :id => vg.id})
  - form_tag(reorder_app_virtual_goods_path(:app_id => @app.id), :id => "reorder-virtual-goods") do
    = hidden_field_tag('virtual_goods')
    = submit_tag('Save new order', :id => 'virtual-goods-order-submit', :style => "display:none;")

- content_for :page_styles do
  :plain
    tr.virtual-good.disabled {
      color: #bbb;
    }
    tr.virtual-good.beta {
      color: #00f;
    }
    th.handler {
      cursor: move;
    }
    td, th {
      padding: 0px 5px
    }
    .button a {
      display: inline-block;
      color: #222;
      font-size: 12px;
      text-decoration: none;
      text-shadow: 0px 1px 1px #fff;
      margin: 3px 0px;
      margin-right: 2px;
      padding: 2px;
      border: 1px solid #888;
      background: #ddd;
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
      background: -moz-linear-gradient(top,  #fff,  #ccc);
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
    .button a:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb));
      background: -moz-linear-gradient(top, #fff, #bbb);
    }
    .button a:active {
      background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#ddd));
      background: -moz-linear-gradient(top, #aaa, #ddd);
    }
  - if permitted_to?(:index, :statz)
    :plain
      th.admin, td.admin {
        color: blue;
      }
- content_for :page_javascript do
  :plain
    $(function($){
      $('a#toggle-disabled').click(function(){ $('.disabled').toggle(); });
      $('#virtual_goods').sortable({
        opacity: 0.5,
        handle: 'th.handler',
        cursor: 'move',
        axis: 'y',
        change: function() {
          $('#virtual-goods-order-submit').fadeIn();
        }
      });
      $('form#reorder-virtual-goods').submit(function(){
        var data = $('#virtual_goods').sortable("toArray");
        $('input#virtual_goods').val(JSON.stringify(data));
        return true;
      });
    });
