- @page_title = 'Virtual Goods'

= render :partial => 'shared/carousel', :locals => {:objects => current_partner_apps, :object => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#content-with-links
  %h3 Virtual Good Types

  %table.with_form
    - @virtual_good_types.each do |title|
      %tr
        %td= title

  %h3 Virtual Goods

  %table.with_form
    - @virtual_goods.each do |vg|
      %tr
        %td
          #{vg.name} (#{vg.title})
          = link_to "edit", app_virtual_good_path({:app_id => @app.id, :id => vg.id})
