%h2 Publisher Application
%p Name: #{@info[:name]}
%p Title: #{@info[:title]}
%p Company: #{@info[:company]}
%p Email: #{@info[:email]}
%p Phone: #{@info[:phone]}
%p Comments: #{@info[:comments]}
%p &nbsp;
%p Received: #{Time.now.to_s(:pub_ampm)}
%p From: #{WEBSITE_URL}/site/advertisers
