%p Dear Tapjoy Partner,

- if @offers_not_meeting_budget.present? || @offers_needing_higher_bids.present?
  %p We noticed that your following campaign(s) are not receiving the maximum traffic available from our network:
  %p
    - @offers_not_meeting_budget.each do |o|
      %b><= "#{o.name_with_suffix}"
      = ": Daily budget of #{o.daily_budget} will not be met"
      %br
    - @offers_needing_higher_bids.each do |o|
      %b><= "#{o.name_with_suffix_and_platform}"
      = ": Unlimited budget - Not showing on the first page of the Tapjoy wall"
      %br
  %p
    You can increase the amount of traffic to your app by bidding higher. To increase your bid, please login to
    = link_to DASHBOARD_URL, DASHBOARD_URL
    and go to the
    %b Install
    pages on the
    %b Apps
    tab.

- if @low_balance
  %p Your account balance is running low and we are slowing traffic to your campaign(s). Your funds are expected to run out within the next 24 hours. Currently you have the following funds in your account:
  %p= number_to_currency(0.01 * @account_balance)
  %p
    To add more funds to your account, please go to the
    %b Add Funds
    page on the
    %b Billing
    tab or contact us directly to be invoiced.

- if @premier
  %p
    Since you are a member of Tapjoy Premier, you are receiving a
    = "#{@premier_discount}%"
    discount on your payment.
- else
  %p
    To receive a discount of up to 15%, join the Tapjoy Premier Program. To learn more, login to the site and click on the
    %b Premier
    tab.

- if @account_manager_email
  %p
    If you have any questions, please reach out to
    = mail_to @account_manager_email
    or email us at
    = "#{mail_to "support@tapjoy.com"}."
- else
  %p
    If you have any questions, please email us at
    = "#{mail_to "support@tapjoy.com"}."

%p Cheers,
%p --Team Tapjoy

%p
  To unsubscribe from these automated notifications, please login to
  = "#{link_to("#{DASHBOARD_URL}/account", "#{DASHBOARD_URL}/account")}, click \"Change your account details\", and uncheck the \"Receive Campaign Emails\" box."
