%h2 Platform: #{@info[:platform]}
%p Email: #{@info[:email]}
%p First Name: #{@info[:first]}
%p Last Name: #{@info[:last]}
%p Title: #{@info[:title]}
%p Company: #{@info[:company]}
%p Phone Number: #{@info[:phone]}
%p &nbsp;
%p Comments: #{@info[:comments]}
%p &nbsp;
%p Received: #{Time.now.to_s(:pub_ampm)}
%p From: https://www.tapjoy.com/site/advertisers_contact
