%p Name: #{@info[:name]}
%p Reason for inquiry: #{@info[:reason]}
%p Email: #{@info[:email]}
%p &nbsp;
%p Details: #{@info[:details]}
%p &nbsp;
%p Received: #{Time.now.to_s(:pub_ampm)}
%p From: #{WEBSITE_URL}/site/contact
