There was an error while polling Linkshare. Details are below.

= "ERROR: #{@error}"

= "bdate: #{@start_date}"
= "eDate: #{@stop_date}"
= "token: --HIDDEN ON PURPOSE-- (Login to Linkshare Dashboard to view)"
= "nid (optional): #{@network_id}"
= "reportid: #{@report_id}"
= "mid (optional): #{@advertiser_id}"

= "Complete URL query: #{@url}"
