There was an error while downloading recent clicks through Linkshare.

= "ERROR: #{@error}"

- if @options
  = "bdate: #{@options[:bdate]}" if @options[:bdate]
  = "edate: #{@options[:edate]}" if @options[:edate]
  = "token: --HIDDEN ON PURPOSE-- (Login to Linkshare Dashboard to view)"
  = "nid (optional): #{@options[:nid]}" if @options[:nid]
  = "reportid: #{@options[:reportid]}" if @options[:reportid]
  = "mid (optional): #{@options[:advertiser_id]}" if @options[:advertiser_id]

= "Complete URL query: #{@url}"
