= support_request_field :offer, @offer.is_a?(Offer) ? "#{@offer.name} #{DASHBOARD_URL}/statz/#{@offer.id}" : @offer
= support_request_field :description, @description
= support_request_field :udid, "#{@udid} #{DASHBOARD_URL}/tools/device_info?udid=#{@udid}"
= support_request_field :publisher_user_id, @publisher_user_id
= support_request_field :currency_id, "#{@currency.name} (#{@currency.id})"
= support_request_field :publisher_app, "#{@app.name} #{DASHBOARD_URL}/statz/#{@app.id}"
= support_request_field :device_type, @device_type
= support_request_field :email_address, @email_address
= support_request_field :language_code, @language_code
= support_request_field :publisher_partner_id, @app.partner_id
= support_request_field :support_request, @support_request.id
= support_request_field :click_id, @click_id
