%p<
  %strong<
    = "Missing Currency Support Request - #{@offer.name}"
%div
  = support_request_field :email,             @email_address
  = support_request_field :udid,              "#{@device.key} [#{@device.dashboard_device_info_tool_url}]"
  = support_request_field :offer,             "#{@offer.name} [#{@offer.dashboard_statz_url}]"
  = support_request_field :currency,          "#{@currency.name} [#{@currency.dashboard_app_currency_url}]"
  = support_request_field :reward_amount,     @currency.get_visual_reward_amount(@offer)
  = support_request_field :publisher_partner, "#{@app.partner_id} []" # "[#{@app.partner.dashboard_partner_url}]"
  = support_request_field :publisher_app,     "#{@app.name} [#{@app.dashboard_app_url}]"
  = support_request_field :publisher_user,    @publisher_user_id
  = support_request_field :language_code,     @language_code
  = support_request_field :user_agent,        @user_agent
  = support_request_field :device_type,       @device_type
  = support_request_field :support_request,   @support_request.id
  = support_request_field :click,             "#{@click.key} [#{@click.dashboard_device_info_tool_url}]"
  = support_request_field :description,       @description
