- @page_title = 'App offer'

= render :partial => 'apps/apps', :object => current_partner_apps
= render :partial => 'apps/actions', :locals => {:app => @app}

#apps_main
  - unless @app.nil?
    .app-thumb
      .icon
        = image_tag(@app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
    = @app.name
    %br/
    Balance
    = number_to_currency(current_partner.balance / 100.0)
    = button_to 'Add funds', add_funds_billing_path
    - form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put }) do |f|
      %br/

  = @offer.name
  - form_for @offer, :url => app_offer_path do |f|
    %table.app{:cellpadding => 0, :cellspacing => 0, :border => 1}
      %tbody
        %tr
          %th Name:
          %td
            = f.text_field :name, :size => 50
            - if @offer.errors.on :name
              = error_message_on @offer, :name
        %tr
          %th Daily Budget:
          %td= f.currency_field :daily_budget
        %tr
          %th Bid
          %td= f.currency_field :payment
        %tr
          %th User Enabled
          %td= f.select :tapjoy_enabled, ['Disabled', 'Enabled'].zip([0, 1]), :selected => @offer.tapjoy_enabled ? 1 : 0
        %tr
          %th Tapjoy Enabled
          %td
            - if @offer.tapjoy_enabled
              YES
            - else
              NO (Contact #{link_to "support@tapjoy.com", "mailto:support@tapjoy.com"})
        %tr
          %th Campaign Status
          %td=# f.select :campaign_status
    = f.submit 'Update'
