- @page_title = 'App offer'

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_apps, :selected => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#apps_main
  %h3 Pay-Per-Install

  %p.description
    Pay-Per-Install lets you buy a pre-determined number of guaranteed installations for your app. Only pay when a user installs your app.
  %p.description
    Enter your bid per install below. The minimum bid is 50% of the purchase price for paid apps, or $0.35 for free apps. 
    Higher bids will fetch more installs.

  - form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put, :class => 'tjform' }) do |f|
    %table
      %tbody
        %tr
          %th
            = f.label :user_enabled, 'Enable Installs'
            #help_user_enabled.help ?
          %td
            = f.check_box :user_enabled
            = error_message_on @offer, :user_enabled
        %tr
          %th
            = f.label :bid, 'Bid'
            #help_bid.help ?
          %td
            = f.currency_field :bid, {}, :class => 'togglable'
            = error_message_on @offer, :bid
        - if Rails.env == 'development' || request.host == 'test.tapjoy.com'
          %tr
            %th
              = f.label :payment, 'Payment'
              #help_payment.help ?
            %td
              = f.currency_field :payment, {}, :disabled => 'disabled'
              = error_message_on @offer, :payment
              - if @offer.partner.exclusivity_level.nil?
                .premier
                  Want to reduce your payment?
                  = link_to 'Learn more about the Tapjoy Premier Program', premier_path
        %tr
          %th
            Offer Name
            #help_offer_name.help ?
          %td= @offer.name
        %tr
          %th
            = f.label :daily_budget, 'Daily Install Limit'
            #help_daily.help ?
          %td
            = f.text_field :daily_budget, :class => 'togglable'
            = error_message_on @offer, :daily_budget
            #estimated_budget
              Estimated daily budget: 
              .value
        %tr
          %th
            Balance
            #help_balance.help ?
          %td
            = number_to_currency(current_partner.balance / 100.0)
            = link_to 'Add funds', add_funds_billing_path, :class => 'addfunds'
        %tr
          %th
            Tapjoy Enabled
            #help_enabled.help ?
          %td
            - if @offer.tapjoy_enabled
              .tapjoy-enabled Enabled
            - else
              .tapjoy-disabled Disabled
        - if @offer.partner.exclusivity_level
          %tr
            %th
              Tapjoy Premier
              #help_premier.help ?
            %td
              = "Member until #{@offer.partner.exclusivity_expires_on.to_s :mdy}"
        - if permitted_to?(:edit, :statz)
          = render :partial => 'admin_fields', :locals => {:f => f}
        %tr
          %td{ :colspan => 2 }= f.submit 'Update'

.hidden
  #help_offer_name_content{:name => 'Offer Name'}
    Name that will be displayed on offer walls.
  #help_balance_content{:name => 'Balance'}
    Current balance available.
  #help_daily_content{:name => 'Daily Budget'}
    The maximum number of installs per day.
  #help_bid_content{:name => 'Bid'}
    The amount you are willing to pay for an install. A higher bid will result in more traffic. The minimum bid is
    - if @app.price > 0
      50% of the app price.
    - else
      $0.35.
  #help_payment_content{:name => 'Payment'}
    The amount that you pay for install. This value is equal to the Bid
    unless you participate in the Tapjoy Premier program, or reach monthly spend figures
  #help_user_enabled_content{:name => 'Enable Installs'}
    Enable installs to get your campaign started.
  #help_enabled_content{:name => 'Tapjoy Enabled'}
    Tapjoy approval status.
    - unless @offer.tapjoy_enabled
      Please contact #{link_to "support@tapjoy.com", "mailto:support@tapjoy.com"} to enable this offer.
  #help_premier_content{:name => 'Tapjoy Premier'}
    When your Tapjoy Premier exclusivity expires.

- content_for :page_javascript do
  :plain
    $(function($){

      var toggleUserEnabled = function() {
        if ($('#offer_user_enabled').attr('checked')) {
          $('.togglable').attr('disabled', false);
          $('#estimated_budget').removeClass('disabled');
        } else {
          $('.togglable').attr('disabled', true);
          $('#estimated_budget').addClass('disabled');
        }
      };

      var setEstimatedBudget = function() {
        var bid = stringToNumber($('#offer_bid').val());
        var installLimit = stringToNumber($('#offer_daily_budget').val())
        budget = 'Unlimited'
        if (installLimit > 0) {
          budget = numberToCurrency(bid * installLimit);
        }
        $('#estimated_budget .value').html(budget);
      };

      var checkMinimumPrice = function() {
        var minimumPrice = #{([ @offer.bid, @offer.min_bid ].min) / 100.0};
        var currentPrice = stringToNumber($('#offer_bid').val());
        if (currentPrice < minimumPrice) {
          currentPrice = minimumPrice;
        }
        $('#offer_bid').val(numberToCurrency(currentPrice));
        $('#offer_payment').val(numberToCurrency(currentPrice - #{@offer.partner.premier_discount/100.0}));
      };

      toggleUserEnabled();
      $('#offer_user_enabled').change(toggleUserEnabled);

      setEstimatedBudget();
      $('#offer_bid').change(function() {
        checkMinimumPrice();
        setEstimatedBudget();
      });

      $('#offer_daily_budget').change(function() {
        $(this).val(stringToNumber($(this).val()));
        setEstimatedBudget();
      });

      $('form').submit(function() {
        checkMinimumPrice();
      })
    });

- content_for :page_styles do
  :plain
    .addfunds {
      padding-left: 15px;
    }

    #estimated_budget {
      font-size: 85%;
    }

    #estimated_budget.disabled {
      color: #aaa;
    }

    #estimated_budget .value {
      font-weight: bold;
      display: inline;
    }
    .premier {
      font-size: 12px;
    }
    textarea,
    input[type=text] {
      width: 400px;
    }
    .tapjoy-enabled {
      color: #328F0D;
    }
    .tapjoy-disabled {
      color: #AF1515;
    }
