- @page_title = 'App offer'

= render :partial => 'shared/carousel', :locals => {:objects => current_partner_apps, :object => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#apps_main
  %h3 Pay-Per-Install

  %p.description
    Pay-Per-Install lets you buy a pre-determined number of guaranteed installations for your app. Only pay when a user installs your app.
  %p.description
    Enter your bid per install below. The minimum bid is 50% of the purchase price for paid apps, or $0.35 for free apps. 
    Higher bids will fetch more installs.
  

  - form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put, :class => 'tjform' }) do |f|
    %table
      %tbody
        %tr
          %th
            = f.label :user_enabled, 'Enable Installs'
            #help_user_enabled.help ?
          %td
            = f.check_box :user_enabled
            = error_message_on @offer, :user_enabled
        %tr
          %th
            = f.label :payment, 'Bid'
            #help_bid.help ?
          %td
            = f.currency_field :payment, {}, :class => 'togglable'
            = error_message_on @offer, :payment
        %tr
          %th
            = f.label :name, 'Offer Name'
            #help_offer_name.help ?
          %td
            = f.text_field :name, :class => 'togglable'
            - if @offer.errors.on :name
              = error_message_on @offer, :name
        %tr
          %th
            = f.label :daily_budget, 'Daily Install Limit'
            #help_daily.help ?
          %td
            = f.text_field :daily_budget, :class => 'togglable'
            = error_message_on @offer, :daily_budget
            #estimated_budget
              Estimated daily budget: 
              .value
        %tr
          %th
            Balance
            #help_balance.help ?
          %td
            = number_to_currency(current_partner.balance / 100.0)
            = link_to 'Add funds', add_funds_billing_path, :class => 'addfunds'
        %tr
          %th
            Tapjoy Enabled
            #help_enabled.help ?
          %td
            - if @offer.tapjoy_enabled
              Enabled
            - else
              Disabled
        %tr
          %td &nbsp;
          %td= f.submit 'Update'

.hidden
  #help_offer_name_content{:name => 'Offer Name'}
    Name that will be displayed on offer walls. We recommend that you keep this the same as the app name, but you can modify it if you wish.
  #help_balance_content{:name => 'Balance'}
    Current balance available.
  #help_daily_content{:name => 'Daily Budget'}
    The maximum number of installs per day.
  #help_bid_content{:name => 'Bid'}
    Amount you'll pay per install.
    - if @app.price > 0
      For paid apps, the minimum bid is 50% of the app price.
    - else
      For free apps, the minimum bid is $0.35.
  #help_user_enabled_content{:name => 'Enable Installs'}
    Enable installs to get your campaign started.
  #help_enabled_content{:name => 'Tapjoy Enabled'}
    Tapjoy approval status.
    - unless @offer.tapjoy_enabled
      Please contact #{link_to "support@tapjoy.com", "mailto:support@tapjoy.com"} to enable this offer.

- content_for :page_javascript do
  :plain
    $(function($){
      toggleUserEnabled();
      $('#offer_user_enabled').change(toggleUserEnabled);
      
      setEstimatedBudget();
      $('#offer_payment').change(function() {
        setEstimatedBudget();
      });
      $('#offer_daily_budget').change(function() {
        $(this).val(stringToNumber($(this).val()));
        setEstimatedBudget();
      });
    });

    function toggleUserEnabled() {
      if ($('#offer_user_enabled').attr('checked')) {
        $('.togglable').attr('disabled', false);
        $('#estimated_budget').removeClass('disabled');
      } else {
        $('.togglable').attr('disabled', true);
        $('#estimated_budget').addClass('disabled');
      }
    }
    
    function setEstimatedBudget() {
      var bid = stringToNumber($('#offer_payment').val());
      var installLimit = stringToNumber($('#offer_daily_budget').val())
      budget = 'Unlimited'
      if (installLimit > 0) {
        budget = numberToCurrency(bid * installLimit);
      }
      $('#estimated_budget .value').html(budget);
    }
  
- content_for :page_styles do
  :plain
    .addfunds {
      padding-left: 15px;
    }
    
    #estimated_budget {
      font-size: 85%;
    }
    
    #estimated_budget.disabled {
      color: #aaa;
    }
    
    #estimated_budget .value {
      font-weight: bold;
      display: inline;
    }
    
    textarea,
    input[type=text] {
      width: 400px;
    }
