- @page_title = 'App offer'

= render :partial => 'apps/apps', :object => current_partner_apps
= render :partial => 'apps/actions', :locals => {:app => @app}

#apps_main
  - unless @app.nil?
    .app-thumb
      .icon
        = image_tag(@app.primary_offer.get_icon_url, :size => '57x57', :alt => 'icon')
        = @app.name
    %br/

  - form_for(:offer, @offer, :url => { :action => :update }, :html => { :method => :put }) do |f|
    %table.editable
      %tbody
        %tr
          %th Name:
          %td
            = f.text_field :name, :size => 50
            - if @offer.errors.on :name
              = error_message_on @offer, :name
        %tr
          %th Balance:
          %td
            .right
              = link_to 'Add funds', add_funds_billing_path
            = number_to_currency(current_partner.balance / 100.0)
        %tr
          %th Daily Budget:
          %td
            = f.currency_field :daily_budget
            = error_message_on @offer, :daily_budget
        %tr
          %th Bid
          %td
            = f.currency_field :payment
            = error_message_on @offer, :payment
        %tr
          %th Campaign Status
          %td
            = f.select :user_enabled, ['Paused', 'Started'].zip([0, 1]), :selected => @offer.user_enabled ? 1 : 0
            = error_message_on @offer, :user_enabled
        %tr
          %th Tapjoy Enabled
          %td
            - if @offer.tapjoy_enabled
              Enabled
            - else
              Disabled
              -# TODO: replace the following with jquery ui?
              (Contact #{link_to "support@tapjoy.com", "mailto:support@tapjoy.com"})
    = f.submit 'Update'

- content_for :page_javascript do
  :plain
    $(function(){
      Tapjoy.watchTextFields();
    });
