- orders = statement[1][:orders]
- payouts = statement[1][:payouts]
- transfers = statement[1][:others]
- adjustments = statement[1][:adjustments]

%div.details.hidden{:id => "details_#{statement[0]}"}
  %h3= statement[1][:text_month]
  - unless orders.blank?
    %table.financial
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payments
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'order', :collection => orders, :locals => {:format => :table}
  - else
    .none No payments made during this time
  - unless payouts.blank?
    %table.financial
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Payouts
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'payout', :collection => payouts, :locals => {:format => :table}
  - else
    .none No payouts made during this time
  - unless transfers.blank?
    %table.financial
      %thead
        %tr
          %th{:colspan => 4, :style => 'text-align: center;'} Transfers
        %tr
          %th &nbsp;
          %th Amount
          %th Method
          %th Status
      %tbody
        = render :partial => 'transfer', :collection => transfers, :locals => {:format => :table}
  - else
    .none No transfers made during this time
  - unless adjustments.blank?
    %table.financial
      %thead
        %tr
          %th{:colspan => 3, :style => 'text-align: center;'} Adjustments
        %tr
          %th &nbsp;
          %th Amount
          %th Notes
      %tbody
        = render :partial => 'adjustment', :collection => adjustments, :locals => {:format => :table}
  - else
    .none No adjustments made during this time
- content_for :page_styles do
  :plain
    .none {
      color: #999;
      font-size: 14px;
    }
