- @page_title = 'Edit Offer'

= render('apps/offers_shared/descriptions')

%p.description
  - if @offer.featured? || !@offer.rewarded?
    Enter your bid per
    = @offer.rewarded? ? 'rewarded' : 'non-rewarded'
    = @offer.featured? ? 'featured' : ''
    install below. The minimum bid is
    = "#{number_to_currency(@offer.min_bid / 100.0)}."
  - else
    Enter your bid per install below. The minimum bid is 50% of the purchase price for paid apps, or $0.35 for free apps.

  Higher bids will result in more installs.

= render('apps/offers_shared/scheduling') if @offer.tapjoy_enabled?
= render('apps/offers_shared/form')
