- @page_title = 'Ad Preview'

- sizes = Offer::DISPLAY_AD_SIZES.values
- sizes.each_with_index do |size, index|
  - if index > 0
    %br
  = "#{size} banner ad:"
  %div
    - if !@show_generated_ads and !@offer.has_banner_creative_for_size?(size)
      [
      %i
        Please link your app to the app store so we can generate this ad image using your app's icon.
      ]
    - else
      - publisher_app_id = "2349536b-c810-47d7-836c-2cd47cd3a796" # TapDefense
      = image_tag("#{API_URL}/display_ad/image?advertiser_app_id=#{@offer.id}&size=#{size}&publisher_app_id=#{publisher_app_id}", :alt => "#{size}img")

%br
*To provide custom creatives for your non-rewarded ads, please contact
= "#{mail_to "support@tapjoy.com"}."
Please ensure images have correct dimensions and are of the following file types:
= "[#{Offer::DISPLAY_AD_FORMATS.values.join(', ')}]."
