- @page_title = 'Ad Preview'

#previews
  - publisher_app_id = "2349536b-c810-47d7-836c-2cd47cd3a796" # TapDefense
  - if !@offer.featured? || !@offer.rewarded?
    - Offer::DISPLAY_AD_SIZES.each_with_index do |size, index|
      - if index > 0
        %br
      = "#{size} banner ad:"
      %div{:class => "img#{size}"}
        - if !@show_generated_ads and !@offer.banner_creatives.include?(size)
          = surround "[", "]" do
            %i<>
              Please link your app to the app store so we can generate this ad using your app's icon.
        - else
          - width, height = size.split("x").collect{|x|x.to_i}
          = image_tag(@offer.get_ad_image_url(publisher_app_id, width, height, nil, nil, true), :alt => "#{size}img")

    %br
    *To provide custom creatives for your non-rewarded ads, please contact
    = succeed '.' do
      = mail_to "support@tapjoy.com"
    Please ensure images have correct dimensions.

- content_for :page_styles do
  :plain
    div#previews {
      text-align: center;
    }
    div.img320x480 {
      min-width: 320px;
      height: 480px;
    }
    
  - Offer::DISPLAY_AD_SIZES.each do |size|
    - width, height = size.split("x")
    :plain
      div.img#{size} {
        min-width: #{width}px;
        height: #{height}px;
      }
