- @page_title = 'Ad Preview'

- sizes = Offer::DISPLAY_AD_SIZES.values
- sizes.each_with_index do |size, index|
  - if index > 0
    %br
  = "#{size} banner ad:"
  %div
    = image_tag("#{API_URL}/display_ad/image?advertiser_app_id=#{@offer.id}&size=#{size}", :alt => "#{size}img")

%br
To provide custom creatives for your non-rewarded ads, please contact
= mail_to "support@tapjoy.com"
