- @page_title = 'App offer'

= render :partial => 'shared/dropdown_select', :locals => {:objects => current_partner_apps, :selected => @app}
= render :partial => 'apps/actions', :locals => {:app => @app}

#apps_main
  %h3 Pay-Per-Install

  %p.description
    Pay-Per-Install lets you buy a pre-determined number of guaranteed installations for your app. Only pay when a user installs your app.
  %p.description
    Enter your bid per install below. The minimum bid is 50% of the purchase price for paid apps, or $0.35 for free apps. 
    Higher bids will fetch more installs.
  - if !@offer.on_track_for_budget? && @offer.needs_higher_bid?
    %p.description= "To position your app better on the offerwall, your bid should be at least #{number_to_currency(0.01 * @offer.bid_for_percentile(85))}."

  = render('apps/offers_shared/form')