- @page_title = 'Home'

%h1 Account Overview

#home-columns
  #home-left
    %h3 Welcome #{current_user.username}
    #alerts
      %ul
    #actions
      %ul
        - if permitted_to?(:new, :apps)
          %li.icon
            = link_to image_tag("add_app.png", :size => '57x57'), new_app_path
            = link_to "Add Application", new_app_path
        - if permitted_to?(:pay_per_install, :apps)
          %li.icon
            - path = current_partner_apps.blank? ? new_app_path : pay_per_install_app_path(current_partner_apps.first)
            = link_to image_tag("add_app.png", :size => '57x57'), path
            = link_to "Pay-Per-Install", path
        - if permitted_to?(:integrate, :apps)
          %li.icon
            - path = current_partner_apps.blank? ? new_app_path : integrate_app_path(current_partner_apps.first)
            = link_to image_tag("add_app.png", :size => '57x57'), path
            = link_to "Integrate", path
        %li.icon
          = link_to image_tag("add_app.png", :size => '57x57'), support_index_path
          = link_to "FAQ", support_index_path
  #home-right
    #clicks.graph
      %h3
      .holder
        %canvas#clicks_graph{:width => '500px', :height => '330px'}
        .bar
        .tooltip
    .clear
    #apps
      %ul
        - current_partner_apps.each do |app|
          %li= app.name
    #data
      %table.shaded
        %tbody
          %tr.even
            %th Clicks
            %td 0
          %tr.odd
            %th Installs
            %td 0
          %tr.even
            %th Conversion Rate
            %td 0
          %tr.odd
            %th Spend
            %td 0
          %tr.even
            %th Daily Budget
            %td 0
          %tr.odd
            %th Balance
            %td 0
          %tr.even
            %th Cost per Install
            %td 0
  &nbsp;
  .clear

- content_for :page_styles do
  :plain
    #home-columns {
      width: 1040px;
    }
    #home-left, #home-right {
      float:left;
      width: 480px;
    }
    #home-left {
      border: 1px solid #000;
      margin-right: 10px;
      padding: 10px 20px;
    }
    #alerts li, #actions li {
      list-style: none;
    }
    #apps {
      height: 70px;
    }
    #clicks {
      border: 1px solid black;
    }
    #clicks h3 {
      text-align: center;
      margin-bottom: 0;
    }
    #apps, #data {
      width: 500px;
      padding: 10px 0px;
    }
    #apps {
      height: 70px;
    }
    #apps ul {
      margin: 0px 20px;
      padding: 0px;
      overflow: hidden;
    }
    #apps li {
      display: inline;
    }
    #data {
      padding: 0;
    }
    #data table {
      margin: 0px 20px;
      width: 460px;
    }
    #data th {
      text-align: left;
    }
    #data td {
      min-width: 100px;
    }
    li.icon {
      line-height: 2em;
      font-size: 1.5em;
    }
    li.icon img {
      vertical-align:middle;
    }
    .clear { clear: both; }

- include_tapjoy_graph
- content_for :page_javascript do
  :plain
    var clicksData = {
      "name": "Clicks",
      "intervals": [ "#{@intervals.join('","')}" ],
      "xLabels": [ "#{@x_labels.join('","')}" ],

      "main": {
        "data":[
           [ #{@stats['paid_installs'].join(',')} ],
           [ #{@stats['paid_clicks'].join(',')} ]
        ],
        "names": ["Paid installs", "Paid clicks"],
        "totals": [ #{@stats['paid_installs'].sum}, #{@stats['paid_clicks'].sum} ]
      },

      "right": {
        "data": [
          [ #{@stats['installs_spend'].map{|i| i / -100.0}.join(',')} ]
        ],
        "stringData": [
          [ "#{@stats['installs_spend'].map{|i| number_to_currency(i / -100.0)}.join('","')}" ]
        ],
        "names": [ "Spend" ],
        "unitPrefix": "$",
        "totals": [ "#{number_to_currency(@stats['installs_spend'].sum / 100.0)}" ]
      },
    };

    $(function() {
      Tapjoy.drawLargeGraph(clicksData, 'clicks');
    });

