%tr.admin
  %td{:colspan => 2} Admin-only fields:
- if @offer.app_offer? && @offer.item.platform == 'iphone'
  %tr.admin
    %th
      Country Blacklist
      #help_countries_blacklist.help ?
    %td
      - if @offer.item.get_countries_blacklist.present?
        = @offer.item.countries_blacklist
- omit_prereqs ||= false
- unless omit_prereqs
  %tr.admin
    %th
      = f.label :name, 'Prerequisite'
      #help_prerequisite.help ?
    %td
      - offer_options = options_for_prerequisites(@offer)
      - prerequisites_options = offer_options
      - prerequisites_options = [ [ "None", "" ] ] + offer_options if ((permitted_to?(:edit, :dashboard_statz) || @offer.prerequisite_offer_id.blank?))
      = f.select :prerequisite_offer_id, prerequisites_options
      = error_message_on @offer, :prerequisite_offer_id
%tr.admin
  %th
    = f.label :name, 'Exclusion Prerequisites'
    #help_exclusion_prerequisites.help ?
  %td
    = f.hidden_field(:hidden_exclusion_prerequisite_offer_ids, :value => '', :name => 'offer[exclusion_prerequisite_offer_ids][]')
    = f.chosen_select(:exclusion_prerequisite_offer_ids, options_for_select(offer_options, @offer.get_exclusion_prerequisite_offer_ids.to_a), {}, :multiple => true)
    = error_message_on @offer, :exclusion_prerequisite_offer_ids
%tr.admin
  %th
    = f.label :x_partner_prerequisites, 'Cross Partner Prerequisites'
    #help_x_partner_prerequisites.help ?
  %td
    = f.text_area :x_partner_prerequisites, :rows => 3
    = error_message_on @offer, :x_partner_prerequisites
%tr.admin
  %th
    = f.label :x_partner_exclusion_prerequisites, 'Cross Partner Exclusion Prerequisites'
    #help_x_partner_exclusion_prerequisites.help ?
  %td
    = f.text_area :x_partner_exclusion_prerequisites, :rows => 3
    = error_message_on @offer, :x_partner_exclusion_prerequisites
%tr.admin
  %th
    = f.label(:regions)
    #help_regions.help ?
  %td
    = f.text_field(:regions)
    = error_message_on @offer, :regions
    .details= link_to('State Code List', 'http://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations', :target => '_blank')
    .details= link_to('Province Code List', 'http://en.wikipedia.org/wiki/Canadian_subnational_postal_abbreviations', :target => '_blank')
%tr.admin
  %th
    = f.label(:dma_codes)
    #help_dma_codes.help ?
  %td
    = f.text_field(:dma_codes)
    = error_message_on @offer, :dma_codes
    .details= link_to('DMA Code List', 'http://code.google.com/apis/adwords/docs/appendix/metrocodes.html', :target => '_blank')
%tr.admin
  %th
    = f.label(:cities)
    #help_cities.help ?
  %td
    = f.text_field(:cities)
    = error_message_on @offer, :cities
= render('dashboard/apps/offers_shared/carriers', :f => f)
%tr.admin
  %th
    = f.label(:tapjoy_enabled)
    #help_tapjoy_enabled.help ?
  %td
    = f.check_box(:tapjoy_enabled)
    = error_message_on @offer, :tapjoy_enabled
%tr.admin
  %th
    = f.label(:allow_negative_balance)
    #help_allow_negative_balance.help ?
  %td
    = f.check_box(:allow_negative_balance)
    = error_message_on @offer, :allow_negative_balance
%tr.admin
  %th
    = f.label(:pay_per_click)
    #help_pay_per_click.help ?
  %td
    = f.select(:pay_per_click, pay_per_click_selections(@offer.pay_per_click))
    = error_message_on @offer, :pay_per_click
- if @offer.item_type != 'ActionOffer'
  %tr.admin
    %th
      = f.label(:name, 'Offer Name')
      #help_admin_offer_name.help ?
    %td
      = f.text_field(:name)
      = error_message_on @offer, :name
      =link_to('Use App Name', '#', :id => 'use_app_name', :tabindex => 99)
%tr.admin
  %th
    = f.label(:name_suffix, 'Name Suffix')
    #help_internal_suffix.help ?
  %td
    = f.text_field(:name_suffix)
    = error_message_on @offer, :name_suffix
%tr.admin
  %th
    = f.label(:audition_factor, "Audition Factor")
    #help_audition_factor.help ?
  %td
    - default_selection = @offer.audition_factor || Offer::Optimization::DEFAULT_AUDITION_FACTOR
    - selections = options_for_select(Offer::Optimization::AUDITION_FACTORS.sort_by{ |label, value| value }.map{|label, value| ["#{label} (#{value})", value]} , default_selection)
    = f.select(:audition_factor, selections)
    = error_message_on @offer, :audition_factor
%tr.admin
  %th
    = f.label(:show_rate)
    #help_show_rate.help ?
  %td
    = f.text_field(:show_rate)
    = error_message_on @offer, :show_rate
%tr.admin
  %th
    = f.label(:min_conversion_rate, 'Min CVR')
    #help_min_conversion_rate.help ?
  %td
    = f.text_field(:min_conversion_rate)
    = error_message_on @offer, :min_conversion_rate
%tr.admin
  %th
    = f.label(:device_types)
    #help_device_types.help ?
  %td
    = f.select(:device_types, options_for_select(Offer::ALL_DEVICES, @offer.get_device_types.to_a), {}, :multiple => true)
    = error_message_on @offer, :device_types
%tr.admin
  %th
    = f.label(:publisher_app_whitelist)
    #help_publisher_app_whitelist.help ?
  %td
    = f.text_area(:publisher_app_whitelist, :rows => 5)
    = error_message_on @offer, :publisher_app_whitelist
- if [ 'App', 'EmailOffer', 'GenericOffer' ].include?(@offer.item_type)
  %tr.admin
    %th
      = f.label(:overall_budget)
      #help_overall_budget.help ?
    %td
      = f.text_field(:overall_budget)
      = error_message_on @offer, :overall_budget
%tr.admin
  %th
    = f.label(:rank_score)
    #help_rank_score.help ?
  %td
    = @offer.rank_score || "N/A"
%tr.admin
  %th
    = f.label(:min_bid_override)
    #help_min_bid_override.help ?
  %td
    = f.currency_field(:min_bid_override, {}, :class => 'allow_nil')
    = error_message_on @offer, :min_bid_override
%tr.admin
  %th
    = f.label(:requires_udid)
    #help_requires_udid.help ?
  %td
    = f.check_box(:requires_udid)
%tr.admin
  %th
    = f.label(:requires_mac_address)
    #help_requires_mac_address.help ?
  %td
    = f.check_box(:requires_mac_address)

- if @app.screen_layout_sizes.any?
  %tr.admin
    %th
      = f.label(:screen_layout_sizes)
      #help_screen_layout_sizes.help ?
    %td
      = f.select(:screen_layout_sizes, options_for_select(@app.screen_layout_sizes, @offer.get_screen_layout_sizes.to_a), {}, :multiple => true)
      = error_message_on @offer, :screen_layout_sizes

.hidden
  - unless omit_prereqs
    #help_prerequisite_content{:name => 'Prerequisite Offer'}
      This offer will only be shown to users who have already completed the prerequisite offer.
    #help_exclusion_prerequisites_content{:name => 'Exclusion Prerequisites'}
      This offer will only be shown to users who have NOT completed any of the exclusion prerequisite offers.
  #help_admin_offer_name_content{:name => 'Offer Name'} Name that will be displayed on offer walls.
  #help_tapjoy_enabled_content{ :name => 'Tapjoy Enabled' } Whether or not the offer is enabled for installs.
  #help_allow_negative_balance_content{ :name => 'Allow Negative Balance' } Allow this partner's balance to go below zero. This effectively locks show rate to 1.0.
  #help_pay_per_click_content{ :name => 'Pay-Per-Click' } Charge the advertiser and award the user on click.
  #help_featured_content{ :name => 'Featured' } Enables this offer in our featured offers feed.
  #help_internal_suffix_content{ :name => 'Name Suffix' } Identifier for associated offers. i.e. 'featured' or 'us only'. Visible to partners on associated offers pages.
  #help_audition_factor_content{ :name => 'Audition Factor' } Defines how prominently to display the offer when testing for performance
  #help_show_rate_content{ :name => 'Show Rate' } The probability that this offer will be shown on an offerwall impression. This is set automatically by the system and is used for budgeting. Allowed values are 0.0 - 1.0.
  #help_min_conversion_rate_content{ :name => 'Min CVR' } This is used to prevent low conversion rate warnings. A warning will only be issued if the conversion rate falls below this threshold. Allowed values are blank or 0.0 - 1.0
  #help_dma_codes_content{ :name => 'DMA Codes' } Targets this offer to these designated market areas (DMAs). Must be an array of DMA codes or blank for no targeting. i.e. [807,515]
  #help_cities_content{ :name => 'Cities' } Targets this offer to these designated cities. Must be an array of cities or blank for no targeting. i.e. ["New York","San Francisco"]
  #help_regions_content{ :name => 'Regions' } Targets this offer to these designated regions or blank for all regions. Must be an array of state and province codes. i.e. ["CA","OH"]
  #help_device_types_content{ :name => 'Device Types' } Targets this offer to these device types. At least one device type must be selected.
  #help_publisher_app_whitelist_content{ :name => 'Publisher App Whitelist' } Restrict this offer to these publisher apps. Must be a ";" separated list of publisher app IDs.
  #help_daily_budget_content{ :name => 'Daily Budget' } The maximum number of conversions to complete in one day.
  #help_overall_budget_content{ :name => 'Overall Budget' } The maximum number of conversions to complete in the lifetime of this offer. This is merely a hard limit so it is likely that the offer will go over-budget.
  #help_rank_score_content{ :name => 'Rank Score' } The last computed rank score for this offer.
  #help_min_bid_override_content{ :name => 'Min Bid Override' } Manually set the minimum allowed bid for this offer.
  #help_x_partner_prerequisites_content{ :name => 'Prerequisites' }
    This action will only be shown to users who have completed all the prerequisite offers. Must be a ";" separated list of publisher offer IDs.
  #help_x_partner_exclusion_prerequisites_content{ :name => 'Exclusion Prerequisites' }
    This action will only be shown to users who have NOT completed any of the exclusion prerequisite offers. Must be a ";" separated list of publisher offer IDs.
  #help_requires_udid_content{ :name => 'Requires UDID' }
    Requires an offer to only show if a UDID is present.
  #help_requires_mac_address_content{ :name => 'Requires Mac Address' }
    Requires an offer to only show if a Mac Address is present.

- content_for :page_javascript do
  :plain
    $(function($) {
      $('#use_app_name').click(function() {
        $('input#offer_name').val(#{@offer.item.name.to_json});
        return false;
      });
    });

- content_for :page_styles do
  :plain
    .details {
      font-size: 12px;
    }
