- next_event = @offer.events.upcoming.first
.scheduling
  %h4 Scheduling
  %p.description
    - if next_event.present?
      Next scheduled change:
      = next_event.scheduled_for.to_s(:mdy_ampm)
      %br
      = offer_event_changes(next_event, ", ")
      %br
      = "(#{link_to('View All Scheduled Changes', app_offer_offer_events_path(@app, @offer))})"
    - else
      No changes scheduled
      = "(#{link_to('Schedule an Offer Change', new_app_offer_offer_event_path(@app, @offer))})"

- content_for :page_styles do
  :plain
    .scheduling h4 {
      margin: 0;
    }
