!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico', :content => 'image/vnd.microsoft.icon' }
    %title= @page_title.blank? ? 'Tapjoy' : "#{@page_title} - Tapjoy"
    = stylesheet_link_tag 'bootstrap.min', 'bootstrap-responsive.min', 'dashboard', 'jquery-ui-1.8.5', 'colorbox', 'themes/blue/style', 'chosen', 'shared'
    = stylesheet_link_tag 'print', :media => 'print'
    %style{ :type => 'text/css' }
      = yield :page_styles
      - if @kiosk
        :plain
          body {
            padding-top: 20px;
            background:url("/images/ops/ops-fabric-bg.png") repeat scroll 0 0 #C7C7C7;
          }
    = yield :page_head
    = render('shared/analytics')
  %body
    - unless @kiosk
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to DASHBOARD_URL, :class => "brand" do
              = image_tag("tapjoy_#{XMAN ? XMAN : ''}.png", :height => 36)
            .nav-collapse
              = navigation_tabs
              .visible-desktop
                - if permitted_to?(:index, :dashboard_ops)
                  %ul.nav
                    %li.active.dropdown#ops-menu
                      = link_to '#ops-menu', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                        Ops
                        %b.caret
                      %ul.dropdown-menu
                        = render :partial => 'shared/ops_links'
                %ul.nav.pull-right
                  %li.dropdown#account-menu
                    = link_to '#account-menu', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                      = current_user.username
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        - css_class = current_partner_active_app_offers.blank? ? 'inactive' : ''
                        - active_offers_count = current_partner_active_app_offers.length
                        = link_to '#', :class => "soft-link bootstrap #{css_class}", :id => 'active_campaigns' do
                          - if active_offers_count == 0
                            %i.icon-pause
                          - else
                            %i.icon-play
                          %span#number_of_active_offers= active_offers_count
                          active campaigns
                      = render 'shared/active_campaigns'
                      = render 'shared/account_links'
              .hidden-desktop
                %ul.nav
                  - if permitted_to?(:index, :dashboard_ops)
                    = render 'shared/ops_links', :prefix => '[Ops] '
                    = render 'shared/account_links', :icon_class => 'icon-white'
              - if current_user.can_manage_account? && !controller.class.current_tab == 'ops'
                %li
                  = form_tag('') do
                    = select_tag(:recent_partners, options_for_select(@recent_partners))
                    = link_to('Partner page', partner_path(current_partner))
    .container-fluid
      .row-fluid
        - flash.each do |name, msg|
          -# Set name to info if it is notice since bootstrap has no 'notice' type
          .alert{ :class => "alert-#{name == :notice ? :info : name}" }
            %a.close{ :data => { :dismiss => 'alert' } } &times;
            %strong #{name.to_s.humanize}:
            = msg.html_safe
        - [:error, :warning, :notice].each do |name|
          - if flash[name].blank?
            .alert.hidden{ :id => "flash_#{name}", :class => "alert-#{name == :notice ? :info : name}" }
              %a.close{ :data => { :dismiss => 'alert' } } &times;
              %strong #{name.to_s.humanize}:
              %span.message &nbsp;
      .row-fluid
        = yield :page_sidebar
        = content_for_exists?(:apps_layout) ? yield(:apps_layout) : yield
      .clear

    - unless @kiosk
      #footer
        &copy; #{Time.now.year} Tapjoy, Inc.
        = link_to 'Privacy Policy', "#{WEBSITE_URL}/privacy.html", :target => '_blank'

    = render('shared/server_info')

    = javascript_include_tag 'jquery-1.7.2.min', 'jquery-ui-1.8.5.min', 'jquery_ujs', 'jquery.tablesorter', 'jquery.colorbox.min', 'application', 'chosen.jquery', 'facebox', 'bootstrap'
    = render('dashboard/tapjoy_zenbox') if current_user.employee?
    = yield :included_javascripts

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
      :plain
        $(function ($) {
          $('a[rel*=facebox]').facebox({
            closeImage: '/images/closelabel.png'
          });
          $('#recent_partners').change(function() {
            var form = $(this).parent('form');
            var url = $(this).val();
            form.attr('action', url);
            form.submit();
          });
        });
