= text_field_tag(:date, @start_time.to_date.to_s(:mdy))
\-
= text_field_tag(:end_date, @end_time.to_date.to_s(:mdy))
= select_tag(:granularity, options_for_select({ 'Daily (UTC)' => :daily, 'Hourly' => :hourly }, @granularity))
- if store_options
  Store:
  = select_tag(:store_name, options_for_select(store_options.merge({ 'All' => 'all' }), @store_name ? @store_name : 'all'))
= submit_tag('Update', :id => :date_submit)
